<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ufufund.ufb.dao.BankBaseMapper">

	<select id="getBankBaseInfo" parameterType="BankBaseInfo" resultType="BankBaseInfo">
		select 
			bankno  ,
			banknm  ,
			level   ,
			disorder,
			status  ,
			mark    ,
			 updatetime
		from bankbase where 
			<if test="bankno != null and bankno !=''">
				bankno = #{bankno,jdbcType=VARCHAR} and
			</if>
			status &lt;&gt; 'N' order by level ,disorder 
	</select>
	
	<select id="getBankCardbin" parameterType="String" resultType="BankCardbin">
		select 
			bin, bankno, banknm, type, date_format(updatetime,'%Y%m%d%H%i%s') updatetime
		from bankcardbin 
		where bin = #{bin,jdbcType=VARCHAR}
	</select>

</mapper>