<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ufufund.ufb.dao.CityMapper">

<select id="getAllProvince" parameterType="City" resultType="City">
	select distinct(province) from city
</select>

<select id="getCityByProvince" parameterType="City" resultType="City">
	select city from city 
	where province=#{province,jdbcType=VARCHAR}
</select>

</mapper>