<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ufufund.ufb.dao.CustinfoMapper">
    
   
    
  	<select id="getCustinfo" parameterType="com.ufufund.ufb.model.db.Custinfo" resultType="com.ufufund.ufb.model.db.Custinfo">
  		SELECT
			T1.CUSTNO,
			T1.INVTP,
			T1.INVNM,
			T1.SEX,
			T1.IDTP,
			T1.IDNO,
			T1.MOBILENO,
			T1.EMAIL AS EMAILADD,
			T1.CUSTST,
			T1.PASSWD AS LOGINPWD,
			DATE_FORMAT(T1.LASTLOGINTIME,'%Y-%m-%d %H:%i:%s') AS LASTLOGINTIME,
			T1.PASSWDERR,
			T1.OPENDT,
			T1.UPDATETIMESTAMP,
			T1.TRADEPWD,
			T1.LEVEL,
			T1.ORGANIZATION AS ORGNM,
			T1.BUSINESS AS ORGBUSINESS,
			T1.OPENACCOUNT
  		FROM CUSTINFO T1 
		WHERE 
		<if test="custno != null and custno !=''" >
		T1.CUSTNO =  #{custno,jdbcType=VARCHAR} AND
		</if>
  		<if test="mobileno != null and mobileno !=''" >
  		 T1.MOBILENO = #{mobileno,jdbcType=VARCHAR} AND
  		</if>
		<if test="idno != null and idno !=''" >
		 T1.IDNO = #{idno,jdbcType=VARCHAR} AND
		</if>
		<if test="loginpwd != null and loginpwd !=''" >
  		 T1.PASSWD = #{loginpwd,jdbcType=VARCHAR} AND
  		</if>
  		<if test="tradepwd != null and tradepwd !=''" >
  		 T1.TRADEPWD = #{tradepwd,jdbcType=VARCHAR} AND
  		</if>
  		<if test="custst != null and custst !=''" >
  		 T1.CUSTST = #{custst,jdbcType=VARCHAR} AND
  		</if>
	     T1.CUSTST &lt;&gt; 'C'
  	</select>
  	
  	<select id="isTradePwdSet" parameterType="com.ufufund.ufb.model.db.Custinfo" resultType="com.ufufund.ufb.model.db.Custinfo">
  		SELECT
			T1.CUSTNO
  		FROM CUSTINFO T1 
		WHERE 
		<if test="custno != null and custno !=''" >
			T1.CUSTNO =  #{custno,jdbcType=VARCHAR} AND
		</if>
	     	T1.TRADEPWD IS NOT NULL
  	</select>
  	
  	<select id="isIdNoBindByTradeAcco" resultType="com.ufufund.ufb.model.db.Custinfo">
  		SELECT
			custinfo.CUSTNO,
			custinfo.INVTP,
			custinfo.INVNM,
			custinfo.SEX,
			custinfo.IDTP,
			custinfo.IDNO,
			custinfo.MOBILENO,
			custinfo.EMAIL AS EMAILADD,
			custinfo.CUSTST,
			custinfo.PASSWD AS LOGINPWD,
			DATE_FORMAT(custinfo.LASTLOGINTIME,'%Y-%m-%d %H:%i:%s') AS LASTLOGINTIME,
			custinfo.PASSWDERR,
			custinfo.OPENDT,
			custinfo.UPDATETIMESTAMP,
			custinfo.TRADEPWD,
			custinfo.LEVEL,
			custinfo.ORGANIZATION AS ORGNM,
			custinfo.BUSINESS AS ORGBUSINESS,
			tradeaccoinfo.ACCOID,
			tradeaccoinfo.CUSTNO,
			tradeaccoinfo.FUNDCORPNO,
			tradeaccoinfo.LEVEL,
			tradeaccoinfo.BANKSERIALID,
			tradeaccoinfo.TRADEACCO,
			tradeaccoinfo.TRADEACCOST,
			tradeaccoinfo.OPENDT,
			tradeaccoinfo.CLOSEDT,
			tradeaccoinfo.UPDATETIME
		FROM
			tradeaccoinfo,custinfo
		WHERE 
			custinfo.CUSTNO = tradeaccoinfo.CUSTNO
  		<if test="fundcorpno != null and fundcorpno !=''" >
  			AND tradeaccoinfo.FUNDCORPNO = #{fundcorpno,jdbcType=VARCHAR} 
  		</if>
  		<if test="level != null and level !=''" >
  			AND tradeaccoinfo.LEVEL = #{level,jdbcType=VARCHAR} 
  		</if>
  		<if test="invtp != null and invtp !=''" >
  			AND custinfo.LEVEL = #{invtp,jdbcType=VARCHAR} 
  		</if>
  		<if test="idno != null and idno !=''" >
  		 	AND custinfo.IDNO = #{idno,jdbcType=VARCHAR} 
  		</if>
  	</select>
  	
  	<select id="getCustinfoMapping" resultType="java.lang.String">
  		SELECT
			<if test="orgNo != null and orgNo !=''" >
			T1.oprNo
			</if>
			<if test="oprNo != null and oprNo !=''" >
			T1.orgNo
			</if>
  		FROM CUSTINFOMAPPING T1 
		WHERE 
		<if test="orgNo != null and orgNo !=''" >
		T1.orgNo =  #{orgNo,jdbcType=VARCHAR}
		</if>
  		<if test="oprNo != null and oprNo !=''" >
  		 T1.oprNo = #{oprNo,jdbcType=VARCHAR}
  		</if>
  	</select>
				
	<insert id="insertCustinfo" parameterType="com.ufufund.ufb.model.db.Custinfo">
  	 <![CDATA[
	 		INSERT INTO CUSTINFO (
	 		CUSTNO,
		    INVTP,
		    INVNM,
			SEX,
			IDTP,
			
		    IDNO,
		    MOBILENO,
		    EMAIL,
		    CUSTST,
		    PASSWD,
		    
		    LASTLOGINTIME,
		    PASSWDERR,
		    OPENDT,
		    UPDATETIMESTAMP,
		    TRADEPWD,
		    LEVEL,
		    ORGANIZATION,
		    BUSINESS)
		VALUES (
			#{custno,jdbcType=VARCHAR},
			#{invtp,jdbcType=VARCHAR},
			#{invnm,jdbcType=VARCHAR},
			#{sex,jdbcType=VARCHAR},
			#{idtp,jdbcType=VARCHAR},
			
			#{idno,jdbcType=VARCHAR},
			#{mobileno,jdbcType=VARCHAR},
			#{emailadd,jdbcType=VARCHAR},
			#{custst,jdbcType=VARCHAR},
			#{loginpwd,jdbcType=VARCHAR},
			
			sysdate(),
			#{passwderr,jdbcType=INTEGER},
			sysdate(),
			sysdate(),
			#{tradepwd,jdbcType=VARCHAR},
			
			#{level,jdbcType=VARCHAR},
			#{orgnm,jdbcType=VARCHAR},
			#{orgbusiness,jdbcType=VARCHAR}
			)
	 ]]>
  	</insert>

	<update id="updateCustinfo" parameterType="com.ufufund.ufb.model.db.Custinfo">
		UPDATE CUSTINFO T1
	       SET T1.UPDATETIMESTAMP = sysdate()
	       	<if test="invnm != null">
	       	  ,T1.INVNM = #{invnm,jdbcType=VARCHAR}
	       	</if>
			<if test="sex != null">
	       	  ,T1.SEX = #{sex,jdbcType=VARCHAR}
	       	</if>
	        <if test="idtp != null">
	       	  ,T1.IDTP = #{idtp,jdbcType=VARCHAR}
	       	</if>
			<if test="idno != null">
	       	  ,T1.IDNO = #{idno,jdbcType=VARCHAR}
	       	</if>
	        <if test="mobileno != null">
	       	  ,T1.MOBILENO = #{mobileno,jdbcType=VARCHAR}
	       	</if>
			<if test="emailadd != null">
	       	  ,T1.EMAIL = #{emailadd,jdbcType=VARCHAR}
	       	</if>
			<if test="custst != null">
	       	  ,T1.CUSTST = #{custst,jdbcType=VARCHAR}
	       	</if>
			<if test="loginpwd != null">
	       	  ,T1.PASSWD = #{loginpwd,jdbcType=VARCHAR}
	       	</if>
	        <if test="lastlogintime != null">
	       	  ,T1.LASTLOGINTIME = sysdate()
	       	</if>
			<if test="passwderr != null">
	       	  ,T1.PASSWDERR = #{passwderr,jdbcType=INTEGER}
	       	</if>
			<if test="tradepwd != null">
	       	  ,T1.TRADEPWD = #{tradepwd,jdbcType=VARCHAR}
	       	</if>
	       	<if test="orgprovinceno != null">
	       	  ,T1.ORGPROVINCENO = #{orgprovinceno,jdbcType=VARCHAR}
	       	</if>
	       	<if test="orgcityno != null">
	       	  ,T1.ORGCITYNO = #{orgcityno,jdbcType=VARCHAR}
	       	</if>
	       	<if test="orgadd != null">
	       	  ,T1.ORGADD = #{orgadd,jdbcType=VARCHAR}
	       	</if>
	       	<if test="rerpidtp != null">
	       	  ,T1.RERPIDTP = #{rerpidtp,jdbcType=VARCHAR}
	       	</if>
	       	<if test="rerpidno != null">
	       	  ,T1.RERPIDNO = #{rerpidno,jdbcType=VARCHAR}
	       	</if>
	       	<if test="rerpnm != null">
	       	  ,T1.RERPNM = #{rerpnm,jdbcType=VARCHAR}
	       	</if>
	       	<if test="telno != null">
	       	  ,T1.TELNO = #{telno,jdbcType=VARCHAR}
	       	</if>
	     WHERE T1.custno = #{custno,jdbcType=VARCHAR}
	</update>
   
    <select id="queryStudentsByCustno" parameterType="String" resultType="Student">
    	select * from  student t where p_custno=#{custno,jdbcType=VARCHAR}
    </select>
    
    <select id="queryOrgsByCid" parameterType="String" resultType="StudentVo">
    	SELECT u.organization 
    	FROM clazz c 
    	join custinfo u on c.orgid=u.custno 
    	 where cid=#{cid,jdbcType=VARCHAR}
    </select>
    
    <select id="getCustinfoByCid" parameterType="String" resultType="Custinfo">
    	select a.custno, a.invnm, a.ORGANIZATION orgnm, a.BUSINESS orgbusiness, a.orgadd 
    	from custinfo a, clazz b where a.custno = b.orgid
    		and b.cid=#{cid,jdbcType=VARCHAR}
    </select>
		<select id="queryOrgConfirm" parameterType="String" resultType="com.ufufund.ufb.model.vo.ConfirmOrgInfoVo">
	    select 
	       b.bankacco,
	       b.bankadd as openbankaddr,
	       c.ORGANIZATION as orgnm,
	       c.BUSINESS as business,
	       c.ORGADD as  orgaddr,
           c.TELNO
	    from ufu_dev.bankcardinfo b,ufu_dev.custinfo c
	        where b.custno=c.custno
	        and c.custno=#{custno,jdbcType=VARCHAR}
	        and b.state='Y'
	</select>
</mapper>

