<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ufufund.ufb.dao.CustinfoMapper">
    
<select id="getCustinfo" parameterType="Custinfo" resultType="Custinfo">
 		select
		t1.custno,
		t1.name,
		t1.sex,
		t1.idtp,
		t1.idno,
		t1.mobileno,
		t1.email,
		t1.state,
		t1.passwd,
		t1.passwderr,
		t1.tradepwd,
		date_format(t1.lastlogintime,'%y-%m-%d %h:%i:%s') as lastlogintime
 		from custinfo t1 
		where 
		<if test="custno != null and custno !=''" >
		t1.custno =  #{custno,jdbctype=varchar} and
		</if>
  		<if test="mobileno != null and mobileno !=''" >
  		 t1.mobileno = #{mobileno,jdbctype=varchar} and
  		</if>
		<if test="idno != null and idno !=''" >
		 t1.idno = #{idno,jdbctype=varchar} and
		</if>
		<if test="passwd != null and passwd !=''" >
  		 t1.passwd = #{passwd,jdbctype=varchar} and
  		</if>
  		<if test="tradepwd != null and tradepwd !=''" >
  		 t1.tradepwd = #{tradepwd,jdbctype=varchar} and
  		</if>
  		<if test="state != null and state !=''" >
  		 t1.state = #{state,jdbctype=varchar} and
  		</if>
	     t1.state != '6'
</select>
				
<insert id="insertCustinfo" parameterType="Custinfo">
 <![CDATA[
 		insert into custinfo (
 		custno,
	    name,
		sex,
		idtp,
	    idno,
	    mobileno,
	    email,
	    state,
	    passwd,
	    passwderr,
	    tradepwd,
	    lastlogintime,
	    updatetimestamp
	    )
	values (
		#{custno,jdbctype=varchar},
		#{name,jdbctype=varchar},
		#{sex,jdbctype=varchar},
		#{idtp,jdbctype=varchar},
		#{idno,jdbctype=varchar},
		#{mobileno,jdbctype=varchar},
		#{email,jdbctype=varchar},
		#{state,jdbctype=varchar},
		#{passwd,jdbctype=varchar},
		#{passwderr,jdbctype=integer},
		#{tradepwd,jdbctype=varchar},
		sysdate(),
		sysdate()
		)
 ]]>
</insert>

<update id="updateCustinfo" parameterType="Custinfo">
	update custinfo t1
       set t1.updatetimestamp = sysdate()
		<if test="state != null">
       	  ,t1.state = #{state,jdbctype=varchar}
       	</if>
		<if test="passwd != null">
       	  ,t1.passwd = #{passwd,jdbctype=varchar}
       	</if>
		<if test="passwderr != null">
       	  ,t1.passwderr = #{passwderr,jdbctype=integer}
       	</if>
		<if test="tradepwd != null">
       	  ,t1.tradepwd = #{tradepwd,jdbctype=varchar}
       	</if>
     where t1.custno = #{custno,jdbctype=varchar}
</update>
   
<select id="queryStudentsByCustno" parameterType="String" resultType="Student">
	select * from  student t where p_custno=#{custno,jdbcType=VARCHAR}
</select>
    
<select id="queryOrgsByCid" parameterType="String" resultType="Student">
	select u.orgname  as organization
	from clazz c 
	join orginfo u on c.orgid=u.orgid 
	 where cid=#{cid,jdbctype=varchar}
</select>
    
<select id="queryOrgBankInfo" parameterType="String" resultType="OrgQuery">
    select 
       b.bankacco,
       b.subbank as openbankaddr,
       c.orgname,
       c.license,
       c.address,
       d.banknm,
       c.operator_mobile
    from bankcardinfo b,orginfo c,bankbase d
        where b.custno=c.orgid and b.bankno=d.bankno
        and c.orgid=#{orgid,jdbcType=VARCHAR}
        and b.state='Y'
</select>

</mapper>

