<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ufufund.ufb.dao.FundInfoMapper">

	<sql id="Base_Columns">
		FUNDCORPNO,
		FUNDCODE,
		FUNDNAME,
		STATUS,
		FUNDTYPE,
		FUNDVOL,
		FUNDSIZE,
		DATE,
		NAV,
		NAVADDITIVE,	
		INCOME,
		YIELD,
		ISCONTRACT,
		DIVIDMETHOD,
		SHARECLASS		
	</sql>
	
    <select id="getFundInfo" parameterType="FundInfo" resultType="FundInfo">
		select <include refid="Base_Columns" /> from FundInfo
		where
		    FUNDCORPNO = #{fundcorpno,jdbcType=VARCHAR}  	
			and FUNDCODE = #{fundcode,jdbcType=VARCHAR}
        	<if test="date != null">
            and DATE &gt;= #{date,jdbcType=VARCHAR}
        	</if>
    </select>
	
</mapper>