<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ufufund.ufb.dao.OrgDeployMapper">
    

    <update id="mergeOrgGradeInfo" parameterType="com.ufufund.ufb.model.db.Orggrade">
		INSERT INTO org_grade  (
			org_id,
			grade_id,
			grade_name,
			start_date,
			end_date,
			isopen,
			  
			term1_id,
			t1_start_date,
			t1_end_date,
			t1_isopen,
			  
			term2_id,
			t2_start_date,
			t2_end_date,
			t2_isopen,
			  
			create_no,
			update_no,
			create_time,
			update_time
		) 
		VALUES
		(
			#{orgid,jdbcType=VARCHAR},
			#{gradeid,jdbcType=VARCHAR},
			#{gradename,jdbcType=VARCHAR},
			#{startdate,jdbcType=VARCHAR},
			#{enddate,jdbcType=VARCHAR},
			#{isopen,jdbcType=VARCHAR},
			
			#{term1id,jdbcType=VARCHAR},
			#{t1startdate,jdbcType=VARCHAR},
			#{t1enddate,jdbcType=VARCHAR},
			#{t1isopen,jdbcType=VARCHAR},
			
			#{term2id,jdbcType=VARCHAR},
			#{t2startdate,jdbcType=VARCHAR},
			#{t2enddate,jdbcType=VARCHAR},
			#{t2isopen,jdbcType=VARCHAR},
			
			#{createno,jdbcType=VARCHAR},
			#{updateno,jdbcType=VARCHAR},
			sysdate(),
			sysdate()
		) ON DUPLICATE KEY UPDATE 
			create_no = #{createno,jdbcType=VARCHAR},
			create_time = sysdate(),
			update_no = #{updateno,jdbcType=VARCHAR},
			update_time = sysdate()
			<if test="orgid != null and orgid !=''" >
			,org_id = #{orgid,jdbcType=VARCHAR} 
			</if>
			<if test="gradename != null and gradename !=''" >
			,grade_name = #{gradename,jdbcType=VARCHAR} 
			</if>
			<if test="startdate != null and startdate !=''" >
			,start_date = #{startdate,jdbcType=VARCHAR} 
			</if>
			<if test="enddate != null and enddate !=''" >
			,end_date = #{enddate,jdbcType=VARCHAR} 
			</if>
			<if test="isopen != null and isopen !=''" >
			,isopen = #{isopen,jdbcType=VARCHAR} 
			</if>
			
			<if test="term1id != null and term1id !=''" >
			,term1_id = #{term1id,jdbcType=VARCHAR} 
			</if>
			<if test="t1startdate != null and t1startdate !=''" >
			,t1_start_date = #{t1startdate,jdbcType=VARCHAR} 
			</if>
			<if test="t1enddate != null and t1enddate !=''" >
			,t1_end_date = #{t1enddate,jdbcType=VARCHAR} 
			</if>
			<if test="t1isopen != null and t1isopen !=''" >
			,t1_isopen = #{t1isopen,jdbcType=VARCHAR} 
			</if>
			
			<if test="term2id != null and term2id !=''" >
			,term2_id = #{term2id,jdbcType=VARCHAR} 
			</if>
			<if test="t2startdate != null and t2startdate !=''" >
			,t2_start_date = #{t2startdate,jdbcType=VARCHAR} 
			</if>
			<if test="t2enddate != null and t2enddate !=''" >
			,t2_end_date = #{t2enddate,jdbcType=VARCHAR} 
			</if>
			<if test="t2isopen != null and t2isopen !=''" >
			,t2_isopen = #{t2isopen,jdbcType=VARCHAR} 
			</if>		
	</update>
   

	<select id="getOrgGradeInfo" parameterType="com.ufufund.ufb.model.db.Orggrade" resultType="com.ufufund.ufb.model.db.Orggrade">
		SELECT
			a.org_id as orgid,
		    a.grade_id as gradeid,
		    a.grade_name as gradename,
		    a.start_date as startdate,
		    a.end_date as enddate,
		    a.isopen as isopen,
		      
		    a.term1_id as term1id,
		    a.t1_start_date as t1startdate,
		    a.t1_end_date as t1enddate,
		    a.t1_isopen as t1isopen,
		      
		    a.term2_id as term2id,
		    a.t2_start_date as t2startdate,
		    a.t2_end_date as t2enddate,
		    a.t2_isopen as t2isopen,
		      
		    a.create_no as createno,
		    a.update_no as updateno
		FROM
			org_grade a
		WHERE 
		a.org_id =  #{orgid,jdbcType=VARCHAR} 
		<if test="isopen != null and isopen !=''" >
		AND a.isopen = #{isopen,jdbcType=VARCHAR} 
		</if>
    </select>
  	
  	<select id="getOrgchargeinfo" parameterType="com.ufufund.ufb.model.db.Orgchargeinfo" resultType="com.ufufund.ufb.model.db.Orgchargeinfo">
		SELECT
			a.org_id as orgid,
			a.charge_id as chargeid,
			a.charge_type as chargetype,
			a.charge_name as chargename,
			a.charge_amount as chargeamount,
			a.cycle,
			a.cycle_type as cycletype,
			a.is_delete as isdelete,
			a.create_no as createno,
			a.update_no as updateno
		FROM org_charge_info a 
		WHERE a.org_id = #{orgid,jdbcType=VARCHAR} 
		AND a.is_delete &lt;&gt; 'C'
		<if test="chargeid != null and chargeid !=''" >
			AND a.charge_id = #{chargeid,jdbcType=VARCHAR} AND
		</if>
	    ORDER BY a.charge_id DESC
  	</select>
   
   
     <insert id="createOrgchargeinfo" parameterType="com.ufufund.ufb.model.db.Orgchargeinfo">
  	 <![CDATA[
	 		INSERT INTO org_charge_info (
				org_id,
				charge_type,
				charge_name,
				charge_amount,
				cycle,
				
				cycle_type,
				is_delete,
				create_no,
				create_time
			  )
		VALUES (
			#{orgid,jdbcType=VARCHAR},
			#{chargetype,jdbcType=VARCHAR},
			#{chargename,jdbcType=VARCHAR},
			#{chargeamount,jdbcType=VARCHAR},
			#{cycle,jdbcType=VARCHAR},
			
			#{cycletype,jdbcType=VARCHAR},
			#{isdelete,jdbcType=VARCHAR},
			#{createno,jdbcType=VARCHAR},
			sysdate()
			)
	 ]]>
  	</insert>
  	
  	<update id="updateOrgchargeinfo" parameterType="com.ufufund.ufb.model.db.Orgchargeinfo">
		UPDATE org_charge_info a
	       SET a.update_time = sysdate(),	       	
	       	<if test="chargetype != null">
	       	  a.charge_type = #{chargetype,jdbcType=VARCHAR},
	       	</if>
			<if test="chargename != null">
	       	  a.charge_name = #{chargename,jdbcType=VARCHAR},
	       	</if>
	        <if test="chargeamount != null">
	       	  a.charge_amount = #{chargeamount,jdbcType=VARCHAR},
	       	</if>
			<if test="cycle != null">
	       	  a.cycle = #{cycle,jdbcType=VARCHAR},
	       	</if>
	        <if test="cycletype != null">
	       	  a.cycle_type = #{cycletype,jdbcType=VARCHAR},
	       	</if>
			<if test="isdelete != null">
	       	  a.is_delete = #{isdelete,jdbcType=VARCHAR},
	       	</if>   	
	       	  a.update_no = #{updateno,jdbcType=VARCHAR}
	     WHERE a.org_id = #{orgid,jdbcType=VARCHAR}
	     AND  a.charge_id = #{chargeid,jdbcType=BIGINT}  
	 </update>
	 
	 
	 
	<delete id="deleteOrgplan"  parameterType="java.lang.String">
        delete from org_plan where plan_id=#{planid,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteOrgplandetail"  parameterType="java.lang.String">
        delete from org_plan_datail where plan_id=#{planid,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteOrgplandetailcharge"  parameterType="java.lang.String">
        delete from org_plan_datail_charge where plan_id=#{planid,jdbcType=VARCHAR}
    </delete>
    
    
    <insert id="insertOrgplan" parameterType="com.ufufund.ufb.model.db.Orgplan">
  	 <![CDATA[
	 		INSERT INTO org_plan (
				    org_id,
			        plan_id,
			        grade_id,
			        term_id,
			        group_id,
			        
			        plan_name,
			        plan_type,
			        cycle_type,
			        type,
			        ackdat,
			        
			        dat,
			        paydate,
			        stats,
			        replan_id,			    
			        remark1,
			        
			        remark2,
			        create_no,
			        create_time
			  )
		VALUES (
			#{orgid,jdbcType=VARCHAR},
			#{planid,jdbcType=VARCHAR},
			#{gradeid,jdbcType=VARCHAR},
			#{termid,jdbcType=VARCHAR},
			#{groupid,jdbcType=VARCHAR},
				
			#{planname,jdbcType=VARCHAR},			
			#{plantype,jdbcType=VARCHAR},
			#{cycletype,jdbcType=VARCHAR},
			#{type,jdbcType=VARCHAR},
			#{ackdat,jdbcType=VARCHAR},
			
			#{dat,jdbcType=VARCHAR},	
			#{paydate,jdbcType=VARCHAR},
			#{stats,jdbcType=VARCHAR},
			#{replanid,jdbcType=VARCHAR},
			#{remark1,jdbcType=VARCHAR},
			
			
			#{remark2,jdbcType=VARCHAR},
			#{createno,jdbcType=VARCHAR},
			sysdate()
			)
	 ]]>
  	</insert>
    
    <insert id="insertOrgplandetailList"  parameterType="java.util.List">  
        insert into 
        org_plan_datail(
              org_id,
           	  detail_id,
			  plan_id,
			  student_id,
			  pay_app_amount,
			  pay_discount,
			  pay_ack_amount,
			  stats
                 )
        values 
    	<foreach collection="list" item="item" index="index" separator=",">
         (
         #{item.orgid,jdbcType=VARCHAR},
         #{item.detailid,jdbcType=VARCHAR},
         #{item.planid,jdbcType=VARCHAR},
         #{item.studentid,jdbcType=VARCHAR},
         #{item.payappamount,jdbcType=VARCHAR},
         #{item.paydiscount,jdbcType=VARCHAR},
         #{item.payackamount,jdbcType=VARCHAR},
         #{item.stats,jdbcType=VARCHAR}               
         )
       </foreach>
    </insert>
    
     <insert id="insertOrgplandetailchargeList"  parameterType="java.util.List">  
        insert into 
        org_plan_datail_charge(
              org_id,
           	   plan_id,
			  detail_id,
			  charge_id,
			  charge_type,
			  charge_name,
			  
			  charge_amount,
			  cycle
                 )
        values 
    	<foreach collection="list" item="item" index="index" separator=",">
         (
         #{item.orgid,jdbcType=VARCHAR},
         #{item.planid,jdbcType=VARCHAR},
         #{item.detailid,jdbcType=VARCHAR},
        
         #{item.chargeid,jdbcType=VARCHAR},
         #{item.chargetype,jdbcType=VARCHAR},
         #{item.chargename,jdbcType=VARCHAR},
         #{item.chargeamount,jdbcType=VARCHAR},
         #{item.cycle,jdbcType=VARCHAR}            
         )
       </foreach>
    </insert>
    
    
    <select id="getOrgplan" parameterType="com.ufufund.ufb.model.db.Orgplan" resultType="com.ufufund.ufb.model.db.Orgplan">
		SELECT
			org_plan.org_id as orgid,
			org_plan.plan_id as planid,
			org_plan.grade_id as gradeid,
			org_plan.term_id as termid,
			org_plan.group_id as groupid,
			org_plan.plan_name as planname,
			org_plan.plan_type as plantype,
			org_plan.cycle_type as cycletype,
			org_plan.type as type,
			org_plan.ackdat as ackdat,
			org_plan.dat as dat,
			org_plan.paydate,
			org_plan.stats,
			org_plan.replan_id as replanid,
			org_plan.remark1,
			org_plan.remark2,
			org_plan.create_no as createno
		FROM
			org_plan
		WHERE 
		    org_plan.org_id =  #{orgid,jdbcType=VARCHAR} 
		AND org_plan.stats  &lt;&gt; 'C'
		<if test="planid != null and planid !=''" >
			AND org_plan.plan_id = #{planid,jdbcType=VARCHAR} 
		</if>
    </select>
    
    
    
    <update id="updatePlandetail" parameterType="com.ufufund.ufb.model.db.Orgplandetail">
		UPDATE org_plan_datail a
	       SET a.stats = #{stats,jdbcType=VARCHAR},
	       a.ack_type = #{acktype,jdbcType=VARCHAR},
	       a.ack_custno = #{ackcustno,jdbcType=VARCHAR},
	       a.ack_bankcardid = #{ackbankcardid,jdbcType=VARCHAR},
	       a.ack_tradeaccoid = #{acktradeaccoid,jdbcType=VARCHAR},
	       a.ack_tradeacco = #{acktradeacco,jdbcType=VARCHAR},
	       a.ack_date =  sysdate()
	     WHERE a.detail_id = #{detailid,jdbcType=VARCHAR}
	 </update>
	 
	 
</mapper>

