<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ufufund.ufb.dao.OrginfoMapper">

<sql id="Base_Columns">
		orgid           ,
		orgname         ,
		type            ,
		license         ,
		province        ,
		city            ,
		address         ,
		license_address ,
		operator_name   ,
		operator_certno ,
		operator_mobile ,
		operator_tel    ,
		operator_mail   ,
		legal_name      ,
		legal_certno    ,
		state           ,
		passwd          ,
		passwd_err      ,
		tradepwd        ,
		date_format(last_logintime ,'%Y-%m-%d HH:mm:ss') last_logintime
</sql>
	
<insert id="addOrginfo" parameterType="Orginfo">
   insert into orginfo
    (orgid,operator_mobile,state,passwd,last_logintime,createtime,updatetime)
    values(
		#{orgid           ,jdbcType=VARCHAR},
		#{operator_mobile ,jdbcType=VARCHAR},
		'2',
		#{passwd          ,jdbcType=VARCHAR},
		now(),
		now(),
		now()
   )
</insert>

<select id="getOrginfoLogin" parameterType="Orginfo" resultType="Orginfo">
	select <include refid="Base_Columns"/> from orginfo t
		where  t.operator_mobile=#{operator_mobile,jdbcType=VARCHAR}
		and t.passwd=#{passwd,jdbcType=VARCHAR}
</select>

<select id="getOrginfo" parameterType="Orginfo" resultType="Orginfo">
	select <include refid="Base_Columns"/> from orginfo t
		where  t.orgid=#{orgid,jdbcType=VARCHAR}
</select>

<select id="isRegister" parameterType="Orginfo" resultType="Orginfo">
	select <include refid="Base_Columns"/> from orginfo t
		where   
	<if test="operator_mobile!=null and operator_mobile!=''">
		  t.operator_mobile=#{operator_mobile,jdbcType=VARCHAR} and
	</if>
	<if test="operator_certno!=null and operator_certno!=''">
		  t.operator_certno=#{operator_certno,jdbcType=VARCHAR} and
	</if>
	state!='6'
</select>

<!-- 更新认证用户数据 -->
<update id="updateOrginfo" parameterType="Orginfo">
	update orginfo t set 
		orgname=#{orgname,jdbcType=VARCHAR},
		type=#{type,jdbcType=VARCHAR},
		license=#{license,jdbcType=VARCHAR},
		province=#{province,jdbcType=VARCHAR},
		city=#{city,jdbcType=VARCHAR},
		address=#{address,jdbcType=VARCHAR},
		license_address=#{license_address ,jdbcType=VARCHAR},
		operator_name=#{operator_name,jdbcType=VARCHAR},
		operator_certno=#{operator_certno,jdbcType=VARCHAR},
		operator_tel=#{operator_tel,jdbcType=VARCHAR},
		operator_mail=#{operator_mail,jdbcType=VARCHAR},
		legal_name=#{legal_name,jdbcType=VARCHAR},
		legal_certno=#{legal_certno,jdbcType=VARCHAR},
		tradepwd=#{tradepwd,jdbcType=VARCHAR},
		updatetime=now()
	where orgid=#{orgid ,jdbcType=VARCHAR}
</update>

<!-- 更新机构用户状态 -->
<update id="updateState" parameterType="Orginfo">
	update orginfo t set 
		state=#{state,jdbcType=VARCHAR},
		updatetime=now()
	where orgid=#{orgid ,jdbcType=VARCHAR}
</update>

<!-- 更新登录信息 -->
<update id="updateForLogin" parameterType="Orginfo">
	update orginfo set 
	<if test="passwd_err!=null and passwd_err!=''">
		 passwd_err=#{passwd_err,jdbcType=INTEGER},
    </if>
    <if test="state!=null and state!=''">
		 state=#{state,jdbcType=INTEGER},
    </if>
		 last_logintime=now(),
		 updatetime=now()
	where orgid=#{orgid ,jdbcType=VARCHAR}
</update>
</mapper>