<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ufufund.ufb.dao.OrgPriceItemMapper">
<insert id="addOrgPriceItem" parameterType="OrgPriceItem">
	insert into org_price_item values(
		#{id        ,jdbcType=VARCHAR},
		#{orgid     ,jdbcType=VARCHAR},
		#{termid    ,jdbcType=VARCHAR},
		#{type      ,jdbcType=VARCHAR},
		#{name      ,jdbcType=VARCHAR},
		#{amount    ,jdbcType=VARCHAR},
		#{chage_type,jdbcType=VARCHAR},
		#{state     ,jdbcType=VARCHAR},
		now(),
		now() 
	)
	
</insert>

<select id="getOrgPriceItem" parameterType="OrgPriceItem" resultType="OrgPriceItem">
	select 
		id        ,
		orgid     ,
		termid    ,
		type      ,
		name      ,
		amount    ,
		chage_type,
		state     ,
		date_format(createtime,'%Y-%d-%m') date_format,
		date_format(updatetime,'%Y-%d-%m') updatetime
	where  orgid=#{orgid,jdbcType=VARCHAR}
   <if test="termid!=null and termid!=''">
  		and termid=#{termid,jdbcType=VARCHAR}
   </if>
</select>

<update id="updatePriceItem" parameterType="String" >
	update org_price_item set 
		type=#{type      ,jdbcType=VARCHAR},
		name=#{name      ,jdbcType=VARCHAR},
		amount=#{amount    ,jdbcType=VARCHAR},
		chage_type=#{chage_type,jdbcType=VARCHAR},
		state=#{state     ,jdbcType=VARCHAR},
		updatetime=now()
	where id=#{id,jdbcType=VARCHAR}
		
</update>

<delete id="deletePriceItem" parameterType="String" >
	delete from org_price_item where id=#{id,jdbcType=VARCHAR}
</delete>
</mapper>