<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ufufund.ufb.dao.OrgQueryMapper">

	<select id="getQueryOrgByCustno" parameterType="java.lang.String" resultType="com.ufufund.ufb.model.vo.QueryOrgStudent">
			SELECT
				DISTINCT
				T.CUSTNO AS orgid,
				T.INVNM AS orgnm
			FROM 
				STUDENT S, CLAZZ C, CUSTINFO T
			WHERE 
				S.CID = C.CID
				AND C.ORGID = T.CUSTNO
				AND S.P_CUSTNO = #{custno,JDBCTYPE=VARCHAR}   
    </select>
    
    <select id="getQueryStudentByOrgid" parameterType="java.lang.String" resultType="com.ufufund.ufb.model.vo.QueryOrgStudent">
			SELECT 
				S.SID AS studentid, 
				S.NAME AS studentnm, 
				C.CID AS classid, 
				C.NAME AS classnm
			FROM 
				STUDENT S, CLAZZ C
			WHERE 
				S.CID = C.CID
				AND C.ORGID = #{orgid,JDBCTYPE=VARCHAR}   
				AND S.P_CUSTNO = #{custno,JDBCTYPE=VARCHAR}   

;
    </select>
    
    <select id="getQueryStudentByCustno" parameterType="java.lang.String" resultType="com.ufufund.ufb.model.vo.QueryOrgStudent">
			SELECT
				DISTINCT
				T.CUSTNO AS orgid,
				T.INVNM AS orgnm
			FROM 
				STUDENT S, CLAZZ C, CUSTINFO T
			WHERE 
				S.CID = C.CID
				AND C.ORGID = T.CUSTNO
				AND S.P_CUSTNO = #{custno,JDBCTYPE=VARCHAR}   
    </select>
    
    

	<select id="getQueryOrgplan" parameterType="java.lang.String" resultType="com.ufufund.ufb.model.vo.QueryOrgplan">
			SELECT
			    a.org_id as orgid,
			    a.plan_id as planid,
			    a.grade_id as gradeid,
			    a.term_id as termid,
			    a.group_id as groupid ,
			    a.plan_name as planname ,
			    a.plan_type as plantype,
			    a.cycle_type as cycletype,
			    a.type as type, 
			    a.ackdat as ackdat,
			    a.dat as dat ,
			    a.paydate as paydate,
			    a.stats as stats,
			    a.replan_id asreplanid ,
			    a.remark1 as remark1 ,
			    a.remark2 as remark2,
			    a.create_no as  createno,
			    b.totalappamount,
			    b.totaldiscount,
			    b.totalackamount,
			    b.allnum,
			    b.yespaynum,
			    b.nopaynum,
			    b.yespayamount,
			    b.nopayamount
			FROM org_plan a,
			    (SELECT
			          b.plan_id,
			          b.org_id,
			          SUM(b.pay_app_amount) AS totalappamount,
			          SUM(b.pay_discount) AS totaldiscount,
			          SUM(b.pay_ack_amount) AS totalackamount,
			          SUM(1) AS allnum,
			          SUM(IF(IFNULL(b.is_pay ,'F')='Y',1,0)) AS yespaynum,
			          SUM(IF(IFNULL(b.is_pay ,'F')='Y',0,1)) AS nopaynum,
			          SUM(IF(IFNULL(b.is_pay ,'F')='Y',b.pay_ack_amount,0)) AS yespayamount,
			          SUM(IF(IFNULL(b.is_pay ,'F')='Y',0,b.pay_ack_amount)) AS nopayamount  
			    FROM org_plan_datail b,
			         org_plan c
			    where c.plan_id = b.plan_id
			    and  b.org_id = c.org_id
			    and  c.stats  &lt;&gt;  'C' 
			    and  b.org_id = #{orgid,jdbcType=VARCHAR} 
			    GROUP BY  b.org_id,b.plan_id ) b
			where a.plan_id = b.plan_id    
			and   a.org_id = b.org_id        
    		and   a.org_id = #{orgid,jdbcType=VARCHAR} 
    </select>
  	
  	<select id="getQueryOrgplandetail" parameterType="java.lang.String" resultType="com.ufufund.ufb.model.vo.QueryOrgplandetail">
			SELECT
			a.org_id as orgid,
			a.detail_id as detailid ,
			a.plan_id as planid,
			a.student_id as studentid,
			a.pay_app_amount as payappamount,
			a.pay_discount as paydiscount,
			a.pay_ack_amount as payackamount,
			a.is_pay as ispay,
			a.stats as stats,
			a.pay_custno as paycustno,
			a.pay_date as paydate 
			FROM
			org_plan_datail a
			where a.plan_id = #{planid,jdbcType=VARCHAR}      
    		and a.org_id = #{orgid,jdbcType=VARCHAR} 
    </select>
    
    
    <select id="getQueryOrgplandetailcharge" parameterType="java.lang.String" resultType="com.ufufund.ufb.model.vo.QueryOrgplandetailcharge">
			SELECT
			a.org_id as orgid,
			a.plan_id as planid,
			a.detail_id as detailid,
			a.charge_id as chargeid,
			a.charge_type as chargetype,
			a.charge_name as chargename,
			a.charge_amount as chargeamount,
			a.cycle
			FROM
			org_plan_datail_charge a
			where a.plan_id = #{planid,jdbcType=VARCHAR}      
    		and a.org_id = #{orgid,jdbcType=VARCHAR} 
    		and a.detail_id = #{detailid,jdbcType=VARCHAR} 
    </select>
    
    
    
    <select id="getQueryOrgPayInfo" parameterType="java.lang.String" resultType="com.ufufund.ufb.model.vo.QueryOrgPayInfo">
			SELECT
			        
			          SUM(IF(c.plan_type='R',0,b.pay_app_amount)) AS gtotalappamount,
			          SUM(IF(c.plan_type='R',0,b.pay_discount)) AS gtotaldiscount,
			          SUM(IF(c.plan_type='R',0,b.pay_ack_amount)) AS gtotalackamount,
			          SUM(IF(c.plan_type='R',0,1)) AS gallnum,
			          SUM(IF(c.plan_type='R',0, (IF(IFNULL(b.is_pay ,'F')='Y',1,0)))) AS gyespaynum,
			          SUM(IF(c.plan_type='R',0, (IF(IFNULL(b.is_pay ,'F')='Y',0,1)))) AS gnopaynum,
			          SUM(IF(c.plan_type='R',0, (IF(IFNULL(b.is_pay ,'F')='Y',b.pay_ack_amount,0)))) AS gyespayamount,
			          SUM(IF(c.plan_type='R',0, (IF(IFNULL(b.is_pay ,'F')='Y',0,b.pay_ack_amount)))) AS gnopayamount,
					  SUM(IF(c.plan_type='R',b.pay_app_amount,0)) AS rtotalappamount,
			          SUM(IF(c.plan_type='R',b.pay_discount,0)) AS rtotaldiscount,
			          SUM(IF(c.plan_type='R',b.pay_ack_amount,0)) AS rtotalackamount,
			          SUM(IF(c.plan_type='R',1,0)) AS rallnum,
			          SUM(IF(c.plan_type='R', (IF(IFNULL(b.is_pay ,'F')='Y',1,0)),0)) AS ryespaynum,
			          SUM(IF(c.plan_type='R', (IF(IFNULL(b.is_pay ,'F')='Y',0,1)),0)) AS rnopaynum,
			          SUM(IF(c.plan_type='R', (IF(IFNULL(b.is_pay ,'F')='Y',b.pay_ack_amount,0)),0)) AS ryespayamount,
			          SUM(IF(c.plan_type='R', (IF(IFNULL(b.is_pay ,'F')='Y',0,b.pay_ack_amount)),0)) AS rnopayamount
			    FROM org_plan_datail b,
			         org_plan c
			    where c.plan_id = b.plan_id
			    and  b.org_id = c.org_id
			    and  c.stats  &lt;&gt;  'C' 
			    and  b.org_id = #{orgid,jdbcType=VARCHAR}
			    <if test="type == 'GRADE'">
	       	  		and c.grade_id = #{parameter,jdbcType=VARCHAR}
	       		</if>
			    <if test="type == 'TERM'">
	       	  		and  c.term_id = #{parameter,jdbcType=VARCHAR}
	       		</if>
			     <if test="type == 'MONTH'">
	       	  		and  left(c.paydate,6) = #{parameter,jdbcType=VARCHAR}
	       		</if>
			    GROUP BY  b.org_id
    </select>
    
     <select id="getQueryCustPayInfo" parameterType="java.lang.String" resultType="com.ufufund.ufb.model.vo.QueryCustPayInfo">
			SELECT
			        
			          SUM(IF(c.plan_type='R',0,b.pay_app_amount)) AS gtotalappamount,
			          SUM(IF(c.plan_type='R',0,b.pay_discount)) AS gtotaldiscount,
			          SUM(IF(c.plan_type='R',0,b.pay_ack_amount)) AS gtotalackamount,
			          SUM(IF(c.plan_type='R',0,1)) AS gallnum,
			          SUM(IF(c.plan_type='R',0, (IF(IFNULL(b.is_pay ,'F')='Y',1,0)))) AS gyespaynum,
			          SUM(IF(c.plan_type='R',0, (IF(IFNULL(b.is_pay ,'F')='Y',0,1)))) AS gnopaynum,
			          SUM(IF(c.plan_type='R',0, (IF(IFNULL(b.is_pay ,'F')='Y',b.pay_ack_amount,0)))) AS gyespayamount,
			          SUM(IF(c.plan_type='R',0, (IF(IFNULL(b.is_pay ,'F')='Y',0,b.pay_ack_amount)))) AS gnopayamount,
					  SUM(IF(c.plan_type='R',b.pay_app_amount,0)) AS rtotalappamount,
			          SUM(IF(c.plan_type='R',b.pay_discount,0)) AS rtotaldiscount,
			          SUM(IF(c.plan_type='R',b.pay_ack_amount,0)) AS rtotalackamount,
			          SUM(IF(c.plan_type='R',1,0)) AS rallnum,
			          SUM(IF(c.plan_type='R', (IF(IFNULL(b.is_pay ,'F')='Y',1,0)),0)) AS ryespaynum,
			          SUM(IF(c.plan_type='R', (IF(IFNULL(b.is_pay ,'F')='Y',0,1)),0)) AS rnopaynum,
			          SUM(IF(c.plan_type='R', (IF(IFNULL(b.is_pay ,'F')='Y',b.pay_ack_amount,0)),0)) AS ryespayamount,
			          SUM(IF(c.plan_type='R', (IF(IFNULL(b.is_pay ,'F')='Y',0,b.pay_ack_amount)),0)) AS rnopayamount
			    FROM org_plan_datail b,
			         org_plan c,
			         student d
			    where c.plan_id = b.plan_id
			    and  b.org_id = c.org_id
			    and  c.stats  &lt;&gt;  'C'
			    and  d.sid = b.student_id 
			    and  d.p_custno = #{custno,jdbcType=VARCHAR} 
			    <if test="type == 'NOPAY'">
	       	  		and b.is_pay = 'F'
	       		</if>
			    GROUP BY  d.p_custno
    </select>
    <select id="getQueryCustplandetail" parameterType="java.lang.String" resultType="com.ufufund.ufb.model.vo.QueryCustplandetail">
			SELECT
			a.org_id as orgid,
			c.invnm as orgnm,
			b.name as studentnm,
			a.student_id as studentid,
			a.detail_id as detailid,
			a.plan_id as planid,
			a.pay_app_amount as payappamount,
			a.pay_discount as paydiscount,
			a.pay_ack_amount as payackamount,
			a.is_pay as ispay,
			a.pay_custno as paycustno,
			date_format(a.pay_date,'%Y-%m-%d %H:%i:%s')  as paydate,
			date_format(a.plan_date,'%Y-%m-%d')  as plandate
			FROM
			student b,
			org_plan_datail a,
			custinfo c
			where 
			a.student_id =b.sid
			and a.org_id = c.custno
			and date_format(a.plan_date,'%Y-%m')  = date_format(sysdate(),'%Y-%m') 
			<if test="orgid != null">
			and a.org_id = #{orgid,jdbcType=VARCHAR}
			</if>
			and b.p_custno  = #{custno,jdbcType=VARCHAR} 
			order by a.student_id, a.plan_date  desc
    </select>
    
    
</mapper>

