<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ufufund.ufb.dao.OrgTermMapper">
    
 <insert id="addOrgTerm" parameterType="OrgTerm">
 	insert into org_term values(
	 	#{id        ,jdbcType=VARCHAR},
		#{orgid     ,jdbcType=VARCHAR},
		#{year      ,jdbcType=VARCHAR},
		#{type      ,jdbcType=VARCHAR},
		#{start     ,jdbcType=VARCHAR},
		#{end       ,jdbcType=VARCHAR},
		now()
 	)
 </insert>
 
 <select id="getOrgTerm" parameterType="OrgTerm" resultType="OrgTerm">
 	select 
	 	id        ,
		orgid     ,
		year      ,
		type      ,
		start     ,
		end       ,
		date_format(updatetime,'%Y-%m-%d') updatetime
   from org_term where orgid=#{orgid,jdbcType=VARCHAR}
   <if test="id!=null and id!=''">
  		and id=#{id,jdbcType=VARCHAR}
   </if>
 </select>
 
 <update id="updateOrgTerm" parameterType="OrgTerm">
 	update org_term set 
	 	start=#{start     ,jdbcType=VARCHAR},
		end=#{end       ,jdbcType=VARCHAR},
		updatetime=now()
	where id=#{id,jdbcType=VARCHAR}
 </update>
 
 <select id="getOrgYearList" resultType="OrgYear">
	 select a.year y1, b.year y2 ,a.id t1, b.id t2 
	   from org_term a, org_term b
	 where a.type = '2' and b.type = '1' and (a.year+1) = b.year
 </select>
 
 <select id="getOrgYear" parameterType="String" resultType="OrgYear">
	 select a.year y1, b.year y2 ,a.id t1, b.id t2 
	   from org_term a, org_term b where
	 a.type = '2' and b.type = '1' and (a.year+1) = b.year
	 and a.year =#{y1,jdbcType=VARCHAR}
 </select>
 </mapper>