<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ufufund.ufb.dao.PicinfoMapper">
<insert id="addPicinfo" parameterType="Picinfo">
	insert into picinfo values(
		#{custno    ,jdbcType=VARCHAR},    
		#{img1      ,jdbcType=VARCHAR},    
		#{img2      ,jdbcType=VARCHAR},    
		#{img3      ,jdbcType=VARCHAR},    
		#{img4      ,jdbcType=VARCHAR},    
		#{img5      ,jdbcType=VARCHAR},    
		#{img6      ,jdbcType=VARCHAR},    
		#{img7      ,jdbcType=VARCHAR},    
		#{img8      ,jdbcType=VARCHAR},    
		#{img9      ,jdbcType=VARCHAR},    
		#{img10     ,jdbcType=VARCHAR},    
		now()     
	)
</insert>

<select id="getPicinfo" parameterType="String" resultType="Picinfo">
	select 
		custno,img1,img2,img3,img4,img5,img6,img7,img8,img9,img10 
	from picinfo where custno=#{custno,jdbcType=VARCHAR}
</select>

<delete id="deletePicinfo" parameterType="String">
	delete from picinfo where custno=#{custno,jdbcType=VARCHAR}
</delete>

</mapper>