<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ufufund.ufb.dao.PlanDetailMapper">

   <update id="updateDetail"  parameterType="com.ufufund.ufb.dao.PlanDetailMapper">
    	update org_plan_datail
         set 
	        ack_custno = #{ackcustno,jdbcType=VARCHAR},
	        ack_type = #{acktype,jdbcType=VARCHAR},
	        stats = #{stats,jdbcType=VARCHAR},
	        ack_date = sysdate(),
	        ack_bankcardid = #{ackbankcardid,jdbcType=VARCHAR},
	        ack_tradeaccoid = #{acktradeaccoid,jdbcType=VARCHAR},
	        ack_tradeacco = #{acktradeacco,jdbcType=VARCHAR},
	        is_pay = #{ispay,jdbcType=VARCHAR}
    	where detail_id = #{detailid,jdbcType=VARCHAR} 
    </update>

    <select id="selectPayDate" parameterType="String" resultType="String">
    	select a.paydate 
    	  from ufu_dev.org_plan a,ufu_dev.org_plan_datail b
    	where a.plan_id=b.plan_id 
    	and b.detail_id=#{detailid,jdbcType=VARCHAR} 
    </select>
</mapper>