<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ufufund.ufb.dao.SequenceMapper">


   	
   	
    <select id="getSequence" parameterType="java.lang.String" resultType="java.lang.String">
		select getSequenceString(#{sequenceNo,jdbcType=VARCHAR},#{sequenceLen,jdbcType=INTEGER},#{type,jdbcType=VARCHAR})
   	</select>
   	
   
   	
</mapper>