<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ufufund.ufb.dao.StudentMapper">
	
	<select id="get" parameterType="String" resultType="Student">
    	select * from Student where sid = #{sid, jdbcType=VARCHAR}
    </select>
    
    <update id="bindStudent" parameterType="Student">
    	update student set
    		p_custno = #{p_custno,jdbcType=VARCHAR},
    		p_date = #{p_date,jdbcType=VARCHAR},
    		<if test="p1_name != null &amp;&amp; p1_mobile != null">
    			p1_relation = #{p1_relation,jdbcType=VARCHAR},
    			p1_name = #{p1_name,jdbcType=VARCHAR},
    			p1_mobile = #{p1_mobile,jdbcType=VARCHAR},
    			p1_mail = #{p1_mail,jdbcType=VARCHAR},
    			p1_work = #{p1_work,jdbcType=VARCHAR},
    			p2_relation = #{p2_relation,jdbcType=VARCHAR},
    			p2_name = #{p2_name,jdbcType=VARCHAR},
    			p2_mobile = #{p2_mobile,jdbcType=VARCHAR},
    			p2_mail = #{p2_mail,jdbcType=VARCHAR},
    			p2_work = #{p2_work,jdbcType=VARCHAR},
    		</if>
    		updatetime = now() 
    	where sid = #{sid,jdbcType=VARCHAR}
    </update>
    <select id="getClassNmBySid" parameterType="String" resultType="OrgQuery">
    	select s.cname,f.code 
    		from student s,family_codes f
    	 where s.sid =  #{sid, jdbcType=VARCHAR} and s.sid=f.sid
    </select>
</mapper>