<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ufufund.ufb.dao.StudentMapper">
	
	<select id="get" parameterType="String" resultType="Student">
    	select * from Student where sid = #{sid, jdbcType=VARCHAR}
    </select>
    
    <select id="getList" parameterType="Student" resultType="Student">
    	select * from Student where cid = #{cid, jdbcType=VARCHAR}
    </select>
    
    <select id="getListWithOrg" parameterType="StudentVo" resultType="Student">
    	select s.* from Student s , Clazz c 
    	where s.cid = c.cid
    	<if test="orgid != null">
    		and c.orgid = #{orgid, jdbcType=VARCHAR}
    	</if>
    	<if test="cid != null">
    		and s.cid = #{cid, jdbcType=VARCHAR}
    	</if>
    	<if test="name != null">
    		and s.name = #{name, jdbcType=VARCHAR}
    	</if>
    </select>
    
    <insert id="add" parameterType="Student">
		insert into Student values(
			#{sid             ,jdbcType=VARCHAR},     
			#{cid             ,jdbcType=VARCHAR}, 
			#{cname           ,jdbcType=VARCHAR},     
			#{sno             ,jdbcType=VARCHAR},     
			#{name            ,jdbcType=VARCHAR},     
			#{birthday        ,jdbcType=VARCHAR},     
			#{sex             ,jdbcType=VARCHAR},     
			#{certno          ,jdbcType=VARCHAR},     
			#{f_type          ,jdbcType=VARCHAR},     
			#{f_address       ,jdbcType=VARCHAR},      
			#{state           ,jdbcType=VARCHAR},    
			#{p_custno        ,jdbcType=VARCHAR},     
			#{p_date          ,jdbcType=VARCHAR},    
			#{p1_relation     ,jdbcType=VARCHAR},     
			#{p1_name         ,jdbcType=VARCHAR},     
			#{p1_mobile       ,jdbcType=VARCHAR},     
			#{p1_mail         ,jdbcType=VARCHAR},     
			#{p1_work         ,jdbcType=VARCHAR},     
			#{p2_relation     ,jdbcType=VARCHAR},     
			#{p2_name         ,jdbcType=VARCHAR},     
			#{p2_mobile       ,jdbcType=VARCHAR},     
			#{p2_mail         ,jdbcType=VARCHAR},     
			#{p2_work         ,jdbcType=VARCHAR},     
			#{start_date      ,jdbcType=VARCHAR},     
			#{end_date        ,jdbcType=VARCHAR},     
			#{registry_type   ,jdbcType=VARCHAR},     
			#{registry_address,jdbcType=VARCHAR},     
			#{nation          ,jdbcType=VARCHAR},     
			#{insurance       ,jdbcType=VARCHAR},     
			#{medical         ,jdbcType=VARCHAR},     
			#{health          ,jdbcType=VARCHAR},     
			#{afraid          ,jdbcType=VARCHAR},     
			#{diet_not        ,jdbcType=VARCHAR},     
			#{allergies       ,jdbcType=VARCHAR},     
			#{interest        ,jdbcType=VARCHAR},     
			#{special_care    ,jdbcType=VARCHAR},     
			#{care_type       ,jdbcType=VARCHAR},     
			#{meal_type       ,jdbcType=VARCHAR},                                                                            
			now()
		)
    </insert>
    
    <update id="update" parameterType="Student">
    	update Student set          
			sno              = #{sno             ,jdbcType=VARCHAR},     
			name             = #{name            ,jdbcType=VARCHAR},     
			birthday         = #{birthday        ,jdbcType=VARCHAR},     
			sex              = #{sex             ,jdbcType=VARCHAR},     
			certno           = #{certno          ,jdbcType=VARCHAR},     
			state            = #{state           ,jdbcType=VARCHAR},     
			p1_relation      = #{p1_relation     ,jdbcType=VARCHAR},     
			p1_name          = #{p1_name         ,jdbcType=VARCHAR},     
			p1_mobile        = #{p1_mobile       ,jdbcType=VARCHAR},     
			p1_mail          = #{p1_mail         ,jdbcType=VARCHAR},     
			p1_work          = #{p1_work         ,jdbcType=VARCHAR},     
			p2_relation      = #{p2_relation     ,jdbcType=VARCHAR},     
			p2_name          = #{p2_name         ,jdbcType=VARCHAR},     
			p2_mobile        = #{p2_mobile       ,jdbcType=VARCHAR},     
			p2_mail          = #{p2_mail         ,jdbcType=VARCHAR},     
			p2_work          = #{p2_work         ,jdbcType=VARCHAR},      
			f_type           = #{f_type          ,jdbcType=VARCHAR},     
			f_address        = #{f_address       ,jdbcType=VARCHAR},    
			start_date       = #{start_date      ,jdbcType=VARCHAR},     
			end_date         = #{end_date        ,jdbcType=VARCHAR},     
			registry_type    = #{registry_type   ,jdbcType=VARCHAR},     
			registry_address = #{registry_address,jdbcType=VARCHAR},     
			nation           = #{nation          ,jdbcType=VARCHAR},     
			insurance        = #{insurance       ,jdbcType=VARCHAR},     
			medical          = #{medical         ,jdbcType=VARCHAR},     
			health           = #{health          ,jdbcType=VARCHAR},     
			afraid           = #{afraid          ,jdbcType=VARCHAR},     
			diet_not         = #{diet_not        ,jdbcType=VARCHAR},     
			allergies        = #{allergies       ,jdbcType=VARCHAR},     
			interest         = #{interest        ,jdbcType=VARCHAR},     
			special_care     = #{special_care    ,jdbcType=VARCHAR},     
			care_type        = #{care_type       ,jdbcType=VARCHAR},     
			meal_type        = #{meal_type       ,jdbcType=VARCHAR},     
			updatetime 		 = now()                                                                            
    	where sid = #{sid, jdbcType=VARCHAR}
    </update>
    
    <delete id="remove" parameterType="StudentVo">
    	delete s from Student s, Clazz c
    	where s.cid = c.cid and c.orgid = #{orgid,jdbcType=VARCHAR}
    		<if test="sid != null">
    			and s.sid = #{sid,jdbcType=VARCHAR}
    		</if>
    		<if test="cid != null">
    			and s.cid = #{cid,jdbcType=VARCHAR}
    		</if>
    </delete>
     
    <insert id="addBatch" parameterType="Student">
    	insert into Student (
    		sid      ,
			cid      ,
			cname    ,
			sno      ,
			name     ,
			birthday ,
			sex      ,
			f_type   ,
			p1_name  ,
			p1_mobile,
			p1_mail  ,
			state    ,
			updatetime
    	) values
    	<foreach item="item" collection="list" separator="," open="" close="" index="">  
	    	(#{item.sid      ,jdbcType=VARCHAR},     
			#{item.cid      ,jdbcType=VARCHAR}, 
			#{item.cname    ,jdbcType=VARCHAR},    
			#{item.sno      ,jdbcType=VARCHAR},     
			#{item.name     ,jdbcType=VARCHAR},     
			#{item.birthday ,jdbcType=VARCHAR},     
			#{item.sex      ,jdbcType=VARCHAR},     
			#{item.f_type   ,jdbcType=VARCHAR},     
			#{item.p1_name  ,jdbcType=VARCHAR},     
			#{item.p1_mobile,jdbcType=VARCHAR},     
			#{item.p1_mail  ,jdbcType=VARCHAR},    
			'1',   
			now())
	    </foreach>
    </insert>
    
    <update id="adjustStudent">
    	update student s, clazz c set 
    		s.cid = #{vo.toCid,jdbcType=VARCHAR} ,
    		s.cname = (select name from clazz where cid = #{vo.toCid,jdbcType=VARCHAR})
    	where s.cid = c.cid and c.orgid = #{vo.orgid,jdbcType=VARCHAR} and 
    		(1 &lt;&gt; 1 
    		<if test="cidList != null">
	    		or s.cid in 
	    		<foreach item="item" collection="cidList" separator="," open="(" close=")" index="">
	    			#{item}
	    		</foreach>
    		</if>
    		<if test="sidList != null">
	    		or s.sid in 
		    	<foreach item="item" collection="sidList" separator="," open="(" close=")" index="">
	    			#{item}
	    		</foreach>
    		</if>
	    	)
    </update>
    
    <update id="bindStudent" parameterType="Student">
    	update student set
    		p_custno = #{p_custno,jdbcType=VARCHAR},
    		p_date = #{p_date,jdbcType=VARCHAR},
    		<if test="p1_name != null &amp;&amp; p1_mobile != null">
    			p1_relation = #{p1_relation,jdbcType=VARCHAR},
    			p1_name = #{p1_name,jdbcType=VARCHAR},
    			p1_mobile = #{p1_mobile,jdbcType=VARCHAR},
    			p1_mail = #{p1_mail,jdbcType=VARCHAR},
    			p1_work = #{p1_work,jdbcType=VARCHAR},
    			p2_relation = #{p2_relation,jdbcType=VARCHAR},
    			p2_name = #{p2_name,jdbcType=VARCHAR},
    			p2_mobile = #{p2_mobile,jdbcType=VARCHAR},
    			p2_mail = #{p2_mail,jdbcType=VARCHAR},
    			p2_work = #{p2_work,jdbcType=VARCHAR},
    		</if>
    		updatetime = now() 
    	where sid = #{sid,jdbcType=VARCHAR}
    </update>
    
    <select id="getCountByClazz" parameterType="String" resultType="int">
    	select count(*) from Student where cid = #{cid, jdbcType=VARCHAR}
    </select>
    <select id="getClassNmBySid" parameterType="String" resultType="com.ufufund.ufb.model.vo.QueryCustplandetail">
    	select s.cname,f.code 
    		from ufu_dev.Student s,ufu_dev.family_codes f
    	 where s.sid =  #{sid, jdbcType=VARCHAR} and s.sid=f.sid
    </select>
    
</mapper>