<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ufufund.ufb.dao.TradeNotesMapper">

	<insert id="insterChangerecordinfo" parameterType="com.ufufund.ufb.model.db.Changerecordinfo">
  	 <![CDATA[
	 	insert into CHANGERECORDINFO (
	 		REFSERIALNO,
		    TABLENAME,
		    CUSTNO,
			APKIND,
			RECORDBEFORE,
		    RECORDAFTER
		    )
		values (
			#{refserialno,jdbcType=VARCHAR},
			#{tablename,jdbcType=VARCHAR},
			#{custno,jdbcType=VARCHAR},
			#{apkind,jdbcType=VARCHAR},
			#{recordbefore,jdbcType=VARCHAR},
			#{recordafter,jdbcType=VARCHAR}
			)
	 ]]>
  	</insert>
  	
  	<insert id="insterFdacfinalresult" parameterType="com.ufufund.ufb.model.db.Fdacfinalresult">
  	 <![CDATA[
	 	insert into fdacfinalresult (
	 		SERIALNO,
		    CUSTNO,
		    TRADEACCOID,
			BANKSERIALID,
			APKIND,
			
		    WORKDATE,
		    APDT,
		    APTM,
		    STATUS)
		values (
			#{serialno,jdbcType=VARCHAR},
			#{custno,jdbcType=VARCHAR},
			#{tradeaccoid,jdbcType=VARCHAR},
			#{bankserialid,jdbcType=VARCHAR},
			#{apkind,jdbcType=VARCHAR},
			
			#{workdate,jdbcType=VARCHAR},
			#{apdt,jdbcType=VARCHAR},
			#{aptm,jdbcType=VARCHAR},
			#{status,jdbcType=VARCHAR}
			)
	 ]]>
  	</insert>
  	
  	
  	<select id="getFdacfinalresultSeq" parameterType="java.lang.String"  resultType="java.lang.String">
	<![CDATA[	select getSequence('FDACFINALRESULT_SEQ') 
	]]>
	</select>
  		
  		
  	<select id="getDateInfo"  resultType="com.ufufund.ufb.model.db.DateInfo">
  	<![CDATA[	select date_format(now(),'%Y%m%d') apdt,
			 date_format(now(),'%H%I%S') aptm,
			 date_format(now(),'%Y%m%d') workdate 
			 ]]>
  	</select>
  	
  	
</mapper>