<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ufufund.ufb.dao.TradeAccoinfoMapper">

	<select id="getTradeaccoinfo" parameterType="com.ufufund.ufb.model.db.Tradeaccoinfo" resultType="com.ufufund.ufb.model.db.Tradeaccoinfo">
		SELECT
			tradeaccoinfo.ACCOID,
			tradeaccoinfo.CUSTNO,
			tradeaccoinfo.FUNDCORPNO,
			tradeaccoinfo.LEVEL,
			tradeaccoinfo.BANKSERIALID,
			tradeaccoinfo.TRADEACCO,
			tradeaccoinfo.TRADEACCOST,
			tradeaccoinfo.OPENDT,
			tradeaccoinfo.CLOSEDT,
			tradeaccoinfo.UPDATETIME
		FROM
			tradeaccoinfo
		WHERE 
		<if test="accoid != null and accoid !=''" >
			tradeaccoinfo.ACCOID = #{accoid,jdbcType=INTEGER} AND
		</if>
  		<if test="custno != null and custno !=''" >
  		 	tradeaccoinfo.CUSTNO = #{custno,jdbcType=VARCHAR} AND
  		</if>
  		<if test="fundcorpno != null and fundcorpno !=''" >
  			tradeaccoinfo.FUNDCORPNO = #{fundcorpno,jdbcType=VARCHAR} AND
  		</if>
  		<if test="level != null and level !=''" >
  			tradeaccoinfo.LEVEL = #{level,jdbcType=VARCHAR} AND
  		</if>
  		<if test="bankserialid != null and bankserialid !=''" >
  		 	tradeaccoinfo.BANKSERIALID = #{bankserialid,jdbcType=VARCHAR} AND
  		</if>
  		 1 = 1
  	</select>
	
	<insert id="insterTradeaccoinfo" parameterType="com.ufufund.ufb.model.db.Tradeaccoinfo">
  	 <![CDATA[
	 	insert into tradeaccoinfo (
			  ACCOID,
			  CUSTNO,
			  FUNDCORPNO,
			  LEVEL,
			  BANKSERIALID,
			  TRADEACCO,
			  TRADEACCOST,
			  OPENDT,
			  CLOSEDT,
			  UPDATETIME				
		)
		values (
				#{accoid,jdbcType=VARCHAR},
				#{custno,jdbcType=VARCHAR},
				#{fundcorpno,jdbcType=VARCHAR},
				#{level,jdbcType=VARCHAR},
				#{bankserialid,jdbcType=VARCHAR},
				#{tradeacco,jdbcType=VARCHAR},
				#{tradeaccost,jdbcType=VARCHAR},
				#{opendt,jdbcType=VARCHAR},
				#{closedt,jdbcType=VARCHAR},
				sysdate()
	    )
	 ]]>
	</insert>
	
	<select id="isTradeaccoinfoBind" parameterType="com.ufufund.ufb.model.action.cust.OpenAccountAction" resultType="java.lang.Integer">
		SELECT
			count(tradeaccoinfo.ACCOID)
		FROM
			tradeaccoinfo, bankcardinfo
		WHERE 
			tradeaccoinfo.BANKSERIALID = bankcardinfo.SERIALID
			AND tradeaccoinfo.TRADEACCOST &lt;&gt; 'F'
  		<if test="fundcorpno != null and fundcorpno !=''" >
  			AND tradeaccoinfo.FUNDCORPNO = #{fundcorpno,jdbcType=VARCHAR}
  		</if>
  		<if test="bankno != null and bankno !=''" >
  		 	AND bankcardinfo.BANKNO = #{bankno,jdbcType=VARCHAR}
  		</if>
  		<if test="bankacco != null and bankacco !=''" >
  		 	AND bankcardinfo.BANKACCO = #{bankacco,jdbcType=VARCHAR}
  		</if>
  	</select>
	
	
	<select id="getTradeAccoList" resultType="TradeAccoinfoOfMore">
		select
			t.TRADEACCO,
			t.FUNDCORPNO,
			t.TRADEACCOST,
			t.LEVEL,
			b.SERIALID,
			b.CUSTNO,
			b.BANKNO,
			b.BANKACCO,
			b.BANKACCODISPLAY,
			b.BANKIDTP,
			b.BANKIDNO,
			b.BANKIDVALIDDT,
			b.BANKACNM,
			b.BANKMOBILE,
			b.SUBBANKNO,
			b.BANKLONGNAME,
			b.ISSIGN,
			b.SIGNNO,
			b.BANKPROEXISTS,
			b.PROTOCOL_NO,
			b.STATE,
			b.OPENDT,
			b.CLOSEDT,
			b.DISORDER,
			b.MAINFLAG,
			b.UPDATETIMESTAMP,
            c.level as clevel 
		from tradeaccoinfo t, bankcardinfo b,bankbase c
		where 
			b.serialid  = t.bankserialid and b.bankno=c.bankno
			and t.tradeaccost in 
			<foreach item="tradeaccost" index="index" collection="tradeaccosts" open="(" separator="," close=")">
 		   	#{tradeaccost, jdbcType=VARCHAR}
 			</foreach>
			<if test="fundcorpno != null and fundcorpno !=''" >
  			and t.fundcorpno = #{fundcorpno,jdbcType=VARCHAR}
  			</if>
			and b.custno = #{custno,jdbcType=VARCHAR}
		order by b.mainflag desc
	</select>
	
	<select id="getTradeAcco" resultType="TradeAccoinfoOfMore">
		select
			t.TRADEACCO,
			t.FUNDCORPNO,
			t.LEVEL,
			b.SERIALID,
			b.CUSTNO,
			b.BANKNO,
			b.BANKACCO,
			b.BANKACCODISPLAY,
			b.BANKIDTP,
			b.BANKIDNO,
			b.BANKIDVALIDDT,
			b.BANKACNM,
			b.BANKMOBILE,
			b.SUBBANKNO,
			b.BANKLONGNAME,
			b.ISSIGN,
			b.SIGNNO,
			b.BANKPROEXISTS,
			b.PROTOCOL_NO,
			b.STATE,
			b.OPENDT,
			b.CLOSEDT,
			b.DISORDER,
			b.MAINFLAG,
			b.UPDATETIMESTAMP
		from tradeaccoinfo t, bankcardinfo b
		where 
			b.SERIALID  = t.BANKSERIALID
			and t.TRADEACCOST = 'N' 
			and b.STATE = #{state,jdbcType=VARCHAR}
			and t.FUNDCORPNO = #{fundcorpno,jdbcType=VARCHAR}
			and b.CUSTNO = #{custno,jdbcType=VARCHAR}
			and t.BANKSERIALID = #{bankserialid,jdbcType=VARCHAR}
	</select>
	
</mapper>