<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ufufund.ufb.dao.TradeNotesMapper">

	<insert id="insterChangerecordinfo" parameterType="com.ufufund.ufb.model.db.Changerecordinfo">
  	 <![CDATA[
	 	insert into CHANGERECORDINFO (
	 		REFSERIALNO,
		    TABLENAME,
		    CUSTNO,
			APKIND,
			RECORDBEFORE,
		    RECORDAFTER
		    )
		values (
			#{refserialno,jdbcType=VARCHAR},
			#{tablename,jdbcType=VARCHAR},
			#{custno,jdbcType=VARCHAR},
			#{apkind,jdbcType=VARCHAR},
			#{recordbefore,jdbcType=VARCHAR},
			#{recordafter,jdbcType=VARCHAR}
			)
	 ]]>
  	</insert>
  	
  	<insert id="insterFdacfinalresult" parameterType="com.ufufund.ufb.model.db.Fdacfinalresult">
  	 <![CDATA[
	 	insert into fdacfinalresult (
	 		SERIALNO,
		    CUSTNO,
			APKIND,		
		    WORKDATE,
		    APDT,
		    
		    APTM,
		    STATUS,
		    FROM_BANKSERIALID,
		    FROM_ACCOID,
		    FROM_TRADEACCO,
		    
		    FROM_FUNDCODE,
		    FROM_FUNDCORPNO,
		    FROM_CHARGETYPE,
		    TO_BANKSERIALID,
		    TO_ACCOID,
		    
		    TO_TRADEACCO,
		    TO_FUNDCODE,
		    TO_FUNDCORPNO,
		    TO_CHARGETYPE,
		    APPAMT,
		    
  			APPVOL,
  			ACKAMT,	
  			ACKVOL,
  			AUTOID,
  			ORSERIALNO
  			
		    )
		values (
			#{serialno,jdbcType=VARCHAR},
			#{custno,jdbcType=VARCHAR},		
			#{apkind,jdbcType=VARCHAR},
			#{workdate,jdbcType=VARCHAR},
			#{apdt,jdbcType=VARCHAR},
			
			#{aptm,jdbcType=VARCHAR},
			#{status,jdbcType=VARCHAR},
			#{frombankserialid,jdbcType=VARCHAR},
			#{fromaccoid,jdbcType=VARCHAR},
			#{fromtradeacco,jdbcType=VARCHAR},
			
			#{fromfundcode,jdbcType=VARCHAR},
			#{fromfundcorpno,jdbcType=VARCHAR},
			#{fromchargetype,jdbcType=VARCHAR},
			#{tobankserialid,jdbcType=VARCHAR},
			#{toaccoid,jdbcType=VARCHAR},
			
			#{totradeacco,jdbcType=VARCHAR},
			#{tofundcode,jdbcType=VARCHAR},
			#{tofundcorpno,jdbcType=VARCHAR},
			#{tochargetype,jdbcType=VARCHAR},
			#{appamt,jdbcType=VARCHAR},
			
			#{appvol,jdbcType=VARCHAR},
			#{ackamt,jdbcType=VARCHAR},
			#{ackvol,jdbcType=VARCHAR},
			#{autoid,jdbcType=VARCHAR},
			#{orserialno,jdbcType=VARCHAR}
			)
	 ]]>
  	</insert>
<!-- 
  		
  	<select id="getDateInfo"  resultType="com.ufufund.ufb.model.db.DateInfo">
  	<![CDATA[	select date_format(now(),'%Y%m%d') apdt,
			 date_format(now(),'%H%I%S') aptm,
			 date_format(now(),'%Y%m%d') workdate 
			 ]]>
  	</select>
  	 -->
  	 
  	<select id="getAccoreqSerialSeq" parameterType="java.lang.String"  resultType="java.lang.String">
	<![CDATA[	select getSequenceBylen('ACCOREQSERIAL_SEQ',20) 
	]]>
	</select>
	
	<select id="getFdacfinalresultSeq" parameterType="java.lang.String"  resultType="java.lang.String">
	<![CDATA[	select getSequence('FDACFINALRESULT_SEQ') 
	]]>
	</select>
  		
</mapper>