<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ufufund.ufb.dao.TradeQutyChgMapper">

	<sql id="Base_Columns">
		SERIALNO     ,
		CUSTNO       ,
		FUNDCORPNO   ,
		TRADEACCO    ,
		APKIND       ,
		APPDATE    	 ,
		WORKDATE     ,
		FUNDCODE     ,
		TOTAL		 ,
		AVAILABLE    ,
		FROZEN   	 ,
		OLDSERIALNO  ,
		UPDATETIME   
	</sql>
	
	<select id="getBySerialno" parameterType="String" resultType="TradeQutyChg">
		select * from tradequtychg
		where serialno = #{serialno,jdbcType=VARCHAR} 
	</select>
	
	<select id="getByOldSerialno" parameterType="String" resultType="TradeQutyChg">
		select * from tradequtychg
		where oldserialno = #{oldserialno,jdbcType=VARCHAR} 
	</select>
	
    <select id="getTradeQutyChg" parameterType="TradeQutyChg" resultType="TradeQutyChg">
		select 
		    sum(TOTAL) as TOTAL, sum(AVAILABLE) as AVAILABLE, sum(FROZEN) as FROZEN
		from 
		    TRADEQUTYCHG
		where 
		    TRADEACCO = #{tradeacco,jdbcType=VARCHAR}  	
		and FUNDCODE = #{fundcode,jdbcType=VARCHAR} 
		<if test="workdate != null">
            and WORKDATE &gt;= #{workdate,jdbcType=VARCHAR}
        </if>
        <if test="apkind != null">
            and APKIND = #{apkind,jdbcType=VARCHAR}
        </if>
    </select>
    
	<!-- 
	<select id="getByOldSerialno" parameterType="String" resultType="TradeQutyChg">
		select <include refid="Base_Columns" /> from traderequest
		where oldserialno = #{oldserialno,jdbcType=VARCHAR} 
	</select>
	 -->
	
	<insert id="add" parameterType="TradeQutyChg">
  	 	insert into tradequtychg values(
  	 		#{serialno,jdbctype=varchar},        
			#{custno,jdbctype=varchar},        
			#{fundcorpno,jdbctype=varchar},        
			#{tradeacco,jdbctype=varchar},        
			#{apkind,jdbctype=varchar},        
			#{appdate,jdbctype=varchar},        
			#{workdate,jdbctype=varchar},        
			#{fundcode ,jdbctype=varchar},  
			#{total,jdbctype=DECIMAL},      
			#{available,jdbctype=DECIMAL},  
			#{frozen,jdbctype=DECIMAL},        
			#{oldserialno,jdbctype=varchar},        
			now())
  	</insert>
</mapper>