<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ufufund.ufb.dao.TradeNotesMapper">

	<insert id="insterChangerecordinfo" parameterType="com.ufufund.ufb.model.db.Changerecordinfo">
  	 <![CDATA[
	 	insert into custinfo (
	 		custno,
		    invtp,
		    invnm,
			sex,
			idtp,
		    idno,
		    mobileno,
		    email,
		    custst,
		    passwd,
		    lastlogintime,
		    passwderr,
		    opendt,
		    updatetimestamp,
		    tradepwd)
		values (
			#{custno,jdbcType=VARCHAR},
			#{invtp,jdbcType=VARCHAR},
			#{invnm,jdbcType=VARCHAR},
			#{sex,jdbcType=VARCHAR},
			#{idtp,jdbcType=VARCHAR},
			#{idno,jdbcType=VARCHAR},
			#{mobileno,jdbcType=VARCHAR},
			#{email,jdbcType=VARCHAR},
			#{custst,jdbcType=VARCHAR},
			#{passwd,jdbcType=VARCHAR},
			null,
			#{passwderr,jdbcType=DECIMAL},
			#{opendt,jdbcType=VARCHAR},
			systimestamp,
			#{tradepwd,jdbcType=VARCHAR},
			)
	 ]]>
  	</insert>
  	
  	<insert id="insterFdacfinalresult" parameterType="com.ufufund.ufb.model.db.Fdacfinalresult">
  	 <![CDATA[
	 	insert into custinfo (
	 		custno,
		    invtp,
		    invnm,
			sex,
			idtp,
		    idno,
		    mobileno,
		    email,
		    custst,
		    passwd,
		    lastlogintime,
		    passwderr,
		    opendt,
		    updatetimestamp,
		    tradepwd)
		values (
			#{custno,jdbcType=VARCHAR},
			#{invtp,jdbcType=VARCHAR},
			#{invnm,jdbcType=VARCHAR},
			#{sex,jdbcType=VARCHAR},
			#{idtp,jdbcType=VARCHAR},
			#{idno,jdbcType=VARCHAR},
			#{mobileno,jdbcType=VARCHAR},
			#{email,jdbcType=VARCHAR},
			#{custst,jdbcType=VARCHAR},
			#{passwd,jdbcType=VARCHAR},
			null,
			#{passwderr,jdbcType=DECIMAL},
			#{opendt,jdbcType=VARCHAR},
			systimestamp,
			#{tradepwd,jdbcType=VARCHAR},
			)
	 ]]>
  	</insert>
  	<select id="getFdacfinalresultSeq"  resultType="java.lang.String">
	
	</select>
  		
  		
  	<select id="getDateInfo"  resultType="com.ufufund.ufb.model.db.DateInfo">
  		select t1.* from custinfo t1 
  		where 1=1
		<if test="custno != null and custno !=''" >and t1.custno = #{custno}</if>
  		<if test="mobileno != null and mobileno !=''" >and t1.mobileno = #{mobileno}</if>
		<if test="idno != null and idno !=''" >and t1.idno = #{idno}</if>
		and t1.custst = 'N'
  	</select>
  	
  	
</mapper>