<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ufufund.ufb.dao.TradeRequestMapper">

	<sql id="Base_Columns">
		SERIALNO     ,
		SHEETSERIALNO,
		CUSTNO       ,
		FUNDCORPNO   ,
		TRADEACCO    ,
		APPDATE      ,
		APPTIME      ,
		ACKDATE      ,
		ACKTIME      ,
		WORKDAY      ,
		APKIND       ,
		FUNDCODE     ,
		APPAMT       ,
		APPVOL       ,
		ACKAMT       ,
		ACKVOL       ,
		STATE        ,
		TRANST       ,
		PAYST        ,
		SHARECLASS   ,
		DIVIDENTTYPE ,
		FEE          ,
		REFERNO      ,
		UPDATETIME   
	</sql>
	
	<select id="getBySerialno" parameterType="String" resultType="TradeRequest">
		select <include refid="Base_Columns" /> from traderequest
		where serialno = #{serialno,jdbcType=VARCHAR} 
	</select>
	
	<insert id="add" parameterType="TradeRequest">
  	 	insert into traderequest values(
  	 		#{serialno,jdbcType=VARCHAR},        
			#{sheetserialno,jdbcType=VARCHAR},        
			#{custno,jdbcType=VARCHAR},        
			#{fundcorpno,jdbcType=VARCHAR},        
			#{tradeacco,jdbcType=VARCHAR},        
			#{appdate,jdbcType=VARCHAR},        
			#{apptime,jdbcType=VARCHAR},        
			#{ackdate,jdbcType=VARCHAR},        
			#{acktime,jdbcType=VARCHAR},        
			#{workday,jdbcType=VARCHAR},        
			#{apkind,jdbcType=VARCHAR},        
			#{fundcode ,jdbcType=VARCHAR},        
			#{appamt,jdbcType=VARCHAR},        
			#{appvol,jdbcType=VARCHAR},        
			#{ackamt,jdbcType=VARCHAR},        
			#{ackvol,jdbcType=VARCHAR},        
			'N',        
			'N',        
			'N',        
			#{shareclass,jdbcType=VARCHAR},        
			#{dividenttype,jdbcType=VARCHAR},        
			#{fee,jdbcType=VARCHAR},        
			#{referno,jdbcType=VARCHAR},           
			now())
  	</insert>
	
	<update id="update" parameterType="TradeRequest">
		update traderequest set
		<if test="sheetserialno != null">
			sheetserialno = #{sheetserialno,jdbcType=VARCHAR}, 
		</if>
		<if test="appdate != null">
			appdate = #{appdate,jdbcType=VARCHAR}, 
		</if>
		<if test="apptime != null">
			apptime = #{apptime,jdbcType=VARCHAR}, 
		</if>
		<if test="ackdate != null">
			ackdate = #{ackdate,jdbcType=VARCHAR}, 
		</if>
		<if test="acktime != null">
			acktime = #{acktime,jdbcType=VARCHAR}, 
		</if>
		<if test="ackamt != null">
			ackamt = #{ackamt,jdbcType=DECIMAL}, 
		</if>
		<if test="ackvol != null">
			ackvol = #{ackvol,jdbcType=DECIMAL}, 
		</if>
		<if test="state != null">
			state = #{state,jdbcType=VARCHAR}, 
		</if>
		<if test="transt != null">
			transt = #{transt,jdbcType=VARCHAR}, 
		</if>
		<if test="payst != null">
			payst = #{payst,jdbcType=VARCHAR}, 
		</if>
			updatetime = now()
		where serialno = #{serialno,jdbcType=VARCHAR}
	</update>
	
	<select id="qryRecentTradeList" resultType="TradeRequest">
		select t4.banknm,t1.* from traderequest t1,tradeaccoinfo t2, bankcardinfo t3,bankbase t4
		where 
		(t1.state = 'Y' or t1.state = 'F' or t1.state = 'I') 
		and t1.custno = #{custno,jdbcType=VARCHAR} 
		and t1.apkind = #{apkind,jdbcType=VARCHAR} 
		and t1.tradeacco = t2.tradeacco
        and t2.bankSERIALID = t3.SERIALID        
        and t3.bankno = t4.bankno
		order by t1.updatetime desc limit #{n,jdbcType=INTEGER} 
	</select>
	
</mapper>