/***************************     common      *****************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font:12px/1.2 \5FAE\8F6F\96C5\9ED1, tahoma, arial, sans-serif;
	color:#666;
	background:#f3f3f1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input,textarea{font-size:100%; font-family: microsoft yahei;}
select{vertical-align:middle;color:#3e3e3e;}
a{text-decoration:none;color:#29abe2;}
a:hover{color:#79CEF2;}
a:focus,a:active{outline:none;border:0;}
strong,dt{font-weight:bold;}
em{font-style:italic;}
u{text-decoration:underline;}
sub{vertical-align:sub;font-size:12px;}
sup{vertical-align:super;font-size:12px;}
s{text-decoration:line-through;}
caption{padding-bottom:5px;}
h1, h2, h3, h4, h5, h6, th, b{font-weight:normal;}
th,td{margin:0;padding:0;text-align:left;vertical-align:middle;}
img{vertical-align:top;}
label,span,a{
	display:inline-block;
	*zoom:1;
}


/* transition */
.minHeight{
    min-height:400px;
}
.trans{
	-webkit-transition:all 0.3s;
	   -moz-transition:all 0.3s;
	     -o-transition:all 0.3s;
	        transition:all 0.3s;
}
.camera_wrap .camera_pag .camera_pag_ul {
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}
.camera_wrap .camera_pag .camera_pag_ul li {
	width: 9px;
	height: 9px;
	background-color:rgba(255,255,255,0.6);
}
.camera_wrap .camera_pag .camera_pag_ul li > span {
	top: 0;
	left: 0;
	width: 9px;
	height: 9px;
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
	background: #fff;
}
/*
 *@ Name:       未知高度垂直居中组件
 *@ Author:     一丝
 *@ Update:     2013-10-13 17:08:36
 *@ Usage:      支持图片，单行或多行文字，以及图文混排
 */

/* 去除 inline-block 的空隙 */
.center-box {
	font-size: 0;
	*word-spacing: -1px; /* IE6、7 */
	height: 100%; /* 继承父级高度 */
}

/* 修复 Safari 5- inline-block 的空隙 */
@media (-webkit-min-device-pixel-ratio:0) {
	.center-box {
		letter-spacing: -5px;
	}
}

/* 使用空标签生成一个高度100%的参照元素 */
.center-box .center-hack {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 0;
	width: 0;
	height: 100%;
	vertical-align: middle;
}

.center-box .center-body {
	letter-spacing: normal;
	word-spacing: normal;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 14px;
	vertical-align: middle; /* 保证文字垂直居中 */
	padding: 0 !important; /* 防止设置边距导致居中失效 */
	margin: 0 !important;
	width: 100%; /* 保证连续字符也能居中 */
	white-space: normal; /* 保证连续字符换行 */
	word-wrap: break-word;
}

.center-box .center-img {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 100%;
	text-align: center; /* 图片默认水平居中 */
	vertical-align: middle;
	padding: 0 !important; /* 防止设置边距导致居中失效 */
	margin: 0 !important;
}

.center-box img {
	vertical-align: middle; /* 去除现代浏览器 img 底部空隙 */
}
/* transform */
.slide-in {
	opacity: 1;
	filter:alpha(opacity=100);
	transform: translateX(0);
}
.slide-out {
	opacity: 0;
	filter:alpha(opacity=0);
	transform: translateX(100%);
}
.slide-in.slide-out {
	opacity: 0;
	transform: translateX(-100%);
}
/* tabs */
.panels {
	position: relative;
}
.panels .panel {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* tabs - step */
.container-step {
	padding-top: 20px;
    padding-bottom:100px;
/*	height: 750px;*/
}
.step-title {
	width: 858px;
	font-size: 14px;
	padding: 10px 0;
}
.step-title .link {
	font-size: 12px;
    color:#2f8fbf;
}
.step-tabs {
	width: 858px;
	height: 41px;
	overflow: hidden;
	background: url("../images/bg_tabs.png") no-repeat 0 -999px;
}
.step-tabs.tabs-step1 {
	background-position: 0 0;
}
.step-tabs.tabs-step2 {
	background-position: 0 -41px;
}
.step-tabs.tabs-step3 {
	background-position: 0 -82px;
}
.step-tabs .tab {
	width: 286px;
	height: 41px;
	text-align: center;
	line-height: 41px;
	font-size: 14px;
	color: #666666;
}
.step-tabs .tab.on {
	color: #ffffff;
}
.step-panels {
	position: relative;
/*	height: 300px;*/
	margin-top: 20px;
}
.step-panels.H300{
    height:300px;
}
.step-panels .panel {
	top: 20px;
	transition:all 0.3s;
}
/* positon */
.bc {
	margin:0 auto;
}
.rel {
	position:relative;
}
.abs {
	position:absolute;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.dn {
	display:none;
}
.db {
	display:block;
}
.value-big {
	font-size: 28px;
	color: #cb3849;
}
.shadow-normal {
	-webkit-box-shadow:1px 1px 1px 0px #ccc;
	-moz-box-shadow:1px 1px 1px 0px #ccc;
	box-shadow:1px 1px 1px 0px #ccc;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-o-transition:all 0.3s;
	transition:all 0.3s;
}
.shadow-hover {
	-webkit-box-shadow:1px 1px 2px 0px #999;
	-moz-box-shadow:1px 1px 2px 0px #999;
	box-shadow:1px 1px 2px 0px #999;
}
.tl {
	text-align: left;
}
.tc {
	text-align: center;
}
.tr {
	text-align: right;
}
html, body {
	min-width: 960px;
}
body {
	background-color: #edeaea;
	color: #808080;
	font-family: "microsoft yahei";
}
a {
	color: #808080;
}
.container {
	font-size: 12px;
	line-height: 1.5;
	background-color: #f3f3f1;
	overflow: hidden;
}
.inner {
	width: 960px;
	margin: 0 auto;
    position:relative;   /*+*/
}
.symbol {
	position: absolute;
}
a.btn {
	width: 118px;
	height: 34px;
	font-size: 14px;
	line-height: 34px;
	text-align: center;
	color: #cb3849;
	background-color: #ffffff;
	border: 1px solid #cb3849;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
	transition:all 0.3s;
}
a.btn:hover {
	color: #ffffff;
	background-color: #cb3849;
}
a.btn.off {
	color: #ffffff;
	background-color: #b4b4b5;
	border: 1px solid #b4b4b5;
}
.tips-float {
	position: absolute;
  	right: 100px;
  	top: 25px;
  	line-height: 2;
}
.mark {
	color:#cb3849;
}
.bill-list .tc .link {
	color: #2f8fbf;
	cursor: pointer;
}
.bill-list .tc .link:hover {
	text-decoration: underline;
}
a.link-underline {
	text-decoration: underline;
}
.m-b10 {
	margin-bottom: 10px;
}
.c-blue {
	color: #2f8fbf;
}
/* common - header */
.header {
	border-top: 5px solid #cb3849;
	height: 85px;
	background-color: #ffffff;
    position: relative;
    z-index: 1;
}
.header .logo {
	padding-top: 15px;
}
.header .logo a {
	display: block;
	padding-left: 140px;
	background: url("../images/logo_header.png") no-repeat left center;
	font-size: 20px;
	color: #989898;
	line-height: 60px;
}
.header .nav {
	position: absolute;
	bottom: 0;
	right: 0;
	color: #666666;
}
.header .nav a {
	padding: 0 20px;
	color: #666666;
}
.nav a.Nav_myUft{
    margin-left:70px;
    position:relative;
}
.nav a.Nav_myUft b.icon-enter{
    position:absolute;
    left:-70px;
    top:50%;
    margin-top:-11px;
    width:64px;
    height:18px;
    display:inline-block;
    background:url(../images/icon-enter.png) no-repeat;
}
.header .nav a:hover,
.header .nav a.current {
	color: #cb3849;
}
.header .nav a.last {
	padding-right: 0;
}
.header .nav .member {
	padding: 0 20px;
	color: #666666;
	position: relative;
	background: url("../images/icon.png") no-repeat 0 -311px;
	cursor: pointer;
}
.header .nav .member .icon {
	position: absolute;
	width: 12px;
	height: 17px;
	right: 0;
	background: url("../images/icon.png") no-repeat 0 -289px;
}
.header .nav .member .out {
	position: absolute;
	top: 20px;
	right: 0;
	width: 100%;
	text-align: center;
	display: none;
	padding: 0 10px;
	background-color: #ffffff;
	-webkit-box-shadow:  1px 1px 3px 0 #666666;
	-moz-box-shadow:  1px 1px 3px 0 #666666;
	box-shadow:  1px 1px 3px 0 #666666;
	z-index: 100;
	white-space: nowrap;
}
.header .nav .member.on .out {
	display: block;
}
.header .nav .member.on .icon {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
.header .nav .member:hover .out {
	color: #666666;
}
/* common - body */
.body {
}
.body .kv {
	height: 400px;
	border-bottom: 5px solid #e6e6e5;
}
.body .kv .item {
}
.body .title {
	background-color: #2f8fbf;
	margin-top: 30px;
	margin-bottom: 20px;
}
.body .title h2 {
	padding-left: 15px;
	color: #ffffff;
	font-size: 16px;
	line-height: 40px;
}
.body .main {
	width:700px;
}
.body .main .title {
	margin: 0;
	padding-left: 20px;
	font-size: 24px;
	color: #2f8fbf;
	background: none;
	line-height: 45px;
}
.body .side {
	width: 240px;
	margin-bottom: 20px;
}

/* common - footer */
.footer {
	padding-top: 30px;
	padding-bottom: 40px;
	color: #666666;
	background-color: #e6e6e5;
	border-top: 8px solid #2f8fbf;
}
.footer a {
	color: #666666;
}
.footer .title {
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 20px;
	color: #2f8fbf;
}
.footer .title img {
	vertical-align: top;
}
.footer .list {
	font-size: 12px;
	line-height: 2;
	height: 100px;
}
.footer .list a:hover {
	text-decoration: underline;
}
.footer .qa {
	padding-right: 50px;
	border-right: 1px solid #cbcbcb;
}
.footer .qa .title {
}
.footer .notice {
	padding: 0 50px;
	border-right: 1px solid #cbcbcb;
}
.footer .notice .title {
}
.footer .about {
	padding: 0 50px;
	border-right: 1px solid #cbcbcb;
}
.footer .about .title {
}
.footer .copyright {
	font-size: 12px;
}
.footer.footer-simple .info {
	padding-left:155px;
}
.footer.footer-simple .copyright {
	margin-right: 110px;
}
/* common - box */
.alert-con {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	z-index: 100;
}
.alert-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	z-index: 1;
}
.alert-close {
	position: absolute;
	top: 75px;
	right: 80px;
	width: 51px;
	height: 51px;
	background: url("../images/icon-close.png") no-repeat 0 0;
	cursor: pointer;
	z-index: 100;
}
.alert-box {
	display: none;
}
.img-openGuide {
	position: absolute;
	top: 200px;
	left: 50%;
	margin-left: -300px;
	z-index: 1;
}
.error-box {
	width: 380px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -190px;
	background-color: #ffffff;
	display: none;
	z-index: 1000;
	-webkit-box-shadow: 1px 1px 2px 0 #999999;
	-moz-box-shadow: 1px 1px 2px 0 #999999;
	box-shadow: 1px 1px 2px 0 #999999;
}
.error-box .error-title {
	line-height: 40px;
    height: 40px;
	font-size: 14px;
	padding: 0 20px;
	position: relative;
	color: #ffffff;
	background-color: #c30d23;
}
.error-box .error-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 0;
	right: 0px;
	background: url("../images/icon-close2.png") no-repeat center center;
	cursor: pointer;
}
.error-box .error-content {
	padding: 20px;
	font-size: 14px;
	color: #595757;
}
/* common - login */
.box-login {
}
.login {
	width: 410px;
	background-color: #ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -205px;
	margin-top: -200px;
    z-index: 10;
}
.login-tabs .on{
    background:#cb3849; /*+*/
    color:#fff!important; 
}
.tab.on{
     position:relative;  /*+*/
}
.loginTri{
    position:absolute;
    width:11px;
    height:6px;
    display:inline-block;
    bottom:-6px;
    left:50%;
    margin-left:-6px;
    background:url(../images/5.png) no-repeat;
    background-size:11px 6px;
}
.login .panel01 , .login .panel02{  
    display:none;  /*+*/
}
.panelShow{
    display:block!important;  /*+*/
}
.login-tabs .tab {
	width: 203px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #666666;
	font-size: 14px;
    border:1px solid #ddd;  /*+*/
}
.login-tabs .tab span {
	color: #666666;
	display: block;
	height: 38px;
	border-bottom: 2px solid #ffffff;
}
.login-tabs .tab.on span {
	color: #CB3849;
	border-bottom: 2px solid #cb3849;
}
/* common - form */
.common-form li {
	padding:10px 0 10px 150px;
	position: relative;
	font-size: 14px;
	line-height: 36px;
}
.common-form li p a{
    color:#29abe2;
}
.common-form li .form-title {
	position: absolute;
	top: 50%;
	left: 0;
	width: 130px;
	height: 20px;
	margin-top: -10px;
	line-height: 20px;
	text-align: right;
}
.common-form li .form-verifyCode {
	margin-right: 20px;
}
.common-form li .form-verifyCode img {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
}
.common-form li input {
	height: 34px;
	margin: 0 20px 0 0;
	padding: 0 12px;
	border: 1px solid #cbcbcb;
	font-size: 14px;
	line-height: 34px;
	font-family: "microsoft yahei";
	color: #808080;
}
.common-form .form-pw{
    border:1px solid #ddd;
    width:210px;
    height:34px;
    background:#fff;
}
.common-form .form-pw input{
    width:9px;
    border:none;
    margin-right:-3px;
    margin-top:-5px;  
    outline:none;
    border-right:1px solid #ddd;
/*    outline:1px solid #ddd;*/
}
.common-form .form-pw input:last-child{
    border-right:none;
}
/*
.common-form .form-pw input:hover , .common-form .form-pw input:active{
    outline:none;
}
*/
.common-form .forgetMM{
    position:absolute;
    left:350px;
    top:10px;
    color:#2f8fbf;
}
.common-form .forgetMM:hover{
    color:#cb3849;
}
.common-form .mmtips{
    font-size:12px;
    margin:-20px 0;
}
.common-form li input.input-checkbox {
	margin-right: 6px;
	vertical-align: middle;
}
.common-form li .input-button {
	width: 121px;
	height: 36px;
	border: 0;
	color: #ffffff;
	background-color: #CB3849;
	text-align: center;
	/*background-color: #b4b4b5;*/
}
.common-form li .input-button.fl {
	margin-right: 23px;
}
.common-form li input.input-button.ok {
	color: #ffffff;
	background-color: #CB3849;
}
.common-form li input.input-button.off {
	background-color: #b4b4b5;
	color: #ffffff;
}
.common-form li input.input-short {
	width: 20px;
	margin-left: 20px;
}
.common-form li input.input-short.focus {
	border-color: #2F8FBF;
}
.common-form li input.input-code {
	width: 95px;
}
.common-form li input.input-code.focus {
	border-color: #2F8FBF;
}
.common-form li input.input-text {
	width: 240px;
}
.common-form li input.input-text.focus {
	border-color: #2F8FBF;
}
.common-form li .tips-normal {
	position: absolute;
	top: 50%;
	left: 162px;
	height: 20px;
	line-height: 20px;
	margin-top: -10px;
	color: #b4b4b5;
}
.common-form li .tips-check {
	position: relative;
	display: none;
	padding-left: 20px;
	font-size: 12px;
	line-height: 36px;
}
.common-form li .tips-check .icon {
	position: absolute;
	left: 0px;
	top: 50%;
	width: 13px;
	height: 13px;
	margin-top:-6px;
}
.common-form li.ok .tips-check {
	display: inline;
	color: #8dc21f;
}
.common-form li.ok .tips-check .icon {
	background: url("../images/icon.png") no-repeat 0 -84px;
}
.common-form li.error .tips-check {
	display: inline;
	color: #CB3849;
}
.common-form li.error .tips-check .icon {
	background: url("../images/icon.png") no-repeat 0 -97px;
}
.common-form li a.find {
	color: #cb3849;
	font-size: 12px;
/*	text-decoration: underline;*/
	margin-right: 20px;
}
.common-form li label.tips {
	font-size: 12px;
}
.common-form li label.tips a{
    color:#2f8fbf;
}
.login-form ul {
	width: 330px;
	padding: 20px 40px;
}
.login-form li {
	padding: 5px 0;
	line-height: 1.5;
	position: relative;
}
.login-form li input {
	height: 40px;
	line-height: 40px;
}
.login-form li input.input-text {
	width: 270px;
	padding:0 10px 0 50px;
	border: 1px solid #e1e2e2;
}
.login-form li input.input-code {
	width: 218px;
	padding: 0 10px;
	border: 1px solid #e1e2e2;
}
.login-form li input.input-button {
	width: 330px;
	border: 0;
	padding: 0;
	background-color: #cb3849;
	color: #ffffff;
}
.login-form .ipt-loginUsername {
	background: url("../images/icon-username.png") no-repeat left top;
}
.login-form .ipt-loginPassword {
	background: url("../images/icon-password.png") no-repeat left top;
}
.login-form label {
	color: #666666;
	font-size: 12px;
}
.login-form a {
	color: #cb3849;
	font-size: 12px;
}
.login-form li .tips-check {
	position: absolute;
	top: -32px;
	left: 60px;
}
.common-form li.ok .tips-check {
	display: none;
}
.input-select {
	width: 264px;
	float:left;
	margin: 0 24px 0 0;
	font-size: 14px;
	font-family: "microsoft yahei";
	color: inherit;
	cursor:pointer;
	background:#ffffff url(../images/icon.png) no-repeat 230px -111px;
	position:relative;
}
.input-select .bank-current{
    border: 1px solid #cbcbcb;
}
.bgFFF .input-select{
    width:220px;
}
.bgFFF .input-select .bank-current, .bgFFF .input-select .bank-current img{
    height:33px;
    margin:0;
    top:0;
}
.bgFFF .input-select{
    background:#ffffff url(../images/icon.png) no-repeat 186px -111px;
}
.bgFFF .input-select.open{
   background:#ffffff url(../images/icon.png) no-repeat 186px -147px
}
.input-select .input-options {
/*	position:absolute;*/
	z-index:2;
	top:34px;
	left:-1px;
	display:none;
    margin-top:-1px;
}
.input-select.open .bank-list.bgGray{
    background:#fafafa;
    display:none;
    margin-top:-1px;
}
.input-select.open {
	background:#ffffff url(../images/icon.png) no-repeat 230px -147px;
}
.input-select.open .input-options {
	display:block;
}
.input-options a:hover {
	border: 1px solid #2F8FBF;
}
.input-options .icon {
	display: none;
	position: absolute;
	z-index: 5;
	top: -10px;
	right: -10px;
	width: 23px;
	height: 24px;
}
.input-options .active .icon {
	display: block;
	background: url("../images/icon.png") no-repeat 0 -238px;
}
.input-options .active:hover .icon {
	display: block;
	background: url("../images/icon.png") no-repeat 0 -238px;
}
/* input - card */
.input-select .card {
	height:33px;
	position: relative;
	padding-right: 30px;
	line-height: 35px;
	text-align: right;
    border:1px solid #cbcbcb;
}
.input-select .card img {
	position:absolute;
	top:50%;
	left:1px;
	margin-top:-15px;
	z-index:4;
}
.input-select .card .card-lastNumber {
	font-size: 12px;
	color: #b4b4b5;
	margin-right: 10px;
}
.input-select .input-options .card .card-lastNumber {
	margin-right: 0px;
}
.input-options .card-list {
	width: 238px;
	padding: 0 12px;
	background-color: #ffffff;
	border: 1px solid #cbcbcb;
}
.input-options .card {
	display: block;
	margin: 10px 0;
	padding-right: 30px;
	border: 1px solid #cbcbcb;
}
.input-options .card img {
	left: 0px;
}
/* input - bank */
.input-select .bank {
	height:34px;
	position: relative;
	padding-left: 12px;
}
.input-select .bank img {
	position:absolute;
	top:50%;
	left:1px;
	margin-top:-15px;
	z-index:4;
}
.input-options .bank-list {
	width:620px;
	padding-bottom: 10px;
	background-color:#ffffff;
	border: 1px solid #cbcbcb;
    *+z-index:10;
    position:relative;
}
.input-options .bank {
	width: 140px;
	margin-top:10px;
	margin-left:10px;
	padding: 0;
	float:left;
	border:1px solid #cbcbcb;
}
.input-options a.active,
.input-options a.active:hover {
	border: 1px solid #cb3849;
}
.input-options .bank img {
	left: 0px;
}
/* input - card */
.input-card {
	width: 240px;
	height: 38px;
	padding: 0 12px;
	margin: 0 24px 0 0;
	border: 1px solid #cbcbcb;
	font-size: 14px;
	font-family: "microsoft yahei";
	background-color: #fff;
}
.input-card img {
	vertical-align: middle;
}
.form-done {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 250px;
	margin-top: -140px;
	margin-left: -180px;
	padding: 50px 0 0 70px;
	background: url("../images/img_36.png") no-repeat 10px 45px;
}
.form-done.form-mt{
    margin-top:-200px;
}
.form-done .title {
	margin-top: 0;
	font-size: 24px;
	color: #666666;
	background: none;
}
.form-done .text {
	font-size: 12px;
	line-height: 2;
	color: #888888;
}
.form-done .tips {

}
.form-done .btn {
	margin: 35px 0;
	display: block;
}

/* common - project */
.project-item {
	margin-bottom: 20px;
	position: relative;
	background-color: #fff;
}
.project-item .tag {
	position: absolute;
	top: 15px;
	left: -10px;
}
.project-item img {
	vertical-align: top;
}
.project-item .item-base {
	padding: 60px 15px 15px 15px;
	position: relative;
	font-size: 14px;
	text-align: center;
}
.project-item.item-sub .item-base {
	padding: 35px 15px 35px 100px;
}
.project-item.item-main .item-base .base-table {
	width: 300px;
	border: 0;
}
.project-item.item-sub .item-base .base-table {
	width: 460px;
	border: 0;
}
.project-item.item-sub .item-base .base-table td {
	text-align: center;
}
.base-table thead td {
	background-color: #eeeeef;
}
.base-table td {
	height: 35px;
	line-height: 35px;
	text-align: left;
	border-bottom: 10px solid #ffffff;
	border-left: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
}
.base-table td span {
	font-size: 18px;
	color: #cb3849;
}
.base-table .name {
	color: #888888;
}
.base-table .value {
	font-size: 18px;
	color: #595757;
}
.base-table .link {
	font-size: 12px;
}
.project-item.item-main .item-base .base-btn {
	width: 170px;
}
.project-item.item-sub .item-base .base-btn {
	width: 110px;
}
.base-btn .btn {
	width: 100px;
	height: 35px;
	line-height: 35px;
	text-align: center;
}
.base-btn .tips {
	width: 60px;
	height: 35px;
	font-size: 12px;
	line-height: 35px;
	text-align: right;
}
.project-item .item-detail {
	width: 660px;
	margin: 0 auto;
	border-top: 1px solid #edeeee;
	padding-bottom: 15px;
}
.project-item.item-sub .item-detail {
	display: none;
}
.project-item.item-sub .base-btn .tips {
	display: none;
}
.detail-chart {
	width: 300px;
	border-right: 1px solid #edeeee;
	padding-right: 30px;
}
.detail-chart .chart-tabs {
	margin-bottom: 20px;
}
.detail-chart .chart-tabs .tab {
	float: left;
	width: 50%;
	font-size: 12px;
	line-height: 2;
	text-align: center;
	border-bottom: 1px solid #cbcbcb;
}
.detail-chart .chart-tabs .tab.on,
.detail-chart .chart-tabs .tab:hover {
	color: #2F8FBF;
	border-bottom-color: #2F8FBF;
}
.detail-chart .chart-panels {
	height: 150px;
	position: relative;
	overflow: hidden;
}
.detail-chart .chart-panels .panel {
}
.item-detail .detail-list {
	/*width: 260px;
	padding-left: 20px;
	border-left: 1px solid #cbcbcb;*/
}
.item-detail .detail-list .list-title {
	font-size: 14px;
	line-height: 2;
	padding: 10px 0;
}
.item-detail .detail-list .list-title a {
	line-height: 28px;
	font-size: 12px;
}
.item-detail .detail-list .list-tabs .tab {
	float: left;
	width: 50%;
	font-size: 14px;
	line-height: 2;
	border-bottom: 1px solid #cbcbcb;
}
.item-detail .detail-list .list-tabs .tab.on,
.item-detail .detail-list .list-tabs .tab:hover {
	color: #2F8FBF;
	border-bottom-color: #2F8FBF;
}

.item-detail .detail-list .list-panels {
	height: 120px;
	position: relative;
	overflow: hidden;
}
.item-detail .detail-list .list-panels .panel {
	top: 10px;
}
.panel .txtAuto{
    margin:0 auto;
}
.panel .width600{
    width:600px;
}
.item-detail .detail-list td {
	line-height: 2;
	padding:10px;
}
.item-detail .detail-list thead td {
	font-size: 14px;
	background-color: #f7f7f7;
}
.item-detail .detail-list tbody td {
	border-bottom: 1px solid #edeeee;
}
/* index */

.index .kv {
	position: relative;
	height: 400px;
}
#index_kv {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}
.index .side {
	margin-top: 45px;
	background-color: #fff;
	overflow: hidden;
}

.index .side .intro {
	height: 396px;
	overflow: hidden;
}
.index .side .intro img {
	display: block;
}
.index .side .tabs {
	width: 240px;
}
.index .side .tabs ul {
	width: 244px;
	border-top: 1px solid #ebebea;
	margin-left: -2px;
}
.index .side .tabs li {
	float: left;
	width: 60px;
	border-right: 1px solid #ebebea;
}
.index .side .tabs a {
	display: block;
	height: 49px;
	text-align: center;
}
.index .bottom {
	background-color: #2f8fbf;
}
.index .bottom .inner {
	overflow: hidden;
}
.index .bottom .list {
	width: 1050px;
}
.index .bottom .item {
	width: 350px;
	height: 145px;
	padding-top: 70px;
	float: left;
	color: #fff;
}
.index .bottom .item .icon {
	float: left;
	margin-right: 20px;
}
.index .bottom .item .text {
	float: left;
}
.index .bottom .item h3 {
	font-size: 18px;
}
.index .bottom .item p {
	font-size: 14px;
}
/* register */
.container-register {
	padding-top: 50px;
	height: 650px;
}
.form-register label,
.form-register label a {
	font-size: 12px;
}
.form-register label a:hover {
	text-decoration: underline;
}
.register-tabs .tab {
	width: 430px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background-color: #ffffff;
	font-size: 14px;
	border: 1px solid #cbcbcb;
}
.register-tabs .tab span {
	color: #666666;
	display: block;
	height: 40px;
/*	border-bottom: 2px solid #ffffff;*/
}
.register-tabs .tab.on span {
/*	color: #CB3849;*/
/*	border-bottom: 2px solid #cb3849;*/
    background:#CB3849;
    color:#fff;
}
.register-panels {
	height: 550px;
}
.register-panels .panel {
	top: 20px;
	transition:all 0.3s;
}
/* find */
.container-find {
	padding-top:30px;
    padding-bottom:100px;
/*	height: 600px;*/
}
.find-tabs {
	width: 858px;
	height: 41px;
	overflow: hidden;
	background: url("../images/bg_tabs.png") no-repeat 0 -999px;
}
.find-tabs.tabs-step1 {
	background-position: 0 0;
}
.find-tabs.tabs-step2 {
	background-position: 0 -41px;
}
.find-tabs.tabs-step3 {
	background-position: 0 -82px;
}
.find-tabs .tab {
	width: 286px;
	height: 41px;
	text-align: center;
	line-height: 41px;
	font-size: 14px;
	color: #666666;
}
.find-tabs .tab.on {
	color: #ffffff;
}
.find-panels {
	position: relative;
	height: 300px;
	margin-top: 50px;
}
.find-panels .panel {
	top: 20px;
	transition:all 0.3s;
}
/* center */
.center .body .title {
	background-color: #2f8fbf;
	margin-top: 30px;
	margin-bottom: 20px;
}
.center .body .title h2 {
	padding-left: 15px;
	color: #ffffff;
	font-size: 16px;
	line-height: 40px;
}
.center .body .title-main {
}
.center .body .title-side {
	width: 225px;
}
.center .body .title-side .account-setting {
	width: 18px;
	height: 18px;
	background: url("../images/icon-setting.png") no-repeat 0 0;
	margin-top: 11px;
	margin-right: 10px;
}
.center .body .e-bill {
	color: #ffffff;
	line-height: 40px;
	margin-right: 15px;
}
.center .side .info-account {
	background-color: #ffffff;
	border: 1px solid #d5d5d4;
	font-size: 14px;
	border-bottom: none;
}
.center .side .info-account .tab {
	float: left;
	width: 50%;
	border-bottom: 1px solid #e0e0e0;
}
.center .side .info-account .tab.on {
	color: #2f8fbf;
	border-bottom: 1px solid #499dc7;
}
.center .side .info-account .panels {
	height: 213px;
	overflow: hidden;
}
.center .side .info-account .account-header {
	text-align: center;
	padding-top: 15px;
	position: relative;
}
.center .side .info-account .account-header .header-avatar {
	width: 61px;
	height: 61px;
	display: block;
	margin: 0 auto;
	background: url("../images/avatar-off.png") no-repeat center center;
}
.center .side .info-account .on .account-header .header-avatar {
	background: url("../images/avatar.png") no-repeat center center;
}
.center .side .info-account .account-header .tooltips {
	width: 11px;
	height: 11px;
	position: absolute;
	right: 30px;
	top: 20px;
	background: url("../images/icon-q2.png") no-repeat 0 0;
}
.center .side .info-account .account-header .tooltips .tooltips-text {
	display: none;
	width: 170px;
	height: 52px;
	overflow: hidden;
	padding: 10px;
	position: absolute;
	top: -75px;
	right: -58px;
	background: url("../images/tooltips_con.png") no-repeat 0 0;
}
.center .side .info-account .account-header .tooltips:hover .tooltips-text {
	display: block;
}
.center .side .info-account .on .account-header .tooltips {
	background: url("../images/icon-q1.png") no-repeat 0 0;
}
.center .side .info-account .account-header .header-name {
}
.center .side .info-account .account-header .header-setting {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 20px;
	height: 20px;
	background: url("../images/icon.png") no-repeat 0px -60px;
}
.center .side .info-account .account-item {
	height: 70px;
	padding: 0 15px;
	border-bottom: 1px solid #CBCBCB;
	line-height: 70px;
	font-size: 12px;
}
.center .side .info-account .account-item .link {
	margin-left: 10px;
}
.center .side .info-account .account-item .name {
	font-size: 14px;
	line-height: 30px;
}
.center .side .info-account .account-item .value {
	color: #CB3849;
	font-size: 18px;
	line-height: 40px;
	text-align: right;
}
.center .side .info-account .account-btn {
	border-bottom: 1px solid #CBCBCB;
	padding-top: 10px;
	position: relative;
	height: 50px;
}
.center .side .info-account .account-btn .btn {
	width: 210px;
	display: block;
	position: absolute;
	z-index: 100;
	left: 50%;
	margin-left: -105px;
	color: #ffffff;
	background-color: #cb3849;
}
.center .side .info-yield {
	margin-top: 9px;
	background-color: #ffffff;
}
.center .side .info-yield .yield-title {
	padding-top: 11px;
	background: url("../images/side-title.png") no-repeat 0 0;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	color: #ffffff;
}
.center .side .info-yield .yield-data {
	height:130px;
	border: 1px solid #d5d5d4;
	font-size: 14px;
	text-align: center;
}
.center .side .info-yield .data-value {
	line-height: 3;
	color: #CB3849;
	font-size: 20px;
}
.center .body .notice{
  font-size: 12px;
  color: #999;
  background: #F0FAFC;
  padding: 20px 25px;
  border: 1px solid #E6E6E5;
  line-height: 1.5;
  position:relative;
   margin:-15px 0 20px;
}
.center .body .notice p{
    padding-left:0;
    position:relative;
}
.center .body .notice p i{
    display:block;
    width:17px;
    height:17px;
    background:url(../images/img_25.png) no-repeat;
    position:absolute;
    left:0;
    top:50%;
    margin-top:-8px;
}
.center .body .notice .v2_1{
    position:absolute;
    right:10px;
    top:10px;
    display:block;
    width:10px;
    height:10px;
    cursor:pointer;
    background:url(../images/04.png) no-repeat;
}
.center .date-line {
	position: relative;
	width:70%;
	height: 100px;
	margin: 60px auto 0;
	border-top: 2px solid #cb3849;
}
.center .date-line .line-point {
	position: absolute;
	top: -12px;
	width: 100px;
	margin-left: -50px;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
}
.center .date-line .line-point.point-left {
	left: 0;
}
.center .date-line .line-point.point-left .point-icon {
	background: url("../images/icon.png") no-repeat 0px -190px;
}
.center .date-line .line-point.point-center {
	left: 50%;
}
.center .date-line .line-point.point-center .point-icon {
	background: url("../images/icon.png") no-repeat 0px -214px;
}
.center .date-line .line-point.point-right {
	left: 100%;
}
.center .date-line .line-point.point-right .point-icon {
	background: url("../images/icon.png") no-repeat 0px -214px;
}
.center .date-line .line-point .point-icon {
	width: 24px;
	height: 24px;
	margin: 0 auto;
}
.center .date-line .line-point .point-text {
	padding-top: 10px;
}
.center .date-line .line-point .text-name {
	font-size: 12px;
}
.center .date-line .line-point .text-date {
	font-size: 16px;
}
.center .form-payInto,
.center .form-cash {
	padding-bottom: 100px;
}
.center .bill-header {
	background-color: #ffffff;
	padding: 15px 0;
	border: 1px solid #e3e3e3;
}
.center .bill-header a {
}
.center .bill-header a.on {
	color: #ffffff;
	background-color: #2f8fbf;
}
.center .bill-header .item-date input {
	width: 90px;
	text-align: center;
	border: 1px solid #CBCBCB;
	color: #888888;
}
.center .bill-header .item-date a {
	padding: 2px 10px;
	margin-left: 20px;
	vertical-align: middle;
}
.center .bill-header .item-cate a,
.center .bill-header .item-type a {
	float: left;
	width: 60px;
	margin-right: 60px;
	text-align: center;
	height: 24px;
	line-height: 2;
}
.center .bill-header .search-con .search-item {
	padding-left: 130px;
	position: relative;
	margin-bottom: 10px;
}
.center .bill-header .search-con .search-item .item-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	text-align: center;
	line-height: 24px;
}
.center .bill-header .total {
	width: 150px;
	height: 100px;
	padding-left: 60px;
	border-left: 1px solid #e3e3e3;
}
.center .bill-header .total .name {
	line-height: 30px;
}
.center .bill-header .total .value-big {
	padding-top: 25px;
}
.center .bill-list {
	margin: 15px 0 100px;
}
.center .bill-list table {
	border: 1px solid #e3e3e3;
}
.center .bill-list td {
	line-height: 2;
	padding: 10px;
	vertical-align: middle;
}
.center .bill-list thead {
	background-color: #f4f9fc;
}
.center .bill-list tbody tr {
	background-color: #ffffff;
	border-top: 1px solid #e3e3e3;
}
.center .bill-detail {
	padding: 30px 30px 50px 30px;
	background-color: #ffffff;
	border: 1px solid #e3e3e3;
	margin-bottom: 100px;
}
.center .bill-detail table td {
	vertical-align: middle;
	line-height: 2;
	padding: 10px 0;
}
.center .bill-detail table td img {
	vertical-align: middle;
}
.center .bill-detail table td span {
	padding-left:40px;
}
.center .bill-detail table td span.txtLeft{
    padding:0;
}
.center .bill-detail table td label{
    width:60px;
    text-align:right;
    display:inline-block;
    *display:inline;
    zoom:1;
}
.center .bill-detail .detail-process {
	padding-top: 50px;
	width: 400px;
	height: 100px;
	border-left: 1px solid #e3e3e3;
}
.center .bill-detail .detail-process .process-line {
	width: 260px;
	margin: 0 auto;
	position: relative;
	background-color: #b4b4b5;
}
.center .bill-detail .detail-process .process-line .moving-line {
	height: 1px;
	width: 100%;
}
.center .bill-detail .detail-process .process-point {
	position: absolute;
	width: 24px;
	height: 24px;
	top: -12px;
	background: url("../images/icon-point.png") no-repeat 0 0;
}
.center .bill-detail .detail-process .point-start {
	left: -12px;
}

.center .bill-detail .detail-process .point-end {
	right: -12px;
}
.center .bill-detail .process-success .process-point.point-end {
	background-position: 0 0;
}
.center .bill-detail .process-success .moving-line {
	background-color: #8dc21f;
}
.center .bill-detail .process-ing .process-point.point-end {
	background-position: -48px 0;
}
.center .bill-detail .process-ing .moving-line {
	width: 50%;
	background-color: #8dc21f;
}
.center .bill-detail .process-fail .process-point.point-end {
	background-position: -24px 0;
}
.center .bill-detail .process-fail .moving-line {
}
.center .bill-detail .detail-process .process-point .point-text {
	width: 200px;
	padding-top: 30px;
	left: 50%;
	margin-left: -88px;
	text-align: center;
}
.center .bill-detail .detail-btn a {
	width: 100px;
	height: 35px;
	margin-right: 20px;
}
/* help */
.help .body {
	padding-bottom: 100px;
}
.help .side-nav {
	width: 200px;
	background-color: #ffffff;
}
.help .side-nav a {
	display: block;
	height: 36px;
	text-indent:35px;
	font-size: 14px;
	line-height: 36px;
	border: 1px solid #cbcbcb;
	margin-top: -1px;
    position:relative;
}
.help .side-nav a:hover,
.help .side-nav a.current {
	position: relative;
	z-index: 1;
	color: #2f8fbf;
	border: 1px solid #2f8fbf;
}
.help .main {
	width: 740px;
	background-color: #ffffff;
}
.help .help-content {
	padding: 0 20px;
	border: 1px solid #cbcbcb;
}
.help .help-content li {
	padding: 15px 0;
	line-height: 2;
	border-bottom: 1px solid #cbcbcb;
}
.help .help-content li img{
    width:16%;
    margin:3px 4% 0 0;
/*    outline:2px solid #ddd;*/
}
.help .help-content li img.Bimg{
    margin:3px auto;
    display:block;
}
.help .help-content li img:nth-child(5n+1){
    margin:3px 0 0 0;
}
.help .help-content li.last {
	border: none;
}
.help .help-content li h3 {
	font-size: 14px;
	font-weight: normal;
	color: #333;
}
.help .help-content li div {
	font-size: 14px;
}
.help .content-contact {
	padding: 150px 0 200px 170px;
	font-size: 14px;
	line-height: 2;
}
.help .content-contact .qr {
	margin-right: 20px;
}

/* setting */
.setting .body {
	padding-bottom: 100px;
}
.setting .side-nav {
	width: 200px;
	background-color: #ffffff;
}
.setting .side-nav a {
	display: block;
	height: 36px;
	text-indent:35px;
	font-size: 14px;
	line-height: 36px;
	border: 1px solid #cbcbcb;
	margin-top: -1px;
    position:relative;
}
.setting .side-nav a b{
    width:15px;
    height:15px;
    display:block;
    position:absolute;
    top:50%;
    margin-top:-7px;
    left:0;
    margin-left:10px;
}
.setting .side-nav a .icon01{
    background:url(../images/icon08.png) no-repeat;
}
.setting .side-nav a .icon02{
    background:url(../images/icon09.png) no-repeat;
}
.setting .side-nav a .icon03{
    background:url(../images/icon10.png) no-repeat;
}
.setting .side-nav a .icon04{
    background:url(../images/icon11.png) no-repeat;
}
.setting .side-nav a:hover,
.setting .side-nav a.current {
	position: relative;
	z-index: 1;
	color: #2f8fbf;
	border: 1px solid #2f8fbf;
}
.setting .main {
	width: 740px;
	background-color: #ffffff;
    margin:0 auto; /*+*/
}
.setting .setting-content {
	padding: 15px 20px 120px;
	border: 1px solid #cbcbcb;
	font-size: 14px;
	line-height: 36px;
}
.setting .setting-content ul.p10{
    border-bottom:1px dashed #cbcbcb;
    padding:10px 0;
}
.setting .tips {
	font-size: 12px;
	color: #b4b4b5;
}
.setting .password-tabs .btn {
	margin-right: 30px;
}
.setting .password-tabs .btn.on,
.setting .password-tabs .btn:hover {
	color: #ffffff;
	background-color: #cb3849;
}


.setting .password-panels {
	height: 400px;
	position: relative;
	overflow: hidden;
}
.setting .password-panels .panel {
	top: 20px;
	transition:all 0.3s;
}
.step01 , .step02 , step03{
    transition:all 0.3s;
    position:absolute;
    top:20px;
}
.setting .card-list {
	padding: 10px 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #cbcbcb;
}
.setting .card {
	float: left;
	display: block;
	width: 203px;
	height: 70px;
	padding: 10px 10px 0 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid #cbcbcb;
	position: relative;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-o-transition:all 0.3s;
	transition:all 0.3s;
	cursor: pointer;
}
.setting .card.cardM3{
    margin-right:0;
}
.setting .card .icon {
	display: none;
	position: absolute;
	z-index: 5;
	top: -10px;
	right: -10px;
	width: 23px;
	height: 24px;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-o-transition:all 0.3s;
	transition:all 0.3s;
}
.setting .card.card-main,
.setting .card.card-main.card-hover {
	border: 1px solid #cb3849;
}
.setting .card.card-main .icon,
.setting .card.card-main.card-hover .icon {
	display: block;
	background: url("../images/icon.png") no-repeat 0 -238px;
}
.setting .card.card-main .set-main {
	display: none;
}
.setting .card.card-hover .icon {
	display: block;
	background: url("../images/icon.png") no-repeat 0 -262px;
}
.setting .card .card-info {
	font-size: 12px;
	padding-bottom: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-bottom: 1px solid #cbcbcb;
}
.setting .card .card-info img {
	width: 130px;
	vertical-align: middle;
}
.setting .card .card-setting {
	font-size: 12px;
	text-align: right;
	line-height: 2;
}
.setting .card .card-setting span{
    float:left;
    color:#cb3849;
}
.setting .card .card-setting a {
	margin-left: 20px;
}
.setting .card.card-add a {
	display: block;
	height: 60px;
	padding-left: 75px;
	line-height: 60px;
	background: url("../images/icon-plus.png") no-repeat 40px center;
}
.content-autoFund .autoFund-title span{
    /*+*/
    border:1px solid #ddd;
    cursor:pointer;
    background:#fff; 
    color:#666;
    width:50%;
    margin:0 -1px;
    display:block;
    float:left;
    text-align:center;
    margin-bottom:20px;
}
.content-autoFund .autoFund-title span.on{
   background:#cb3849;
   color:#fff; 
    position:relative;
}
.content-autoFund .FundList01 , .content-autoFund .FundList02{
    display:none;  /*+*/
}
.content-autoFund .FundList{
    display:block;  /*+*/
}
.setting .content-autoFund {
	font-size: 12px;
}
.setting .content-autoFund .autoFund-item {
	margin-bottom: 20px;
}
.setting .content-autoFund .item-title .link {
	margin-left: 40px;
    color:#2f8fbf;
    cursor:pointer;
}
.setting .content-autoFund .item-title .link.mlNone{
    margin-left:0;
}
.setting .content-autoFund .item-table {
	border: 1px solid #e3e3e3;
	text-align: center;
	font-size: 12px;
	color: #888888;
}
.setting .content-autoFund .item-table th {
	vertical-align: middle;
	color: #595757;
	font-weight: normal;
}
.setting .content-autoFund .item-name {
	position: relative;
	border-right: 1px solid #e3e3e3;
}
.setting .content-autoFund .item-type {
	position: absolute;
	top: -1px;
	left: -1px;
	line-height: 1.5;
	padding: 0px 5px;
	background-color: #cb3849;
	color: #ffffff;
}
.setting .content-autoFund .item-do {
	position: relative;
	background-color: #fff;
}
.setting .content-autoFund .item-do .do-title {
	color: #2f8fbf;
	cursor: pointer;
}
.setting .content-autoFund .item-do .do-list {
	position: absolute;
	top: 30px;
	left: 50%;
	width: 44px;
	margin-left: -22px;
	line-height: 2;
	border: 1px solid #e3e3e3;
	display: none;
	background-color: #fff;
    z-index:10;
}
.setting .content-autoFund .item-do .do-list a{
    color:#2f8fbf;
}
.setting .content-autoFund .item-do .do-list a:hover{
    color:#fff;
    background:#2f8fbf ;
    display:block;
    cursor:pointer;
}
.setting .content-autoFund .item-do:hover .do-list {
	display: block;
}
.setting .content-autoFund .item-tips {
	color: #b4b4b5;
}
.setting .content-autoFund .no-result {
	text-align: left;
	width: 562px;
	height: 31px;
	margin: 0 auto;
	padding-left: 26px;
	padding-bottom: 10px;
	line-height: 26px;
	background: url("../images/bg-no-result.png") no-repeat 0 0;

}
.setting .setting-newCard {
	position: relative;
}


#header{
	z-index:30;
	height:108px;
	background:#fff;
	border-bottom:1px solid #dbdcdc;
}
#header .container{
	height:80px !important;
	position:relative;
	margin:0 auto;
	text-align:left;
	width:960px;
	height:100%;
	background-color:transparent;
}
.topNav{
	background:#3e3a39;
	height:28px;
}
.topNav .b1{
	float:left;
	width:50%;
}
.topNav .b2{
	margin-left:500px;
	text-align:right;
    color:#fff;
    vertical-align:middle;
}
.topNav .b1 a{
	color:#fff;
	line-height:28px;
	margin-right:10px;
}
.topNav .b1 .active,.topNav .b1 a:hover{
	color:#29abe2;
}
.topNav .b2 span{
	display:inline-block;
	zoom:1;
	line-height:28px;
/*	background:url(../images/2.png) no-repeat 0 50%;*/
	padding-left:15px;
	color:#fff;
	vertical-align:middle;
}
.topNav .b2 i{
    display:inline-block;
    line-height:28px;
    vertical-align: middle;
    color:#29abe2;
    margin:0 0 0 20px;
    font-style: normal;
    cursor: pointer;
}
.topNav .b2 a.quit{
/*	background:url(../images/3.png) no-repeat 0 50%;*/
	margin:0 0 0 10px;
    color:#29abe2;
    vertical-align: middle;
}
.topNav .b2 a.c1{
	width:auto;
	height:28px;
	display:inline-block;
	zoom:1;
	vertical-align:middle;
	background:none;
	line-height:28px;
    color:#29abe2;
}
.topNav .b2 #reg{
    color:#fff;
    margin-left:10px;
}
.topNav .b2 #reg:hover{
     color:#29abe2;
}
.topNav .b3{
    margin-left:500px;
    text-align:right;
    font-size:12px;
    color:#fff;
    line-height:28px;
}
.topNav .b3 a{
    color:#fff;
    display:inline-block;
    margin:0 5px;
}
.topNav .b3 a:hover{
    color:#cb3849;
}
.logo{
	font-size:26px;
	position:absolute;
	top:20px;
	background:url(../images/1.png) no-repeat;
	width:98px;height:43px;
}
.footer .inner .logo{   
    top:5px;   /*+*/
}
.nav{
	font-size:16px;
	position:absolute;
	bottom:12px;
	right:0;
}
.nav a{
	margin-left:35px;
	float:left;
	border-bottom:2px solid #fff;
	color:#666;
	padding-bottom:5px;
}
.nav a:hover,.nav a.active{
	border-bottom:2px solid #cb3849;
}
.nav a.active{
    border-bottom:2px solid #cb3849;
    color:#cb3849;
}

/*0922 - by Tracy*/
/*弹层*/
.layerpop{
     width: 720px; 
    height: 540px;
    margin-left: -360px; 
    margin-top: -270px; 
    display: block;
    position:fixed;
	left:50%;
	top:50%;
	background:#fff;
	z-index:2000;
    display:none;
}
.layerTitle{
	height:59px;
	line-height:70px;
	text-align:left;
	font-size:20px;
	color:#4d4d4d;
    font-weight:bold;
	margin:0 35px;
	border-bottom:2px solid #29ABE2;
}
.layerpop .content{
    width: 650px; 
    height: 430px; 
    margin: 20px 35px; 
    overflow-y:auto;
    padding: 0px; 
    display: block;
}
.layerpop .content h4{
    font-weight:bold;
    font-size:12px;
    color:#4d4d4d;
    margin-bottom:20px;
}
.layerpop .close{
    background:url(../images/06.png) no-repeat;
    display:block;
    width:25px;
    height:25px;
    position:absolute;
    top:0;
    right:-50px;
    cursor:pointer;
}
.layerpop .content p{
    color:#666;
    line-height:1.5;
    margin-bottom:20px;
    font-size:12px;
}
.layerpop .content .btnKnow{
	display:block;
	width:100px;
	height:30px;line-height:30px;
	font-size:14px;
	color:#fff;
	text-align:center;
	cursor:pointer;
	vertical-align:middle;
	background:#B4B4B5;
	cursor:pointer;
    margin:0 auto 30px;
}
.layerpop .content .btnKnow:hover{background:#ba3145;}
.bgBox{
    position:fixed;
	top:0;left:0;
	width:100%;height:100%;
	background:#000;
	z-index:1000;
	-webkit-opacity:0.9;
	-moz-opacity:0.9;
	-ms-opacity:0.9;
	opacity:0.9;
	filter:alpha(opacity=90);
    display:none;
}
.mCustomScrollBox{
    width:auto;
    padding-right:45px;
}
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background:#2f8fbf!important;
}
.mCSB_scrollTools .mCSB_draggerRail{
    width:2px!important;
}

/*日历*/
.datepicker{
	position:relative;
	display:inline-block;
	*zoom:1;
	overflow:hidden;
	height:33px;
	border:1px solid #cacaca;
	background:#fff;
	font-size:0;
	line-height:0;
	vertical-align:middle;
}
.datepicker input{
	width:100px!important;
	font-size:12px;
	height:33px;
	line-height:33px\9;
	*line-height:29px;
	display:block;
	padding:0 7px;
	border:0!important;
	background:none;
	margin:0;
	outline:none;
	font-family:\5FAE\8F6F\96C5\9ED1;
	color:#B3B3B3!important;
    text-align:initial!important;
}
.datepicker img{
	position:absolute;
	right:0px;top:0px;
	display:block;
}

/*helpabout.html icon*/
.help .side-nav a b{
    width:15px;
    height:15px;
    display:block;
    position:absolute;
    top:50%;
    margin-top:-7px;
    left:0;
    margin-left:10px;
}
.help .side-nav a b.icon01{
    background:url(../images/icon01.png) no-repeat;
}
.help .side-nav a b.icon02{
    background:url(../images/icon02.png) no-repeat;
}
.help .side-nav a b.icon03{
    background:url(../images/icon03.png) no-repeat;
}
.help .side-nav a b.icon04{
    background:url(../images/icon04.png) no-repeat;
}
.help .side-nav a b.icon05{
    background:url(../images/icon05.png) no-repeat;
}
.help .side-nav a b.icon06{
    background:url(../images/icon06.png) no-repeat;
}
.help .side-nav a b.icon07{
    background:url(../images/icon07.png) no-repeat;
}
/*settingCardAdd.html start*/
.bgFFF{
    background:#fff;
}
.bgFFF.common-form{
    margin-bottom:60px;
}
.banktip{
    position:absolute;
    right:10px;
    bottom:10px;
    font-size:12px;
    color:#000;
    line-height:20px;
}
.banktip span{
    color:#808080;
}
.banktip i{
    width:15px;
    height:9px;
    display:inline-block;
    *+display:inline;
    *zoom:1;
} 
.banktip .down{
    background:url(../images/icon_down.png) no-repeat;
}
.banktip .up{
    background:url(../images/icon_up.png) no-repeat;
}
.common-form .safeInfo{
    margin:0 15px;
    padding:30px 0;
    border-bottom:1px dashed #ddd;
}
.common-form .safeInfo .fontBigger{
    width:200px;
    padding:0 10px;
    border:1px solid #d2d2d2;
    height:30px;
    position:absolute;
    top:-19px;
    left:140px;
    background:#f0ea7c;
    font-size:16px;
    font-weight:bold;
    color:#231815;
    display:none;
}
.common-form .safeInfo li span a{
    color:#2f8dbd;
    position:relative;
}
.common-form .safeInfo li .inputL{
    position:relative;
    float:left;
    z-index:10;
}
.common-form .safeInfo li .inputR{
    position:relative;
    float:left;
}
.common-form .safeInfo li .inputL .chose , .common-form .safeInfo li .inputR .choseCity{
    position:absolute;
    font-size:14px;
    width:130px;
    z-index:999;
    display:none;
    *z-index:10;
}
.common-form .safeInfo li .inputL .tips-normal{
    left:12px;
}
.common-form .Addr{
    height:36px;
}
.zIndex{
    z-index:99;
}
.common-form .safeInfo .inputL .chose li , .common-form .safeInfo .inputR .choseCity li{
	height:29px;
    line-height:29px;
	padding:0 10px;
	font-size:12px;
	color:#999;
	display:block;
	background:#f9f9f9;
	border-top:1px dotted #ddd;
	cursor:default;
}
.common-form .safeInfo .inputL .chose li:hover , .common-form .safeInfo .inputR .choseCity li:hover{
	background:#eee;
}
.common-form .safeInfo .inputL .chose li:first-child , .common-form .safeInfo .inputR .choseCity li:first-child{
	border-top-width:0;
}
.common-form .safeInfo li .trip{
    background:none;
    width:0;
    height:0;
}
.common-form .safeInfo li .trip div{
    width:415px;
    height:60px;
    left:-120px;
    font-size:10px;
    color:#808080;
    border:1px solid #d9d9d9;
}
.common-form .safeInfo li .trip div b{
    right:auto;
    left:40px;
    background:url(../images/img_30_07.png) no-repeat;
    width:15px;
    height:6px;
    bottom:-6px;
}
.common-form .safeInfo .cardNum{
    position:relative;
    margin-bottom:20px;
}
.common-form .safeInfo .cardNum p{
    position:absolute;
    bottom:-10px;
    font-size:12px;
    color:#808080;
    line-height:1;
    *+left:155px;
}
.common-form .safeInfo .sureAddr b{
    font-size:16px;
    color:#000;
}
.disNone{
    display:none;
}
.common-form .safeInfo .sureAddr{
    padding:20px 0 0 150px;
    line-height:1;
}
.inputS{
    width:104px;
}
.common-form .safeInfo .provinces , .common-form .safeInfo .city{
    height:34px;
    border:1px solid #cbcbcb;
    padding:0 12px;
    margin-right:5px;
    color:#c8c8c8;
    background:#ffffff url(../images/icon.png) no-repeat 94px -111px;
}
.common-form li input.inputL{
    width:249px;
}
.borderNone{
    border:none!important;
}
.common-form li .title-font{
    font-size:14px;
    color:#333;
    font-weight: bold;
}
.common-form li .title-font label{
    font-size:14px;
}
.common-form li .tips-font {
	position: absolute;
	top: 50%;
	left: 120px;
	height: 20px;
	line-height: 20px;
	margin-top: -10px;
	color: #666;
}
.common-form li .tips-normal {
	position: absolute;
	top: 50%;
	left: 162px;
	height: 20px;
	line-height: 20px;
	margin-top: -10px;
	color: #c8c8c8;
    font-size:12px;
}
.common-form li .tips-normal.tips_pos{
    left:295px;
}
.common-form .panelCenter .tips-normal{
    left:132px;
}
.common-form li .tips-check {
	position: relative;
	display: none;
	padding-left: 20px;
	font-size: 12px;
	line-height: 36px;
}
.common-form li .tips-check .icon {
	position: absolute;
	left: 0px;
	top: 50%;
	width: 13px;
	height: 13px;
	margin-top:-6px;
}
.common-form li.ok .tips-check {
	display: inline;
	color: #8dc21f;
}
.common-form li.ok .tips-check .icon {
	background: url("../images/icon.png") no-repeat 0 -84px;
}
.common-form li.error .tips-check {
	display: inline;
	color: #CB3849;
}
.common-form li.error .tips-check .icon {
	background: url("../images/icon.png") no-repeat 0 -97px;
}
.common-form li a.find {
	color: #cb3849;
	font-size: 12px;
	margin-right: 20px;
}
.common-form li label.tips {
	font-size: 12px;
}
.common-form .anotherArea p{
    color:#808080;
}
.bgFFF.common-form li input.input-text{
    width:196px;
}
.bgFFF.common-form li .tips-normal{
    left:162px;
}
.bgFFF .num{
    z-index:1000;
    z-index:1000\9;
}  
.bgFFF .input-select .bank img{
    top:0;
    margin:0;
    height:30px;
}
.cardFormat{
	position:relative;
	height:32px;
	display:inline-block;
	*display:inline;
	*zoom:1;
}
.cardFormat b{
	position:absolute;
	left:0;top:0;
	color:#999;
	padding:0 8px;
	cursor:text;
	line-height:32px;
	font-weight:normal;
}
.cardFormat input{
	width:198px;
	font-size:12px;
	height:30px;
	line-height:30px\9;
	padding:0 10px;
	border:1px solid #cacaca;
	background:none;
	margin:0;
	outline:none;
	vertical-align:middle;
	font-family:\5FAE\8F6F\96C5\9ED1;
	color:#878787;
}
.cardFormat .num{
	position:absolute;
	left:0;
    *+margin-left:15px;
	*margin-top:1px;
	padding:0 10px;
	display:none;
	background:#e4f1f7;
	line-height:30px;
	font-size:16px;
	color:#878787;
	border:1px solid #9bcbdd;
    z-index:1000;
    z-index:1000\9;
}
.bgFFF .cardFormat .num{
    width:200px!important;
}
.trip{
	display:inline-block;
	*display:inline;
	zoom:1;
	width:13px;height:13px;
	background:url(../images/4.png) no-repeat 0 50%;
	position:relative;
	vertical-align:middle;
	margin-left:5px;
}
.trip div{
	display:none;
	width:115px;
	position:absolute;
	right:-18px;
	bottom:22px;
	border:1px solid #9bcbdd;
	padding:5px;
	background:#fff;
	line-height:1.5;
	font-size:12px;
	color:#888;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
	text-align:left;
}
.trip:hover div{
	display:block;
}
.trip div b{
	width:11px;height:7px;
	overflow:hidden;
	position:absolute;
	bottom:-7px;right:20px;
	background:url(../images/5_01.png) no-repeat;
}
.fontP #ufbFast, .fontP #uftName{
    color:#999;
    font-size:12px;
}
/*settingCardAdd.html end*/

/*common.css中的footer*/
.MainFoot{
    width:100%;
    background:#202231;
    overflow:hidden;
    padding:40px 0;
}
.MainFoot dl{
    overflow:hidden;
    float:left;
    width:25%;
}
.MainFoot dt{
    font-size:18px;
    color:#fff;
    font-weight:bold;
    margin-bottom:30px;
}
.MainFoot dd{
    font-size:12px;
    color:#808080;
    line-height:18px;
}
.MainFoot .code{
    width:140px;
    height:140px;
    float:right;
}
.MainFoot .code img{
    width:100%;
}
.MainFoot dd a:hover{
    color:#fff;
}

.LowFoot{
    width:100%;
    background:#202231;
    overflow:hidden;
    border-top:1px solid #65656a;
}
.LowFoot .contentFoot{
    text-align:center;
    font-size:12px;
    color:#808080;
    height:60px;
    line-height:60px;
}
/*common.css中的footer*/


/*侧边悬浮条*/
.sideFixed{
	position:fixed;
	right:0px;top:50%;
	z-index:99;
	height:328px;
	margin-top:-164px;
	width:40px;
}
.sideFixed a{
	display:block;
	width:40px;height:34px;
	background-color:#7a6e6e;
	border-bottom:1px solid #fff;
	color:#fff;
	text-align:center;
	padding-top:6px;
}
.sideFixed a:hover{
	background-color:#cb3849;
}
.sideFixed .a1{
	margin-bottom:40px;
}
.sideFixed .a1 a:first-child{
	background-image:url(../images/4.png);
	background-repeat:no-repeat;
	background-position:50% 50%;
	position:relative;
}
.sideFixed .a1 a:first-child div{
	position:absolute;
	top:0;right:48px;
	height:38px;
	line-height:38px;
	white-space:nowrap;
	padding:0 10px;
	background:#fff;
	color:#808080;
	border:1px solid #e3e3e3;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
	display:none;
}
.sideFixed .a1 a:first-child:hover div{
	display:block;
}
.sideFixed .a1 a:first-child div b{
	position:absolute;
	top:50%;right:-5px;
	margin-top:-4px;
	width:5px;height:8px;
	background:url(../images/5.png) no-repeat;
}
.sideFixed .a2 a.b1{
	background-image:url(../images/6.png);
	background-repeat:no-repeat;
	background-position:50% 50%;
}
.sideFixed .a2 a.b2{
	background-image:url(../images/7.png);
	background-repeat:no-repeat;
	background-position:50% 50%;
	position:relative;
}
.sideFixed .a2 a.b2 div{
	position:absolute;
	bottom:0;right:43px;
	width:102px;height:119px;
	background:url(../images/8.png) no-repeat;
	display:none;
}
.sideFixed .a2 a.b2:hover div{
	display:block;
}








