@charset "UTF-8";
/* Header Public */
#header{
    position: relative;
    text-align: center;
}
#header {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #dbdcdc;
    height: 108px;
    z-index: 30;
}
#header .container {
    height: 80px;
}


#header .topNav {
    background: #3e3a39 none repeat scroll 0 0;
    height: 28px;
}
#header .topNav .b1 {
    float: left;
    width: 50%;
}
#header .topNav .b1 a {
    color: #fff;
    line-height: 28px;
    margin-right: 10px;
}
#header .topNav a {
    color: #29abe2;
    text-decoration: none;
}
#header .topNav .b1 .active, .topNav .b1 a:hover {
    color: #29abe2;
}
#header .topNav .b1 a {
    color: #fff;
    line-height: 28px;
    margin-right: 10px;
}
#header .topNav a {
    color: #29abe2;
    text-decoration: none;
}
#header .topNav .b2 {
    margin-left: 500px;
    text-align: right;
}
#header .topNav .b2 span {
    color: #fff;
    display: inline-block;
    line-height: 28px;
    padding-left: 15px;
}
#header .topNav .b2 a.c1 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    width: auto;
}
#header .topNav a {
    color: #29abe2;
    text-decoration: none;
}
#header .topNav .b2 a.quit {
    color: #eee;
    margin: 0 0 0 10px;
}
#header .topNav a {
    color: #29abe2;
    text-decoration: none;
}



#header .container {
	background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: left;
    width: 960px;
	height: 80px !important;
}

#header .container .logo {
    background: rgba(0, 0, 0, 0) url("../images/1.png") no-repeat scroll 0 0;
    font-size: 26px;
    height: 43px;
    position: absolute;
    top: 20px;
    width: 98px;
}
#header .container a {
    color: #29abe2;
    text-decoration: none;
}
#header .container .nav {
    bottom: 12px;
    font-size: 16px;
    position: absolute;
    right: 0;
}
#header .container .nav  a {
    border-bottom: 2px solid #fff;
    color: #666;
    float: left;
    margin-left: 35px;
    padding-bottom: 5px;
}
#header .container .nav a{
    color: #666;
    text-decoration: none;
}
#header .container .nav a:hover, .nav a.active {
    border-bottom: 2px solid #cb3849;
	color: #cb3849;
}

#header .container .nav a.active {
    border-bottom: 2px solid #cb3849;
    color: #cb3849;
}

