<!DOCTYPE html>
<html>
#parse("control/common/head_2.vm")
<body>	
<div class="container">
#parse("control/common/header_0_error.vm")
$body
#parse("control/common/footer_0.vm")
</div>
$!{script}
</body>
</html>