<!DOCTYPE html>
<html>
#parse("control/common/head.vm")
<body>	
<div class="container center">
#parse("control/common/header.vm")
$body
#parse("control/common/footer1.vm")
</div>
$!{script}
</body>
</html>