<!DOCTYPE html>
<html>
#parse("control/common/head_1.vm")
<body>	
<div class="page">
<div class="main">
	<section class="loadmain">
	#parse("control/common/header_1.vm")
	$body
	</section>
</div>
#parse("control/common/slider_1.vm")
</div>
$!{script}
</body>
</html>