<!DOCTYPE html>
<html>
<head>
<!--
<title>幼富通 - 注册</title>
-->
<script>
$(function(){
	//家庭、经办人注册开户
	var invtp_org = $("#invtp_org").val();
	var invtp_family = $("#invtp_family").val();
	if(invtp_org == "1"){
		var tab = $(".tab-org");
		var panels = $(".register-panels .panel");
    	tab.addClass("on").siblings().removeClass("on");
    	panels.addClass("slide-out").eq(1).removeClass("slide-out");
	}
	if(invtp_family == "0"){
		var tab = $(".tab-family");
		var panels = $(".register-panels .panel");
    	tab.addClass("on").siblings().removeClass("on");
    	panels.addClass("slide-out").eq(0).removeClass("slide-out");
	}
	
	// 家庭手机短信
	$("#register-family #btn-getMsgCode").on("click",function(){
	
		if(!check_mobile($("#register-family #mobileno"))){
			return false;
		}
		if(!check_code($("#register-family #verifycode"))){
			return false;
		}
        $.ajax({
     		type: "GET",
    		url: "../ajaxcust/getMsgCode.ajax",
    		data: {
				mobileno: $("#register-family #mobileno").val(),
				verifycode: $("#register-family #verifycode").val()
    		},
    		dataType: "json",
    		success: function(b) {
                if (b.errCode == "0000") {
					alert("手机验证码已发送");
					// 倒计时
					var count = 60;
            		var countdown = setTimeout(countDown, 1000);
            		$("#register-family #btn-getMsgCode").addClass("off");
            		$("#register-family #btn-getMsgCode").attr("disabled","disabled");
            		// TODO
					$("#register-family #msgcode").val(b.TODO);
            		$("#register-family #msgcode").siblings(".tips-normal").hide();
					//
            		function countDown() {
            			$("#register-family #btn-getMsgCode").prop("disabled", true); 
            			$("#register-family #btn-getMsgCode").val("等待" + count + "秒!"); 
            			if (count == 0) { 
            				$("#register-family #btn-getMsgCode").val("重新发送"); 
            				$("#register-family #btn-getMsgCode").removeClass("off");
            				$("#register-family #btn-getMsgCode").removeAttr("disabled"); 
            				clearTimeout(countdown); 
            			}else{
            				count--; 
            				setTimeout(countDown, 1000);
            			}
            		}
					//
                } else {
                  	var errCode = b.errCode;
					var errMsg = b.errMsg;
					//alert(errCode + ": " + errMsg);
					if("errMsg_mobileno"==errCode){
						$("#register-family #errMsg_mobileno_family").removeClass("ok").addClass("error");
						$("#register-family #errMsg_mobileno_family > .tips-check").html("<i class=icon></i>" + errMsg);
					}else 
					if("errMsg_verifycode"==errCode){
						$("#register-family #errMsg_verifycode_family").removeClass("ok").addClass("error");
						$("#register-family #errMsg_verifycode_family > .tips-check").html("<i class=icon></i>" + errMsg);
					}else{
						alert(errMsg);
					}
					var src = $("#register-family #btn-verifycode").attr("src");
					$("#register-family #btn-verifycode").attr("src",src +'?time='+(new Date()));
                }
        	}
        });
	});

	// 经办人手机短信
	$("#register-org #btn-getMsgCode").on("click",function(){
		if(!check_mobile($("#register-org #mobileno"))){
			return false;
		}
		if(!check_code($("#register-org #verifycode"))){
			return false;
		}
	
        $.ajax({
     		type: "GET",
    		url: "../ajaxcust/getMsgCode.ajax",
    		data: {
				mobileno: $("#register-org #mobileno").val(),
				verifycode: $("#register-org #verifycode").val()
    		},
    		dataType: "json",
    		success: function(b) {
                if (b.errCode == "0000") {
					alert("手机验证码已发送");
					// 倒计时
					var count = 60;
            		var countdown = setTimeout(countDown, 1000);
            		$("#register-org #btn-getMsgCode").addClass("off");
            		$("#register-org #btn-getMsgCode").attr("disabled","disabled");
            		// TODO
					$("#register-org #msgcode").val(b.TODO);
            		$("#register-org #msgcode").siblings(".tips-normal").hide();
					//
            		function countDown() {
            			$("#register-org #btn-getMsgCode").prop("disabled", true); 
            			$("#register-org #btn-getMsgCode").val("等待" + count + "秒!"); 
            			if (count == 0) { 
            				$("#register-org #btn-getMsgCode").val("重新发送"); 
            				$("#register-org #btn-getMsgCode").removeClass("off");
            				$("#register-org #btn-getMsgCode").removeAttr("disabled"); 
            				clearTimeout(countdown); 
            			}else{
            				count--; 
            				setTimeout(countDown, 1000);
            			}
            		}
					//
                } else {
                  	var errCode = b.errCode;
					var errMsg = b.errMsg;
					//alert(errCode + ": " + errMsg);
					if("errMsg_mobileno"==errCode){
						$("#register-org #errMsg_mobileno_org").removeClass("ok").addClass("error");
						$("#register-org #errMsg_mobileno_org > .tips-check").html("<i class=icon></i>" + errMsg);
					}else 
					if("errMsg_verifycode"==errCode){
						$("#register-org #errMsg_verifycode_org").removeClass("ok").addClass("error");
						$("#register-org #errMsg_verifycode_org > .tips-check").html("<i class=icon></i>" + errMsg);
					}else{
						alert(errMsg);
					}
					var src = $("#register-org #btn-verifycode").attr("src");
					$("#register-org #btn-verifycode").attr("src",src +'?time='+(new Date()));
                }
        	}
        });
	});
	
	//家庭注册按钮
	$("#btn-family").on("click",function(){
	
		if(!check_mobile($("#register-family #mobileno"))){
			return false;
		}
		if(!check_phoneCode($("#register-family #msgcode"))){
			return false;
		}
		if(!check_pwd1($("#register-family #loginpwd"))){
			return false;
		}
		if(!check_pwd2($("#register-family #loginpwd2"))){
			return false;
		}
		var errLen = $("#register-family ul li.error").length;
		if(errLen>0){
			$("ul li.error:eq(0) input[type=text]").focus();
			$("ul li.error:eq(0) input[type=password]").focus();
		}else{
			$("#register-family").submit();
		}
	});
	
	//经办人注册按钮
	$("#btn-org").on("click",function(){
	
		if(!check_mobile($("#register-org #mobileno"))){
			return false;
		}
		if(!check_phoneCode($("#register-org #msgcode"))){
			return false;
		}
		if(!check_pwd1($("#register-org #loginpwd"))){
			return false;
		}
		if(!check_pwd2($("#register-org #loginpwd2"))){
			return false;
		}
		if(!check_organization($("#register-org #orgnm"))){
			return false;
		}
		if(!check_business($("#register-org #orgbusiness"))){
			return false;
		}
		var errLen = $("#register-org ul li.error").length;
		if(errLen>0){
			$("ul li.error:eq(0) input[type=text]").focus();
			$("ul li.error:eq(0) input[type=password]").focus();
		}else{
			$("#register-org").submit();
		}
	});
});
</script>
</head>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form" %>
<body>
<div class="container">
    <!--header-->
    <div class="body">
        <div class="inner container-register">
            <div class="register-tabs tabs clearfix">
                <a class="tab tab-family fl" href="javascript:;"><span class="trans">家庭注册</span></a>
                <a class="tab tab-org fl on" href="javascript:;"><span class="trans">幼教机构注册</span></a>
            </div>
            <div class="register-panels panels">
                <div class="panel panel-family slide-out">
                    <form id="register-family" action="${staticDomain}/register/family.htm" id="register-family" class="common-form form-register" method="post" >
    				<input id="invtp_family" type="hidden" name="invtp" value="$!{CustinfoVo_family.invtp}"/>
						<ul>
							<li id="errMsg_mobileno_family"
                            #if($errMsg_mobileno_family)
                            class="error"
                            #end
                            >
                                <span class="form-title">手机号</span>
                                <input id="mobileno" name="mobileno" class="ipt-phoneNum input-text" maxlength="11" type="text" value="$!{CustinfoVo_family.mobileno}">
                                <span class="tips-normal">请输入手机号</span>
                                <span class="tips-check"><i class="icon"></i>$!{errMsg_mobileno_family}</span>
                            </li>
							<li id="errMsg_verifycode_family"
                            #if($errMsg_verifycode_family)
                            class="error"
                            #end
                            >
                                <span class="form-title">验证码</span>
                                <input id="verifycode" name="verifycode" class="ipt-code input-code" maxlength="4" type="text" value="$!{CustinfoVo_family.verifycode}">
                                <span class="tips-normal">请输入验证码</span>
    							<span class="form-verifyCode">
    								<img id="btn-verifycode" src="${staticDomain}/createImageservlet"+"?time="+(+new Date())" onclick="javascript:this.src=this.src+'?time='+(+new Date())"/>
    							</span>
                                <span class="tips-check"><i class="icon"></i>$!{errMsg_verifycode_family}</span>
                            </li>
							<li id="errMsg_msgcode_family"
                            #if($errMsg_msgcode_family)
                            class="error"
                            #end
                            >
                                <span class="form-title">手机验证码</span>
                                <input id="msgcode" name="msgcode" class="ipt-phoneCode input-code" maxlength="6" type="text" value="$!{CustinfoVo_family.msgcode}">
                                <input id="btn-getMsgCode" class="input-button" type="button" value="获取验证码">
                                <span class="tips-normal">6位验证码</span>
                                <span class="tips-check"><i class="icon"></i>$!{errMsg_msgcode_family}</span>
                            </li>
							<li id="errMsg_pswpwd_family"
                            #if($errMsg_pswpwd_family)
                            class="error"
                            #end
                            >
                                <span class="form-title">设置新密码</span>
                                <input id="loginpwd" name="loginpwd" class="ipt-password1 input-text" maxlength="20" type="password" value="$!{CustinfoVo_family.loginpwd}">
                                <span class="tips-normal">6-20个大小写英文字母、符号或数字</span>
                                <span class="tips-check"><i class="icon"></i>$!{errMsg_pswpwd_family}</span>
                            </li>
							<li id="errMsg_pswpwd2_family"
                            #if($errMsg_pswpwd2_family)
                            class="error"
                            #end
                            >
                                <span class="form-title">确认新密码</span>
                                <input id="loginpwd2" name="loginpwd2" class="ipt-password2 input-text" maxlength="20" type="password" value="$!{CustinfoVo_family.loginpwd2}">
                                <span class="tips-normal">请再次输入密码</span>
                                <span class="tips-check"><i class="icon"></i>$!{errMsg_pswpwd2_family}</span>
                            </li>
                            <li>
                                <label>点击注册表示同意<a href="javascript:;">《幼富通用户注册协议》</a></label>
                            </li>
                            <li>
								<input id="btn-family" class="ipt-submit input-button ok" type="button" value="注&nbsp;册">
							</li>
                        </ul>
                    </form>
                </div>
                <div class="panel panel-org slide-on">
                    <form method="post" action="${staticDomain}/register/org.htm" id="register-org" class="common-form form-register">
    					<input id="invtp_org" type="hidden" name="invtp" value="$!{CustinfoVo_org.invtp}"/>
    					<ul>
                            <li id="errMsg_mobileno_org"
                            #if($errMsg_mobileno_org)
                            class="error"
                            #end
                            >
                                <span class="form-title">经办人手机号</span>
                                <input id="mobileno" name="mobileno" class="ipt-phoneNum input-text" maxlength="11" type="text" value="$!{CustinfoVo_org.mobileno}">
                                <span class="tips-normal">请输入手机号</span>
                                <span class="tips-check"><i class="icon"></i>$!{errMsg_mobileno_org}</span>
                            </li>
                            <li id="errMsg_verifycode_org"
                            #if($errMsg_verifycode_org)
                            class="error"
                            #end
                            >
                                <span class="form-title">验证码</span>
                                <input id="verifycode" name="verifycode" class="ipt-code input-code" maxlength="4" type="text" value="$!{CustinfoVo_org.verifycode}">
                                <span class="tips-normal">请输入验证码</span>
    							<span class="form-verifyCode">
    								<img id="btn-verifycode" src="${staticDomain}/createImageservlet"+"?time="+(+new Date())" onclick="javascript:this.src=this.src+'?time='+(+new Date())"/>
    							</span>
                                <span class="tips-check"><i class="icon"></i>$!{errMsg_verifycode_org}</span>
                            </li>
                            <li id="errMsg_msgcode_org"
                            #if($errMsg_msgcode_org)
                            class="error"
                            #end
                            >
                                <span class="form-title">手机验证码</span>
                                <input id="msgcode" name="msgcode" class="ipt-phoneCode input-code" maxlength="6" type="text" value="$!{CustinfoVo_org.msgcode}">
                                <input id="btn-getMsgCode" class="input-button" type="button" value="获取验证码">
                                <span class="tips-normal">6位验证码</span>
                                <span class="tips-check"><i class="icon"></i>$!{errMsg_msgcode_org}</span>
                            </li>
                            <li id="errMsg_pswpwd_org"
                            #if($errMsg_pswpwd_org)
                            class="error"
                            #end
                            >
                                <span class="form-title">设置新密码</span>
                                <input id="loginpwd" name="loginpwd" class="ipt-password1 input-text" maxlength="20" type="password" value="$!{CustinfoVo_org.loginpwd}">
                                <span class="tips-normal">6-20个大小写英文字母、符号或数字</span>
                                <span class="tips-check"><i class="icon"></i>$!{errMsg_pswpwd_org}</span>
                            </li>
                            <li id="errMsg_pswpwd2_org"
                            #if($errMsg_pswpwd2_org)
                            class="error"
                            #end
                            >
                                <span class="form-title">确认新密码</span>
                                <input id="loginpwd2" name="loginpwd2" class="ipt-password2 input-text" maxlength="20" type="password" value="$!{CustinfoVo_org.loginpwd2}">
                                <span class="tips-normal">请再次输入密码</span>
                                <span class="tips-check"><i class="icon"></i>$!{errMsg_pswpwd2_org}</span>
                            </li>
    						<li id="errMsg_organization_org"
                            #if($errMsg_organization_org)
                            class="error"
                            #end
                            >
    							<span class="form-title">幼教机构名称</span>
    							<input id="orgnm" name="orgnm" class="ipt-organization input-text" maxlength="28" type="text" value="$!{CustinfoVo_org.orgnm}">
    							<span class="tips-normal">请按照营业执照填写</span>
                                <span class="tips-check"><i class="icon"></i>$!{errMsg_organization_org}</span>
                            </li>
                            <li id="errMsg_business_org"
                            #if($errMsg_business_org)
                            class="error"
                            #end
                            >
    							<span class="form-title">营业执照注册号</span>
    							<input id="orgbusiness" name="orgbusiness" class="ipt-business input-text" maxlength="28" type="text" value="$!{CustinfoVo_org.orgbusiness}">
    							<span class="tips-normal">请按照营业执照填写</span>
                                <span class="tips-check"><i class="icon"></i>$!{errMsg_business_org}</span>
                            </li>
                            <li>
    							<label>点击注册表示同意<a href="javascript:;">《幼富通用户注册协议》</a></label>
                            </li>
                            <li>
    							<input id="btn-org" class="ipt-submit input-button ok" type="button" value="注&nbsp;册">
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
	<!--footer 2行-->
</div>
<script src="${staticDomain}/js/scripts/load.js"></script>
<script src="${staticDomain}/js/scripts/register.js"></script>
</body>
</html>