<form class="regist_form" action="../register/register_person.htm">
<script type="text/javascript" src="../js/register.js"></script>
<script type="text/javascript" src="../js/JSEncrypt.js"></script>
<script type="text/javascript">
	//var no3wUrl="yhd.com";
	//var currSiteId = 1;
	var URLPrefix = {
		"mymall":"http://my.1mall.com",
		"passport_statics":"https://passport.yhd.com/front-passport/passport",
		"yiwangauth":"http://mall.yiwang.cn",
		"yaowang":"http://www.111.com.cn",
		"tracker":"tracker.yhd.com",
		"passport":"https://passport.yhd.com",
		"my":"http://my.yhd.com",
		"central":"http://www.yhd.com",
		"validCodeShowUrl":"https://captcha.yhd.com/public/validcode.do",
		"mall":"http://www.1mall.com",
		"passportother":"https://passport.1mall.com"};
	//var yhdUrl="http://www.yhd.com";
    //var yhdPassportUrl="https://passport.yhd.com";
    //var ywPassportUrl="https://passport.111.com.cn";
    //var loli = window['loli'] || {};
    var valid_code_service_flag="1"; 
	</script>
<style>
.regist_form li.cur_error {
    z-index: 101;
}

.regist_form li.cur_error .form_item {
    border: 1px solid #ff4646;
}

.regist_form li.cur_error .regist_tips_error {
    display: block;
}
</style>
<div>
<ul class="clearfix">
  <li>
    <div class="form_item">
      <label>手机号：</label>
      <!--请输入手机号码-->
      <input type="text" name="phone" class="ipt ipt_phone" value="18616502181" id="phone" 
        onkeyup="showoff('phone_desc')" onfocus="hideOtherTips('phone')">
    </div>
    <div class="tips_box regist_tips" id="phone_tip">
	  <u></u>请填写正确的手机号码，以便 接收订单通知，找回密码等。
    </div>
    <div class="tips_box regist_tips_error" id="phone_error"></div>
    <div class="tips_box username_ok" id="phone_desc"></div>
  </li>
  
  <li class="clearfix recv_mobile_code">
  	<div class="code_wrap">
    	<div class="mb_code_box" style="left: -350px;">
        <div class="form_item">
            <label>验证码：</label>
            <input type="text" class="ipt gay_text ipt_phonecode" value="6位验证码" 
              id="validPhoneCode" onkeydown="showoff('validPhoneCode_wrong');" maxlength="6">
            <span class="code_right" id="validPhoneCode_right"></span>
            <span class="code_wrong" id="validPhoneCode_wrong" style="display:none"></span>
    		</div>
        <a href="javascript:" tabindex="-1" class="receive_code reacquire_code">获取验证码</a>
        <div class="form_item form_item2">
            <input type="text" tabindex="-1" 
              id="validCodeMobile" class="ipt gay_text ipt_code" value="验证码" 
            	maxlength="4" 
            	onblur="javascript: checkValidCodeOnBlurForMobileRegister()" 
            	onkeyup="javascript: checkRegisterParamForMobile();" 
            	onfocus="javascript: checkValidCodeOnFocusForMobileRegister()">
            <span class="code_right" id="m_code_right" style="display:none"></span>
            <span class="code_wrong" id="m_code_wrong"></span>
        </div>
        <span class="check_code">
          <img name="valid_code_pic" 
            src="">
            <!--https://captcha.yhd.com/public/validcode.do?t=0.6717095049098134-->
          <i class="btn_change" tabindex="-1" 
            onclick="refresh_valid_code();return false;">换一张</i>
        </span>
      </div>
    </div>
    <div id="mobile_validcode_error" class="tips_box">
    	<u></u><p></p>
    </div>
  </li>
  
  <li>
    <div class="form_item">
      <label>设置密码：</label>
      <input type="text" class="ipt gay_text" name="pwd" value="6-20个大小写英文字母、符号或数字">
      <input type="password" class="ipt password none"
        id="password_mobile" name="user.password" 
        oncopy="return false;" oncut="return false;" onpaste="return false;" 
        onblur="checkPasswordOnBlur('password_mobile');" 
        onfocus="passwordOnFocus('password_mobile');" 
        onkeyup="changePassStrong('password_mobile');">
    </div>
    <div class="tips_box regist_tips_error" id="password_mobile_error"></div>
    <div class="tips_box paswd_strength" id="password_mobile_Level">
    	<i id="arrow_mobile" style="-webkit-transform: rotate(0deg);"></i>
    </div>
    </div>
  </li>
  <li>
    <div class="form_item">
      <label>确认密码：</label>
      <!--请再次输入密码-->
      <input type="text" class="ipt gay_text" name="pwd" value="">
      <input type="password" class="ipt password none" 
        id="password_mobile2" name="password2" 
        readonly="readonly" 
        style="background-color: rgb(192, 193, 196);">
      <div class="tips_box regist_tips_error" id="password_mobile2_error"></div>
	  <div class="tips_box username_ok" id="password_mobile2_desc"></div>
    </div>
  </li>
  
  <li class="regist_btn">
  	<!--javascript:document.forms[0].submit();return false;-->
    <button type="button" onclick="checkPhoneOnBlur()">注册</button>
  </li>
   
</ul>
</div>
</form>
<script>
	//alert($("#phone").val());
	

	
	function showPhoneError(a) {
		//a is a message	
	    jQuery("#phone_tip").hide();
	    showErrorInfo("phone_error", a)
	    alert("showErrorInfo");
	}
	

	function checkPhoneOnBlur() {
		registerByPhoneSubmit();
		return;
	    var a = check_phone();
	    if (a == 1) {
	        showPhoneError("不能为空")
	    } else {
	        if (a == 2) {
	            showPhoneError("格式错误，请输入正确的手机号码")
	        } else {
	            Jquery.ajax({type: "GET",
	            		url: "../ajaxcust/is_mobile_register.htm",
	            		data: {
	            			mobileno: $("#phone").val()
	            			},
	            		dataType: "json",
	            		success: function(b) {
		                    if (b.errCode == "0000") {
		                        jQuery("#phone_tip").hide();
		                        $("#phone_desc").css("display", "block");
		                        jQuery("#phone").parents("li").removeClass("cur_error")
		                    } else {
		                        if (b.errCode == "9999") {
		                        	showPhoneError(b.errMsg)
		                            //showPhoneError("该手机号已存在，<a href='/passport/login_input.do'>登录</a>")
		                        }
		                    }
	                	}
	                	})
	        }
	    }
	}

   	function showoff(b) {
		var a = b.split("_");
	    if (a[0] != "password") {
	        jQuery("#" + a[0] + "_error").hide();
	        jQuery("#" + a[0] + "_tip").show()
	    }
	    jQuery("#" + b + "").hide()
	}
	
	function hideOtherTips(a) {
	    if (jQuery("#" + a + "").val() == "") {
	        jQuery("#" + a + "_error").hide();
	        jQuery("#" + a + "_tip").show()
	    }
	    jQuery("#" + a + "").parents("li").removeClass("cur_error")
	}
    $(function () {
    });
    
    
    
    //mine
    function checkPhone() {
		var a = check_phone();
	    if (a == 1) {
	        showPhoneError("不能为空")
	    } else {
	        if (a == 2) {
	            showPhoneError("格式错误，请输入正确的手机号码")
	        } else {
	            Jquery.ajax({type: "GET",
	            		url: "../ajaxcust/is_mobile_register.htm",
	            		data: {
	            			mobileno: $("#phone").val()
	            			},
	            		dataType: "json",
	            		success: function(b) {
		                    if (b.errCode == "0000") {
		                        jQuery("#phone_tip").hide();
		                        $("#phone_desc").css("display", "block");
		                        jQuery("#phone").parents("li").removeClass("cur_error")
		                    } else {
		                        if (b.errCode == "9999") {
		                        	showPhoneError(b.errMsg)
		                            //showPhoneError("该手机号已存在，<a href='/passport/login_input.do'>登录</a>")
		                        }
		                    }
	                	}
	                	})
	        }
	    }
	}
	
	jsRegistFed.loadFunRegist();
	$(document).ready(function(){
		//loadImageUrl("2","Passport_Register_Ad_Click");
	});
	jsRegistFed.mobileRecvCodeLeft = 0;
	jsRegistFed.mobileValidCodeLeft = -350;
	jsRegistFed.showMobileValidCode();
    
</script>
