<!DOCTYPE html>
<html>
<head>
<!--
<title>幼富通 - 注册成功</title>
-->
<script>
$(function(){
});
</script>
</head>
<body>
<div class="container">
<!--header-->
<div class="body">
    <div class="inner container-register rel">
		<form id="form-login" method="post" action="${staticDomain}/cust/session.htm">
        <div class="form-done">
            <div class="title">注册成功</div>
            <a id="btn-login" class="btn" href="${staticDomain}/cust/session.htm">进入幼富通</a>
        </div>
		</form>
    </div>
</div>
<!--footer-->
</div>
</body>
</html>
