<!DOCTYPE html>
<html>
<head>
<!--
<title>幼富通 - 账户管理 - 银行卡管理</title>
-->
<script>
$(function(){

	$("#container").removeClass("setting");

	// 表单提交时，验证	
	$("#submit").on("click", function(){
		if(!check_cash($("#autoamt"))){
			return false;
		}
		$(".common-form").attr("action","../setting/addAutoTradeSubmit.htm");
	});
});
</script>
</head>
<body>
<div class="body">
    <div class="inner clearfix">
        <div class="title clearfix">
            <h2 class="title-main fl">账户管理 | 新增自动充值计划</h2>
        </div>
        <div class="notice"></div>
        
        <div class="form-payInto">
            <form class="common-form" action="${ufbDomain}/setting/addAutoTradeSubmit.htm" method="post">
				</br>custno: <input id="custno" name="custno" value="${AutoTradeVo.custno}" type="text"/>
				</br>frombankserialid: <input id="frombankserialid" name="frombankserialid" value="${AutoTradeVo.frombankserialid}" type="text"/>
				</br>tofundcorpno: <input id="tofundcorpno" name="tofundcorpno" value="${AutoTradeVo.tofundcorpno}" type="text"/>
				</br>tofundcode: <input id="tofundcode" name="tofundcode" value="${AutoTradeVo.tofundcode}" type="text"/>

				</br>tradetype: <input id="tradetype" name="tradetype" value="${AutoTradeVo.tradetype}" type="text"/>
				</br>tochargetype: <input id="tochargetype" name="tochargetype" value="${AutoTradeVo.tochargetype}" type="text"/>
				</br>type: <input id="type" name="type" value="${AutoTradeVo.type}" type="text"/>
				</br>cycle: <input id="cycle" name="cycle" value="${AutoTradeVo.cycle}" type="text"/>
				</br>dat: <input id="dat" name="dat" value="${AutoTradeVo.dat}" type="text"/>
				</br>nextdate: <input id="nextdate" name="nextdate" value="${AutoTradeVo.nextdate}" type="text"/>
				</br>autoamt: <input id="autoamt" name="autoamt" value="${AutoTradeVo.autoamt}" type="text"/>
				</br>summary: <input id="summary" name="summary" value="${AutoTradeVo.summary}" type="text"/>
				<ul>
                    <li>
                        <span class="form-title">交易密码</span>
                        <input id="tradePwd" name="tradePwd" class="input-text" maxlength="20" type="password" value="">
						<a class="find" href="${staticDomain}/setting/settingPassword.htm">忘记密码?</a>
                        <span class="tips-normal"></span>
                        <span id="tradePwdTips" class="tips-check"><i class="icon"></i>验证提示</span>
                    </li>
                    <li>
                        <input id="submit" class="input-button ok" type="submit" value="充&nbsp;值">
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
<script src="${staticDomain}/js/scripts/load.js"></script>
<script src="${staticDomain}/js/scripts/register.js"></script>
<script src="${staticDomain}/js/ufuCommon.js"></script>
</body>
</html>