<!DOCTYPE html>
<html>
<head>
<!--
<title>幼富通 - 开通结果</title>
-->
<script>
$(function(){

});
</script>
</head>
<body>
<div class="body">
    <div class="inner container-step">
        <div class="step-title clearfix">自动取现设置<a class="link link-underline fr" href="${staticDomain}/setting/autoTrade_index.htm">&lt;&lt;自动取现计划</a></div>
        <div class="step-tabs tabs-step3 clearfix">
            <a class="tab fl" href="javascript:;">自动取现</a>
            <a class="tab fl" href="javascript:;">预览自动取现计划</a>
            <a class="tab fl on" href="javascript:;">开通结果</a>
        </div>
        <div class="step-panels">
            <div class="panel">
                <div class="form-done">
                    <div class="title">你的自动取现计划已开通</div>
                    <div class="text">
					 
                    </div>
                    <a class="btn" href="${staticDomain}/setting/autoTrade_index.htm">查看自动取现计划</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${staticDomain}/js/scripts/load.js"></script>
</body>
</html>