<!DOCTYPE html>
<html>
<head>
<!--
<title>幼富通 - 账户管理 - 自动理财设置</title>
-->
<script>
$(function(){
	$(".btn-autoTrade-update").on("click", function(){
		$("#autoid").val($(this).attr("autoid"));
		$("#frombankserialid").val($(this).attr("frombankserialid"));
		
		$("#form-autoTrade-index").attr("action", "../setting/autoTrade_update.htm");
		$("#form-autoTrade-index").submit();
	});
	
	$(".btn-autoTrade-pause").on("click", function(){
		$("#autoid").val($(this).attr("autoid"));
		$("#frombankserialid").val($(this).attr("frombankserialid"));
		
		$("#form-autoTrade-index").attr("action", "../setting/autoTrade_pause.htm");
		$("#form-autoTrade-index").submit();
	});
	
	$(".btn-autoTrade-stop").on("click", function(){
		$("#autoid").val($(this).attr("autoid"));
		$("#frombankserialid").val($(this).attr("frombankserialid"));
		
		$("#form-autoTrade-index").attr("action", "../setting/autoTrade_pause.htm");
		$("#form-autoTrade-index").submit();
	});
});
</script>
</head>
<body>
    <div class="body">
		<form id="form-autoTrade-index" action="${ufbDomain}/setting/autoTrade_index.htm" method="post">
		<input id="autoid" name="autoid" value="" type="hidden"/>
		<input id="frombankserialid" name="frombankserialid" value="" type="hidden"/>
		
        <div class="inner clearfix">
            <div class="title">
                <h2 class="title-main">自动理财设置</h2>
            </div>
            <div class="main" style="width:960px;margin-bottom:20px">
                <div class="setting-content content-autoFund">
					 <div class="autoFund-title">
						<span class="on">自动充值计划<i class="loginTri"></i></span>
						<span class="">自动取现计划<i class=""></i></span>
					 </div>
                    <!-- 自动充值-->
                    <div class="FundList01 FundList">
                       <div class="item-title">进行中<a href="${staticDomain}/setting/autoTrade_add.htm" class="link">添加自动充值计划</a>
					</div>
					   
					   
					<!--
                    <div class="autoFund-title">自动充值计划</div>
                    <div class="item-title">进行中<a href="${staticDomain}/setting/autoTrade_add.htm" class="link">添加自动充值计划</a></div>
					-->
					
                    <ul class="autoFund-list">
						#if($LIST.size()!=0)
						#foreach($autotrade in $LIST)
                        <li class="autoFund-item">
                            <div class="item-table">
                                <table width="100%">
                                    <tr>
                                        <th class="item-name" width="78" rowspan="2">
											<span class="item-type">
											#if("P"==$!{autotrade.state})
												已暂停
											#elseif("N"==$!{autotrade.state})
												进行中
											#else
												未知状态
											#end
											</span>
											幼富宝
										</th>
                                        <th>设置时间</th>
                                        <th>金额（元）</th>
                                        <th>充值周期</th>
                                        <th>下次充值日</th>
                                        <th>银行卡</th>
                                        <th>备注</th>
                                        <th width="60">
                                            <div class="item-do">
                                                <span class="do-title">操作</span>
                                                <ul class="do-list">
                                                    <li><a class="link btn-autoTrade-update" frombankserialid="${autotrade.frombankserialid}" autoid="${autotrade.autoid}" href="javascript:;">修改</a></li>
													<li><a class="link btn-autoTrade-pause" frombankserialid="${autotrade.frombankserialid}" autoid="${autotrade.autoid}" href="javascript:;">暂停</a></li>
                                                </ul>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
										#set($updatetime=$!{autotrade.updatetime})
										$!updatetime.substring(0,10)
										</td>
                                        <td>${autotrade.autoamt}</td>
                                        <td>
										#if("MM"==$!{autotrade.cycle})
											每月$!{autotrade.dat}日
										#end
										</td>
                                        <td>
											#set($nextdate=$!{autotrade.nextdate})
                    						#set($nextdate_yyyy=$nextdate.substring(0,4))
                    						#set($nextdate_mm=$nextdate.substring(4,6))
                							#set($nextdate_dd=$nextdate.substring(6,8))
											#set($nextdate=$nextdate_yyyy+"-"+$nextdate_mm+"-"+$nextdate_dd)
											$nextdate
										</td>
                                        <td>
										#set($tailStr=$!{autotrade.frombankacco})
        								#set($start=$tailStr.length() - 4)
        								#set($end=$tailStr.length())
        								${autotrade.frombanknm}[尾号$tailStr.substring($start,$end)]	
										</td>
                                        <td>${autotrade.summary}</td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="item-tips">*充值日遇节假日将顺延至下个基金工作日</div>
                        </li>
						#end
						#else
							<li class="autoFund-item">
                            <div class="item-table">
                                <table width="100%">
                                    <tr>
                                        <th class="item-name" width="78" rowspan="2">幼富宝</th>
                                        <th>设置时间</th>
                                        <th>金额（元）</th>
                                        <th>充值周期</th>
                                        <th>下次充值日</th>
                                        <th>银行卡</th>
                                        <th>备注</th>
                                        <th width="60">
                                            <div class="item-do">
                                                <span class="do-title">操作</span>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td colspan="7"><div class="no-result" style="width:588px">您最近没有充值记录哦</div></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="item-tips">*充值日遇节假日将顺延至下个基金工作日</div>
                        </li>
						#end
                    </ul>
                </div>
            </div>
        </div>
		</form>
    </div>
<script src="${staticDomain}/js/scripts/load.js"></script>	
</body>
</html>