<!DOCTYPE html>
<html>
<head>
<!--
<title>幼富通 - 自动取现</title>
-->
<script>
$(function(){

	$("#container").removeClass("setting");

	// 表单提交时，验证	
	$("#submit").on("click", function(){
		$(".common-form").attr("action","../setting/autoCashPause_preview.htm");
	});
});
</script>
</head>
<body>
<div class="body">
    <div class="inner container-step">
        <div class="step-title clearfix">暂停自动取现计划<a class="link link-underline fr" href="${staticDomain}/setting/autoTrade_index.htm">&lt;&lt;自动取现计划</a></div>
        <div class="step-tabs tabs-step1 clearfix">
            <a class="tab fl on" href="javascript:;">自动取现（暂停）</a>
            <a class="tab fl" href="javascript:;">预览自动取现计划（暂停）</a>
            <a class="tab fl" href="javascript:;">结果（暂停）</a>
        </div>
        <div class="step-panels">
			<form class="common-form" action="${ufbDomain}/setting/autoCash_pause.htm" method="post">
				<input id="tobankserialid" name="tobankserialid" value="${curCard.serialid}" type="hidden"/>
                #set($tailStr=$curCard.bankacco)
				#set($start=$tailStr.length() - 4)
				#set($end=$tailStr.length())
				<input id="tobankno" name="tobankno" value="${curCard.bankno}" type="hidden"/>
				<input id="tobanktail" name="tobanktail" value="$tailStr.substring($start,$end)" type="hidden"/>
				<input id="autoid" name="autoid" value="${AutoTradeVo.autoid}" type="hidden"/>
				
				
				<div class="panel">
                    <ul>
                        <li>
                            <span class="form-title">绑定货币基金</span>
                            <span class="form-text">海富通货币A    代码： 519505</span>
                        </li>
                        <li class="clearfix">
                            <span class="form-title">银行选择</span>
                            <div class="input-select">
								<div class="card card-current">
                                    <img src="${staticDomain}/images/bank_${curCard.bankno}.png">
                                    <span class="card-lastNumber">尾号：$tailStr.substring($start,$end)</span>
                                </div>
                            </div>
                            <span class="tips-normal"></span>
                            <span class="tips-check"><i class="icon"></i>验证提示</span>
                        </li>
						<li>
                            <span class="form-title">取现金额</span>
                            <input id="autoamt-display" disabled name="autoamt-display" style="background-color:#ddd" class="ipt-autoamt input-text" maxlength="11" type="text" value="$!{AutoTradeVo.autovol}">元
							<input id="autovol" name="autovol" class="ipt-autoamt input-text" maxlength="11" type="hidden" value="$!{AutoTradeVo.autovol}">							
                            <span class="tips-normal">请填写取现金额</span>
                            <span id="appamtTips" class="tips-check"><i class="icon"></i>验证提示</span>
                        </li>
                        <li>
                            <span class="form-title">设置取现时间</span>
							每月<input id="dat-display" disabled name="dat-display" style="background-color:#ddd" class="ipt-dat input-short" maxlength="2" type="text" value="$!{AutoTradeVo.dat}">日
								<input id="dat" name="dat" class="ipt-dat input-short" maxlength="2" type="hidden" value="$!{AutoTradeVo.dat}">
                            <span class="tips-normal"></span>
                            <span class="tips-check"><i class="icon"></i>验证提示</span>
                        </li>
						<li>
                            <span class="form-title">备注</span>
                            <input id="summary-display" disabled name="summary-display" style="background-color:#ddd" class="ipt-summary input-text" maxlength="50" type="text" value="$!{AutoTradeVo.summary}">
							<input id="summary" name="summary" class="ipt-summary input-text" maxlength="50" type="hidden" value="$!{AutoTradeVo.summary}">
                            <span class="tips-normal">如：收费理财、闲置资金</span>
                            <span id="appamtTips" class="tips-check"><i class="icon"></i>验证提示</span>
                        </li>
                        <li>
                            <input id="submit" class="input-button ok" type="submit" value="下一步">
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="${staticDomain}/js/scripts/load.js"></script>
<script src="${staticDomain}/js/scripts/register.js"></script>
<script src="${staticDomain}/js/ufuCommon.js"></script>
</body>
</html>