<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <title>幼富通 - 账户管理 - 自动理财设置</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel='stylesheet' href='css/camera.css'>
    <link rel="stylesheet" href="css/common.css">
    <!--[if lt IE 9]>
    <script type="text/javascript" src="./libs/html5.js"></script>
    <![endif]-->
    <script type='text/javascript' src='libs/jquery.min.js'></script>
</head>
<body>
<div class="container setting">
    <div id="header">
		<div class="topNav">
			<div class="container">
				<div class="b1"><a href="#" class="active">机构版</a><a href="#">家庭版</a></div>
				<div class="b2"><span>柔软的大牛</span><a href="#"></a></div>
			</div>
		</div>
        <div class="container">
            <a href="#" class="logo"></a>
			<div class="nav">
				<a href="#">我的幼富通</a>
				<a href="#">学费通</a>
				<a href="#" class="active">幼富宝</a>
				<a href="#">幼富盈</a>
				<a href="#">幼富贷</a>
			</div>
        </div>
    </div>
    <div class="body">
        <div class="inner clearfix">
            <div class="title">
                <h2 class="title-main">自动理财设置</h2>
            </div>
<!--
            <div class="side side-nav fl">
                <ul>
                    <li><a href="settingAccount.html">账户信息</a></li>
                    <li><a href="settingPassword.html">密码设置</a></li>
                    <li><a href="settingCard.html">银行卡管理</a></li>
                    <li><a href="settingAutoFund.html">自动充值计划</a></li>
                    <li><a class="current" href="settingAutoFundEmpty.html">自动取现计划</a></li>
                </ul>
            </div>
-->
            <div class="main">
                <div class="setting-content content-autoFund">
                    <div class="autoFund-title"><span class="on">自动充值计划<i class="loginTri"></i></span><span class="">自动取现计划<i class=""></i></span></div>
                    <!-- 自动充值-->
                    <div class="FundList01 FundList">
                       <div class="item-title">进行中<a class="link">添加自动充值计划</a></div>
                    <ul class="autoFund-list">
                        <li class="autoFund-item">
                            <div class="item-table">
                                <table width="100%">
                                    <tr>
                                        <th class="item-name" width="78" rowspan="2">幼富宝</th>
                                        <th>设置时间</th>
                                        <th>金额（元）</th>
                                        <th>充值周期</th>
                                        <th>下次充值日</th>
                                        <th>银行卡</th>
                                        <th>备注</th>
                                        <th width="60">
                                            <div class="item-do">
                                                <span class="do-title">操作</span>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td colspan="7"><div class="no-result">您最近没有充值记录哦</div></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="item-tips">*充值日遇节假日将顺延至下个基金工作日</div>
                        </li>
                    </ul>
                    </div>
                    <!-- 自动取现-->
                    <div class="FundList02">
                       <div class="item-title">进行中<a class="link">添加自动取现计划</a></div>
                    <ul class="autoFund-list">
                        <li class="autoFund-item">
                            <div class="item-table">
                                <table width="100%">
                                    <tr>
                                        <th class="item-name" width="78" rowspan="2">幼富宝</th>
                                        <th>设置时间</th>
                                        <th>金额（元）</th>
                                        <th>取现周期</th>
                                        <th>下次取现日</th>
                                        <th>银行卡</th>
                                        <th>备注</th>
                                        <th width="60">
                                            <div class="item-do">
                                                <span class="do-title">操作</span>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td colspan="7"><div class="no-result">您最近没有取现记录哦</div></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="item-tips">*取现日遇节假日将提前至上个基金工作日</div>
                        </li>
                    </ul>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer footer-simple">
    <div class="inner clearfix">
        <div class="logo fl">
            <img src="images/logo_130x55.png">
        </div>
        <div class="info fl">
            <ul class="list">
                <li>微信服务号：UFUfund</li>
                <li>服务邮箱：<a href="mailto:service@ufufund.com">service@ufufund.com</a></li>
                <li>海富通产品：400-8840-099</li>
            </ul>
        </div>
        <div class="copyright fr">
            <ul class="list">
                <li>幼富通版权所有 ©2014</li>
                <li><a target="_blank" href="http://www.miitbeian.gov.cn/">沪ICP备14054347号</a></li>
            </ul>
        </div>
    </div>
</div>
</div>
<script src="scripts/load.js"></script>
</body>
</html>