<!DOCTYPE html>
<html>
<head>
<!--
<title>幼富通 - 账户管理 - 密码设置</title>
-->
<script>
$(function(){
});
</script>
</head>
<body>
<div class="container setting">
    <div class="header">
    	<div class="inner clearfix rel">
            <div class="logo"><a href="javascript:;">幼教金融，一站通</a></div>
            <div class="nav"><a id="btn-logout"
    			href="${staticDomain}/cust/logout.htm">登出</a>|<a
    			href="${staticDomain}/session/login.htm">我的幼富通</a>|<a class="last" 
    			href="javascript:;">帮助</a></div>
        </div>
    </div>
    <div class="body">
    <form id="form-settingCard" action="${ufbDomain}/setting/settingCard.htm" method="post">
    ${refreshTools.genInputHtml()}
    <input id="bankacco" name="bankacco" value="${bankacco}" type="hidden"/>
    <div class="inner clearfix">
        <div class="title">
            <h2 class="title-main">帮助中心</h2>
        </div>
        <div class="side side-nav fl">
            <ul>
				<li><a href="${staticDomain}/setting/settingAccount.htm">账户信息</a></li>
                <li><a class="current" href="${staticDomain}/setting/settingPassword.htm">密码设置</a></li>
                <li><a href="${staticDomain}/setting/settingCard.htm">银行卡管理</a></li>
                <li><a href="settingAutoFund.html">自动理财设置</a></li>
            </ul>
        </div>
        <div class="main fr">
            <div class="setting-content">
                <div class="tabs password-tabs clearfix">
                    <a class="btn fl" href="findPasswordStep1.html">修改登录密码</a>
                    <a class="btn tab fl" href="javascript:;">修改交易密码</a>
                    <a class="btn tab fl" href="javascript:;">忘记交易密码</a>
                </div>
                <div class="tips">交易密码： 为使用幼富宝交易时所需要输入的密码，不可与登录密码相同！</div>
                <div class="panels password-panels">
                    <div class="panel slide-out">
                        <form>
                            <ul>
                                <li class="ok">
                                    <span class="form-title">原交易密码</span>
                                    <input class="input-text" type="password" value="">
                                    <span class="tips-normal"></span>
                                    <span class="tips-check"><i class="icon"></i>验证提示</span>
                                </li>
                                <li class="ok">
                                    <span class="form-title">新交易密码</span>
                                    <input class="input-text" type="password" value="">
                                    <span class="tips-normal">6-20个大小写英文字母、符号或数字</span>
                                    <span class="tips-check"><i class="icon"></i>验证提示</span>
                                </li>
                                <li class="error">
                                    <span class="form-title">交易密码确认</span>
                                    <input class="input-text" type="password" value="">
                                    <span class="tips-normal">请再次输入密码</span>
                                    <span class="tips-check"><i class="icon"></i>验证提示</span>
                                </li>
                                <li>
                                    <input class="input-button ok" type="submit" value="提&nbsp;交">
                                </li>
                            </ul>
                        </form>
                    </div>
                    <div class="panel slide-out">
                        <form>
                            <ul>
                                <li class="ok">
                                    <span class="form-title">手机号</span>
                                    <div>189****1111</div>
                                </li>
                                <li class="error">
                                    <span class="form-title">验证码</span>
                                    <input class="input-code" type="text" value="">
                                    <span class="tips-normal">请输入验证码</span>
                                    <span class="tips-check"><i class="icon"></i>验证提示</span>
                                </li>
                                <li class="error">
                                    <span class="form-title">手机验证码</span>
                                    <input class="input-code" type="text" value="">
                                    <span class="tips-normal">6位验证码</span>
                                    <input class="input-button" type="button" value="获取验证码">
                                    <span class="tips-check"><i class="icon"></i>验证提示</span>
                                </li>
                                <li class="ok">
                                    <span class="form-title">新交易密码</span>
                                    <input class="input-text" type="password" value="">
                                    <span class="tips-normal">6-20个大小写英文字母、符号或数字</span>
                                    <span class="tips-check"><i class="icon"></i>验证提示</span>
                                </li>
                                <li class="error">
                                    <span class="form-title">交易密码确认</span>
                                    <input class="input-text" type="password" value="">
                                    <span class="tips-normal">请再次输入密码</span>
                                    <span class="tips-check"><i class="icon"></i>验证提示</span>
                                </li>
                                <li>
                                    <input class="input-button ok" type="submit" value="提&nbsp;交">
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
    </div>
	<!--
    <div class="footer">
        <div class="inner clearfix">
            <div class="info fl">
                <p>微信服务号：UFUfund</p>
                <p>服务邮箱：<a href="mailto:service@ufufund.com">service@ufufund.com</a></p>
                <p>海富通产品：400-8840-099</p>
            </div>
            <div class="copyright fr">
                <p>上海泛投信息科技有限公司版权所有 ?2015</p>
                <p><a target="_blank" href="http://www.miitbeian.gov.cn/">沪ICP备14054347号</a></p>
            </div>
        </div>
    </div>
	-->
</div>
<script src="${staticDomain}/js/scripts/load.js"></script>
</body>
</html>