<!DOCTYPE html>
<html>
<head>
<!--
<title>幼富通 - 账户管理 - 账户信息</title>
-->
<script>
$(function(){
});
</script>
</head>
<body>
<div class="container setting">
<div class="header">
	<div class="inner clearfix rel">
        <div class="logo"><a href="javascript:;">幼教金融，一站通</a></div>
		<div class="nav"><a 
			href="${staticDomain}/home/index.htm">首页</a>|<a 
			href="${staticDomain}/session/login.htm">资产总览</a>|<a class="current" 
			href="${staticDomain}/setting/settingAccount.htm">账户管理</a>|<a 
			href="helpNotice.html">帮助中心</a><span class="member" 
			href="javascript:;"><i class="trans icon"></i>
				#if ($CustinfoVo.invnm)
					$!{CustinfoVo.invnm}
                #else
                    $!{CustinfoVo.mobileno}
               	#end<a 
			href="${staticDomain}/cust/logout.htm" class="trans out">安全退出</a></span>
		</div>
    </div>
</div>
<div class="body">
    <div class="inner clearfix">
        <div class="title">
            <h2 class="title-main">帮助中心</h2>
        </div>
        <div class="side side-nav fl">
            <ul>
                <li><a class="current" href="${staticDomain}/setting/settingAccount.htm">账户信息</a></li>
                <li><a href="${staticDomain}/setting/settingPassword.htm">密码设置</a></li>
                <li><a href="${staticDomain}/setting/settingCard.htm">银行卡管理</a></li>
                <li><a href="settingAutoFund.html">自动理财设置</a></li>
            </ul>
        </div>
        <div class="main fr">
            <div class="setting-content">
                <ul>
                    <li>幼教机构：$!{CustinfoVo.organization}</li>
                    <li>营业执照注册号：$!{CustinfoVo.business}</li>
                    <li>经办人：$!{CustinfoVo.invnm}</li>
                    <li>身份证号：$!{CustinfoVo.idno}</li>
                    <li>手机号：$!{CustinfoVo.mobileno}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="inner clearfix">
        <div class="info fl">
            <p>微信服务号：UFUfund</p>
            <p>服务邮箱：<a href="mailto:service@ufufund.com">service@ufufund.com</a></p>
            <p>海富通产品：400-8840-099</p>
        </div>
        <div class="copyright fr">
            <p>幼富通版权所有 ©2015</p>
            <p><a target="_blank" href="http://www.miitbeian.gov.cn/">沪ICP备14054347号</a></p>
        </div>
    </div>
</div>
</div>
<script src="${staticDomain}/js/scripts/load.js"></script>
</body>
</html>