<!DOCTYPE html>
<head>
    <title>幼富通</title>
 
<script type="text/javascript">
$(function(){
	$('.inputText').inputText();
});
$(function(){
    $('#card2').cardFormat('###,###,####,####,####');//身份证
});
</script>
<style>
    .num{
        z-index:1000;
        z-index:1000\9;
    }    
</style>
</head>
<body>
   <div id="page">
        <div id="header">
            <div class="topNav">
                <div class="container">
                    <div class="b1"><a href="#" class="active">机构版</a><a href="#">家庭版</a></div>
                    <div class="b2"><span>柔软的大牛</span><a href="#"></a></div>
                </div>
            </div>
            <div class="container">
                <a href="#" class="logo"></a>
                <div class="nav">
                    <a href="${staticDomain}/family/session.htm">我的账户</a>
				<a href="${staticDomain}/family/myufb.htm" class="active">幼富宝</a>
				<a href="#">缴费明细</a>
				<a href="${staticDomain}/family/helpAbout.htm">帮助中心</a>
                </div>
            </div>
        </div>
      
        <div id="body">
            <div class="container">
                <div class="u2 mt20">
                    <div class="a4">
                       <ul class="v1">
                            <li>创建账户</li>
                            <li>身份安全信息</li>
                            <li class="v1_hover">设置支付方式</li>
                            <li>成功</li>
                        </ul>
                       <div class="v2">
                            <i class="v2_1"></i>
                            <p><i></i>为了给您提供完善便捷的缴费、理财及其他金融服务，请您设置支付方式。成功后即可使用幼富宝、学费通等贴心服务。</p>
                       </div>
                    <div class="b3">
                        <form id="btn-subform" class="common-form" method="post" action="../family/createAccount4.htm">
							<input type="hidden" name="loginpwd" id="loginpwd" value="$!{CustinfoVo.loginpwd}" />
							<input type="hidden" name="loginpwd2" id="loginpwd2" value="$!{CustinfoVo.loginpwd2}" />
							<input type="hidden" name="tradepwd" id="tradepwd" value="$!{CustinfoVo.tradepwd}" />
							<input type="hidden" name="tradepwd2" id="tradepwd2" value="$!{CustinfoVo.tradepwd2}" />
							<input type="hidden" name="invnm" id="invnm" value="$!{CustinfoVo.invnm}" />
							<input type="hidden" name="idno" id="idno" value="$!{CustinfoVo.idno}" />
							<input type="hidden" name="mobileno" id="mobileno" value="$!{CustinfoVo.mobileno}" />
							<input id="otherserial" name="otherserial" type="hidden" value="$!{BankCardVo.otherserial}">
                          	<input id="bankno" name="bankno" type="hidden" value="$!{BankCardVo.bankno}">	
							<input id="bankprovincenm" name="bankprovincenm" type="hidden" value="$!{BankCardVo.bankprovincenm}">	
							<input id="bankcitynm" name="bankcitynm" type="hidden" value="$!{BankCardVo.bankcitynm}">
							<div class="panel">
                                <ul class="safeInfo">
                                    <li>
                                        <span class="form-title">家长姓名</span>
                                        <input class="ipt-text input-text" type="text" name="bankacnm" id="bankacnm" style="background-color:#cbcbcb;" readonly="readonly" value="$!{CustinfoVo.invnm}">
                                        <span class="tips-normal" style="display: none;">$!{CustinfoVo.invnm}</span>
                                      <span class="tips-check"><i class="icon"></i></span> 
                                    </li>
                                    <li>
                                        <span class="form-title">身份证号</span>
                                        <input class="ipt-idCardno input-text" type="text" name="bankidno" id="bankidno" style="background-color:#cbcbcb;" readonly="readonly" value="$!{CustinfoVo.idno}" >
                                        <span class="tips-normal" style="display: none;">$!{CustinfoVo.idno}</span>
                                         <span class="tips-check"><i class="icon"></i></span>
                                    </li>
                                </ul>
                                <ul class="safeInfo">
                                    <li class="anotherArea">
                                        <span class="form-title title-font">设置支付方式</span>
                                     <p>选择银行</p>
                                    </li>
                                    <li class="clearfix">
                                        <div class="input-select">
                                            <div class="bank bank-current"><img src="${staticDomain}/images/bank_${BankCardVo.bankno}.png" id="firstbankno" bankno="$!{BankCardVo.bankno}"></div>
                                            <div class="input-options">
                                                <div class="bank-list clearfix mb10">
													#foreach($bank in $bankList)
											        <a bankno="${bank.bankno}" class="bank" href="javascript:;"><img src="${staticDomain}/images/bank_${bank.bankno}.png"></a>
        									        #end
                                                    <div class="banktip">
                                                        <p>其他银行<span>（可缴费，不支持幼富宝）</span><i class="down"></i></p>
                                                    </div>
                                                </div>
                                                 <div class="bank-list clearfix bgGray">
                                                    <a class="bank" href="javascript:;"><img src="${staticDomain}/images/bank_41.png"></a>
                                                    <div class="banktip">
                                                        <p>隐藏其他银行<i class="up"></i></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="tips-normal"></span>
                                        <span class="tips-check"><i class="icon"></i>$!{errMsg_bankNo}</span>
                                    </li>
                                </ul>
                                <ul class="safeInfo">
                                    <li class="cardNum">
                                       <span class="form-title">银行卡号</span>
                                           <div class="cardFormat" id="card2">
                                               <input class="ipt-bankCard input-text ipt-focus"  type="text" id="bankacco" name="bankacco" value="$!{BankCardVo.bankacco}">
                                           </div>
                                       <span>仅支持借记卡，<a href="">银行卡要求。
                                       <div class="trip" >
                                           <div>填写以你自己姓名开户的银行卡<br>
                                                幼富通平台快捷缴费：共支持超过25家全国及地方银行借记卡<br>
                                                充值幼富宝（理财+缴费）目前共支持9家银行，仅限借记卡，需事先开通网银<b></b>
                                            </div>
                                        </div>
                                       </a></span>
                                       <p>此卡将设为默认缴费卡</p>
                                   </li>
                                   <li class="sureAddr"><b>请明确银行开户地点</b></li>
                                   <li class="Addr zIndex">
                                   <span class="form-title">地址</span>
                                   <div class="inputL">
<!--
                                       <input type="text" value="" class="inputS">
                                       <span class="tips-normal" style="display: block;">省份</span>    
-->
                                       <div class="inputS provinces">省份</div>
                                       <div class="chose">
                                           <ul>
                                               <li>省份</li>
                                               <li>吉林省</li>
                                               <li>江苏省</li>
                                               <li>山东省</li>
                                               <li>江西省</li>
                                               <li>海南省</li>
                                           </ul>
                                       </div>
                                   </div>
                                   <div class="inputR">
                                       <div class="inputS city">城市</div>
                                       <div class="choseCity">
                                           <ul>
                                               <li>城市</li>
                                               <li>长春市</li>
                                               <li>吉林市</li>
                                               <li>四平市</li>
                                           </ul>
                                       </div>
                                   </div>
<!--
                                   <input type="text" value="" class="inputS">
                                   <span class="tips-normal tips_pos" style="display: block;">城市</span>
-->
                                      
                                   </li>
                                    <li>
                                   <span class="form-title">开户网点</span>
                                   <input class="ipt-bankCard input-text inputL" type="text" id="bankadd" name="bankadd" value="$!{BankCardVo.bankadd}">
                                   <span class="tips-normal" style="display: block;">如：浦建路支行</span>
                                   <span>如果不明确开户网点，请拨打相应银行客服电话询问</span>
                                   
                                   </li>
                                    
                                </ul>
                                <ul class="safeInfo borderNone">
                                    <li>
                                        <span class="form-title">银行预留手机号码</span>
                                        <input class="ipt-idCard input-text" type="text" id="bankmobile" name="bankmobile" value="$!{BankCardVo.bankmobile}">
                                    </li>
                                   <li>
                                        <span class="form-title">验证码</span>
                                        <input class="ipt-phoneCode input-code" type="text" maxlength="6"  value="$!{BankCardVo.mobileautocode}" id="mobileautocode" name="mobileautocode" >
                                        <input id="btn-addBankCardAjax" class="input-button" type="button" value="获取验证码">
                                        <span class="tips-check"><i class="icon"></i>$!{errMsg_msgcode}</span>
                                    </li>
                                     <li class="anotherArea anotherTips">
                                     <p>免费开通幼富宝服务，海富通基金（海富通货币）</p>
                                     <p class="fontP">点击下一步表示同意<a href="javascript:;" id="ufbAgreement">《幼富宝服务协议》 </a><a href="javascript:;" id="hftAgreement">《海富通基金管理有限公司网上交易直销自助式前台服务协议》</a></p>
                                    </li>
                                    <li>
                                        <input id="btn-submit" class="input-button btnB" type="button" value="同意协议并确定" > 
                                        <p class="fontP"><a href="javascript:;" id="ufbFast">《幼富宝快捷支付服务协议》</a><a href="javascript:;" id="uftName">《幼富通实名认证服务协议》</a></p>                
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
<div class="LowFoot">
    <div class="inner">
        <div class="contentFoot">
            幼富通版权所有 ©2014 沪ICP备14054347号
          </div>
        </div>
    </div>

<!----------------弹层------------------------->       
<div class="bgBox"></div>	
<!--《幼富宝服务协议》-->
<div class="layerpop" id="ufb01">	
    <b class="close"></b>
    <div class="layerTitle">幼富宝服务协议</div>
	<div id="content_1" class="content content_scroll">
               <h4>幼富宝服务协议</h4>
                <p>此处内容通过富文本编辑器进行编辑发布<br>
                    个体工商户无组织机构代码（仅支持个体工商户）<br>
                    目前仅支持中国大陆企业；<br>
                    注：个体工商类，若无组织机构代码，可以在选择项填写“无”，上传附件用营业执照代替即可。</p>
                <p>此处内容通过富文本编辑器进行编辑发布<br>
                个体工商户无组织机构代码（仅支持个体工商户）<br>
                目前仅支持中国大陆企业；<br>
                注：个体工商类，若无组织机构代码，可以在选择项填写“无”，上传附件用营业执照代替即可。</p>
                <h4>幼富宝服务协议</h4>
                <p>此处内容通过富文本编辑器进行编辑发布<br>
                个体工商户无组织机构代码（仅支持个体工商户）<br>
                目前仅支持中国大陆企业；<br>
                注：个体工商类，若无组织机构代码，可以在选择项填写“无”，上传附件用营业执照代替即可。</p>
                <p>对公账户填写（个体工商户）<br>
                若个体工商户无对公账户，可填写营业执照上法人的个人银行卡号。<br>
                温馨提示：仅限个体工商户，填写个人银行卡号时需与营业执照上法人保持一致。</p>
                <p>对公账户填写（政府类型）<br>
                若政府类型若没有对公账号，可以在“机构开户银行”、“机构银行账号”栏填写“无”。</p>
        <a href="javascript:;" class="btnKnow closebox">我知道了</a>
    </div>
</div> 


<!--《海富通基金管理有限公司网上交易直销自助式前台服务协议》-->
<div class="layerpop" id="hft">	
    <b class="close"></b>
    <div class="layerTitle">海富通基金管理有限公司网上交易直销自助式前台服务协议</div>
	<div id="content_1" class="content content_scroll">
                <p>此处内容通过富文本编辑器进行编辑发布<br>
                个体工商户无组织机构代码（仅支持个体工商户）<br>
                目前仅支持中国大陆企业；<br>
                注：个体工商类，若无组织机构代码，可以在选择项填写“无”，上传附件用营业执照代替即可。</p>
                <p>对公账户填写（个体工商户）<br>
                若个体工商户无对公账户，可填写营业执照上法人的个人银行卡号。<br>
                温馨提示：仅限个体工商户，填写个人银行卡号时需与营业执照上法人保持一致。</p>
                <p>对公账户填写（政府类型）<br>
                若政府类型若没有对公账号，可以在“机构开户银行”、“机构银行账号”栏填写“无”。</p>
        <a href="javascript:;" class="btnKnow closebox">我知道了</a>
    </div>
</div>     
            
 
<!--《《幼富宝快捷支付服务协议》》-->
<div class="layerpop" id="ufb02">	
    <b class="close"></b>
    <div class="layerTitle">《幼富宝快捷支付服务协议》</div>
	<div id="content_1" class="content content_scroll">
                <p>此处内容通过富文本编辑器进行编辑发布<br>
                个体工商户无组织机构代码（仅支持个体工商户）<br>
                目前仅支持中国大陆企业；<br>
                注：个体工商类，若无组织机构代码，可以在选择项填写“无”，上传附件用营业执照代替即可。</p>

                <p>对公账户填写（个体工商户）<br>
                若个体工商户无对公账户，可填写营业执照上法人的个人银行卡号。<br>
                温馨提示：仅限个体工商户，填写个人银行卡号时需与营业执照上法人保持一致。</p>

                <p>对公账户填写（政府类型）<br>
                若政府类型若没有对公账号，可以在“机构开户银行”、“机构银行账号”栏填写“无”。</p>

        <a href="javascript:;" class="btnKnow closebox">我知道了</a>
    </div>
</div>


<!--《《幼富通实名认证服务协议》》-->
<div class="layerpop" id="uft">	
    <b class="close"></b>
    <div class="layerTitle">《幼富通实名认证服务协议》</div>
	<div id="content_1" class="content content_scroll">
                <p>此处内容通过富文本编辑器进行编辑发布<br>
                个体工商户无组织机构代码（仅支持个体工商户）<br>
                目前仅支持中国大陆企业；<br>
                注：个体工商类，若无组织机构代码，可以在选择项填写“无”，上传附件用营业执照代替即可。</p>

                <p>对公账户填写（个体工商户）<br>
                若个体工商户无对公账户，可填写营业执照上法人的个人银行卡号。<br>
                温馨提示：仅限个体工商户，填写个人银行卡号时需与营业执照上法人保持一致。</p>

                <p>对公账户填写（政府类型）<br>
                若政府类型若没有对公账号，可以在“机构开户银行”、“机构银行账号”栏填写“无”。</p>

        <a href="javascript:;" class="btnKnow closebox">我知道了</a>
    </div>
</div>   

                                                       
                                                                                          
<script type="text/javascript" src="${staticDomain}/static/family/scripts/load.js"></script>
<script type="text/javascript" src="${staticDomain}/static/family/scripts/register.js"></script>	

<script>!window.jQuery && document.write(unescape('%3Cscript src="js/minified/jquery-1.9.1.min.js"%3E%3C/script%3E'))</script>  <!--scroll美化-->
<script type="text/javascript">
    $(function(){
//        ①
       $("#ufbAgreement").click(function(){
           $(".bgBox , #ufb01").fadeIn();       
       });
       $("#ufb01 .close , .btnKnow").click(function(){
           $(".bgBox , #ufb01").fadeOut();       
       });
//        ②
        $("#hftAgreement").click(function(){
           $(".bgBox , #hft").fadeIn();       
       });
       $("#hft .close , .btnKnow").click(function(){
           $(".bgBox , #hft").fadeOut();       
       });
//        ③
        $("#ufbFast").click(function(){
           $(".bgBox , #ufb02").fadeIn();       
       });
       $("#ufb02 .close , .btnKnow").click(function(){
           $(".bgBox , #ufb02").fadeOut();       
       });
//        ④
        $("#uftName").click(function(){
           $(".bgBox , #uft").fadeIn();       
       });
       $("#uft .close , .btnKnow").click(function(){
           $(".bgBox , #uft").fadeOut();       
       });
        
        $(".input-options .bank").click(function(){
            $(this).addClass("active").parents().siblings().find("a").removeClass("active");
            $(this).addClass("active").siblings().removeClass("active");
               $("#bankno").val($(this).attr("bankno"));
				  });
    });
</script>
<script>
    (function($){
        $(window).load(function(){
            $(".content_scroll").mCustomScrollbar({
                theme:"dark", //主题颜色
                scrollButtons:{
                    enable:true //是否使用上下滚动按钮
                },
                autoHideScrollbar: false, //是否自动隐藏滚动条
                scrollInertia :0,//滚动延迟
                horizontalScroll : false//水平滚动条

            });

        });
	
	var check_invnm = function (ipt) {//姓名
	var value = ipt.val();
	if (isNull(value)) {
		return showTips(ipt, "姓名不能为空");
	}
	return showTips(ipt, 0)
	}

	// 验证码
	$("#btn-addBankCardAjax").on("click",function(){
		if(!check_bankCard($("#bankacco"))){
			return false;
		}
		if(!check_mobile($("#bankmobile"))){
			return false;
		}
	var bankno=$("#bankno").val();
	if(bankno==""){
		$("#bankno").val($("#firstbankno").attr("bankno"));
	}
		// 获取验证码按钮无效并倒计时 
		$("#btn-addBankCardAjax").attr("disabled","disabled");
		$("#btn-addBankCardAjax").addClass("off");
        $.ajax({
     		type: "GET",
    		url: "../ajaxbankcard/addBankCardAjax.ajax",
    		data: {
				bankno: $("#bankno").val(),
    			bankacnm: $("#bankacnm").val(),
				bankidno: $("#bankidno").val(),
				bankacco: $("#bankacco").val(),
				bankmobile: $("#bankmobile").val()
    		},
    		dataType: "json",
    		success: function(b) {
                if (b.errCode == "0000") {
					$("#otherserial").val(b.otherserial);
					// 提交按钮有效 
				//	$("#btn-addBankCard3").removeAttr("disabled");
				//	$("#btn-addBankCard3").removeClass("off");
					alert("手机验证码已发送");
					
                } else {
					// 获取验证码按钮有效并取消倒计时 
            		$("#btn-addBankCardAjax").removeAttr("disabled");
            		$("#btn-addBankCardAjax").removeClass("off");
				
                  	var errCode = b.errCode;
					var errMsg = b.errMsg;
					//alert(errCode + ": " + errMsg);
				   if(errCode=="errMsg_bankAcco"){
						//银行卡号 
						$("#errMsg_bankAcco").addClass("error");
						$("#errMsg_bankAcco > .tips-check").html("<i class=icon></i>" + errMsg);
					}else if(errCode=="errMsg_bankMobile"){
						//银行预留手机号
						$("#errMsg_bankMobile").addClass("error");
						$("#errMsg_bankMobile > .tips-check").html("<i class=icon></i>" + errMsg);
					}else{
						$("#errMsg_msgcode").addClass("error");
						$("#errMsg_msgcode > .tips-check").html("<i class=icon></i>" + errMsg);
					}
                }
        	}
        });
	});
    })(jQuery);
	//表单提交校验
	$("#btn-submit").on("click",function(){
	 	var pro=$(".provinces").html();
   		$("#bankprovincenm").val(pro);
		var city=$(".city").html();
  	 	$("#bankcitynm").val(city);
		
    	var province= $("#bankprovincenm").val();
    	var city= $("#bankcitynm").val();
    	if(province=="省份"){
		$("#bankprovincenm").val("");
    	}
    	if(city=="城市"){
    		$("#bankcitynm").val("");
    	}
		$("#btn-subform").submit();
    })
	 
</script>	
</body>

</html>