<!DOCTYPE html>
<head>
<title>幼富通，托富未来 - 注册</title>
<script type="text/javascript" src="${staticDomain}/family/scripts/load.js"></script>
<script type="text/javascript" src="${staticDomain}/family/scripts/family-common.js"></script>
<script >
$(function(){
	$('.nav a:eq(0)').addClass('active');
	
	// 检验密码1
	var checkPwd1 = function(obj, type){
		var errorMsg = '';
		if(type == 'login'){
			errorMsg = check_pwd1(obj.val());
		}else{
			errorMsg = check_tradePwd1(obj.val());
		}
		if(errorMsg != ''){
			obj.parent().removeClass('ok');
			obj.parent().addClass('error');
			obj.siblings('.tips-check').find('font').text(errorMsg);
			obj.siblings('.tips-check').css('display', 'inline');
			return false;
		}else{
			obj.parent().addClass('ok');
			obj.parent().removeClass('error');
			obj.siblings('.tips-check').find('font').html('&nbsp;');
			obj.siblings('.tips-check').css('display', 'inline');
			return true;
		}
	}
	// 检验密码2
	var checkPwd2 = function(obj, type){
		var errorMsg = '';
		if(type == 'login'){
			errorMsg = check_pwd1(obj.val());
		}else{
			errorMsg = check_tradePwd1(obj.val());
		}
		if(errorMsg != ''){
			obj.parent().removeClass('ok');
			obj.parent().addClass('error');
			obj.siblings('.tips-check').find('font').text(errorMsg);
			obj.siblings('.tips-check').css('display', 'inline');
			return false;
		}else{
			pwd1 = obj.parent().prev().children('input');
			errorMsg = check_pwd2(pwd1.val(), obj.val());
			if(errorMsg != ''){
				obj.parent().removeClass('ok');
				obj.parent().addClass('error');
				obj.siblings('.tips-check').find('font').text(errorMsg);
				obj.siblings('.tips-check').css('display', 'inline');
				return false;
			}else{
				obj.parent().addClass('ok');
				obj.parent().removeClass('error');
				obj.siblings('.tips-check').find('font').html('&nbsp;');
				obj.siblings('.tips-check').css('display', 'inline');
				return true;
			}
		}
	}
	// 检查交易密码不能与登录密码相同
	var	checkTradePwdWithLoginPwd = function(){
		var obj = $('#tradepwd');
		if(obj.val() != '' && obj.val() == $('#loginpwd').val()){
			obj.parent().removeClass('ok');
			obj.parent().addClass('error');
			obj.siblings('.tips-check').find('font').text('交易密码不能与登录密码相同！');
			obj.siblings('.tips-check').css('display', 'inline');
			return false;
		}
		return true;
	}
	// 检查家长姓名
	var checkInvnm = function(obj){
		if(obj.val() == ''){
			obj.parent().removeClass('ok');
			obj.parent().addClass('error');
			obj.siblings('.tips-check').find('font').text('请输入家长姓名！');
			obj.siblings('.tips-check').css('display', 'inline');
			return false;
		}else{
			obj.parent().addClass('ok');
			obj.parent().removeClass('error');
			obj.siblings('.tips-check').find('font').html('&nbsp;');
			obj.siblings('.tips-check').css('display', 'inline');
			return true;
		}
	}
	// 检查身份证id
	var checkId = function(obj){
		var errorMsg = check_id(obj.val());
		if(errorMsg != ''){
			obj.parent().removeClass('ok');
			obj.parent().addClass('error');
			obj.siblings('.tips-check').find('font').text(errorMsg);
			obj.siblings('.tips-check').css('display', 'inline');
			return false;
		}else{
			obj.parent().addClass('ok');
			obj.parent().removeClass('error');
			obj.siblings('.tips-check').find('font').html('&nbsp;');
			obj.siblings('.tips-check').css('display', 'inline');
			return true;
		}
	}
	
	// 添加响应事件
	$('#loginpwd').on('blur', function(){
		checkPwd1($(this), 'login');
	});
	$('#tradepwd').on('blur', function(){
		checkPwd1($(this), 'trade');
	});
	$('#loginpwd2').on('blur', function(){
		checkPwd2($(this), 'login');
	});
	$('#tradepwd2').on('blur', function(){
		checkPwd2($(this), 'trade');
	});
	$('#invnm').on('blur', function(){
		checkInvnm($(this));
	});
	$('#idno').on('blur', function(){
		checkId($(this));
	});
	
	// 用户输入时，取消错误提示
	$("form input").on('focus', function(){
		if($(this).parent().hasClass('error')){
			$(this).parent().removeClass('error');
			$(this).siblings('.tips-check').hide();
		}
	});
	
	// 下一步，提交
	$("#btn-subbutton").on("click",function(){
	 
		if(checkPwd1($('#loginpwd'), 'login') && checkPwd2($('#loginpwd2'), 'login')
			&& checkPwd1($('#tradepwd'), 'trade') && checkPwd2($('#tradepwd2'), 'trade')
			&& checkInvnm($('#invnm')) && checkId($('#idno'))){
			
			$("#myform").submit();
		}
	});
   
})
 
</script>
</head>
<body>
 
<div id="body">
    <div class="container">
        <div class="u2 mt20">
            <div class="a4">
               <ul class="v1">
                    <li>创建账户</li>
                    <li class="v1_hover">身份安全信息</li>
                    <li>设置支付方式</li>
                    <li>成功</li>
                </ul>
               <div class="v2">
                    <i class="v2_1"></i>
                    <p>你正在访问幼富通安全网址，请放心操作。幼富通致力于为全国幼教机构打造安全、稳定、便捷的互联网金融服务平台。为了保障你的机构和广大幼儿家庭用户的合法权益，请认真填写以下机构登记信息，我们会严格保密相关隐私信息。</p>
               </div>
                <div class="b3">
                    <form id="myform" class="common-form" method="post" action="${ufbDomain}/family/account/register_card.htm" >
						<input type="hidden" name="mobileno" id="mobileno" value="$!{CustinfoVo.mobileno}" />
                        <div class="panel">
                            <ul class="safeInfo">
                                <li class="anotherArea">
                                    <span class="form-title title-font">设置<label>登录密码</label></span>
                                 <p>登录时需验证，保护账户信息</p>
                                </li>
                                <li>
                                    <span class="form-title">登录密码</span>
                                    <input class="ipt-password1 input-text" type="password" name="loginpwd" id="loginpwd">
                                    <span class="tips-normal" style="display: block;">6-20个大小写英文字母、符号或数字</span>
                          <span class="tips-check"><i class="icon"></i><font></font></span>
                                </li>
                                <li>
                                    <span class="form-title">重复输入</span>
                                    <input class="ipt-password2 input-text" type="password" name="loginpwd2" id="loginpwd2">
                                    <span class="tips-normal" style="display: block;">请再次输入密码</span>
                                  <span class="tips-check"><i class="icon"></i><font></font></span>
                                </li>
                            </ul>
                            <ul class="safeInfo">
                                <li class="anotherArea">
                                    <span class="form-title title-font">设置<label>交易密码</label></span>
                                 <p>涉及资金交易或账户信息修改时输入，不能于登录密码相同</p>
                                </li>
                                <li>
                                    <span class="form-title">交易密码</span>
                                    <input class="ipt-tradepwd input-text" type="password"  name="tradepwd" id="tradepwd">
                                    <span class="tips-normal" style="display: block;">6-20个大小写英文字母、符号或数字</span>
                                  <span class="tips-check"><i class="icon"></i><font></font></span>
                                </li>
                                <li>
                                    <span class="form-title">重复输入</span>
                                    <input class="ipt-tradepwd2 input-text" type="password"  name="tradepwd2" id="tradepwd2">
                                    <span class="tips-normal" style="display: block;">请再次输入密码</span>
                                 <span class="tips-check"><i class="icon"></i><font></font></span>
                                </li>
                            </ul>
                             <ul class="safeInfo borderNone">
                                <li class="anotherArea">
                                    <span class="form-title title-font">确认家长身份</span>
                                 <p>请务必准确填写本人身份信息，注册后不能更改，隐私信息严格保密</p>
                                </li>
                                <li>
                                    <span class="form-title">家长姓名</span>
                                    <input class="ipt-invnm input-text" type="text" name="invnm" id="invnm" value="$!{CustinfoVo.invnm}" >
                                    <span class="tips-normal" style="display: block;">#if(${CustinfoVo.invnm}) #else 请填写家长姓名 #end </span>
                                    <span class="tips-check"><i class="icon"></i><font></font></span>
                                </li>
                                <li>
                                    <span class="form-title">身份证号码</span>
                                    <input class="ipt-idCard input-text" type="text" name="idno" id="idno" maxlength="18">
                                    <span class="tips-normal" style="display: block;">请填写身份证号码</span>
                                     <span class="tips-check"><i class="icon"></i><font></font></span>
                                </li>
                                <li>
                                    <input id="btn-subbutton" class="input-button" type="button" value="下一步">                 
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
</body>
</html>