<html>
<head>
<title>幼富通-注册-创建账户</title>
<script>!window.jQuery && document.write(unescape('%3Cscript src="js/minified/jquery-1.9.1.min.js"%3E%3C/script%3E'))</script>  <!--scroll美化-->
<script type="text/javascript">
$(function(){
	// 用户注册协议
	$("#uftRegistered").click(function(){
       $(".bgBox , #uft").fadeIn();       
   	});
   	$("#uft .close , .btnKnow").click(function(){
       $(".bgBox , #uft").fadeOut();       
   	});
	$(window).load(function(){
        $(".content_scroll").mCustomScrollbar({
            theme:"dark", //主题颜色
            scrollButtons:{
                enable:true //是否使用上下滚动按钮
            },
            autoHideScrollbar: false, //是否自动隐藏滚动条
            scrollInertia :0,//滚动延迟
            horizontalScroll : false//水平滚动条

        });
    });
    
    // 手机号码检测
    var checkMobile = function(){
    	var regex = /^(((13[0-9]{1})|145|147|(15[0-9]{1})|170|17[6-8]{1}|(18[0-9]{1}))+\d{8})$/;
	 	
		if($("#mobileno").val() == ''){
			$("#mobileno").next().find('font').text('手机号码不能为空！');
			$("#mobileno").next().css('display', 'inline');
			$("#mobileno").closest('li').addClass('error');
			$("#mobileno").closest('li').removeClass('ok');
			return false;
		}else if(!$("#mobileno").val().match(regex)){
			$("#mobileno").next().find('font').text('手机号码格式不正确！');
			$("#mobileno").next().css('display', 'inline');
			$("#mobileno").closest('li').addClass('error');
			$("#mobileno").closest('li').removeClass('ok');
			return false;
		}else if(isMobileRegister($('mobileno').val())){
	 		$("#mobileno").next().find('font').text('手机号码已注册！');
			$("#mobileno").next().css('display', 'inline');
			$("#mobileno").closest('li').addClass('error');
			$("#mobileno").closest('li').removeClass('ok');
			return false;
	 	}else{
	 		$("#mobileno").next().find('font').html('&nbsp;');
			$("#mobileno").next().css('display', 'inline');
			$("#mobileno").closest('li').removeClass('error');
			$("#mobileno").closest('li').addClass('ok');
			return true;
	 	}
    }
    
    // 图形验证码检测
    var checkVerifycode = function(){
    	
    	if($("#verifycode").val() == ''){
			$("#verifycode").next().next().find('font').text('请输入图形验证码！');
			$("#verifycode").next().next().css('display', 'inline');
			$("#verifycode").closest('li').addClass('error');
			$("#verifycode").closest('li').removeClass('ok');
			return false;
		}else if(!verifycode_check($("#verifycode").val())){
			$("#verifycode").next().next().find('font').text('验证码不正确！');
			$("#verifycode").next().next().css('display', 'inline');
			$("#verifycode").closest('li').addClass('error');
			$("#verifycode").closest('li').removeClass('ok');
			return false;
		}else{
			$("#verifycode").next().next().find('font').html('&nbsp;');
			$("#verifycode").next().next().css('display', 'inline');
			$("#verifycode").closest('li').removeClass('error');
			$("#verifycode").closest('li').addClass('ok');
			return true;
		}
    
    }
    
    // 手机验证码检测
    var checkMsgcode = function(){
    	if($("#msgcode").val() == ''){
    		$("#msgcode").next().next().find('font').text('请输入手机验证码！');
			$("#msgcode").next().next().css('display', 'inline');
			$("#msgcode").closest('li').addClass('error');
			return false;
		}else{
			var result = msgcode_check($("#msgcode").val(), $("#mobileno").val());
			if(result.errCode != '0000'){
				$("#msgcode").next().next().find('font').text('手机验证码不正确！');
				$("#msgcode").next().next().css('display', 'inline');
				$("#msgcode").closest('li').addClass('error');
				return false;
			}
		}
		return true;
    }
    
    // 添加响应事件
    $('#mobileno').on('blur', checkMobile);
	$('#verifycode').on('blur', checkVerifycode);
	
	// 用户输入时，取消错误提示
	$("form input").on('focus', function(){
		if($(this).parent().hasClass('error')){
			$(this).parent().removeClass('error');
			$(this).siblings('.tips-check').hide();
		}
	});
	
   	// 获取手机验证码
	$("#btn-getMsgCode").on("click",function(){
	 	if(checkMobile() && checkVerifycode()){
	 		msgcode_send();
	 	}
	});
	
	// 提交表单
	$("#submitForm").on("click",function(){
		if(!(checkMobile() && checkMsgcode())){
			return false;
		}
		$('#myform').submit();
	});
	
	// 检验图形验证码
	var verifycode_check = function(verifycode){
		var result = false;
		$.ajax({
			type: "post",
			url: '${ufbDomain}/common/verifycode_check.htm',
			data:'verifycode='+verifycode,
			async:false,
			success: function(data){
				var json = $.parseJSON(data);
				if(json.errCode=='0000'){
					result = true;
				}
			},
			error: function(XMLHttpRequest, textStatus, errorThrown) {
				console.log('系统出现异常！');
			}
		});
		return result;
	}
	
	// 检验手机验证码
	var msgcode_check = function(msgcode, mobileno){
		var result = {errCode:'9999'};
		$.ajax({
			type: "post",
			url: '${ufbDomain}/common/msgcode_check.htm',
			data:'msgcode='+msgcode+'&mobileno='+mobileno,
			async:false,
			success: function(data){
				result = $.parseJSON(data);
			},
			error: function(XMLHttpRequest, textStatus, errorThrown) {
				console.log('系统出现异常！');
			}
		});
		return result;
	}
	
	// 发送短信验证码
	var msgcode_send = function(){
		var result = false;
		$("#btn-getMsgCode").addClass("off");
        $("#btn-getMsgCode").attr("disabled","disabled");
		$.ajax({
     		type: "get",
    		url: "${ufbDomain}/common/msgcode_send.htm",
    		data: 'mobileno='+$("#mobileno").val()+'&verifycode='+$("#verifycode").val(),
    		async: false,
    		success: function(data) {
    			var json = $.parseJSON(data);
				if(json.errCode=='0000'){
					result = true;
					
					// this is test code... removed later...
					$('#msgcode').val(json.msgcode);
				}
        	},
			error: function(XMLHttpRequest, textStatus, errorThrown) {
				console.log('系统出现异常！');
			}
        });
        if(result){
        	alert("手机验证码已发送！");
            setTimeout(countDown, 1000);
        }else{
        	$("#btn-getMsgCode").removeClass("off");
			$("#btn-getMsgCode").removeAttr("disabled");
        }
        return result;
	}
	
	// 获取短信码按钮倒计时
	var count = 60;
	var countDown = function() {
		$("#btn-getMsgCode").val("等待" + count + "秒!"); 
		if (count == 0) { 
			$("#btn-getMsgCode").val("重新发送"); 
			$("#btn-getMsgCode").removeClass("off");
			$("#btn-getMsgCode").removeAttr("disabled"); 
			clearTimeout(countDown); 
		}else{
			count--; 
			setTimeout(countDown, 1000);
		}
	}
	
	// 手机是否已注册
	var isMobileRegister = function(mobileno){
		var result = false;
		$.ajax({
			type: "get",
			url: '${ufbDomain}/common/isMobileRegister.htm',
			data:'mobileno='+$('#mobileno').val(),
			async:false,
			success: function(data){
				var json = $.parseJSON(data);
				if(json.errCode=='0000'){
					result = json.isMobileRegister;
				}
			},
			error: function(XMLHttpRequest, textStatus, errorThrown) {
				console.log('系统出现异常！');
			}
		});
		return result;
	}
	
})
</script>
</head>
<body>
 
<div id="body">
    <div class="container">
        <div class="u2 mt20">
            <div class="a4 minHeight">
               <ul class="v1">
                    <li class="v1_hover">创建账户</li>
                    <li>身份安全信息</li>
                    <li>设置支付方式</li>
                    <li>成功</li>
                </ul>
                <div class="b3 mt10 pt30">
                    <form id="myform" class="common-form" method="post" action="${ufbDomain}/family/account/register_passwd.htm">
                    	<input type="hidden" id="isRegister" value="0">
                        <div class="panel panelCenter">
                            <ul>
                                <li>
                                    <span class="form-title">手机号</span>
                                    <input class="ipt-phoneNum input-text" type="text" name="mobileno" id="mobileno"  value="$!{CustinfoVo.mobileno}" placeholder="输入11位手机号">
                                    <span class="tips-check"><i class="icon"></i><font>手机号码不能为空！</font></span>
                                </li>
                                <li>
                                    <span class="form-title">验证码</span>
                                     <input class="ipt-code input-code" type="text"  name="verifycode"  id="verifycode" maxlength="4" value="$!{CustinfoVo.verifycode}" placeholder="输入图形验证码">
                                    <span style="display:block;float:right;padding-right:55px;"><img style="width: 80px;height: 35px;display: block;padding-top: 3px;" id="btn-verifycode" src="${ufbDomain}/createImageservlet"+"?time="+(+new Date())" onclick="javascript:this.src=this.src+'?time='+(+new Date())" ></span>
                                    <span class="tips-check" style="float:right;width: 120px;display: none; position: absolute; top:10px;right: -90px"><i class="icon"></i><font>请输入图形验证码！</font></span>
                                </li>
                                <li>
                                    <span class="form-title">手机验证码</span>
                                    <input class="ipt-phoneCode input-code" type="text" maxlength="6" name="msgcode" id="msgcode" value="$!{CustinfoVo.msgcode}" placeholder="输入手机验证码">
                                    <input id="btn-getMsgCode" class="input-button" type="button" value="获取验证码">
                                    <span class="tips-check"><i class="icon"></i><font>请输入手机验证码！<font></span>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
                <div class="b2">
                    <p class="font12">点击下一步表示同意<a href="#" id="uftRegistered">《幼富通用户注册协议》</a></p>
                    <a href="#"  id="submitForm" class="btnA">下一步</a>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>

<!--弹层-->    
<div class="bgBox" style="display: none;"></div>
<div class="layerpop" id="uft">	
    <b class="close"></b>
    <div class="layerTitle">《幼富通用户注册协议》</div>
	<div id="content_1" class="content content_scroll">
               <h4>《幼富通用户注册协议》</h4>
                <p>此处内容通过富文本编辑器进行编辑发布<br>
                    个体工商户无组织机构代码（仅支持个体工商户）<br>
                    目前仅支持中国大陆企业；<br>
                    注：个体工商类，若无组织机构代码，可以在选择项填写“无”，上传附件用营业执照代替即可。</p>
                <p>此处内容通过富文本编辑器进行编辑发布<br>
                个体工商户无组织机构代码（仅支持个体工商户）<br>
                目前仅支持中国大陆企业；<br>
                注：个体工商类，若无组织机构代码，可以在选择项填写“无”，上传附件用营业执照代替即可。</p>
                <h4>幼富宝服务协议</h4>
                <p>此处内容通过富文本编辑器进行编辑发布<br>
                个体工商户无组织机构代码（仅支持个体工商户）<br>
                目前仅支持中国大陆企业；<br>
                注：个体工商类，若无组织机构代码，可以在选择项填写“无”，上传附件用营业执照代替即可。</p>
                <p>对公账户填写（个体工商户）<br>
                若个体工商户无对公账户，可填写营业执照上法人的个人银行卡号。<br>
                温馨提示：仅限个体工商户，填写个人银行卡号时需与营业执照上法人保持一致。</p>
                <p>对公账户填写（政府类型）<br>
                若政府类型若没有对公账号，可以在“机构开户银行”、“机构银行账号”栏填写“无”。</p>
        <a href="javascript:;" class="btnKnow closebox">我知道了</a>
    </div>
</div>  	            
</body>
</html>