<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ufufund.ufb.dao.CustinfoMapper">
    
   
    
  	<select id="getCustinfo" parameterType="com.ufufund.ufb.model.db.Custinfo" resultType="com.ufufund.ufb.model.db.Custinfo">
  		select t1.* from custinfo t1 
  		where 1=1
		<if test="custno != null and custno !=''" >and t1.custno = #{custno}</if>
  		<if test="mobileno != null and mobileno !=''" >and t1.mobileno = #{mobileno}</if>
		<if test="idno != null and idno !=''" >and t1.idno = #{idno}</if>
		and t1.custst = 'N'
  	</select>

	<insert id="insertCustinfo" parameterType="com.ufufund.ufb.model.db.Custinfo">
  	 <![CDATA[
	 	insert into custinfo (
	 		custno,
		    invtp,
		    invnm,
			sex,
			idtp,
		    idno,
		    mobileno,
		    email,
		    custst,
		    passwd,
		    lastlogintime,
		    passwderr,
		    opendt,
		    updatetimestamp,
		    tradepwd)
		values (
			#{custno,jdbcType=VARCHAR},
			#{invtp,jdbcType=VARCHAR},
			#{invnm,jdbcType=VARCHAR},
			#{sex,jdbcType=VARCHAR},
			#{idtp,jdbcType=VARCHAR},
			#{idno,jdbcType=VARCHAR},
			#{mobileno,jdbcType=VARCHAR},
			#{email,jdbcType=VARCHAR},
			#{custst,jdbcType=VARCHAR},
			#{passwd,jdbcType=VARCHAR},
			null,
			#{passwderr,jdbcType=DECIMAL},
			#{opendt,jdbcType=VARCHAR},
			systimestamp,
			#{tradepwd,jdbcType=VARCHAR},
			)
	 ]]>
  	</insert>

	<update id="updatCustinfo" parameterType="com.ufufund.ufb.model.db.Custinfo">
		UPDATE CUSTINFO T1
	       SET T1.UPDATETIMESTAMP = SYSTIMESTAMP
	       	<if test="invtp != null">
	       	  ,T1.INVTP = #{invtp,jdbcType=VARCHAR}
	       	</if>
	       	<if test="invnm != null">
	       	  ,T1.INVNM = #{invnm,jdbcType=VARCHAR}
	       	</if>
			<if test="sex != null">
	       	  ,T1.SEX = #{sex,jdbcType=VARCHAR}
	       	</if>
	        <if test="idtp != null">
	       	  ,T1.IDTP = #{idtp,jdbcType=VARCHAR}
	       	</if>
			<if test="idno != null">
	       	  ,T1.IDNO = #{idno,jdbcType=VARCHAR}
	       	</if>
	        <if test="mobileno != null">
	       	  ,T1.MOBILENO = #{mobileno,jdbcType=VARCHAR}
	       	</if>
			<if test="email != null">
	       	  ,T1.EMAIL = #{email,jdbcType=VARCHAR}
	       	</if>
			<if test="custst != null">
	       	  ,T1.CUSTST = #{custst,jdbcType=VARCHAR}
	       	</if>
			<if test="passwd != null">
	       	  ,T1.PASSWD = #{passwd,jdbcType=VARCHAR}
	       	</if>
	        <if test="lastlogintime != null">
	       	  ,T1.LASTLOGINTIME = #{lastlogintime,jdbcType=timestamp}
	       	</if>
			<if test="passwderr != null">
	       	  ,T1.PASSWDERR = #{passwderr,jdbcType=VARCHAR}
	       	</if>
	        systimestamp,
			<if test="tradepwd != null">
	       	  ,T1.TRADEPWD = #{tradepwd,jdbcType=VARCHAR}
	       	</if>
	     WHERE T1.custno = #{custno,jdbcType=VARCHAR}
	</update>
   
   <select id="getCustinfoSequence"  resultType="java.lang.String">
	
	</select>
	
</mapper>

