<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ufufund.daointerface.CustinfoMapper">

	<select id="queryCustinfoDO" parameterType="com.ufufund.dataobject.CustinfoDO"  resultType="com.ufufund.dataobject.CustinfoDO">
		  SELECT
			CUSTINFO.CUSTID
			FROM
			CUSTINFO
  	</select>
     
     
    
  	
</mapper>