<form class="login_form" action="../cust/login_home.htm">
<script type="text/javascript" src="../js/register.js"></script>
<script type="text/javascript" src="../js/JSEncrypt.js"></script>
<script type="text/javascript">
</script>
<style>
</style>
<div>
getLoginPwdSuccess!
</div>
</form>
<script>
    
</script>
