/* Start common */
.inline-block{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.num-red{
    color: #cb3849;
}
.num-green{
    color: #1ea939;
}
.num-blue{
    color: #2f8fbf;
}
.middel-wire{
    margin:0 10px;
}
.hide{
    display: none;
}
.placehold-hide{
    visibility: hidden;
}
.btn {
    font-family: Tohoma, Helvetica,Arial,'Microsoft Yahei',SimHei,STXihei, serif;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    overflow: hidden;
    border: 0 none;
    font-weight: 500;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-apprearance: none;
    color: #fff;
}
.btn-white,.btn-white:focus{
    width:98px;
    height:36px;
    line-height:36px;
    color:#cb3849;
    background-color:#fff;
    border:1px solid #cb3849;
}
.btn-white:hover{
    color:#fff;
    background-color:#cb3849;
}
.btn-red{
    width:98px;
    height:36px;
    line-height:36px;
    color:#fff;
    background-color:#cb3849;
}
.btn-red:hover{
    background-color:#ba3145;
}
.checkbox{
    cursor: pointer;
    background:url(../images/checkbox.png) no-repeat 0 1px;
    font-size: 14px;
}
.checkbox.active {
    background:url(../images/checkbox.png) no-repeat 0 -23px;
}

.control-group {
    margin-bottom: 2em;
    font-size:14px;
}
.control-group input[type=text],
.control-group input[type=password] {
    vertical-align: middle;
    padding: 0 10px;
    border: solid 1px #ccc;
    outline: medium none;
    font-family: arial;
    font-weight: 400;
    font-size: 14px;
    color: #666;
    width: 100px;
    height: 34px;
    line-height: 34px;
    cursor: pointer
}
.control-group input[type=text]:focus,
.control-group input[type=password]:focus {
    border: solid 1px #2f8fbf;
}
.control-group .form-lbl {
    display: inline-block;
    padding-right: 12px;
    width:5em;
    text-align: left;
    vertical-align: middle;
}
.control-group .on{
    color: #fff;
    background-color: #2f8fbf;
    padding: 2px 4px;
}
.control-group .mgright{
    margin-right: 3em;
}
.control-group p span{
    cursor: pointer;
    color: #666;
}
span.tip{
    border: 1px solid #2f8fbf;
    color: #2f8fbf;
    padding: 0 2px;
    margin-left: 8px;
    font-size: 14px;
    border-radius:4px;
}
span.tip-red {
    color: #cb3849;
}
span.tip-gray {
    color: #666;
    border: 1px solid #999;
}
i.reduce{
    position: absolute;
    top: 1px;
    right: 20px;
    display: block;
    color: #666;
    font-size: 20px;
}
i.triangle-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #2f8fbf;
    vertical-align: middle;
    margin-left: 3px;
    display: inline-block;
}
i.triangle-down-black {
    border-top: 7px solid #666;
}
i.triangle-up {
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 7px solid #2f8fbf;
    vertical-align: middle;
    margin-left: 3px;
    margin-bottom: 3px;
    display: inline-block;
}
i.asterisk{
    color: #cb3849;
    font-size: 20px;
    margin-right: 5px;
    vertical-align: middle;
}
i.email-notice{
    display: inline-block;
    background: url("../images/tuition-icons.png") -5px -37px no-repeat;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
i.imitate-radio{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../../images/tuition-icons.png") no-repeat -10px -230px;
}
i.imitate-radio.check{
    background: url("../../images/tuition-icons.png") no-repeat -10px -211px;
}
i.hisemail{
    display: inline-block;
    width: 9px;
    height: 8px;
    background: url("../../images/tuition-icons.png") -10px -274px no-repeat;
    margin-left: 4px;
    margin-right: 4px;
    vertical-align: super;
    cursor: pointer;
}
i.hisphone{
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url("../../images/tuition-icons.png") -10px -282px no-repeat;
    cursor: pointer;
}

/* End common */
/* Start organizTuitionArchives.html */
.archives-title {
    background-color: #2f8fbf;
    margin-top: 30px;
    margin-bottom: 20px;
    height: 40px;
}
.archives-title h2 {
    padding-left: 15px;
    color: #ffffff;
    font-size: 16px;
    line-height: 40px;
}
.archives{
    width: 100%;
    background-color: #fff;
    font-size: 14px;
    margin-bottom: 20px;
}
.archives-top{
    border-bottom: 1px solid #cacaca;
    height: 42px;
    line-height: 42px;
}
.archives-top ul li{
    float: left;
    margin-left: 20px;
    margin-right: 25px;
    text-align: center;
    cursor: pointer;
}
.archives-top ul li.on{
    border-bottom: 2px solid #2f8fbf;
    color: #2f8fbf;
}
.archives-top .edit-icon{
    display: inline-block;
    background: url("../../images/tuition-icons.png") -5px -5px no-repeat;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    vertical-align: text-bottom;
}
.archives-top .edit{
    margin-right: 12px;
    color: #2f8fbf;
}
.archives-top .save{
    margin-right: 12px;
    color: #cb3849;
}
.info-archives{
    clear: both;
}
.info-archives h3{
    padding-left: 20px;
    color: #333;
    line-height: 60px;
    height: 60px;
}
.archives-main{
    width: 860px;
    margin: 0 auto;
}
.archives-main input[type=text],
.archives-main input[type=password] {
    vertical-align: middle;
    padding: 0 10px;
    border: solid 1px #ccc;
    outline: medium none;
    font-family: arial;
    font-weight: 400;
    font-size: 14px;
    color: #666;
    width: 145px;
    height: 34px;
    line-height: 34px;
    cursor: pointer
}
.archives-main ul li{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 33%;
    height: 34px;
    margin-bottom: 1em;
}
.archives-main ul li label{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding-right: 1.5em;
    width:6em;
    font-size: 14px;
    text-align: right;
    vertical-align: middle;
}
.archives-main ul li label.checkbox {
    text-align: left;
    margin-left: 1.5em;
    width: auto;
}
.archives-main ul li p{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.archives-main ul li.add-parents{
    width: 100%;
    padding-left: 55px;
}
.archives-main .selectmenu .select {
    width: 168px;
}
.archives-main .selectmenu .text {
    font-size: 14px;
}
.archives-main .selectmenu .list li {
    width: 87%;
}

.archives-main .add-parent{
    margin-right: 12px;
    color: #2f8fbf;
}
.archives-more{
    clear: both;
    background-color: #f6f6f6;
    width: 96%;
    margin: 20px auto 35px;
    height: 42px;
    line-height: 42px;
    padding-left: 2em;
    color: #333;
    box-shadow: 3px 3px 3px #d5d5d5;
    position: relative;
}

.archives-more-down ul li{
    width: 48%;
}
.archives-save{
    text-align: center;
}
.info-archives .btn-archives-save {
    width: 120px;
    margin-bottom: 40px;
    margin-top: 30px;
}
/* history-record style */
.history-record{
    clear: both;
    padding: 30px 10px 40px 6px;
}
.history-record table{
    width: 100%;
}
.history-record table tr{
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.history-record table tr:nth-child(odd){
    background-color: #eaf4f8;
}
.history-record table tr th{
    text-align: center;
    background-color: #d5e9f2;
    border: 1px solid #fff;
}
.history-record table tr td{
    text-align: center;
    border: 1px solid #fff;
}
.history-record table tr td p{
    line-height: 20px;
}
/* End organizTuitionArchives.html */
/* Start organizTuitionLaunch.html */
.control-group p.name .selected{
    color: #2f8fbf;
}
.history-record .control-group .search-text{
    margin-left: 14px;
    width: 185px;
    margin-right: 14px
}
.history-record .control-group .btn-search{
    height: 34px;
    line-height: 34px
}
.history-record-top{
    width: 100%;
    height: 90px;
    margin: 0 auto 30px;
    border-bottom: 1px solid #dedede;
}

.history-record-top ul li p{
    margin-bottom: 1em;
    height:24px;
    line-height: 24px;
}
.history-record-top ul li label{
    margin-left: 0!important;
    margin-right: 3em;
}
.history-record-top ul li .pname{
    font-size: 18px;
    color: #2f8fbf;
}
.history-record-top .selectmenu .select {
    width: 120px;
}
.history-record{
    clear: both;
    padding: 30px 15px 40px 15px;
}
.history-record table{
    width: 100%;
}

.allselect{
    height: 50px;
    line-height: 50px;
    padding: 0 4px 0 21px;
}
.allselect .alls{
    cursor: pointer;
    margin-left: 6px;
}
.allselect .print{
    color: #cb3849;
    padding: 6px;
    margin-left: 10px;
    border: 1px solid #cb3849;
}
.grades-item-title{
    clear: both;
    background-color: #f6f6f6;
    width: 98%;
    margin: 15px auto;
    height: 42px;
    line-height: 42px;
    padding-left: 1em;
    color: #333;
    box-shadow: 3px 3px 3px #d5d5d5;
    position: relative;
}
.grades-item-title .reduce{
    position: absolute;
    top: 1px;
    right: 20px;
    display: block;
    color: #666;
    font-size: 20px;
    cursor: pointer;
}
.grades-item-title label{
    margin-left: 6px;
}
/* End organizTuitionLaunch.html */
/* Start pop-up-box style */
.history-record-top{
    width: 100%;
    height: 90px;
    margin: 0 auto 30px;
    border-bottom: 1px solid #dedede;
}

.history-record-top ul li p{
    margin-bottom: 1em;
    height:24px;
    line-height: 24px;
}
.history-record-top ul li label{
    margin-left: 14px;
    margin-right: 3em;
}
.history-record-top ul li .pname{
    font-size: 18px;
    color: #2f8fbf;
}
.history-record-top .selectmenu .select {
    width: 120px;
}
.popup-box {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
    height: 1100px;
    left: 0;
    top: 0;
    z-index: 100;
    display: none;
}
.popup-box .close {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 2;
    background: url(../../public/images/06.png) no-repeat;
    cursor: pointer;
}
.popup-box .bg {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #000;
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
    -ms-opacity: 0.9;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.popup-box .content {
    width: 680px;
    height: auto;
    overflow: visible;
    top:0;
    left: 50%;
    position: absolute;
    z-index: 3;
    margin-left: -340px;
    margin-top: 16px;
    background: #fff;
}
.popup-box .sum-right{
    margin-right: 5em;
}
.popup-box .sum-right .control-group{
    margin-bottom: 1em;
}
.popup-box .sum-right .control-group .form-lbl{
    width: 8em;
    padding-right: 2em;
}
.popup-box .sum-bottom{
    clear: both;
    margin-bottom: 50px;
    margin-left: 50px;
}
.popup-box .sum-bottom .control-btn{
    margin-left: 109px;
}

.popup-box .textinput{
    vertical-align: middle;
    padding: 0 10px;
    border: solid 1px #ccc;
    outline: medium none;
    font-family: arial;
    font-weight: 400;
    font-size: 14px;
    color: #666;
    width: 56px;
    height: 34px;
    line-height: 34px;
    cursor: pointer
}
.popup-box .selectmenu .select {
    width: 90px;
}
.popup-box .popbox-save{
    border: 1px solid #cb3849;
    color: #cb3849;
    padding: 6px 15px;
}
.popup-box .newadd{
    margin-top: 20px;
    padding-left: 20px;
}
.popup-box .newadd a{
    margin-right: 28px;
}
.popup-box .content-body{
    width: 600px;
    margin: 40px auto 20px;
}
.popup-box .print-title{
    border-bottom: 2px solid #2f8fbf;
    padding-bottom: 12px;
    font-size: 24px;
    font-weight: bold;
}
.popup-box .print-call{
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #2f8fbf;
}
.popup-box .print-call span{
    color: #333;
}
.popup-box .content-body .print-info table{
    width: 100%;
}
.popup-box .content-body .print-info table tr{
    height: 24px;
    line-height: 24px;
}
.popup-box .content-body .content-middle{
    height: 345px;
    width: 100%;
    margin: 20px auto;
}
.popup-box .content-middle-left{
    width: 40%;
    margin-top: 20px;
}
.popup-box .content-middle-right{
    width: 56%;
}
.popup-box .content-middle-right h4{
    margin-bottom: 6px;
}
.popup-box hr{
    border-bottom: 1px dashed #666;
    border-top:none ;
}

.popup-box .content-body .content-middle-right table{
    width: 100%;
}
.popup-box .content-body .content-middle-right table tr{
    height: 24px;
    line-height: 24px;
}
.popup-box .content-body .content-middle-right table th{
    text-align: center;
    color: #666;
    border: 1px solid #ccc;
}
.popup-box .content-body .content-middle-right table td{
    text-align: center;
    border: 1px solid #ccc;
}
.popup-box .content-body .content-pennlt{
    position: relative;
    padding-top: 20px;
}
.popup-box .content-body .content-pennlt .control-group{
    margin-bottom: 1em;
}
.popup-box .content-body .content-pennlt label{
    width: 7em;
    text-align: left;
    padding-right: 1.5em;
}
.popup-box .content-body .content-pennlt .pennlt-right{
    position: absolute;
    right: 0px;
    top: 40px;
}
.popup-box .content-body .content-pennlt .pennlt-right-img{
    height: 100px;
    width: 200px;
    background-color: #e6e6e6;
}
.popup-box .content-bottom{
    background-color: #2f8fbf;
    position: relative;
    color: #fff;
    padding: 30px 30px 30px 40px;
}
.popup-box .content-bottom .weixin{
    position: absolute;
    right: 22px;
    top: 22px;
    display: block;
    background: url("../../images/weixin.png") no-repeat;
    height: 138px;
    width: 100px;
    background-size: 100px 138px;
}
.popup-box .content-bottom h2{
    font-size: 18px;
}
.popup-box .bottom-btn{
    width: 600px;
    height: 130px;
    position: absolute;
    left: 368px;
    bottom: -100px;
    *bottom: -130px;
    z-index: 2;
}
.popup-box .bottom-btn a{
    margin-right: 25px;
}
/* Start pop-up-box style */
/* Start organizTuitionDetails.html */
.tuitionDetails .charge-object{
    border-bottom: 2px solid #2f8fbf;
    height: 16px;
    line-height: 16px;
    margin-bottom: 40px;
    padding-bottom: 15px;
    font-size: 16px;
}

.tuitionDetails .plannum-bottom{
    width: 90%;
    margin: 40px auto 0;
}
.tuitionDetails .plannum-bottom-left{
    margin-right: 3em;
}
.tuitionDetails .plannum-bottom-right{
    margin-left: 2em;
    text-align: center;
}
.tuitionDetails .plannum-bottom-right p i.red{
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-right: 6px;
    background-color: #cb3849;
}
.tuitionDetails .plannum-bottom-right p i.blue{
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-right: 6px;
    background-color: #2f8fbf;
}
/* middel-flow  date-line style */
.middel-flow{
    width: 960px;
    margin:0 0 0 -15px;
    padding-top: 40px;
/*    background-color: #eaf4f8;*/
}
.date-line {
    position: relative;
    width:70%;
    height: 100px;
    margin: 0 auto;
    border-top: 2px solid #d4d4d5;
}
.date-line .line-point {
    position: absolute;
    top: -12px;
    width: 100px;
    margin-left: -50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}
.date-line .line-point.point-1 {
    left: 0;
}
.date-line .line-point.point-2 {
    left: 33.33%;
}
.date-line .line-point.point-3 {
    left: 66.66%;
}
.date-line .line-point.point-4 {
    left: 100%;
}
.date-line .line-point .point-icon {
    width: 24px;
    height: 24px;
    margin: 0 auto;
}
.date-line .line-point .point-text {
    padding-top: 10px;
}
.date-line .line-point .text-name {
    margin-bottom: 5px;
}
.date-line .line-point .point-icon {
    background: url("../images/tuition-icons.png") no-repeat -10px -151px;
}
.date-line .line-point .point-icon.pass {
    background: url("../images/tuition-icons.png") no-repeat -10px -182px;
}
.date-line .date-line-top{
    position: absolute;
    left: 0px;
    top: -2px;
    border-top: 3px solid #87b828;
}
.date-line .part1{
    width: 200px;
}
.date-line .part2{
    width: 410px;
}
.date-line .part3{
    width: 620px;
}
/* End organizTuitionDetails.html */


/* Start organizTuitionLaunchStep123.html */
.step-tabs {
    width: 858px;
    height: 41px;
    margin: 0 auto;
    overflow: hidden;
    background: url("../../images/bg_tabs.png") no-repeat 0 -999px;
}
.step-tabs.tabs-step1 {
    background-position: 0 0;
}
.step-tabs.tabs-step2 {
    background-position: 0 -41px;
}
.step-tabs.tabs-step3 {
    background-position: 0 -82px;
}
.step-tabs .tab {
    width: 286px;
    height: 41px;
    text-align: center;
    line-height: 41px;
    font-size: 14px;
    color: #666666;
}
.step-tabs .tab.on {
    color: #ffffff;
}
.middel-groups{
    width: 90%;
    margin: 50px auto 10px auto;
}
.middel-groups .control-group .form-lbl {
    width:8em;
    color: #666;
}
.middel-groups .control-group p .cost-type {
    margin-right: 43px;
    cursor: pointer;
}
.middel-groups .control-group p .charge-way {
    margin-right: 15px;
    cursor: pointer;
}
.middel-groups .control-group .remark{
    font-size: 12px;
    margin-left: 3em;
    color: #666;
}
.middel-groups .selectmenu .select {
    width: 120px;
}
.control-btnnext{
    margin: 30px 200px;
}
/*organizTuitionLaunchStep2*/

.step-tabs {
    width: 858px;
    height: 41px;
    margin: 0 auto;
    overflow: hidden;
    background: url("../../images/bg_tabs.png") no-repeat 0 -999px;
}
.step-tabs.tabs-step1 {
    background-position: 0 0;
}
.step-tabs.tabs-step2 {
    background-position: 0 -41px;
}
.step-tabs.tabs-step3 {
    background-position: 0 -82px;
}
.step-tabs .tab {
    width: 286px;
    height: 41px;
    text-align: center;
    line-height: 41px;
    font-size: 14px;
    color: #666666;
}
.step-tabs .tab.on {
    color: #ffffff;
}
.btn-search{
    height: 34px;
    line-height: 34px;
    color: #cb3849;
    background-color: transparent;
}
.btn-search:focus{
    height: 34px;
    line-height: 34px;
    color: #cb3849;
    background-color: transparent;
}
.btn-setdetail{
    margin-left: 10px;
}
.grades-item-title .grades-item-save{
    margin-left: 10px;
    color: #cb3849;
}
.grades-item-title .grades-item-edit{
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url("../../images/tuition-icons.png") -10px -254px no-repeat;
    vertical-align: middle;
    margin-left: 10px;
}

.bottom-fix{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
}
.bottom-fix-body{
    width: 935px;
    margin: 0 auto;
    background-color: #e2e2e2;
/*    box-shadow: 5px 5px 5px #cfcfce;*/
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
    opacity: 0.9;
}
/*organizTuitionLaunchStep3*/
.trade-right{
    margin-top: 60px;
    margin-bottom: 100px;
    padding-right: 30px;
}
/* End organizTuitionLaunchStep123.html */


