<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>幼富通</title>


</head>
<body>
<div id="page">
    <div id="header">
		<div class="topNav">
			<div class="container">
				<div class="b1"><a href="#" class="active">机构版</a><a href="#">家庭版</a></div>
				<div class="b2"><span>柔软的大牛</span><a href="#"></a></div>
			</div>
		</div>
        <div class="container">
            <a href="#" class="logo"></a>
			<div class="nav">
				<a href="../cust/session.htm" class="active">我的幼富通</a>
				<a href="#">学费通</a>
				<a href="#">幼富宝</a>
				<a href="#">短期理财</a>
				<a href="#">幼富贷</a>
			</div>
        </div>
    </div>
	<form id="form" class="common-form"  method="post" action="${staticDomain}/org/openAccoStep3.htm">
	<input id="orgnm" name="orgnm" type="hidden" value="$!{BankCardVo.orgnm}">
	<input id="orgbusiness" name="orgbusiness" type="hidden" value="$!{BankCardVo.orgbusiness}">
	<input id="orgprovinceno" name="orgprovinceno" type="hidden" value="$!{BankCardVo.orgprovinceno}">
	<input id="orgcityno" name="orgcityno" type="hidden" value="$!{BankCardVo.orgcityno}">
	<input id="orgadd" name="orgadd" type="hidden" value="$!{BankCardVo.orgadd}">
	<input id="invnm" name="invnm" type="hidden" value="$!{BankCardVo.invnm}">
	<input id="idno" name="idno" type="hidden" value="$!{BankCardVo.idno}">
	<input id="mobile" name="mobile" type="hidden" value="$!{BankCardVo.mobile}">
	<input id="telno" name="telno" type="hidden" value="$!{BankCardVo.telno}">
	<input id="emailadd" name="emailadd" type="hidden" value="$!{BankCardVo.emailadd}">
	<input id="rerpidno" name="rerpidno" type="hidden" value="$!{BankCardVo.rerpidno}">
	<input id="rerpnm" name="rerpnm" type="hidden" value="$!{BankCardVo.rerpnm}">
    <div id="body">
        <div class="container">
			<div class="a1">机构开户</div>
			<div class="u2">
				<ul class="v1">
					<li>1 基本资料</li>
					<li>2 提交材料</li>
					<li class="v1_hover">3 银行账户</li>
					<li>4 开户完成 </li>
				</ul>
			<div class="a4 mt20">
				#if(${errMsg}) 
				<div class="b4">机构开户失败：${errMsg}</div>
				#else 
				<div class="b4">此处填写的对公银行账户，将设为默认的机构理财账户。</div>
				#end
            	
				<div class="b3">
					<table>
						<tr class="reg-tr">
							<td>*银行户名</td>
							<td><label class="inputText"><input class="ipt-bankacnm" maxlength="24" name="bankacnm" type="text" value="$!{BankCardVo.bankacnm}"></label></td>
							<td id="errMsg_bankacnm" style="display:
								#if(${errMsg_bankacnm}) true #else none #end">
								<div class="tips-check 
									#if(${errMsg_bankacnm}) formErr #end">错误提示：${errMsg_bankacnm}</div>
							</td>
							<td id="tipMsg_bankacnm" style="display:
								#if(${errMsg_bankacnm}) none #else true #end">跟组织机构代码证上的机构名称一致（基本户、一般户均可），<a href="javascript:$('.pop').box({title:'无对公账户如何填写？'});">对公账户填写指引</a>
							</td>
						</tr>
						<tr class="reg-tr">
							<td>*开户银行</td>
							<td>
                            	<select name="bankno" class="select" value="${BankCardVo.bankno}">
                                    <option value="002">工商银行</option>
                                    <option value="004">中国银行</option>
                                    <option value="005">建设银行</option>
                                    <option value="007">招商银行</option>
									<option value="008">光大银行</option>
									<option value="012">华夏银行</option>
									<option value="014">民生银行</option>
									<option value="920">平安银行</option>
									<option value="934">邮储银行</option>
                                </select>
                            </td>
							<td>须与<a href="#">银行账户证明文件</a>一致</td>
						</tr>
						<tr class="reg-tr">
							<td>地址</td>
							<td>
								<select name="bankprovinceno" class="select" value="${BankCardVo.bankprovinceno}">
                                    <option value="000">省份</option>
                                    <option value="001">浙江省</option>
                                    <option value="002">福建省</option>
                                    <option value="003">安徽省</option>
                                </select>
							</td>
							<td>
								<select name="bankcityno" class="select" value="${BankCardVo.bankcityno}">
                                    <option value="000">城市</option>
                                    <option value="001">北京市</option>
                                    <option value="002">上海市</option>
                                </select>
							</td>
						</tr>
						<tr class="reg-tr">
							<td>*支行网点</td>
							<td><label class="inputText"><input class="ipt-bankadd" maxlength="24" name="bankadd" type="text" value="$!{BankCardVo.bankadd}"></label></td>
							<td id="errMsg_bankadd" style="display:
								#if(${errMsg_bankadd}) true #else none #end">
								<div class="tips-check 
									#if(${errMsg_bankadd}) formErr #end">错误提示：${errMsg_bankadd}</div>
							</td>
							<td id="tipMsg_bankadd" style="display:
								#if(${errMsg_bankadd}) none #else true #end">须与<a href="#">银行账户证明文件</a>一致
							</td>
						</tr>
						<tr class="reg-tr">
							<td>*银行账号</td>
							<td><label class="cardFormat" id="card1"><input class="ipt-bankacco" maxlength="24" name="bankacco" type="text" value="$!{BankCardVo.bankacco}"></label></td>
							<td id="errMsg_bankacco" style="display:
								#if(${errMsg_bankacco}) true #else none #end">
								<div class="tips-check 
									#if(${errMsg_bankacco}) formErr #end">错误提示：${errMsg_bankacco}</div>
							</td>
							<td id="tipMsg_bankacco" style="display:
								#if(${errMsg_bankacco}) none #else true #end">请务必正确填写，填错会造成打款失败
							</td>
						</tr>
						<tr class="reg-tr">
							<td>*重复银行账号</td>
							<td><label class="cardFormat" id="card2"><input class="ipt-bankacco2" maxlength="24" name="bankacco2" type="text" value="$!{BankCardVo.bankacco2}"></label></td>
							<td id="errMsg_bankacco2" style="display:
								#if(${errMsg_bankacco2}) true #else none #end">
								<div class="tips-check 
									#if(${errMsg_bankacco2}) formErr #end">错误提示：${errMsg_bankacco2}</div>
							</td>
							<td id="tipMsg_bankacco2" style="display:
								#if(${errMsg_bankacco2}) none #else true #end">
							</td>
						</tr>
					</table>
				</div>
				<div class="b4">为确保资金安全，请设定幼富通管理账户交易密码：</div>
                <div class="b3">
					<table>
						<tr class="reg-tr">
							<td>设置交易密码</td>
							<td><label class="inputText"><input class="ipt-tradepwd" maxlength="6" name="tradepwd" type="password" value="$!{BankCardVo.tradepwd}"></label></td>
							<td id="errMsg_tradepwd" style="display:
								#if(${errMsg_tradepwd}) true #else none #end">
								<div class="tips-check 
									#if(${errMsg_tradepwd}) formErr #end">错误提示：${errMsg_tradepwd}</div>
							</td>
							<td id="tipMsg_tradepwd" style="display:
								#if(${errMsg_tradepwd}) none #else true #end">交易密码为使用幼富通内相关资金交易的数字密码，不可与登录密码相同！
							</td>
						</tr>
						<tr class="reg-tr">
							<td>确认交易密码</td>
							<td><label class="inputText"><input class="ipt-tradepwd2" maxlength="6" name="tradepwd2" type="password2" value="$!{BankCardVo.tradepwd2}"></label></td>
							<td id="errMsg_tradepwd2" style="display:
								#if(${errMsg_tradepwd2}) true #else none #end">
								<div class="tips-check 
									#if(${errMsg_tradepwd2}) formErr #end">错误提示：${errMsg_tradepwd2}</div>
							</td>
							<td id="tipMsg_tradepwd2" style="display:
								#if(${errMsg_tradepwd2}) none #else true #end">交易密码为使用幼富通内相关资金交易的数字密码，不可与登录密码相同！
							</td>
						</tr>
					</table>
				</div>
				<div class="b2"><a href="#" class="btnA">下一步</a></div>
			</div>
        </div>
    </div>
	</div>
	</form>
	<div class="pop">
	<div class="a5">
	<p>此处内容通过富文本编辑器进行编辑发布<br>
个体工商户无组织机构代码（仅支持个体工商户）<br>
目前仅支持中国大陆企业；<br>
注：个体工商类，若无组织机构代码，可以在选择项填写“无”，上传附件用营业执照代替即可。</p>

<p>对公账户填写（个体工商户）<br>
若个体工商户无对公账户，可填写营业执照上法人的个人银行卡号。<br>
温馨提示：仅限个体工商户，填写个人银行卡号时需与营业执照上法人保持一致。</p>

<p>对公账户填写（政府类型）<br>
若政府类型若没有对公账号，可以在“机构开户银行”、“机构银行账号”栏填写“无”。</p>

<p>对公账户填写（企业类型）<br>
若企业无对公银行帐号，可以填写营业执照上法人的对私银行卡号及姓名。<br>
温馨提示：<br>
填写个人银行卡号时需与营业执照上法人保持一致。</p>

<p>对公账户填写（事业单位）
事业单位如无对公账户，可以使用结算中心或财政账户支付验证（如国库集中收付结算中心等）。</p>    	
	</div>
    <div class="a6"><a href="javascript:;" class="btnC closebox">我知道了</a></div>
</div>
</div>

<script src="${staticDomain}/public/js/load.js"></script>
<script src="${staticDomain}/public/js/register.js"></script>
<script type="text/javascript">
$(function(){
	$(".btnA").on("click",function(){
		var errLen = $(".formErr").length;
    	if(errLen>0){
    		$(".formErr:eq(0)").focus();
    		return false;
    	}
    	if(!check_bankacnm($(".ipt-bankacnm"))){
    		return false;
    	}
		if(!check_bankadd($(".ipt-bankadd"))){
    		return false;
    	}
		if(!check_bankacco($(".ipt-bankacco"))){
    		return false;
    	}
		if(!check_bankacco2($(".ipt-bankacco2"))){
    		return false;
    	}
		if(!check_pwd1($(".ipt-tradepwd"))){
    		return false;
    	}
		if(!check_tradepwd2($(".ipt-tradepwd2"))){
    		return false;
    	}
		$("#form").attr("action", "../org/openAccoStep4.htm");
		$("#form").submit();
	});
})
</script>
</body>
</html>