<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>幼富通</title>


</head>
<body>
<div id="page">
    <div id="header">
		<div class="topNav">
			<div class="container">
				<div class="b1"><a href="#" class="active">机构版</a><a href="#">家庭版</a></div>
				<div class="b2"><span>柔软的大牛</span><a href="#"></a></div>
			</div>
		</div>
        <div class="container">
            <a href="#" class="logo"></a>
			<div class="nav">
				<a href="#">我的幼富通</a>
				<a href="#">学费通</a>
				<a href="#"  class="active">幼富宝</a>
				<a href="#">短期理财</a>
				<a href="#">幼富贷</a>
			</div>
        </div>
    </div>
	<form id="form" class="common-form"  method="post" action="${staticDomain}/org/openAccoStep3.htm">
	<input id="organization" name="organization" type="hidden" value="$!{BankCardVo.organization}">
	<input id="business" name="business" type="hidden" value="$!{BankCardVo.business}">
	<input id="orgprovinceno" name="orgprovinceno" type="hidden" value="$!{BankCardVo.orgprovinceno}">
	<input id="orgcityno" name="orgcityno" type="hidden" value="$!{BankCardVo.orgcityno}">
	<input id="orgadd" name="orgadd" type="hidden" value="$!{BankCardVo.orgadd}">
	<input id="operatornm" name="operatornm" type="hidden" value="$!{BankCardVo.operatornm}">
	<input id="operatoridno" name="operatoridno" type="hidden" value="$!{BankCardVo.operatoridno}">
	<input id="operatormobile" name="operatormobile" type="hidden" value="$!{BankCardVo.operatormobile}">
	<input id="operatortelno" name="operatortelno" type="hidden" value="$!{BankCardVo.operatortelno}">
	<input id="operatoreamiladd" name="operatoreamiladd" type="hidden" value="$!{BankCardVo.operatoreamiladd}">
	<input id="rerpidno" name="rerpidno" type="hidden" value="$!{BankCardVo.rerpidno}">
	<input id="rerpnm" name="rerpnm" type="hidden" value="$!{BankCardVo.rerpnm}">
    <div id="body">
        <div class="container">
			<div class="a1">机构开户</div>
			<div class="u2">
				<ul class="v1">
					<li>1 基本资料</li>
					<li>2 提交材料</li>
					<li class="v1_hover">3 银行账户</li>
					<li>4 开户完成 </li>
				</ul>
			<div class="a4 mt20">
            	<div class="b4">此处填写的对公银行账户，将设为默认的机构理财账户。</div>
				<div class="b3">
					<table>
						<tr>
							<td>*银行户名</td>
							<td><label class="inputText"><input type="text" name="bankAcnm" value="${BankCardVo.bankAcnm}"></label></td>
							<td>跟组织机构代码证上的机构名称一致（基本户、一般户均可），<a href="javascript:$('.pop').box({title:'无对公账户如何填写？'});">对公账户填写指引</a> </td>
						</tr>
						<tr>
							<td>*开户银行</td>
							<td>
                            	<select name="bankNo" class="select" value="${BankCardVo.bankNo}">
                                    <option value="001">招商银行</option>
                                    <option value="002">建设银行</option>
                                    <option value="003">农业银行</option>
                                    <option value="004">工商银行</option>
                                </select>
                            </td>
							<td>须与<a href="#">银行账户证明文件</a>一致</td>
						</tr>
						<tr>
							<td>地址</td>
							<td>
								<select name="bankprovinceno" class="select" value="${BankCardVo.bankprovinceno}">
                                    <option value="000">省份</option>
                                    <option value="001">浙江省</option>
                                    <option value="002">福建省</option>
                                    <option value="003">安徽省</option>
                                </select>
							</td>
							<td>
								<select name="bankcityno" class="select" value="${BankCardVo.bankcityno}">
                                    <option value="000">城市</option>
                                    <option value="001">北京市</option>
                                    <option value="002">上海市</option>
                                </select>
							</td>
						</tr>
						<tr>
							<td>*支行网点</td>
							<td><label class="inputText"><input name="bankadd" type="text" value="${BankCardVo.bankadd}"></label></td>
							<td>须与<a href="#">银行账户证明文件</a>一致</td>
						</tr>
						<tr>
							<td>*银行账号</td>
							<td><label class="cardFormat" id="card1"><input name="bankAcco" type="text" value="${BankCardVo.bankAcco}"></label></td>
							<td>请务必正确填写，填错会造成打款失败</td>
						</tr>
                        <tr>
							<td>*重复银行账号</td>
							<td><label class="cardFormat" id="card2"><input name="bankAcco" type="text" value="${BankCardVo.bankAcco}"></label></td>
							<td><div class="formSuc"></div></td>
						</tr>
					</table>
				</div>
				<div class="b4">为确保资金安全，请设定幼富通管理账户交易密码：</div>
                <div class="b3">
					<table>
						<tr>
							<td>设置交易密码</td>
							<td><label class="inputText"><input name="TradePwd" type="password" value="${BankCardVo.TradePwd}"><b>六位数字密码</b></label></td>
							<td>交易密码为使用幼富通内相关资金交易的数字密码，不可与登录密码相同！</td>
						</tr>
						<tr>
							<td>确认交易密码</td>
							<td><label class="inputText"><input name="TradePwd2" type="password" value="${BankCardVo.TradePwd2}"></label></td>
							<td></td>
						</tr>
					</table>
				</div>
				<div class="b2"><a href="#" class="btnA">下一步</a></div>
			</div>
        </div>
    </div>
	</div>
	</form>
	<div class="pop">
	<div class="a5">
	<p>此处内容通过富文本编辑器进行编辑发布<br>
个体工商户无组织机构代码（仅支持个体工商户）<br>
目前仅支持中国大陆企业；<br>
注：个体工商类，若无组织机构代码，可以在选择项填写“无”，上传附件用营业执照代替即可。</p>

<p>对公账户填写（个体工商户）<br>
若个体工商户无对公账户，可填写营业执照上法人的个人银行卡号。<br>
温馨提示：仅限个体工商户，填写个人银行卡号时需与营业执照上法人保持一致。</p>

<p>对公账户填写（政府类型）<br>
若政府类型若没有对公账号，可以在“机构开户银行”、“机构银行账号”栏填写“无”。</p>

<p>对公账户填写（企业类型）<br>
若企业无对公银行帐号，可以填写营业执照上法人的对私银行卡号及姓名。<br>
温馨提示：<br>
填写个人银行卡号时需与营业执照上法人保持一致。</p>

<p>对公账户填写（事业单位）
事业单位如无对公账户，可以使用结算中心或财政账户支付验证（如国库集中收付结算中心等）。</p>    	
	</div>
    <div class="a6"><a href="javascript:;" class="btnC closebox">我知道了</a></div>
</div>
</div>
<script type="text/javascript">
$(function(){
	$(".btnA").on("click",function(){
	alert(1);
    		$("#form").attr("action", "../org/openAccoStep4.htm");
    		$("#form").submit();
    	});
})
</script>
</body>
</html>