<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>幼富通</title>
</head>
<body>
<div id="page">
    <div id="header">
		<div class="topNav">
			<div class="container">
				<div class="b1">
					#if(${S_CUSTINFO.level} == "0")
					<a href="#">机构版</a>
					<a href="#" class="active">家庭版</a>
					#end
					#if(${S_CUSTINFO.level} == "1" || ${S_CUSTINFO.level} == "2")
					<a href="#" class="active">机构版</a>
					<a href="#">家庭版</a>
					#end
				</div>
				<div class="b2">
					#if(${S_CUSTINFO})
						<span>
						#if (${S_CUSTINFO.invnm})
                			${S_CUSTINFO.invnm}
                        #elseif ($S_CUSTINFO.mobileno)
                			#set($tailStr=$S_CUSTINFO.mobileno)
                			#set($start=$tailStr.substring(0,3))
                			#set($end=$tailStr.substring(7,11))
                			$start****$end
                		#else
						#end
						</span><a href="${staticDomain}/setting/settingAccount.htm"></a>
					#end
					
					#if(!${S_CUSTINFO})
						<a href="javascript:;" class="c1" id="login">登录</a>
					#end
				</div>
			</div>
		</div>
        <div class="container">
            <a href="#" class="logo"></a>
			<div class="nav">
				<a href="../cust/session.htm" class="active">我的幼富通</a>
				<a href="#">学费通</a>
				<a href="#">幼富宝</a>
				<a href="#">短期理财</a>
				<a href="#">幼富贷</a>
			</div>
        </div>
    </div>
    
    <div id="body">
		<form id="form" class="common-form"  method="post" action="${staticDomain}/org/openAccoStep1.htm">
        <div class="container">
			<div class="a1">机构开户</div>
			<div class="u2">
				<ul class="v1">
					<li class="v1_hover">1 基本资料</li>
					<li>2 提交材料</li>
					<li>3 银行账户</li>
					<li>4 开户完成 </li>
				</ul>
				<div class="v2">
				    <i class="v2_1"></i>
					<p>你正在访问幼富通安全网址，请放心操作。幼富通致力于为全国幼教机构打造安全、稳定、便捷的互联网金融服务平台。为了保障你的机构和广大幼儿家庭用户的合法权益，请认真填写以下机构登记信息，我们会严格保密相关隐私信息。</p>
				</div>
			</div>
			<div class="a4 mt20">
				<div class="b1">
					<table>
						<tr class="reg-tr">
							<td>机构名称</td>
							<td><label class="inputText"><input class="ipt-orgnm" maxlength="24" name="orgnm" type="text" value="${BankCardVo.orgnm}"></label></td>
							<td id="errMsg_orgnm" style="display:
								#if(${errMsg_orgnm}) true #else none #end">
								<div class="tips-check 
									#if(${errMsg_orgnm}) formErr #end">错误提示：${errMsg_orgnm}</div>
							</td>
							<td id="tipMsg_orgnm" style="display:
								#if(${errMsg_orgnm}) none #else true #end">须与营业执照、银行对公账户的开户名称一致，信息审核成功后，名称不可修改。
							</td>
						</tr>
						<tr class="reg-tr">
							<td>营业执照号</td>
							<td><label class="cardFormat" id="card1"><input class="ipt-orgbusiness" maxlength="24" name="orgbusiness" type="text" value="${BankCardVo.orgbusiness}"></label></td>
							<td id="errMsg_orgbusiness" style="display:
								#if(${errMsg_orgbusiness}) true #else none #end">
								<div class="tips-check 
									#if(${errMsg_orgbusiness}) formErr #end">错误提示：${errMsg_orgbusiness}</div>
							</td>
							<td id="tipMsg_orgbusiness" style="display:
								#if(${errMsg_orgbusiness}) none #else true #end">请输入15位营业执照注册号。
							</td>
						</tr>
						<tr class="reg-tr">
							<td>实际办学/经营地址</td>
							<td>
								<select name="orgprovinceno" class="select" value="${BankCardVo.orgprovinceno}">
                                    <option>省份</option>
                                    <option>浙江省</option>
                                    <option>福建省</option>
                                    <option>安徽省</option>
                                </select>
							</td>
							<td>
								<select name="orgcityno" class="select" value="${BankCardVo.orgcityno}">
                                    <option>城市</option>
                                    <option>北京市</option>
                                    <option>上海市</option>
                                </select>
							</td>
						</tr>
						<tr class="reg-tr">
							<td></td>
							<td>
								<label class="inputText"><input class="ipt-orgadd" maxlength="32" name="orgadd" type="text" value="${BankCardVo.orgadd}"></label>
							</td>
							<td>
								必须为真实办公或经营地址、办学地址
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<label class="checkbox"><input type="checkbox">与营业执照中注册地址相同</label>
							</td>
							<td></td>
						</tr>
					</table>
				</div>
				<div class="b1">
					<table>
						<tr class="reg-tr">
							<td>授权经办人姓名</td>
							<td><label class="inputText">
									<input class="ipt-invnm" maxlength="12" name="invnm" type="text" value="${BankCardVo.invnm}"></label>
							</td>
							<td id="errMsg_invnm" style="display:
								#if(${errMsg_invnm}) true #else none #end">
								<div class="tips-check 
									#if(${errMsg_invnm}) formErr #end">错误提示：${errMsg_invnm}</div>
							</td>
							<td id="tipMsg_invnm" style="display:
								#if(${errMsg_invnm}) none #else true #end">
							</td>
						</tr>
						<tr class="reg-tr">
							<td>身份证号</td>
							<td>
								<label class="cardFormat" id="card2">
									<input id="idno" class="ipt-idno" maxlength="18" name="idno" type="text" value="${BankCardVo.idno}">
								</label>
							</td>
							<td id="errMsg_idno" style="display:
								#if(${errMsg_idno}) true #else none #end">
								<div class="tips-check 
									#if(${errMsg_idno}) formErr #end">错误提示：${errMsg_idno}</div>
							</td>
							<td id="tipMsg_idno" style="display:
								#if(${errMsg_idno}) none #else true #end">若为临时身份证，请输入临时身份证号。
							</td>
						</tr>
						<tr class="reg-tr">
							<td>手机</td>
							<td>
								<label class="inputText">
									<input class="ipt-mobile" maxlength="11" name="mobile" type="text" value="${BankCardVo.mobile}">
								</label>
							</td>
							<td id="errMsg_mobile" style="display:
								#if(${errMsg_mobile}) true #else none #end">
								<div class="tips-check 
									#if(${errMsg_mobile}) formErr #end">错误提示：${errMsg_mobile}</div>
							</td>
							<td id="tipMsg_mobile" style="display:
								#if(${errMsg_mobile}) none #else true #end">开户审核过程中将与经办人联系。
							</td>
						</tr>
						<tr class="reg-tr">
							<td>固定电话</td>
							<td>
								<label class="inputText"><input class="ipt-telno" name="telno" maxlength="12" type="text" value="${BankCardVo.telno}"></label>
							</td>
							<td id="errMsg_telno" style="display:
								#if(${errMsg_telno}) true #else none #end">
								<div class="tips-check 
									#if(${errMsg_telno}) formErr #end">错误提示：${errMsg_telno}</div>
							</td>
							<td id="tipMsg_telno" style="display:
								#if(${errMsg_telno}) none #else true #end">包括区号、号码、分机号，请用“-”隔开。
							</td>
						</tr>
						<tr class="reg-tr">
							<td>邮箱</td>
							<td>
								<label class="inputText"><input class="ipt-emailadd" name="emailadd" maxlength="32" type="text" value="${BankCardVo.emailadd}"></label>
							</td>
							<td id="errMsg_emailadd" style="display:
								#if(${errMsg_emailadd}) true #else none #end">
								<div class="tips-check 
									#if(${errMsg_emailadd}) formErr #end">错误提示：${errMsg_emailadd}</div>
							</td>
							<td id="tipMsg_emailladd" style="display:
								#if(${errMsg_emailadd}) none #else true #end">包括区号、号码、分机号，请用“-”隔开。
							</td>
						</tr>
					</table>
				</div>
				<div class="b1">
					<table>
						<tr class="reg-tr">
							<td>法定代表人姓名</td>
							<td><label class="inputText"><input class="ipt-rerpnm" maxlength="16" name="rerpnm" type="text" value="${BankCardVo.rerpnm}"></label></td>
							<td id="errMsg_rerpnm" style="display:
								#if(${errMsg_rerpnm}) true #else none #end">
								<div class="tips-check 
									#if(${errMsg_rerpnm}) formErr #end">错误提示：${errMsg_rerpnm}</div>
							</td>
							<td id="tipMsg_rerpnm" style="display:
								#if(${errMsg_rerpnm}) none #else true #end">须与营业执照一致。
							</td>
						</tr>
						<tr class="reg-tr">
							<td>身份证号</td>
							<td><label class="cardFormat" id="card3"><input class="ipt-rerpidno" maxlength="18" name="rerpidno" type="text" value="${BankCardVo.rerpidno}"></label></td>
							<td id="errMsg_rerpidno" style="display:
								#if(${errMsg_rerpidno}) true #else none #end">
								<div class="tips-check 
									#if(${errMsg_rerpidno}) formErr #end">错误提示：${errMsg_rerpidno}</div>
							</td>
							<td id="tipMsg_rerpidno" style="display:
								#if(${errMsg_rerpidno}) none #else true #end">若为临时身份证，请输入临时身份证号。
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<label class="checkbox"><input type="checkbox" checked="checked">我已阅读并同意</label><a href="#">《幼富通用户注册协议》</a>
							</td>
							<td></td>
						</tr>
					</table>
				</div>
				<div class="b2"><a href="#" class="btnA">下一步</a></div>
			</div>
        </div>
		</form>
    </div>
</div>

<script src="${staticDomain}/public/js/load.js"></script>
<script src="${staticDomain}/public/js/register.js"></script>
<script type="text/javascript">
    $(function(){
	
    	//$('.checkbox').checkbox();
    	//$('.select').selectMenu();
    	//$('#card1').cardFormat('####,####,####,####,###');//营业执照
    	//$('#card2,#card3').cardFormat('###,###,####,####,####');//身份证
	
        $(".u2 .v2 .v2_1").click(function(){
            $(".u2 .v2").hide();
        });
		
		$(".btnA").on("click",function(){
        	var errLen = $(".formErr").length;
        	if(errLen>0){
        		$(".formErr:eq(0)").focus();
        		return false;
        	}
        	if(!check_organization($(".ipt-orgnm"))){
        		return false;
        	}
        	if(!check_business($(".ipt-orgbusiness"))){
        		return false;
        	}
        	if(!check_bankAcnm($(".ipt-invnm"))){
        		return false;
        	}
        	if(!check_id($(".ipt-idno"))){
        		return false;
        	}
        	if(!check_mobile($(".ipt-mobile"))){
        		return false;
        	}
        	if(!check_bankAcnm($(".ipt-rerpnm"))){
        		return false;
        	}
        	if(!check_id($(".ipt-rerpidno"))){
        		return false;
        	}
        	$("#form").attr("action", "../org/openAccoStep2.htm");
        	$("#form").submit();
        });
		
    });
</script>
 
</body>
</html>