<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>幼富通</title>
</head>
<body>
<div id="page">
    <div id="header">
		<div class="topNav">
			<div class="container">
				<div class="b1">
					#if(${S_CUSTINFO.level} == "0")
					<a href="#">机构版</a>
					<a href="#" class="active">家庭版</a>
					#end
					#if(${S_CUSTINFO.level} == "1" || ${S_CUSTINFO.level} == "2")
					<a href="#" class="active">机构版</a>
					<a href="#">家庭版</a>
					#end
				</div>
				<div class="b2">
					#if(${S_CUSTINFO})
						<span>
						#if (${S_CUSTINFO.invnm})
                			${S_CUSTINFO.invnm}
                        #elseif ($S_CUSTINFO.mobileno)
                			#set($tailStr=$S_CUSTINFO.mobileno)
                			#set($start=$tailStr.substring(0,3))
                			#set($end=$tailStr.substring(7,11))
                			$start****$end
                		#else
						#end
						</span><a href="${staticDomain}/setting/settingAccount.htm"></a>
					#end
					
					#if(!${S_CUSTINFO})
						<a href="javascript:;" class="c1" id="login">登录</a>
					#end
				</div>
			</div>
		</div>
        <div class="container">
            <a href="#" class="logo"></a>
			<div class="nav">
				<a href="../cust/session.htm" class="active">我的幼富通</a>
				<a href="#">学费通</a>
				<a href="#">幼富宝</a>
				<a href="#">短期理财</a>
				<a href="#">幼富贷</a>
			</div>
        </div>
    </div>
    
    <div id="body">
	<form id="form" enctype="multipart/form-data" class="common-form"  method="post" action="${staticDomain}/org/openAccoStep2.htm">
	<input id="orgnm" name="orgnm" type="hidden" value="$!{BankCardVo.orgnm}"/>
	<input id="orgbusiness" name="orgbusiness" type="hidden" value="$!{BankCardVo.orgbusiness}"/>
	<input id="orgprovinceno" name="orgprovinceno" type="hidden" value="$!{BankCardVo.orgprovinceno}"/>
	<input id="orgcityno" name="orgcityno" type="hidden" value="$!{BankCardVo.orgcityno}"/>
	<input id="orgadd" name="orgadd" type="hidden" value="$!{BankCardVo.orgadd}"/>
	<input id="invnm" name="invnm" type="hidden" value="$!{BankCardVo.invnm}"/>
	<input id="idno" name="idno" type="hidden" value="$!{BankCardVo.idno}"/>
	<input id="mobile" name="mobile" type="hidden" value="$!{BankCardVo.mobile}"/>
	<input id="telno" name="telno" type="hidden" value="$!{BankCardVo.telno}"/>
	<input id="emailadd" name="emailadd" type="hidden" value="$!{BankCardVo.emailadd}"/>
	<input id="rerpidno" name="rerpidno" type="hidden" value="$!{BankCardVo.rerpidno}"/>
	<input id="rerpnm" name="rerpnm" type="hidden" value="$!{BankCardVo.rerpnm}"/>
	<div class="container">
		<div class="a1">机构开户</div>
		<div class="u2">
			<ul class="v1">
				<li>1 基本资料</li>
				<li class="v1_hover">2 提交材料</li>
				<li>3 银行账户</li>
				<li>4 开户完成 </li>
			</ul>
			<div class="v2">
			    <i class="v2_1"></i>
				<p>以下证件材料，均须在有效期内。</p>
				<p>格式：请提供可清晰辨认的彩色原件扫描件或数码照片；若为复印扫描件均须加盖公章后再提供彩色扫描或照片；禁止使用网上电子照片或通过PS修改过的证件； </p>
				<p>支持：.jpg .jpeg .bmp .gif格式，大小不超过3M</p>
			</div>
		</div>
		<div class="u3">
			<div class="v1">
    	        <span class="v1_1">经办人授权委托书</span>
    	        <div class="x1">
    	            <label class="inputFile y1">
						<input id="uploader1" type="file" accept="image/*">
						#if(!${PicInfo.imgpath1})
						<p id="upp1">民非企业登记证/营业执照</p>
						#end
						<img id="upimg1" src="${staticDomain}/images/${PicInfo.imgpath1}" style="width:180px;height:120px"/>
					</label>
    	            <div class="y2">
    	                <p>◆ 下须与营业执照、银行对公账户的开户名称一致，</a></p>
    	                <p>&emsp;信息审核成功后，名称不可修改。</p>
    	            </div>
    	        </div>
    	        <div class="x1">
    	            <label class="inputFile y1">
						<input id="uploader2" type="file" accept="image/*">
						#if(!${PicInfo.imgpath2})
						<p id="upp2">组织机构代码证</p>
						#end
						<img id="upimg2" src="${staticDomain}/images/${PicInfo.imgpath2}" style="width:180px;height:120px"/>
					</label>
    	            <div class="y2">
    	                <p>◆ 须与营业执照、银行对公账户的开户名称一致，</a></p>
    	                <p>&emsp;信息审核成功后，名称不可修改。</p>
    	            </div>
    	        </div>
    	        <div class="x1">
    	            <label class="inputFile y1">
						<input id="uploader3" type="file" accept="image/*">
						#if(!${PicInfo.imgpath3})
						<p id="upp3">税务登记证</p>
						#end
						<img id="upimg3" src="${staticDomain}/images/${PicInfo.imgpath3}" style="width:180px;height:120px"/>
					</label>
    	            <div class="y2">
    	                <p>◆ 须与营业执照、银行对公账户的开户名称一致，</a></p>
    	                <p>&emsp;信息审核成功后，名称不可修改。</p>
    	            </div>
    	        </div>
    	        <div class="x1">
    	            <label class="inputFile y1">
						<input id="uploader4" type="file" accept="image/*">
						#if(!${PicInfo.imgpath4})
						<p id="upp4">银行开户证明/开户许可证</p>
						#end
						<img id="upimg4" src="${staticDomain}/images/${PicInfo.imgpath4}" style="width:180px;height:120px"/>
					</label>
    	            <div class="y2">
    	                <p>◆ 须与营业执照、银行对公账户的开户名称一致，</p>
    	                <p>&emsp; 信息审核成功后，名称不可修改。</p>
    	            </div>
    	        </div>
    	        <div class="x1">
    	            <label class="inputFile y1">
						<input id="uploader5" type="file" accept="image/*">
						#if(!${PicInfo.imgpath5})
						<p id="upp5">办学许可证</p>
						#end
						<img id="upimg5" src="${staticDomain}/images/${PicInfo.imgpath5}" style="width:180px;height:120px"/>
					</label>
    	            <div class="y2">
    	                <p>◆ 须与营业执照、银行对公账户的开户名称一致，</p>
    	                <p>&emsp;  信息审核成功后，名称不可修改。</p>
    	            </div>
    	        </div>
    	    </div>
			<div class="v1">
		        <span class="v1_1">举办人/法人身份证</span>
		        <div class="x1">
		            <label class="inputFile y1 y5">
						<input id="uploader6" type="file" accept="image/*">
						#if(!${PicInfo.imgpath6})
						<p id="upp6">身份证 正面</p>
						#end
						<img id="upimg6" src="${staticDomain}/images/${PicInfo.imgpath6}" style="width:180px;height:120px"/>
					</label>
		           	<label class="inputFile y1 y3">
						<input id="uploader7" type="file" accept="image/*">
						#if(!${PicInfo.imgpath7})
						<p id="upp3">身份证 反面</p>
						#end
						<img id="upimg7" src="${staticDomain}/images/${PicInfo.imgpath7}" style="width:180px;height:120px"/>
					</label>
		            <div class="y4">
		                <p>◆ 须与营业执照、银行对公账户的开户名称一致，</p>
		                <p>&emsp;信息审核成功后，名称不可修改。</p>
		            </div>
		        </div>
		    </div>
			<div class="v1">
		        <span class="v1_1">经办人身份证</span>
		        <div class="x1">
		            <label class="inputFile y1 y5">
						<input id="uploader8" type="file" accept="image/*">
						#if(!${PicInfo.imgpath8})
						<p id="upp8">身份证 正面</p>
						#end
						<img id="upimg8" src="${staticDomain}/images/${PicInfo.imgpath8}" style="width:180px;height:120px"/>
					</label>
		            <label class="inputFile y1 y3">
						<input id="uploader9" type="file" accept="image/*">
						#if(!${PicInfo.imgpath9})
						<p id="upp9">身份证 反面</p>
						#end
						<img id="upimg9" src="${staticDomain}/images/${PicInfo.imgpath9}" style="width:180px;height:120px"/>
					</label>
		            <div class="y4">
		                <p>◆ 须与营业执照、银行对公账户的开户名称一致，</p>
		                <p>&emsp;信息审核成功后，名称不可修改。</p>
		            </div>
		        </div>
                 <div class="x2"><a href="#" class="">上一步</a><a href="#" class="btnA">下一步</a></div>
		    </div>
        </div>	
    </div>
	
	
	
	
    </form>
    </div>
</div>
<script type="text/javascript">
$(function(){
		$(".u2 .v2 .v2_1").click(function(){
            $(".u2 .v2").hide();
        });
		
		$(".btnA").on("click",function(){
    		$("#form").attr("action", "../org/openAccoStep3.htm");
    		$("#form").submit();
    	});
		
		
 });
</script>
<script src="${staticDomain}/public/js/upload.js"></script>
</body>
</html>