<!DOCTYPE html>
<html>
<head>
<title>幼富通，幼富未来 - 帮助中心</title>
<script type="text/javascript">
$(function(){
	$('.nav a:eq(3)').addClass('active');
});
</script>
</head>
<body>
 <div class="body">
    <div class="inner clearfix">
        <div class="title">
            <h2 class="title-main">帮助中心</h2>
        </div>
        <div class="side side-nav fl">
            <ul>
                <li><a class="current" href="${ufbDomain}/corp/help/account.htm"><b class="icon03"></b>账户管理</a></li>
                <li><a href="${ufbDomain}/corp/help/charge.htm"><b class="icon01"></b>收费退费</a></li>
                <li><a href="${ufbDomain}/corp/help/security.htm"><b class="icon02"></b>安全保障</a></li>
                <li><a href="${ufbDomain}/corp/help/question.htm"><b class="icon05"></b>常见问题</a></li>
                <li><a href="${ufbDomain}/corp/help/about.htm"><b class="icon06"></b>关于幼富通</a></li>
                <li><a href="${ufbDomain}/corp/help/contact.htm"><b class="icon07"></b>联系我们</a></li>
            </ul>
        </div>
        <div class="main fr">
            <div class="help-content">
                <ul>

                    <li>
                        <h3>一、如何成为幼富通用户?</h3>
                        <br/>
                        <div>1.进入幼富通官网，www.ufufund.com，点击[机构用户]即可进入机构首页</div>                   
                        <img src="${staticDomain}/public/images/org.help_1(1).png" style="width:100%">
                        <br/>
                        <br/>
                        <div>2.首次使用点击[免费注册]</div>
                        <img src="${staticDomain}/public/images/org.help_1(2).png" style="width:100%">
                        <br/>
                        <br/>
                        <div>3.[创建账户]您将获得一个幼富通操作账户</div>
                        <img src="${staticDomain}/public/images/org.help_1(3).png" style="width:100%">
                        <br/>
                        <br/>
                        <div>4.[机构账户认证]：点击“立即认证”</div>
                        <img src="${staticDomain}/public/images/org.help_1(4).png" style="width:100%">
                        <br/>
                        <br/>
                        <h3>请注意：为何注册后还要进行机构账户安全认证？</h3>
                        <div>注册获得幼富通基础账户后，还须完成机构账户安全认证，才能获得幼富通平台内相关金融机构服务的使用权限，发起收费提现或贷款等服务，同时获得了如银联等金融机构极为严格的系统安全保障。账户安全认证包含以人工及系统结合的方式进行对公银行账户验证、资质证照审验、实地调查等多重严格审核机制，提高账户真实性及安全性。</div>
                    </li>

                    <li>
                        <h3>二、如何进行机构账户安全认证?</h3>
                        <br/>
                        <div>1.进入[幼教机构账户安全认证]页面，点击“立即认证” </div>
                        <img src="${staticDomain}/public/images/org.help_1.1(1).png" style="width:100%">
                        <br/>
                        <br/>
                        <div>2.如实填写[基本资料]（在工商或民政合法注册的机构名称、授权经办人、法定代表人等信息)</div>
                        <img src="${staticDomain}/public/images/org.help_1.1(2).png" style="width:100%">
                        <br/>
                        <br/>
                        <div>3.[提交材料]:授权经办人委托书、民办非企业登记证/工商营业执照、组织机构代码证、税务登记证、银行开户证明/开户许可证、办学许可证、举办人/法人身份证、经办人身份证材料的彩色扫描件或盖章复印件（并在7-10日内补寄纸质副本），否则将限制取现。 </div>
                        <img src="${staticDomain}/public/images/org.help_1.1(3).png" style="width:100%">
                        <br/>
                        <br/>
                        <div>4.填写银行账户信息（作为绑定的收款账户，请确保准确填写）</div>
                        <img src="${staticDomain}/public/images/org.help_1.1(4).png" style="width:100%">
                        <br/>
                        <br/>
                        <div>5.[开户完成]:等待系统及人工审核，可点击[我的账户]完成账户验证及收费准备工作</div>
                        <img src="${staticDomain}/public/images/org.help_1.1(5).png" style="width:100%">
                        <br/>
                        <br/>
                        <div>6.[对公银行账户验证]：输入银行账户收到的1元以内实际金额（由银联代付），并点击[验证]</div>
                        <img src="${staticDomain}/public/images/org.help_1.1(6).png" style="width:100%">
                        <br/>
                        <br/>
                    </li>   

      
                    <li class="last">
                        <h3>请注意：[授权经办人委托书]如何操作?</h3>
                        <br/>
                        <div>1.[机构账户安全认证]-[提交材料]步骤中，点击蓝色字体[授权经办人委托书]</div>
                        <img src="${staticDomain}/public/images/org.help_1.1.1(1).png" style="width:100%">
                        <br/>
                        <br/>
                        <div>2.右击，并点击”图片存储为”，保存到本地，并打印纸质版</div>
                        <img src="${staticDomain}/public/images/org.help_1.1.1(2).png" style="width:100%">
                        <br/>
                        <br/>
                        <div>3.点击蓝色字体[参考样例]，根据样例填写[授权经办人委托书]</div>
                        <img src="${staticDomain}/public/images/org.help_1.1.1(3).png" style="width:100%">
                        <br/>
                        <br/>
                        <div>4.点击“+”号上传加盖公章的原件照片或扫描件</div>
                        <img src="${staticDomain}/public/images/org.help_1.1.1(4).png" style="width:100%"> 
                            <br/>
                            <br/>                          
                        </li>

                        <li>
                            <h3>请注意：为何要设登录与交易两道密码？</h3>
                            <div>双重密码设定确保操作者权限与实际资金交易决策的安全，能够大大减少机构经办人错误操作几率。</div>
                        </li>
                        <li>
                            <h3>其它问题：是否提供不同管理权限？</h3>
                            <div>幼富通1.0暂时不提供高级账户管理权限或二级子账户，请以幼富通2.0版升级后实际业务说明为准。</div>
                        </li>
                        <li>
                            <h3>其它问题：目前机构是否能绑定多个收款账户？</h3>
                            <div>幼富通1.0仅支持对公基本户收款，暂不支持多个一般户或个体工商户类私人银行卡绑定。请以幼富通2.0版升级后实际业务说明为准。</div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>