<!DOCTYPE html>
<html>
<head>
<title>幼富通，幼富未来 - 帮助中心</title>
<script type="text/javascript">
$(function(){
	$('.nav a:eq(3)').addClass('active');
});
</script>
</head>
<body>
 <div class="body">
    <div class="inner clearfix">
        <div class="title">
            <h2 class="title-main">帮助中心</h2>
        </div>
        <div class="side side-nav fl">
            <ul>
                <li><a href="${ufbDomain}/corp/help/account.htm"><b class="icon03"></b>账户管理</a></li>
                <li><a href="${ufbDomain}/corp/help/charge.htm"><b class="icon01"></b>收费退费</a></li>
                <li><a href="${ufbDomain}/corp/help/security.htm"><b class="icon02"></b>安全保障</a></li>
                <li><a href="${ufbDomain}/corp/help/question.htm"><b class="icon05"></b>常见问题</a></li>
                <li><a href="${ufbDomain}/corp/help/about.htm"><b class="icon06"></b>关于幼富通</a></li>
                <li><a class="current" href="${ufbDomain}/corp/help/contact.htm"><b class="icon07"></b>联系我们</a></li>
            </ul>
        </div>
        <div class="main fr">
            <div class="help-content content-contact clearfix">
                <div class="qr fl"><img src="${staticDomain}/public/images/qr.png"><p class="tc">微信号：UFUfund</p></div>
                <div class="contact fl">
                    <img src="${staticDomain}/public/images/logo_header.png" width="130">
                    <p>服务邮箱：<a href="mailto:service@ufufund.com">service@ufufund.com</a></p>
                        <p>幼富通热线：400-0000-000</p>
                        <p>上海幼赋金融信息服务有限公司版权所有</p>
                        </p> ©2014沪ICP14054347号</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>