<!DOCTYPE html>
<html>
<head>
<title>幼富通，幼富未来 - 帮助中心</title>
<script type="text/javascript">
$(function(){
	$('.nav a:eq(3)').addClass('active');
});
</script>
</head>
<body>
 <div class="body">
    <div class="inner clearfix">
        <div class="title">
            <h2 class="title-main">帮助中心</h2>
        </div>
        <div class="side side-nav fl">
            <ul>
                <li><a href="${ufbDomain}/corp/help/account.htm"><b class="icon03"></b>账户管理</a></li>
                <li><a href="${ufbDomain}/corp/help/charge.htm"><b class="icon01"></b>收费退费</a></li>
                <li><a href="${ufbDomain}/corp/help/security.htm"><b class="icon02"></b>安全保障</a></li>
                <li><a class="current" href="${ufbDomain}/corp/help/question.htm"><b class="icon05"></b>常见问题</a></li>
                <li><a href="${ufbDomain}/corp/help/about.htm"><b class="icon06"></b>关于幼富通</a></li>
                <li><a href="${ufbDomain}/corp/help/contact.htm"><b class="icon07"></b>联系我们</a></li>
            </ul>
        </div>
        <div class="main fr">
            <div class="help-content">
                <ul>
                    <li>
                        <h3>退费是否接考勤系统？</h3>
                        <div>幼富通1.0暂时未连接考勤系统，退费计算器请以幼富通2.0版升级后实际业务说明为准。</div>
                    </li>
                    <li>
                        <h3>备用金账户是什么？</h3>
                        <div>是银联在指定商业银行为您的幼教机构开立的资金归集账户，所有代收学费收齐到此账户后，幼教机构可以十分便捷地发起取现到对公银行收款账户、发起退费或向厂商支付货款（分期购功能请以幼富通2.0版升级后实际业务说明为准）。</div>
                    </li>
                    <li>
                        <h3>从家长卡的代扣如果失败怎么办？</h3>
                        <div>通常由于家长所绑定的缴费卡过期或余额不足，可能会出现扣款失败，系统将在本自然月结束前分别向幼教机构经办人发送补扣提醒、向对应家长发送补扣通知并自动发起补扣一次。</div>
                    </li>

                    <li>
                        <h3>收费退费都可以在同一天完成吗？</h3>
                        <div>系统会自动处理预先设定好的不同收费计划与退费计划，并在同一天发起清算，完成从家长卡中扣款及退费付款的资金交易。</div>
                    </li>
                    <li class="last">
                        <h3>如何查看月度报表？</h3>
                        <br/>
                        <div>幼富通网站右侧，点击”查看报表”，即可查看月度报表</div>
                        <img src="${staticDomain}/public/images/org.help_5(1).png" style="width:100%"><br/><br/>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>