<!DOCTYPE html>
<html>
<head>
    <title>幼富通 - 帮助中心 - 关于幼富通</title>
</head>
<body>

    <div class="body">
        <div class="inner clearfix">
            <div class="title">
                <h2 class="title-main">帮助中心</h2>
            </div>
            <div class="side side-nav fl">
                <ul>
                    <li><a href="${ufbDomain}/family/help/payment.htm"><b class="icon01"></b>缴费退费</a></li>
                    <li><a href="${ufbDomain}/family/help/security.htm"><b class="icon02"></b>安全性</a></li>
                    <li><a href="${ufbDomain}/family/help/benefits.htm"><b class="icon03"></b>收益</a></li>
                    <li><a href="${ufbDomain}/family/help/cashandPay.htm"><b class="icon04"></b>充值取现</a></li>
                    <li><a href="${ufbDomain}/family/help/question.htm"><b class="icon05"></b>常见问题汇总</a></li>
                    <li><a class="current" href="${ufbDomain}/family/help/aboutuft.htm"><b class="icon06"></b>关于幼富通</a></li>
                    <li><a href="${ufbDomain}/family/help/contact.htm"><b class="icon07"></b>联系我们</a></li>
                </ul>
            </div>
            <div class="main fr">
                <div class="help-content">
                    <ul>
                        <li><a name="a1"></a>
                            <h3>关于幼富通</h3>
                            <div><p>幼富通基于互联网平台，专注为全国幼教机构与幼儿家庭提供线上线下结合的收费、理财、贷款、分期采购等金融业务管理服务。</p>
                            <div><p>通过使用幼富通平台，家长不用开办新卡，随时使用现有银行卡进行余额理财及学费自动缴付。</p>
                            <div><p>幼富通平台属于从事互联网金融信息服务的高科技创投企业，由来自于公募基金公司、互联网金融上市公司、银行及电子商务系统开发、企业管理咨询与法律界专业人士共同组成，同时由幼教行业专家团担任投资人及产品顾问、整合数百家全国幼教通路商提供O2O落地金融服务。</p>
                            </div>
                        </li>
                        <li><a name="a2"></a>
                            <h3>幼富通合作伙伴</h3>
                           <div><p>幼富通平台内的金融服务均由中国银联、海富通基金等专业金融机构提供，同时对接全国数百家银行、实力金融租赁机构及众多幼教产品厂商如校车、装修、教玩具等。</p></div>
                        </li>
                        <li class="last"><a name="a3"></a>
                            <h3>幼富通理念愿景</h3>
                            <div><p>幼富通致力于通过互联网工具和深度的行业理解，帮助幼教机构提升财务与经营管理水平。</p></div>
                            <div><p>幼富通精心引入高标准的金融服务，帮助幼教机构提升品牌实力与资金实力、加快连锁扩张速度，最终提升中国幼儿的整体教育水平，托富未来！</p></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="${staticDomain}/family/scripts/load.js"></script>
</body>
</html>