<!DOCTYPE html>
<html>
<head>
    <title>幼富通 - 帮助中心 - 缴费退费</title>
 <script>
    $(function(){
    	$('.nav a:eq(3)').addClass('active');
    })
 </script>
</head>
<body>
    <div class="body">
        <div class="inner clearfix">
            <div class="title">
                <h2 class="title-main">帮助中心</h2>
            </div>
            <div class="side side-nav fl">
                <ul>
                    <li><a class="current" href="${ufbDomain}/family/help/payment.htm"><b class="icon01"></b>缴费退费</a></li>
                    <li><a href="${ufbDomain}/family/help/security.htm"><b class="icon02"></b>安全性</a></li>
                    <li><a href="${ufbDomain}/family/help/benefits.htm"><b class="icon03"></b>收益</a></li>
                    <li><a href="${ufbDomain}/family/help/cashandPay.htm"><b class="icon04"></b>充值取现</a></li>
                    <li><a href="${ufbDomain}/family/help/question.htm"><b class="icon05"></b>常见问题汇总</a></li>
                    <li><a href="${ufbDomain}/family/help/aboutuft.htm"><b class="icon06"></b>关于幼富通</a></li>
                    <li><a href="${ufbDomain}/family/help/contact.htm"><b class="icon07"></b>联系我们</a></li>
                </ul>
            </div>
            <div class="main fr">
                <div class="help-content">
                    <ul>
                        <li><a name="q1"></a>
                            <h3>什么是幼富宝？</h3>
                            <div>幼富宝是幼富通专为幼儿家庭打造的余额增值服务。把准备分期缴纳学费的家庭资金，一次性充值到幼富宝，即购买了由海富通基金提供的货币基金，获得每日稳健收益及分红，同时能够自动进行缴付学费。</div>
                        </li>                
                        <li><a name="q2"></a>
                            <h3>存入幼富宝的资金如何实现自动缴费？</h3>
                            <div>幼家长若选择使用幼富宝账户进行缴费，系统将根据收费机构具体缴费通知的类型和金额，在每月固定日期从幼富宝余额中自动取现并用于支付学费款项。</div>
                        </li>
                        <li><a name="q3"></a>
                            <h3>什么是“月代扣”缴费？</h3>
                            <div>当收费机构发起了带有“月代扣”标签的收费通知，家长一次性确认后，系统将每月定期（通常为25日）从绑定的银行账户中扣除固定金额用于支付下月费用。家长可随时登录幼富通网站、微信或查收短信了解缴费结果。</div>
                        </li>
                        <li><a name="q4"></a>
                            <h3>“月代扣”暂停与变更</h3>
                            <div>月代扣模式，一经家长确认后将持续到您的孩子离园。寒暑假等将根据收费机构的具体要求暂停扣款；通常月代扣模式均用于每月固定金额的收费项目如学费伙食费等，不会频繁变更。若出现金额变更，收费机构将重新发起收费通知，需要家长重新确认并以新的金额逐月扣款。</div>
                        </li>
                        <li class="last"><a name="q5"></a>
                            <h3>家长确认幼儿园收费账单后，何时缴费？</h3>
                            <div>通常每月20日前必须确认收费机构发出的收费通知，账务系统将在每月25日统一扣缴各类固定或临时性费用并支付退费。</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${staticDomain}/family/scripts/load.js"></script>
</body>
</html>