<!--弹层-->
<div class="bgBox"></div>
<div class="layerpop">	
<b class="close"></b>
<div class="layerTitle">对公银行账户验证详情</div>
<div id="content_1" class="content">
    <h4>1、申请学费通、分期购或幼富贷等业务时，须进行对公银行账户的进一步验证</h4>
    <p>对公账户是指单位银行结算账户，即以单位名称开立的银行结算账户。（含基本户／一般户）
		请确保在注册时正确填写了对公收款账户信息，幼富通将向该账户汇入人民币1元以内的随机金额，用于验证收款银行账户的准确性。
		在对公银行账户验证期间，你仍可以正常登录幼富通平台，学习如何使用学费通，并预先设置账单周期、价目表及班级，或了解幼富通其他金融业务。
	</p>
    <h4>2、获取并填写验证码信息</h4>
    <p>10天内，请将收到的1元以内汇款随机金额的准确数字填写到登录后首页的验证框内。<br>
       10天内未填写，或3次填写错误，则验证失败，将无法使用收费、分期购或申请贷款等业务。
    </p>
    <h4>3、其他问题</h4>	
    <p>若未能正确提交对公账户信息，幼富通打款失败，你还有2次机会重新填写对公账户信息，加上首次共3次填写的机会。若3次填写的对公账户都不正确，验证将失败。请留意幼富通打款结果的通知。<br>
    	幼富通使用银联账户进行打款，跨行打款到账时间可能需要3个工作日，请注意查收到账信息和具体入账金额。若未收到汇款，可能是因为你填写的对公账户信息错误导致银行退票，请留意幼富通的通知。
    	<a href="${ufbDomain}/corp/help/question.htm">更多常见问题</a>
    </p>
	<a href="javascript:;" class="btnKnow closebox">我知道了</a>
	</div>
</div>