<!--协议-->
<div class="bgBox"></div>
<div class="layerpop">	
<b class="close"></b>
<div class="layerTitle">幼富通服务协议</div>
<div id="content_1" class="content">
            <p>幼富通服务协议（以下简称本协议）由上海幼赋金融信息服务有限公司（以下简称本公司）和您签订。</p>
            <h4>一、声明与承诺</h4>
            <p> （一）在接受本协议或您以本公司允许的其他方式实际使用幼富通服务之前，请您仔细阅读本协议的全部内容（特别是以粗体标注的内容）。如果您不同意本协议的任意内容，或者无法准确理解本公司对条款的解释，请不要进行后续操作，包括但不限于不要接受本协议，不使用本服务。如果您对本协议的条款有疑问，请通过本公司客服渠道进行询问，本公司将向您解释条款内容。</p>

        <p> （二）您同意，如本公司需要对本协议进行变更或修改的，须通过幼富通网站公告的方式提前予以公布，公告期限届满后即时生效；若您在本协议内容公告变更生效后继续使用幼富通服务的，表示您已充分阅读、理解并接受变更后的协议内容，也将遵循变更后的协议内容使用幼富通服务；若您不同意变更后的协议内容，您应在变更生效前停止使用幼富通服务。</p>

        <p> （三）如您为无民事行为能力人或为限制民事行为能力人，例如您未满18周岁，则您应在监护人监护、指导下阅读本协议和使用本服务。若您非自然人，则您确认，在您取得幼富通账户时，或您以其他本公司允许的方式实际使用幼富通服务时，您为在中国大陆地区合法设立并开展经营活动或其他业务的法人或其他组织，且您订立并履行本协议不受您所属、所居住或开展经营活动或其他业务的国家或地区法律法规的排斥。不具备前述条件的，您应立即终止注册或停止使用幼富通服务。</p>

        <p> （四）您在使用幼富通服务时，应自行判断交易对方是否具有完全民事行为能力并自行决定是否使用幼富通服务与对方进行交易，且您应自行承担与此相关的所有风险。</p>

            <h4>二、定义及解释</h4>	

            <p> （一）幼富通账户（或“该账户”）：指您按照本公司允许的方式取得的供您使用幼富通服务的账户，幼富通账户资金存放于幼富通支付合作机构指定的受监管的银行账户内。</p>

            <p> （二）本网站：除本协议另有规定外，指幼富通网站及/或幼富通手机客户端。</p>

            <p> （三）止付：指幼富通账户余额为不可用状态，例如被止付的幼富通账户余额不能用于充值、支付、提现或转账等服务。</p>

            <p> （四）冻结：指本协议第四（三）条规定的有权机关要求的冻结或依据其他协议进行的保证金冻结等。被冻结余额为不可用状态，被冻结账户不可登录、使用。</p>

            <p> （五）幼富通服务（或“本服务”）：指本协议第三条所描述的服务。</p>

            <h4>三、幼富通服务</h4>	

            <p>幼富通服务（或称“本服务”）是本公司向您提供的非金融机构支付服务，是根据幼富通与幼富通支付合作机构（上海银联商务有限公司及其关联公司广州银联网络支付有限公司）根据相关合法协议，受您委托代您收款和付款的资金转移服务，具体服务项目及内容请见本网站网页，包括（但不限于）以下服务：</p>

            <p>1、代收代付款项服务:代收代付款项服务是指幼富通根据与支付合作机构签订的合法协议为您提供的代为收取或支付相关款项的服务， 其中：</p>

            <p>A.代收，即通过幼富通委托幼富通支付合作机构代为收取任何人向您支付的各类款项。为免疑义，代收具体是指在符合本公司规定或产品规则的情况下，自您通过幼富通委托幼富通支付合作机构将您银行账户内的资金充值到您的幼富通账户或通过幼富通委托幼富通支付合作机构代为收取第三方向您支付的款项之时起至根据您的指令将该等款项的全部或部分实际入账到您的银行账户或幼富通账户之时止（含本条之1项3）规定的提现）的整个过程（但不包括本条之1项B（a）所述情形）。</p>

            <p>B.代付, 即通过幼富通委托幼富通支付合作机构将您的款项代为支付给您指定的第三方。为免疑义, 代付具体是指在符合本公司规定或产品规则的情况下: (a)自款项从您的账户(包括但不限于银行账户或其他账户, 但不包括幼富通账户)转出之时起至通过幼富通委托幼富通支付合作机构根据您或有权方给出的指令将上述款项的全部或部分支付给第三方且第三方收到该款项(无论是否要求立即支付或根据届时情况不时支付)之时止的整个过程; 或 (b) 自您根据本协议通过幼富通委托幼富通支付合作机构将您银行账户的资金充值到您的幼富通账户或自您通过幼富通委托幼富通支付合作机构代收相关款项到您的幼富通账户之时起至通过幼富通委托幼富通支付合作机构根据您或有权方给出的指令将上述款项的全部或部分支付给第三方(无论是否要求立即支付或根据届时情况不时支付)之时止的整个过程。并且您同意, 本公司代付后, 非经法律程序或者非依本协议之约定, 该支付是不可撤销的。</p>

            <p>本公司提供的上述的代收代付款项服务可以分为以下各类具体服务:</p>

            <p>1)充值：作为代收款项服务的一部分，在符合本公司规定或产品规则的情况下，您通过幼富通委托幼富通支付合作机构将您银行账户内的资金充值到您的幼富通账户。</p>

            <p>2)提现：作为代收款项服务的一部分, 在符合本公司规定或产品规则的情况下，您可以通过幼富通委托幼富通支付合作机构将您幼富通账户中的资金提取到您名下的有效中国大陆银行账户内, 该银行账户开户名需与您的姓名或名称一致。除被止付或限制款项外, 相应款项将于收到提现指令后的一至五个工作日内汇入该银行账户。您理解, 根据您提供的账户所属银行不同, 会有到账时间差异。此外, 我们可能会对提现进行风险审查, 因此可能导致提现延迟。您理解并同意您最终收到款项的服务是由您提供的银行账户对应的银行提供的, 您需向该银行请求查证。</p>

            <p>2、查询: 本公司将对您使用本公司服务的操作的全部或部分进行记录, 不论该操作之目的最终是否实现。您可以登录幼富通账户查询您幼富通账户内的交易记录。</p>

            <p>3、其他: 包含您实际使用的本公司接受您的委托为您不时提供的其他服务及本公司提供的其他产品或服务。</p>

            <h4>四、幼富通账户</h4>	

            <p> （一）注册相关</p>

            <p>除本协议另有规定或相关产品另有规则外，您须在本网站注册并取得本公司提供给您的幼富通账户，并且按照本公司要求提供相关信息完成相应安全认证后方可使用本服务。您需使用作为幼富通登录名的本人手机号码或电子邮箱，或者本公司允许的其它方式（例如通过扫描二维码、识别生物特征的方式）登录幼富通账户，并且您应当自行为幼富通账户设置密码。您同意：</p>

            <p>1、按照幼富通要求准确提供并在取得该账户后及时更新您正确、最新及完整的身份信息及相关资料。若本公司有合理理由怀疑您提供的身份信息及相关资料错误、不实、过时或不完整的，本公司有权暂停或终止向您提供部分或全部幼富通服务。本公司对此不承担任何责任，您将承担因此产生的任何直接或间接支出。若因国家法律法规、部门规章或监管机构的要求，本公司需要您补充提供任何相关资料时，如您不能及时配合提供，本公司有权暂停或终止向您提供部分或全部幼富通服务。</p>

            <p>2、您应当准确提供并及时更新您提供的电子邮件地址、联系电话、联系地址、邮政编码等联系方式，以便本公司与您进行及时、有效联系。您应完全独自承担因通过这些联系方式无法与您取得联系而导致的您在使用本服务过程中遭受的任何损失或增加任何费用等不利后果。您理解并同意，您有义务保持您提供的联系方式的有效性，如有变更需要更新的，您应按本公司 的要求进行操作。</p>

            <p>3、您应及时更新资料（包括但不限于身份证、户口本、护照等证件或其他身份证明文件、联系方式、作为幼富通账户登录名的手机号码或邮箱、与幼富通账户绑定的邮箱、手机号码等），否则幼富通有权将幼富通登录名、幼富通账户绑定的邮箱、手机号码开放给其他用户注册或使用。因您未及时更新资料导致的一切后果，均应由您自行承担，该后果包括但不限于导致本服务无法提供或提供时发生任何错误、账户及账户内资金被别人盗用，您不得将此作为取消交易、拒绝付款的理由。</p>

            <p>4、若您为个人用户, 您确认, 本公司有权在出现下列情形时要求核对您的有效身份证件或其他必要文件, 并留存有效身份证件的彩色扫描件, 您应积极配合, 否则本公司有权限制或停止向您提供部分或全部幼富通服务: </p>

            <p>A. 您办理单笔收付金额人民币1万元以上支付业务的；</p>

            <p>B. 您全部账户30天内资金双边收付金额累计人民币5 万元的；</p>

            <p>C. 您全部账户资金余额连续10天超过人民币5000元的；</p>

            <p>D. 您使用幼富通服务买卖金融产品或服务的；</p>

            <p>E. 您要求变更身份信息或您身份信息已过有效期的；</p>

            <p>F. 本公司认为您的交易行为或交易情况出现异常的；</p>

            <p>G. 本公司认为您的身份资料存在疑点或本公司在向您提供服务的过程中认为您已经提供的身份资料存在疑点的; </p>

            <p>H. 本公司认为应核对或留存您身份证件或其他必要文件的其他情形的。</p>

            <p>本条款所称“以上”,包括本数。</p>

            <p>5、您在幼富通账户中设置的姓名、机构名称、图片等必须遵守法律法规、公序良俗、社会公德，且不会侵害其他第三方的合法权益，否则幼富通有权对您的幼富通账户采取限制措施，包括但不限于屏蔽、撤销您幼富通账户的姓名、机构名称、图片，停止提供部分或全部幼富通服务。</p>

            <p> （二）账户安全</p>

            <p>您将对使用该账户及密码、校验码进行的一切操作及言论负完全的责任，您同意：</p>

            <p>1、本公司通过您的幼富通登录名和密码识别您的指示，您应当妥善保管您的幼富通登录名和密码及身份信息，对于因密码泄露、身份信息泄露所致的损失，由您自行承担。您保证不向其他任何人泄露您的幼富通登录名及密码以及身份信息，亦不使用其他任何人的幼富通登录名及密码。本公司亦可能通过本服务应用您使用的其他产品或设备识别您的指示，您应当妥善保管处于您或应当处于您掌控下的这些产品或设备，对于这些产品或设备遗失所致的任何损失，由您自行承担。</p>

            <p>2、基于计算机端、手机端以及使用其他电子设备的用户使用习惯，我们可能在您使用具体产品时设置不同的账户登录模式及采取不同的措施识别您的身份。</p>

            <p>3、您同意，（a）如您发现有他人冒用或盗用您的幼富通登录名及密码或任何其他未经合法授权之情形，或发生与幼富通账户关联的手机或其他设备遗失或其他可能危及到幼富通账户资金安全情形时，应立即以有效方式通知本公司，向本公司申请暂停相关服务。您不可撤销地授权本公司将前述情况同步给幼富通网站及幼富通合作金融机构，以保障您的合法权益；及（b）确保您在持续登录幼富通网站时段结束时，以正确步骤离开网站。本公司不能也不会对因您未能遵守本款约定而发生的任何损失、损毁及其他不利后果负责。您理解本公司对您的请求采取行动需要合理期限，在此之前，本公司对已执行的指令及(或)所导致的您的损失不承担任何责任。</p>

            <p>4、您确认，您应自行对您的幼富通账户负责，只有您本人方可使用该账户。该账户不可转让、不可赠与、不可继承，但账户内的相关财产权益可被依法继承。</p>

            <p>5、您同意，基于运行和交易安全的需要，本公司可以暂时停止提供或者限制本服务部分功能，或提供新的功能，在任何功能减少、增加或者变化时，只要您仍然使用本服务，表示您仍然同意本协议或者变更后的协议。</p>

            <p>6、本公司有权了解您使用本公司产品或服务的真实交易背景及目的，您应如实提供本公司所需的真实、全面、准确的信息；如果本公司有合理理由怀疑您提供虚假信息的，本公司有权暂时或永久限制您所使用的产品或服务的部分或全部功能。</p>

            <p>7、您同意，本公司有权国家法律或和行政法规所赋予权力的有权机关的要求对您的个人信息以及在幼富通的资金、交易及账户等进行查询、冻结或扣划。</p>

            <p>  (三)注销相关</p>

            <p>在需要终止使用本服务时,您可以申请注销您的幼富通账户,您同意:</p>

            <p>1、您所申请注销的幼富通账户应当是您依照本协议的约定注册并由本公司提供给您本人的账户。您应当依照本公司规定的程序进行幼富通账户注销。</p>

            <p>2、幼富通账户注销将导致本公司终止为您提供本服务，本协议约定的双方的权利义务终止（依本协议其他条款另行约定不得终止的或依其性质不能终止的除外），同时还可能对于该账户产生如下结果：</p>

            <p>A、任何银行账户将不能适用该账户内的支付或提现服务。</p>

            <p>B、您仍应对您在注销幼富通账户前且使用本服务期间的行为承担相应责任，包括但不限于可能产生的违约责任、损害赔偿责任及履约义务，同时本公司仍可保有您的相关信息。</p>

            <p>3、您可以通过自助或者人工的方式申请注销幼富通账户，但如果您使用了本公司提供的安全产品，应当在该安全产品环境下申请注销。</p>

            <p>4、您申请注销的幼富通账户应当处于正常状态，即您的幼富通账户的账户信息和用户信息是最新、完整、正确的，且该账户可以使用所有幼富通服务功能的状态。账户信息或用户信息过时、缺失、不正确的账户或被暂停或终止提供服务的账户不能被申请注销。如您申请注销的幼富通账户有关联的幼富通账户或子幼富通账户的，在该关联的支付宝账户或子支付宝账户被注销前，您不能注销该账户。</p>

            <p>5、您申请注销的幼富通账户应当不存在任何由于该账户被注销而导致的未了结的合同关系与其他基于该账户的存在而产生或维持的权利义务，及本公司认为注销该账户会由此产生未了结的权利义务而产生纠纷的情况。您申请注销的幼富通账户应当没有任何关联的理财产品，不存在任何待处理交易，没有任何账户余额、幼富宝等资产，且符合幼富通页面或网站提示的其他条件和流程。如不符合前述任何情况的，您不能申请注销该账户。</p>

            <p>6、如果您申请注销的幼富通账户一旦注销成功，将不再予以恢复。</p>

            <p>7、您理解并同意，如（a）您连续12个月未使用您的幼富通登录名或本公司认可的其他方式登录过本网站，本公司有权注销您名下的全部或部分幼富通登录名及幼富通账户，您将不能再通过该登录名登录本网站或使用相关幼富通账户；如该相关幼富通账户内有余额，您可按照幼富通相关流程通过幼富通委托幼富通支付合作机构将其转到您的其他幼富通帐户或同名银行帐户或其他本公司规定的方式处理；或（b）您在幼富通网站有欺诈、发布虚假信息、侵犯他人合法权益或其他严重违反任一幼富通网站规则的行为的，本公司有权注销您名下的全部或部分幼富通账户，您将不能再用该账户的幼富通登录名登录幼富通网站，所有幼富通网站的服务将同时终止。本公司有权将您违反前述约定的情形同步给所有幼富通合作金融机构。</p>

            <h4>五、幼富通服务使用规则</h4>	

            <p>为有效保障您使用本服务时的合法权益，您理解并同意接受以下规则：</p>

            <p> （一）一旦您使用本服务，您即授权本公司代理您在您及（或）您指定人符合指定条件或状态时，委托幼富通支付合作机构支付款项给您指定人，或收取您指定人支付给您的款项。</p>

            <p> （二）本公司通过以下三种方式接受来自您的指令：其一，您在本网站或其他可使用本服务的网站或软件上通过以您的幼富通账户名及密码或数字证书等安全产品登录幼富通账户并依照本服务预设流程所修改或确认的交易状态或指令；其二，您通过您注册时作为该账户名称或者与该账户绑定的手机或其他专属于您的通讯工具（以下合称该手机）号码向本系统发送的信息（短信 或电话等）回复；其三，您通过您注册时作为该账户名称或者与该账户名称绑定的其他硬件、终端、软件、代号、编码、代码、其他账户名等有形体或无形体向本系统发送的信息（如本方式所指有形体或无形体具备与该手机接受信息相同或类似的功能，以下第五条第（三）、（四）项和第六条第（三）项涉及该手机的条款同样适用于本方式）。无论您通过以上三种方式中的任一种向本公司发出指令，都不可撤回或撤销，且成为本公司代理您支付或收取款项或进行其他账户操作的唯一指令，视为您本人的指令，您应当自己对本公司忠实执行上述指令产生的任何结果承担责任。本协议所称绑定，指您的幼富通账户与本条上述所称有形体或无形体存在对应的关联关系，这种关联关系使得幼富通服务的某些服务功能得以实现，且这种关联关系有时使得这些有形体或无形体能够作为本系统对您的幼富通账户的识别和认定依据。除本协议另有规定外，您与第三方发生交易纠纷时，您授权本公司自行判断并决定委托幼富通支付合作机构将争议款项的全部或部分支付给交易一方或双方。</p>

            <p> （三）您在使用本服务过程中，本协议内容、网页上出现的关于操作的提示或本公司发送到该手机的信息（短信或电话等）内容是您使用本服务的相关规则，您使用本服务即表示您同意接受本服务的相关规则。您了解并同意本公司有权单方修改本服务的相关规则，而无须征得您的同意，本服务的相关规则应以您使用服务时的页面提示（或发送到该手机的短信或电话或客户端通知等）为准，您同意并遵照本服务的相关规则是您使用本服务的前提。</p>

            <p> （四）本公司会以网站公告、电子邮件、发送到该手机的短信、电话、站内信或客户端通知等方式向您发送通知，例如通知您交易进展情况，或者提示您进行相关操作，您应及时予以关注。但本公司不保证您能够收到或者及时收到该等通知，且对此不承担任何后果。</p>

            <p> （五）您应按照幼富通的要求完善您的身份信息以最终达到实名，否则您可能会受到收款、提现和（或）支付（包括但不限于幼富通账户余额等）的限制，且本公司有权委托幼富通支付合作机构对您的资金进行止付，直至您达到实名。</p>

            <p> （六）幼富通要求幼富通支付合作机构将您委托代收或代付的款项，严格按照法律法规或有权机关的监管要求进行管理；除本协议另有规定外，不作任何其他非您指示的用途。</p>

            <p> （七）本公司并非银行或其它金融机构，本服务也非金融业务，本协议项下的资金移转均通过银行来实现，你理解并同意您的资金于流转途中的合理时间。</p>

            <p> （八）您理解，基于相关法律法规，对本协议项下的任何服务，本公司均不提供任何担保、垫资。</p>

            <p> （九）您确认并同意，您应自行承担您使用本服务期间由通过幼富通委托幼富通支付合作机构代收或代付的款项在代收代付服务过程中的任何货币贬值及收益损失等风险，您仅在该代收代付款项（不含被冻结、止付或受限制的款项）的金额范围内享有对该等代收代付款项指令支付、提现的权利，您对所有代收代付款项（含被冻结、止付或受限制的款项）产生的任何收益（包括但不限于利息和其他孳息）不享有任何权利。本公司就所有该代收代付款项产生的任何收益（包括但不限利息和其他于孳息）享有所有权。</p>

            <p> （十）您不得将本服务用于非本公司许可的其他用途。</p>

            <p> （十一）交易风险</p>

            <p>1、在使用本服务时，若您或您的交易对方未遵从本协议或网站说明、交易、支付页面中之操作提示、规则），则本公司有权拒绝为您与交易对方提供相关服务，且本公司不承担损害赔偿责任。若发生上述状况，而款项已先行划付至您或他人的幼富通账户名下，您同意本公司有权委托幼富通支付合作机构直接自相关账户中扣回相应款项及（或）禁止您要求支付此笔款项之权利。此款项若已汇入您的银行账户，您同意本公司有向您事后索回之权利，因您的原因导致本公司事后追索的，您应当承担本公司合理的追索费用。</p>

            <p>2、因您的过错导致的任何损失由您自行承担，该过错包括但不限于：不按照交易、支付提示操作，未及时进行交易操作，遗忘或泄漏密码，密码被他人破解，您使用的计算机被他人侵入。</p>

            <p>3、您使用本服务时同意并认可，可能由于银行本身系统问题、银行相关作业网络连线问题、任何互联网系统问题或网络运营商原因、您的电子邮件系统问题或邮件服务商原因、您的手机通讯系统问题或通讯服务商原因或其他不可抗拒因素，造成本服务无法提供，对此本公司不承担任何责任。</p>

            <p> （十二）服务费用</p>

            <p>1、在您使用本服务时，本公司有权依照幼富通相关服务收费规则向您收取服务费用。本公司拥有制订及调整服务费之权利，具体服务费用以您使用本服务时本网站产品页面上所列之收费方式公告或您与本公司达成的其他书面协议为准。</p>

            <p>2、除非另有说明或约定，您同意本公司有权委托幼富通支付合作机构自您通过幼富通委托幼富通支付合作机构代管、代收或代付的款项或您任一幼富通账户余额或者其他资产中直接扣除上述服务费用。</p>

            <p> （十三）您认可幼富通账户的使用记录、交易金额数据等均以幼富通系统记录的数据为准。如您对该等数据存有异议的，应自您账户数据发生变动之日起三日内向本公司提出异议，并提供相关证据供本公司核实，否则视为您认可该数据。</p>

            <p> （十四）如您通过幼富通委托幼富通支付合作机构使用代扣服务的，下面任一情况下均会导致扣款不成功，您需要自行承担该风险：</p>

            <p>1、您的指定账户余额不足；或</p>

            <p>2、您的指定账户被有权机关采取强制措施，或者已依据其他协议被冻结、止付。</p>

            <h4>六、幼富通服务使用限制</h4>	

            <p> （一）您在使用本服务时应遵守中华人民共和国相关法律法规、您所在国家或地区之法令及相关国际惯例，不将本服务用于任何非法目的，也不以任 何非法方式使用本服务。</p>

            <p> （二）您不得利用本服务从事侵害他人合法权益之行为，否则本公司有权拒绝提供本服务，且您应承担所有相关法律责任，因此导致本公司或本公司雇员受损的，您应承担赔偿责任。上述行 为包括但不限于：</p>

            <p>1、侵害他人名誉权、隐私权、商业秘密、商标权、著作权、专利权等合法权益。</p>

            <p>2、违反依法定或约定之保密义务。</p>

            <p>3、冒用他人名义使用本服务。</p>

            <p>4、从事不法交易行为，如洗钱、恐怖融资、贩卖枪支、毒品、禁药、盗版软件、黄色淫秽物品、其他本公司认为不得使用本服务进行交易的物品等。</p>

            <p>5、提供赌博资讯或以任何方式引诱他人参与赌博。</p>

            <p>6、非法使用他人银行账户（包括信用卡账户）或无效银行账号（包括信用卡账户）交易。</p>

            <p>7、违反《银行账户业务管理办法》使用银行账户，或利用信用卡套取现金（以下简称套现）。</p>

            <p>8、进行与您或交易对方宣称的交易内容不符的交易，或不真实的交易。</p>

            <p>9、从事任何可能含有电脑病毒或是可能侵害本服务系统、资料之行为。</p>

            <p>10、其他本公司有正当理由认为不适当之行为。</p>

            <p> （三） 您理解并同意，本公司不对因下述任一情况导致的任何损害赔偿承担责任，包括但不限于利润、商誉、使用、数据等方面的损失或其他无形损失的损害赔偿 (无论本公司是否已被告知该等损害赔偿的可能性)：</p>

            <p>1、本公司有权基于单方判断，包含但不限于本公司认为您已经违反本协议的明文规定及精神，对您的名下的全部或部分幼富通账户暂停、中断或终止向您提供本服务或其任何部分，并移除您的资料。</p>

            <p>2、在发现异常交易或合理怀疑交易有疑义或有违反法律规定或本协议约定之时，为维护用户资金安全和合法权益，本公司有权不经通知先行暂停或终止您名下全部或部分幼富通账户的使用（包括但不限于对这些账户名下的款项和在途交易采取取消交易、调账等措施），同时可能需要您配合提供包括但不限于身份证、银行账户等资料。如您未及时、完整、准确提供上述资料，本公司有权委托幼富通支付合作机构采取包括但不限于如下限制措施：关闭幼富通账户余额支付功能、限制收款功能、止付幼富通账户内余额或停止提供全部或部分幼富通服务。如涉嫌犯罪，本公司有权移交公安机关处理。</p>

            <p>3、您理解并同意，存在如下情形时，本公司有权对您名下幼富通账户暂停或终止提供全部或部分幼富通服务，或委托幼富通支付合作机构对资金的全部或部分进行止付，且有权限制您所使用的产品或服务的部分或全部功能（包括但不限于对这些账户名下的款项和在途交易采取取消交易、调账等限制措施）， 并通过邮件或站内信或者客户端通知等方式通知您， 您应及时予以关注：</p>

            <p>1）根据本协议的约定；</p>

            <p>2）根据法律法规及法律文书的规定；</p>

            <p>3）根据有权机关的要求；</p>

            <p>4）您使用幼富通服务的行为涉嫌违反国家法律法规及行政规定的；</p>

            <p>5）本公司基于单方面合理判断认为账户操作、资金进出等存在异常时；</p>

            <p>6）本公司依据自行合理判断认为可能产生风险的；</p>

            <p>7）他人向您账户错误汇入资金等导致您可能存在不当得利的；</p>

            <p>8）您遭到他人投诉，且对方已经提供了一定证据的；</p>

            <p>9）您可能错误地将他人账户进行了实名制或实名认证的。</p>

            <p>如您申请恢复服务、解除上述止付或限制，您应按本公司要求如实提供相关资料及您的身份证明以及本公司要求的其他信息或文件，以便本公司进行核实，且本公司有权依照自行判断来决定是否同意您的申请。您应充分理解您的申请并不必然被允许。您拒绝如实提供相关资料及身份证明的，或未通过本公司审核的，则您确认本公司有权长期对该等账户停止提供服务且长期限制该等产品或者服务的部分或全部功能。</p>

            <p>在本公司认为该等异常已经得到合理解释或有效证据支持或未违反国家相关法律法规及部门规章的情况下，最晚将于止付款项或暂停执行指令之日起的30个日历天内委托幼富通支付合作机构解除止付或限制。但本公司有进一步理由相信该等异常仍可能对您或其他用户或本公司造成损失的情形除外，包括但不限于：</p>

            <p>1）收到针对该等异常的投诉；</p>

            <p>2）您已经实质性违反了本协议或另行签署的协议，且我们基于保护各方利益的需要必须委托幼富通支付合作机构继续止付款项或暂停执行指令；</p>

            <h4>七、系统中断或故障</h4>	

            <p>本公司系统因下列状况无法正常运作，使您无法使用各项服务时，本公司不承担损害赔偿责任，该状况包括但不限于：</p>

            <p> （一）本公司在本网站公告之系统停机维护期间。</p>

            <p> （二）电信设备出现故障不能进行数据传输的。</p>

            <p> （三）因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成本公司系统障碍不能执行业务的。</p>

            <p> （四）由于黑客攻击、电信部门技术调整或故障、网站升级、银行方面的问题等原因而造成的服务中断或者延迟。</p>

            <h4>八、责任范围及责任限制</h4>	

            <p> （一）本公司仅对本协议中列明的责任承担范围负责。</p>

            <p> （二）您明确因交易所产生的任何风险应由您与交易对方承担。</p>

            <p> （三）幼富通用户信息是由用户本人自行提供的，本公司无法保证该信息之准确、及时和完整，您应对您的判断承担全部责任。</p>

            <p> （四）本公司不对交易标的及本服务提供任何形式的保证，包括但不限于以下事项：</p>

            <p>1、本服务符合您的需求。</p>

            <p>2、本服务不受干扰、及时提供或免于出错。</p>

            <p> （五）本服务之合作单位，所提供之服务品质及内容由该合作单位自行负责。</p>

            <p> （六）您经由本服务之使用下载或取得任何资料，应由您自行考量且自负风险，因资料之下载而导致您电脑系统之任何损坏或资料流失，您应负完全责任。</p>
            <p> （七）您自本公司及本公司工作人员或经由本服务取得之建议和资讯，无论其为书面或口头形式，均不构成本公司对本服务之保证。</p>

            <p> （八）在法律允许的情况下，本公司对于与本协议有关或由本协议引起的任何间接的、惩罚性的、特殊的、派生的损失（包括业务损失、收益损失、利润损失、商誉损失、使用数据及其他经济利益的损失），不论是如何产生的，也不论是由对本协议的违约（包括违反保证）还是由侵权造成的，均不负有任何责任，即使事先已被告知此等损失的可能性。另外即使本协议规定的排他性救济没有达到其基本目的，也应排除本公司对上述损失的责任。</p>

            <p> （九）除本协议另有规定外，在任何情况下，本公司对本协议所承担的违约赔偿责任总额不超过向您收取的当次服务费用总额。</p>

            <p> （十）您充分知晓并同意本公司可能同时为您及您的（交易）对手方提供本服务，您同意对本公司可能存在的该等行为予以明确豁免，并不得以此来主张本公司在提供本服务时存在法律上的瑕疵。</p>

            <p> （十一）除本协议另有规定或本公司另行同意外，您对本公司的委托及向本公司发出的指令均不可撤销。</p>

            <h4>九、完整协议</h4>	

            <p>本协议由《幼富通服务协议》条款与幼富通网站不时公示的各项规则组成，各项规则有约定，而本协议条款没有约定的，以各项规则约定为准。您对本协议理解和认同，您即对本协议所有组成部分的内容理解并认同，一旦您取得幼富通账户，或您以其他本公司允许的方式实际使用本服务，您和本公司即受本协议所有组成部分的约束。本协议部分内容被有管辖权的法院认定为违法或无效的，不因此影响其他内容的效力。</p>

            <h4>十、商标、知识产权的保护</h4>	

            <p> （一） 本网站上所有内容，包括但不限于著作、图片、档案、资讯、资料、网站架构、网站画面的安排、网页设计，均由本公司或本公司关联企业依法拥有其知识产权，包括但不限于商标权、专利权、著作权、商业秘密等。</p>

            <p> （二） 非经本公司或本公司关联企业书面同意，任何人不得擅自使用、修改、复制、公开传播、改变、散布、发行或公开发表本网站程序或内容。</p>

            <h4>十一、法律适用与管辖</h4>	

            <p>本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律。因本协议产生之争议，均应依照中华人民共和国法律予以处理，并由被告住所地人民法院。</p>

            <a href="javascript:;" class="btnKnow closebox">我知道了</a>
            </div>
</div>