<!DOCTYPE html>
<html>
<head>
    <title>幼富通 - 账户管理 - 账户信息</title>
    <script>
	    $(function(){
	    	$('.nav a:eq(0)').addClass('active');
	    })
    </script>
</head>
<body>
    <div class="body">
        <div class="inner clearfix">
            <div class="title">
                <h2 class="title-main">账户设置</h2>
            </div>
            <div class="side side-nav fl">
                <ul>
                    <li><a class="current" href="${ufbDomain}/family/setting/account_index.htm"><b class="icon01"></b>账户信息</a></li>
                    <li><a href="${ufbDomain}/family/setting/password_index.htm"><b class="icon02"></b>密码设置</a></li>
                    <li><a href="${ufbDomain}/family/setting/card_index.htm"><b class="icon03"></b>我的银行卡</a></li>
                    <li><a href="${ufbDomain}/family/ufb/autotrade_index.htm"><b class="icon04"></b>自动理财设置</a></li>
                </ul>
            </div>
            <div class="main fr">
                <div class="setting-content">
                    <ul class="p10">
                        <li>家长姓名：*
							#set($tailStr=$CustinfoVo.invnm)
							$tailStr.substring(1)
						</li>
                        <li>身份证号：
						#if ($CustinfoVo.idno)
						#set($tailStr=$CustinfoVo.idno)
						#set($start=$tailStr.substring(0,3))
						#set($l_0=$tailStr.length() - 4)
						#set($l_1=$tailStr.length())
						#set($end=$tailStr.substring($l_0,$l_1))
						$start****************$end
						#end
						</li>
                        <li>手机号：
						#set($tailStr=$CustinfoVo.mobileno)
            			#set($start=$tailStr.substring(0,3))
            			#set($end=$tailStr.substring(7,11))
            			$start****$end
						</li>
                    </ul>
					#if($StudentList.size()>0)
					#foreach($stu in $StudentList)
                    <ul class="p10">       
                        <li>绑定缴费机构：$!{stu.organization}</li>
                        <li>缴费学生：*
							#set($tailStr=$stu.name)
							$tailStr.substring(1)
						</li>
                        <li>性别： 
							#if(${stu.sex}=="1")男 #else 女 #end
						</li>
                        <li>出生日期：$!{stu.birthday}</li>
                    </ul>
                    #end
                    #end
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>