<html>
<head>
<title>幼富通-我的银行卡-升级幼富宝卡</title>
 
<script type="text/javascript">
//$(function(){
//	$('.inputText').inputText();
//});
//$(function(){
//    $('#card2').cardFormat('###,###,####,####,####');//身份证
//});
</script>
<script type="text/javascript" src="${staticDomain}/family/scripts/load.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="js/minified/jquery-1.9.1.min.js"%3E%3C/script%3E'))</script>  <!--scroll美化-->
<script type="text/javascript">
    $(function(){
	   // 幼富宝协议    
       $("#ufbAgreement").click(function(){
           $(".bgBox , #ufb01").fadeIn();       
       });
       $("#ufb01 .close , .btnKnow").click(function(){
           $(".bgBox , #ufb01").fadeOut();       
       });
	   // 海富通基金协议 
       $("#hftAgreement").click(function(){
           $(".bgBox , #hft").fadeIn();       
       });
       $("#hft .close , .btnKnow").click(function(){
           $(".bgBox , #hft").fadeOut();       
       });
	   // 实名注册协议
       $("#uftName").click(function(){
           $(".bgBox , #uft").fadeIn();       
       });
       $("#uft .close , .btnKnow").click(function(){
           $(".bgBox , #uft").fadeOut();       
       });
       
       $(window).load(function(){
	        $(".content_scroll").mCustomScrollbar({
	            theme:"dark", //主题颜色
	            scrollButtons:{
	                enable:true //是否使用上下滚动按钮
	            },
	            autoHideScrollbar: false, //是否自动隐藏滚动条
	            scrollInertia :0,//滚动延迟
	            horizontalScroll : false//水平滚动条
	        });
	   });
	   
	   // 关闭头部提示
	   $(".notice .v2_1").click(function(){
            $(".notice").hide();
       });
        
       // 银行卡列表-样式控制
       $(".input-options .bank").on('click', function(){
            $(this).addClass("active").parents().siblings().find("a").removeClass("active");
            $(this).addClass("active").siblings().removeClass("active");
       });
	   // 银行卡列表-业务逻辑控制
	   $('.input-options .bank').on('click', function(){ 
		  var bankno = $(this).attr('bankno'); 
		  $("#bankno").val(bankno);
		  // 是否需要地址
		  if(bankno == '008' || bankno == '009'){
			$('.sureAddr').show();
			$('.Addr').show();
		  }else{
			$('.sureAddr').hide();
			$('.Addr').hide();
		  }
		  // 是否需要通联验证码
		  if($(this).parent().hasClass('ufbCard')){
		  	$('#mobileautocode').closest('li').show();
		  }else{
		  	$('#mobileautocode').closest('li').hide();
		  }
	   });
	   
	   // 检查银行卡号
	   var checkBankacco = function(){
	   		
	   		var obj = $('#bankacco').closest('li').children('.tips-check');
	   		if($('#bankacco').val() == ''){
	   			obj.parent().addClass('error');
	   			obj.find('font').text('请填写银行卡号！');
	   			obj.css('display', 'inline');
	   			return false;
	   		}else if($('#bankacco').val().length < 14 || $('#bankacco').val().length > 21){
	   			obj.parent().addClass('error');
	   			obj.find('font').text('请填写正确的银行卡号！');
	   			obj.css('display', 'inline');
	   			return false;
	   		}else{
	   			var result = readCardbin($('#bankacco').val());
	   			if(result.errCode == '0000' && result.cardbin
	   				&& result.cardbin.bankno != $("#bankno").val()){
	   				obj.parent().addClass('error');
		   			obj.find('font').text('对不起，银行卡号与所选银行不符！');
		   			obj.css('display', 'inline');
		   			return false;
	   			}else{
	   				//obj.parent().addClass('ok');
					obj.parent().removeClass('error');
		   			obj.find('font').html('&nbsp;');
		   			obj.css('display', 'inline');
		   			return true;
	   			}
	   		}
	   }
	   
	   // 检查银行预留手机号
	   var checkBankMobile = function(){
	   		var regex = /^(((13[0-9]{1})|145|147|(15[0-9]{1})|170|17[6-8]{1}|(18[0-9]{1}))+\d{8})$/;
	 	
			if($("#bankmobile").val() == ''){
				$("#bankmobile").next().find('font').text('银行预留手机号码不能为空！');
				$("#bankmobile").next().css('display', 'inline');
				$("#bankmobile").closest('li').addClass('error');
				return false;
			}else if(!$("#bankmobile").val().match(regex)){
				$("#bankmobile").next().find('font').text('银行预留手机号码格式不正确！');
				$("#bankmobile").next().css('display', 'inline');
				$("#bankmobile").closest('li').addClass('error');
				return false;
			}else{
		 		$("#bankmobile").next().find('font').html('&nbsp;');
				$("#bankmobile").next().css('display', 'inline');
				$("#bankmobile").closest('li').removeClass('error');
				//$("#bankmobile").closest('li').addClass('ok');
				return true;
		 	}
	   }
	   
	   // 检查验证码
	   var checkMobileCode = function(){
	   		var obj = $('#mobileautocode');
	   		if(obj.closest('li').is(':visible')
	   			&& obj.val() == ''){
	   			obj.next().next().find('font').text('验证码为空！');
				obj.next().next().css('display', 'inline');
				obj.closest('li').addClass('error');
				return false;
	   		}
	   		return true;
	   }
	   
		// 输入框响应事件
		$("#bankacco").on("blur", checkBankacco);
		
		// 用户输入时，取消错误提示
		$("form input").on('focus', function(){
			if($(this).closest('li').hasClass('error')){
				$(this).closest('li').removeClass('error');
				$(this).closest('li').children('.tips-check').hide();
			}
		});
		
		// 获取通联手机验证码
		$("#btn-getMsgCode").on("click",function(){
		 	if(checkBankacco() && checkBankMobile() && bank_auth()){
		 		$('#bankacco').attr('readonly', true);
		 		$('#bankmobile').attr('readonly', true);
		 	}
		});
		
		// 返回
		$("#back").on("click",function(){
			location = '${ufbDomain}/family/setting/card_index.htm'
		});
		
		// 表单提交
		$("#submit").on("click",function(){
			if(checkBankacco() && checkBankMobile() && checkMobileCode()){
		 		return true;
		 	}else{
		 		return false;
		 	}
		});
		
		// 海富通银行鉴权
		var bank_auth = function(){
			var result = {errMsg:'系统出现异常！'};
			$("#btn-getMsgCode").addClass("off");
	        $("#btn-getMsgCode").attr("disabled","disabled");
			$.ajax({
	     		type: "get",
	    		url: "${ufbDomain}/common/bank_auth.htm",
	    		data: 'bankno='+$("#bankno").val()+'&bankacco='+$("#bankacco").val()+'&bankmobile='+$('#bankmobile').val(),
	    		async: false,
	    		success: function(data) {
	    			result = $.parseJSON(data);
				},
				error: function(XMLHttpRequest, textStatus, errorThrown) {
					console.log('系统出现异常！');
				}
	        });
	        if(result.errCode == '0000'){
	        	alert("通联手机验证码已发送！");
	            setTimeout(countDown, 1000);
	            return true;
	        }else{
	        	alert(result.errMsg);
	        	$("#btn-getMsgCode").removeClass("off");
				$("#btn-getMsgCode").removeAttr("disabled");
				return false;
	        }
		}
		
		// 获取短信码按钮倒计时
		var count = 60;
		var countDown = function() {
			$("#btn-getMsgCode").val("等待" + count + "秒!"); 
			if (count == 0) { 
				$("#btn-getMsgCode").val("重新发送"); 
				$("#btn-getMsgCode").removeClass("off");
				$("#btn-getMsgCode").removeAttr("disabled"); 
				clearTimeout(countDown); 
			}else{
				count--; 
				setTimeout(countDown, 1000);
			}
		}
		
	   // 根据银行卡号读取卡bin
	   var readCardbin = function(bankacco){
	   		var result = {errCode:'9999'};
			$.ajax({
				type: "post",
				url: '${ufbDomain}/common/cardbin_read.htm',
				data:'bin='+bankacco.substr(0,6),
				async:false,
				success: function(data){
					result = $.parseJSON(data);
				},
				error: function(XMLHttpRequest, textStatus, errorThrown) {
					console.log('系统出现异常！');
				}
			});
			return result;
	   }
	   
    });
</script>
</head>
<body>  
<div class="body">
    <div class="inner clearfix">
        <div class="title clearfix">
            <h2 class="title-main fl">绑定银行卡</h2>
        </div>
        <div class="notice">
             <i class="v2_1"></i><p>所有银行卡仅支持借记卡，需事先开通网银！<br>
				通过快捷方式绑定缴费卡，通过银行卡号加手机验证码即可完成验证，幼富通将逐步支持更多银行卡。
             </p>
        </div>
        <form id="myform" class="common-form bgFFF" method="post" action="${ufbDomain}/family/setting/card_result.htm">
            ${refreshTools.genInputHtml()}
			<input id="bankno" name="bankno" type="hidden" value="${firstBank.bankno}">
						
           <div class="panel">
                <ul class="safeInfo">
                    <li>
                        <span class="form-title">家长姓名</span>
                        <input class="ipt-text input-text" type="text" style="background-color:#cbcbcb;" readonly="readonly" value="$!{custinfoVo.invnm}">
                        <span class="tips-normal" style="display: none;"></span>
                      	<span class="tips-check"><i class="icon"></i></span> 
                    </li>
                    <li>
                        <span class="form-title">身份证号</span>
                        <input class="ipt-idCardno input-text" type="text" style="background-color:#cbcbcb;" readonly="readonly" value="$!{custinfoVo.idno}" >
                        <span class="tips-normal" style="display: none;"></span>
                        <span class="tips-check"><i class="icon"></i></span>
                    </li>
                </ul>
                <ul class="safeInfo">
                    <li class="anotherArea">
                        <span class="form-title title-font">设置支付方式</span>
                     <p>选择银行</p>
                    </li>
                    <li class="clearfix">
                        <div class="input-select">
                            <div class="bank bank-current"><img src="${staticDomain}/family/images/bank_${firstBank.bankno}.png"></div>
                            <div class="input-options">
                                <div class="bank-list clearfix mb10 ufbCard" style="width: 620px;">
                                    #foreach($bank in $ufbBankList)
							        	<a bankno="${bank.bankno}" class="bank" style="width: 142px;" href="javascript:;">
							        		<img src="${staticDomain}/family/images/bank_${bank.bankno}.png">
							        	</a>
							        #end
                                </div>
                            </div>
                        </div>
                        <span class="tips-normal"></span>
                        <span class="tips-check"><i class="icon"></i>验证提示</span>
                    </li>
                </ul>
                <ul class="safeInfo">
                    <li class="cardNum">
                       <span class="form-title">银行卡号</span>
                       <div class="cardFormat" id="card2">
                           <input class="ipt-bankCard input-text ipt-focus" maxlength="22"  type="text" id="bankacco" name="bankacco">
                       </div>
                       <span class="tips-check"><i class="icon"></i><font></font></span>
                       <p>
                       	         此卡默认缴费卡，仅支持借记卡，<a id="cardRequirement" href="javascript:;">绑卡须知</a>。
                       </p>
                       <div class="trip" style="display:none">
                        	 填写以你自己姓名开户的银行卡<br>
			                                                幼富通平台快捷缴费：共支持超过15家全国及地方银行借记卡<br>
			                                                充值幼富宝（理财+缴费）目前共支持9家银行，仅限借记卡<b></b>
                       </div>
                   </li>
                   <li class="sureAddr" style="display:none;"><b>请明确银行开户地点</b></li>
                   <li class="Addr zIndex" style="display:none;">
                       <span class="form-title">地址</span>
                       <div class="inputL">
                           <div class="inputS provinces">省份</div>
                           <div class="chose">
                               <ul>
                                   <li>省份</li>
                                   <li>吉林省</li>
                                   <li>江苏省</li>
                                   <li>山东省</li>
                                   <li>江西省</li>
                                   <li>海南省</li>
                               </ul>
                           </div>
                       </div>
                       <div class="inputR">
                           <div class="inputS city">城市</div>
                           <div class="choseCity">
                               <ul>
                                   <li>城市</li>
                                   <li>长春市</li>
                                   <li>吉林市</li>
                                   <li>四平市</li>
                               </ul>
                           </div>
                       </div>
                   </li>
                </ul>
                <ul class="safeInfo borderNone">
                    <li>
                        <span class="form-title">银行预留手机号码</span>
                        <input class="ipt-phoneNum input-text" type="text" id="bankmobile" name="bankmobile" maxlength="11">
                       	<span class="tips-check"><i class="icon"></i><font></font></span>
                    </li>
                   	<li>
                        <span class="form-title">验证码</span>
                        <input class="ipt-phoneCode input-code" type="text" maxlength="6" id="mobileautocode" name="mobileautocode" >
                        <input id="btn-getMsgCode" class="input-button" type="button" value="获取验证码">
                        <span class="tips-check"><i class="icon"></i><font></font></span>
                    </li>
                    <li class="anotherArea anotherTips">
	                    <p>免费开通幼富宝服务，海富通基金（海富通货币）</p>
	                    <p class="fontP">点击下一步表示同意<a href="javascript:;" id="ufbAgreement">《幼富宝服务协议》 </a><a href="javascript:;" id="hftAgreement">《海富通基金管理有限公司网上交易直销自助式前台服务协议》</a></p>
                    </li>
                    <li>
                        <input id="back" class="input-button btnB" type="button" value="返回"> 
                        <input id="submit" class="input-button btnB" type="submit" value="提交"> 
                        <p class="fontP"><a href="javascript:;" id="uftName">《幼富通实名认证服务协议》</a></p>                
                    </li>
                </ul>
            </div>
       </form>    
    </div>
</div>

<!-- 家庭用户协议  -->
#parse("control/family/account/contract_card.vm")   	
</body>
</html>