<!DOCTYPE html>
<html>
<head>
    <title>幼富通 - 忘记密码</title>
</head>
<body>

    <div class="body">
        <div class="inner container-find">
            <div class="find-tabs tabs-step3 clearfix">
                <a class="tab fl" href="javascript:;">1-验证身份</a>
                <a class="tab fl" href="javascript:;">2-设置密码</a>
                <a class="tab fl on" href="javascript:;">3-完成</a>
            </div>
            <div class="find-panels">
                <div class="panel">
                    <div class="form-done">
                        <div class="title">新密码设置成功</div>
                        <div class="tips">请牢记新密码，并重新登录！</div>
                        <a class="btn" href="${ufbDomain}/family/index.htm">登&nbsp;&nbsp;录</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="${staticDomain}/family/scripts/load.js"></script>
</body>
</html>