<!DOCTYPE html>
<html>
<head>
    <title>幼富通 - 忘记密码</title>
    <script src="${staticDomain}/family/scripts/load.js"></script>
    <script >
    $(function(){
    	
    	// 获取短信码按钮倒计时
    	var count = 60;
    	var countDown = function() {
    		$("#btn-getMsgCode").val("等待" + count + "秒!"); 
    		if (count == 0) { 
    			$("#btn-getMsgCode").val("重新发送"); 
    			$("#btn-getMsgCode").removeClass("off");
    			$("#btn-getMsgCode").removeAttr("disabled"); 
    			clearTimeout(countDown); 
    		}else{
    			count--; 
    			setTimeout(countDown, 1000);
    		}
    	}
    	
    	//校验手机验证码是否正确
    	function check_msgcode(mobileno,msgcode){
    		var result = false;
    		$.ajax({
    			type:"POST",
    			url:"${ufbDomain}/common/msgcode_check.htm",
    			data:'mobileno='+mobileno+'&msgcode='+msgcode,
    			async:false,
    			success:function(data){
    				var json=$.parseJSON(data);
    				if(json.errCode=="0000"){
    					result = true;
    				}else{
    					result = false;
    				}
    		    },
    			error:function(XMLHttpRequest,textStatus,errorThrown){
    		    	$.alert({title:"系统出现异常！"});
    		    }
    		})
    		return result;
    	}

    	// 检验图形验证码
    	var verifycode_check = function(verifycode){
    		var result = false;
    		$.ajax({
    			type: "post",
    			url: '${ufbDomain}/common/verifycode_check.htm',
    			data:'verifycode='+verifycode,
    			async:false,
    			success: function(data){
    				var json = $.parseJSON(data);
    				if(json.errCode=='0000'){
    					result = true;
    				}
    			},
    			error: function(XMLHttpRequest, textStatus, errorThrown) {
    				$.alert({title:'系统出现异常！'});
    			}
    		});
    		return result;
    	}
    	
        // 手机号码检测
        var checkMobile = function(){
        	var regex = /^(((13[0-9]{1})|145|147|(15[0-9]{1})|170|17[6-8]{1}|(18[0-9]{1}))+\d{8})$/;
    	 	
    		if($("#mobileno").val() == ''){
    			$("#mobilenoTips").html('手机号码不能为空！');
    			$("#errMsg_mobileno").addClass('error');
    			return false;
    		}else if(!$("#mobileno").val().match(regex)){
    			$("#mobilenoTips").html('手机号码格式不正确！');
    			$("#errMsg_mobileno").addClass('error');
    			return false;
    		}else if(!isMobileRegister($('mobileno').val())){
    			$("#mobilenoTips").html('手机号未注册！');
    			$("#errMsg_mobileno").addClass('error');
    			return false;
    	 	}else{
    	 		$("#errMsg_mobileno").removeClass('error');
    			return true;
    	 	}
        }
        
        // 图形验证码检测
        var checkVerifycode = function(){
        	if($("#verifycode").val() == ''){
    			$("#errMsg_verifycode").addClass('error');
    			$("#verifycodeTips").html('请输入验证码！');
    			return false;
    		}else if(!verifycode_check($("#verifycode").val())){
    			$("#errMsg_verifycode").addClass('error');
    			$("#verifycodeTips").html('验证码不正确！');
    			$("#btn-verifycode").trigger("click");
    			return false;
    		}else{
    			$("#errMsg_verifycode").removeClass('error');
    			return true;
    		}
        
        }
     	// 获取手机验证码
    	$("#btn-getMsgCode").on("click",function(){
    	 	if(!(checkMobile() && checkVerifycode())){
    	 		return false;
    	 	}
    	 	$("#btn-getMsgCode").addClass("off");
            $("#btn-getMsgCode").attr("disabled","disabled");
    		$.ajax({
         		type: "post",
        		url: "${ufbDomain}/common/msgcode_send.htm",
        		data: 'mobileno='+$("#mobileno").val()+'&verifycode='+$("#verifycode").val(),
        		async: false,
        		success: function(data) {
        			var json = $.parseJSON(data);
    				if(json.errCode=='0000'){
    					alert("手机验证码已发送！");
    					$("#errMsg_msgcode").removeClass('error');
    					$('#msgcode').val(json.msgcode);
    					$("#msgcode").siblings(".tips-normal").html("");
    		            setTimeout(countDown, 1000);
    		        }else{
    		        	$("#btn-getMsgCode").removeClass("off");
    					$("#btn-getMsgCode").removeAttr("disabled");
    		        }
            	},
    			error: function(XMLHttpRequest, textStatus, errorThrown) {
    				$.alert({title:'系统出现异常！'});
    			}
            });
    	});
    	
        // 手机验证码检测
        var checkMsgcode = function(){
        	if($("#msgcode").val() == ''){
        		$("#msgcodeTips").html('请输入手机验证码！');
    			$("#errMsg_msgcode").addClass('error');
    			return false;
    		}else if(!check_msgcode($("#mobileno").val(),$("#msgcode").val())){
    			$("#msgcodeTips").html('手机验证码不正确！');
    			$("#errMsg_msgcode").addClass('error');
    			return false;
    		}else{
    			$("#errMsg_msgcode").removeClass('error');
    		}
    		return true;
        }
        
        // 手机是否已注册
     	var isMobileRegister = function(mobileno){
     		var result = false;
     		$.ajax({
     			type: "GET",
     			url: '${ufbDomain}/common/isMobileRegister.htm',
     			data:'mobileno='+$('#mobileno').val(),
     			async:false,
     			success: function(data){
     				var json = $.parseJSON(data);
     				if(json.errCode=='0000'){
     					result = json.isMobileRegister;
     				}
     			},
     			error: function(XMLHttpRequest, textStatus, errorThrown) {
     				$.alert({title:'系统出现异常！'});
     			}
     		});
     		return result;
     	}
     	
    	// 用户输入时，取消错误提示
    	$("form input").on('focus', function(){
    		if($(this).parent().hasClass('error')){
    			$(this).parent().removeClass('error');
    		}
    	});
    	
    	// 提交按钮
    	$("#btn-findstep1").on("click",function(){
    		if(!checkMobile()){
    			return false;
    		}
    		if($("#verifycode").val() == ''){
    			$("#errMsg_verifycode").addClass('error');
    			$("#verifycodeTips").html('请输入验证码！');
    			return false;
    		}else{
    			$("#errMsg_verifycode").removeClass('error');
    		}
    		if(!checkMsgcode()){
    			return false;
    		}
    		$("#form-findstep1").submit();
    	});
    })
    </script>
</head>
<body>
    <div class="body">
        <div class="inner container-find">
            <div class="find-tabs tabs-step1 clearfix">
                <a class="tab fl on" href="javascript:;">1-验证身份</a>
                <a class="tab fl" href="javascript:;">2-设置登录密码</a>
                <a class="tab fl" href="javascript:;">3-完成</a>
            </div>
            <div class="find-panels">
                <form id="form-findstep1" class="common-form" method="post" action="${ufbDomain}/family/setting/findpwd_confirm.htm">
                    <div class="panel">
                        <ul class="txtAuto width600">
                            <li id="errMsg_mobileno">
                                <span class="form-title">手机号</span>
                                <input id="mobileno" name="mobileno" class="ipt-phoneNum input-text"  maxlength="11"  type="text">
                                <span class="tips-normal">请输入手机号</span>
                                <span class="tips-check"><i class="icon"></i><font id="mobilenoTips"></font> </span>
                            </li>
                            <li id="errMsg_verifycode">
                                <span class="form-title">验证码</span>
                                <input id="verifycode" name="verifycode" class="ipt-code input-code" maxlength="4" type="text" >
                                <span class="tips-normal">请输入验证码</span>
								<span class="form-verifyCode">
    								<img id="btn-verifycode" src="${ufbDomain}/createImageservlet"+"?time="+(+new Date())" onclick="javascript:this.src=this.src+'?time='+(+new Date())"/>
    							</span>
                                <span class="tips-check"><i class="icon"></i><font id="verifycodeTips"></font></span>
                            </li>
                            <li id="errMsg_msgcode">
                                <span class="form-title">手机验证码</span>
                                <input id="msgcode" name="msgcode" class="ipt-phoneCode input-code" maxlength="6" type="text">
                                <span class="tips-normal">6位验证码</span>
                                <input id="btn-getMsgCode" class="input-button" type="button" value="获取验证码">
                                <span class="tips-check"><i class="icon"></i><font id="msgcodeTips"></font></span>
                            </li>
                            <li>
                                <input id="btn-findstep1" class="input-button ok" type="button" value="下一步">
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>