<div class="body">
	<!--开始 body内容替换区域-->
	<section class="loadbody">
		<div class="container">
			<div class="boxC">
				<div class="itemD">
                	<div class="a1">学生档案管理</div>
                </div>
			</div>
			<div class="boxB">
				<div class="itemH">
                	<div class="a1 cl">
                    	<div class="common-form panel">
                            <ul class="safeInfo">
	                            <li class="totalBtn">
	                                <span class="choseClass H42">班级选择</span>
	                                <a href="javascript:;" class="all #if(!${cid})active#end">全部</a>
	                                <a href="${ufbDomain}/school/class_setting.htm" class="sz fr">年级/班级设置</a>
	                            </li>
	                            <li class="Addr zIndex">
	                                <div class="inputL"> 
	                                   <select id="grade" class="select">
	                                      <option value="0">年级（全部）</option>
	                                      #foreach($ct in $allTypes)
	                                      <option value="${ct.id}">${ct.name}</option>
	                                      #end
	                                   </select>
	                                </div>   
	                                 <div class="inputR"> 
	                                    <select id="clazz" class="select">
	                                          <option value="0">班级（全部）</option>
	                                    </select>
	                                </div>    
	                            <li class="searchBox">
	                                <span class="choseClass H55">搜索学生</span>
                                     <div class="searchDiv">
                                         <input type="text" placeholder="搜索学生姓名">
                                         <span>搜索</span>
                                     </div>
	                            </li>
	                        </ul>
	                    </div>
                    </div>
					<div class="a3">
						<div class="b1 cl">
							<a href="${ufbDomain}/school/student_detail.htm?action=add&backUrl=${ufbDomain}/school/student_manager.htm" class="c3 floatR">+新档案</a>
							<a href="javascript:;" class="c1 active">批量导入</a>
							<a href="${ufbDomain}/school/student_adjust.htm" class="c1">调班</a>
						</div>
						<div class="b2">
							<div class="c1 tabCon active">
                            	<div class="d1">下载：<a id="downTemplate" href="javascript:;">档案模版</a></div>
                                <div class="d2">
                                	<form id="uploadForm" enctype="multipart/form-data">
                                        <span>仅支持学费通模板文件导入</span>
                                        <label class="inputFile">
	                                        <input id="uploadFile" name="file" type="file" accept="application/msexcel">
	                                        <b>选择文件（Excel）</b>
                                        </label>
                                    </form>
                                </div>
							</div>
						</div>
					</div>
					<div class="listStu">
						#foreach($c in $clazzList)
						<div class="a4" gradeid="${c.typeid}" cid="${c.cid}" #if(${cid} && ${c.cid}!=${cid})style="display:none"#end>
			            	<div class="b1 cl">
			                	<div class="c1">
				                	<span>${c.name}</span><span class="d1">${c.size}</span><span>人</span>
			                	</div>
			                    <div class="c2" data-href="${ufbDomain}/school/student_list.htm?cid=${c.cid}"></div>
			                </div>
			                <div class="b2"></div>
						</div>
						#end
					</div>
					<!-- listStu end  -->
                </div>
			</div>
		</div>
		
		<!--开始 本页面JS-->
		<script type="text/javascript">
			$('nav a:eq(1)').addClass('active');
			
			// 初始化选项框
			$('#grade').selectMenu({change:changeGrade});
			$('#clazz').selectMenu({change:changeClazz});
			
			// 班级options表
			var clazzOptions = {};
			clazzOptions['0'] = '<option value="0">班级（全部）</option>';
			#foreach($c in $clazzList)
				if(clazzOptions['${c.typeid}'] == undefined)
					clazzOptions['${c.typeid}'] = '<option value="0">班级（全部）</option>';
				clazzOptions['${c.typeid}'] +=  '<option value="${c.cid}">${c.name}</option>';
			#end
			
			// 全部
			$('.panel .all').on('click', function(){
				$(this).addClass('active');
				$('#grade').val('0');
				$('#clazz').html('<option value="0">班级（全部）</option>');
				$('#grade').selectMenu({refresh:true,change:changeGrade});
				$('#clazz').selectMenu({refresh:true,change:changeClazz});
				// 页面还原
				toOriginPage();
			});
		
			// 年级联动
			function changeGrade(gradeid){
				$('#grade').val(gradeid);
				$('#clazz').html(clazzOptions[gradeid]);
				$('#clazz').selectMenu({refresh:true,change:changeClazz});
				// 页面还原
				toOriginPage();
				// 筛选处理
				if(gradeid == '0'){
					$('.panel .all').addClass('active');
					$('.listStu .a4').show();
				}else{
					$('.panel .all').removeClass("active");
					$('.listStu .a4').hide();
					$('.listStu .a4[gradeid="'+gradeid+'"]').show();
				}
			}
			
			// 班级联动
			function changeClazz(cid){
				$('#clazz').val(cid);
				// 页面还原
				toOriginPage();
				// 筛选处理
				var gradeid = $('#grade').val();
				if(cid != '0'){
					$('.listStu .a4').hide();
					$('.listStu .a4[cid="'+cid+'"]').show();
				}else if(gradeid != '0'){
					$('.listStu .a4').hide();
					$('.listStu .a4[gradeid="'+gradeid+'"]').show();
				}
			}
			
			// 下载档案模板
			$('#downTemplate').on('click', function(){
				var gradeid = $('#grade').val();
				var gradename = $('#grade').find('option:selected').text();
				var cid = $('#clazz').val();
				var cname = $('#clazz').find('option:selected').text();
				
				var msg = '';
				if(gradeid == '0' ){
					msg = '您将下载【全校】班级的学生档案模板';
				}else if(cid == '0'){
					msg = '您将下载【'+gradename+'】的学生档案模板';
				}else{
					msg = '您将下载【'+cname+'】的学生档案模板';
				}
				
				$.confirm({
					title:msg,
					complete:function(){
						var url = '${ufbDomain}/school/student_downTemplate.htm?gradeid='+gradeid+'&cid='+cid;
						window.open(url, '_blank', '');
					}
				});
			});
			
			// 上传档案模板
			$('#uploadFile').on('change',function(){
				var filename = $('#uploadFile').val();
				if(filename == ''){
					$.alert({title:'请选择要上传的文件！'});
					return false;
				}else{
					$.alert({title:'正在导入，请稍等...'});
				}
				
				$('#uploadForm').ajaxSubmit({
					url:'${ufbDomain}/school/student_upload.ajax',
					type:'POST',
					resetForm:true,
					clearForm:true,
					success: function(data){
						var json = $.parseJSON(data);
						if(json.errCode=='0000'){
							$.alert({title:'导入成功！',time:2});
							location.href = '${ufbDomain}/school/student_manager.htm?cid='+json.cid;
							return;
						}else{
							$.alert({title:json.errMsg,time:5});
						}
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) {
						$.alert({title:'系统出现异常！'});
					}
				});
			})
			
			// 查看班级详情
			$('.itemH').on('click','.a4 .b1 .c2',function(){
				if($(this).hasClass('active')){
					$(this).removeClass('active');
					$(this).closest('.b1').next().hide();
				}else{
					$(this).addClass('active');
					$(this).closest('.b1').next().show();
					if($(this).closest('.b1').next().children().length==0){
						JH.load.add($(this).attr('data-href'),$(this).closest('.b1').next());
					}
				}
			});
			
			// 搜索框
			$('.searchDiv span').on('click', function(){
				var value = $('.searchDiv input').val();
				if(value == ''){
					$.alert({title:'请输入学生姓名！'});
					return false;
				}
				// 后台搜索
				var stuList = search_student(value);
				if(stuList.length == 0){
					$.alert({title:'未找到该学生！'});
					return false;
				}
				// 搜索结果，页面展示处理
				$('.panel .all').removeClass('active');
				$('#grade').val('0');
				$('#clazz').html('<option value="0">班级（全部）</option>');
				$('#grade').selectMenu({refresh:true,change:changeGrade});
				$('#clazz').selectMenu({refresh:true,change:changeClazz});
				
				$('.listStu .a4').hide();
				$('.listStu .a4').each(function(){
					var cid = $(this).attr('cid');
					if(inClazz(cid, stuList)){
						// 展示班级
						$(this).addClass('q');
						$(this).show();
						// 加载学生列表
						var c2 = $(this).find('.b1 .c2');
						if(!c2.hasClass('active')){
							c2.addClass('active');
							c2.closest('.b1').next().show();
							if(c2.closest('.b1').next().children().length==0){
								JH.load.syncAdd(c2.attr('data-href'), c2.closest('.b1').next());
							}
						}
						// 学生列表处理
						$(this).find('tr').hide();
						$(this).find('tr').each(function(){
							var sid = $(this).attr('sid');
							if(sid == undefined){     // 学生表头
								$(this).show();
							}else if(inStudent(sid, stuList)){   // 学生结果
								$(this).show();
							}
						});
						// 记录数量
						var num = $(this).find('tr:visible').length-1;
						$(this).find('.b1 .c1 .d1').text(num);
					}
				});
			});
			
			function inClazz(cid, stuList){
				for(var i = 0; i < stuList.length; i++){
					if(stuList[i].cid == cid){
						return true;
					}
				}
				return false;
			}
			
			function inStudent(sid, stuList){
				for(var i = 0; i < stuList.length; i++){
					if(stuList[i].sid == sid){
						return true;
					}
				}
				return false;
			}
			
			function search_student(queryStr){
				var result = [];
				$.ajax({
					type: "POST",
					url: '${ufbDomain}/school/student_search.ajax',
					data:'name='+queryStr,
					async:false,
					success: function(data){
						var json = $.parseJSON(data);
						if(json.errCode=='0000'){
							result = json.students;
						}else{
							$.alert({title:json.errMsg});
						}
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) {
						$.alert({title:'系统出现异常！'});
					}
				});
				return result;
			}
			
			// 搜索后，页面重置
			function toOriginPage(){
				// 搜索框
				$('.searchDiv input').val('');
				// 搜索结果影响还原
				$('.listStu .a4.q').each(function(){
					var num = $(this).find('.b2 tr').length -1;
					$(this).find('.b1 .c1 .d1').text(num);
				});
				$('.listStu .a4.q').removeClass('q');
				$('.listStu tr:hidden').show();
				// 班级展开部分还原
				$('.listStu .a4 .b1 .c2').each(function(){
					if($(this).hasClass('active')){
						$(this).removeClass('active');
						$(this).closest('.b1').next().hide();
					}
				});
				// 展示全部班级
				$('.listStu .a4:hidden').show();
			}
			
			function removeStudent(sid){
				var result = false;
				$.ajax({
					type: "POST",
					url: '${ufbDomain}/school/student_remove.ajax',
					data:'sid='+sid,
					async:false,
					success: function(data){
						var json = $.parseJSON(data);
						if(json.errCode=='0000'){
							$.alert({title:'删除成功！'});
							result = true;
						}else{
							$.alert({title:json.errMsg});
						}
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) {
						$.alert({title:'系统出现异常！'});
					}
				});
				return result;
			}
		</script>
		<!--结束 本页面JS-->
	</section>
	<!--结束 body内容替换区域-->
</div>