<div class="body">
	<!--开始 body内容替换区域-->
	<section class="loadbody">
		<div class="container">
			<div class="boxC">
				<div class="itemD">
                	<div class="a1">学生档案管理</div>
                </div>
			</div>
			<input id="type_id" type="hidden" value="0">
			<input id="type_name" type="hidden" value="全部">
			<div class="boxB">
				<div class="itemH">
                	<div class="a1 cl">
                    	<div class="b1">班级选择</div>
                        <div class="b2">
                        	<div class="c1 active"><a typeid="0" href="javascript:void(0)" class="active">全部</a></div>
                            #foreach($ct in $allTypes)
                            <div class="c1">
                            	<a typeid="${ct.id}" href="javascript:void(0)">${ct.name}</a>
                            </div>
                            #end
                        </div>
                        <div class="b3"><a href="${ufbDomain}/school/class_setting.htm">年级/班级设置</a></div>
                    </div>
                    <div class="a2">
                    	<div class="b1">包含班级</div>
                    	<div class="b2" id="clazzList">
                    		##foreach($c in $clazzList)
                    		<span>全部&nbsp;&nbsp;</span>
                    		##end
                    	</div>
                    </div>
					<div class="a3">
						<div class="b1 cl">
							<a href="javascript:;" class="c3">+新档案</a>
							<a href="javascript:;" class="c1 active">批量导入</a>
							<a href="javascript:;" class="c1">调班</a>
						</div>
						<div class="b2">
							<div class="c1 tabCon active">
                            	<div class="d1">下载：<a id="downTemplate" href="javascript:void(0);">档案模版</a></div>
                                <div class="d2">
                                	<form id="uploadForm" enctype="multipart/form-data">
                                        <span>仅支持学费通模板文件导入</span>
                                        <label class="inputFile">
	                                        <input id="uploadFile" name="file" type="file">
	                                        <b>选择文件（Excel）</b>
                                        </label>
                                        <input id="uploadBtn" type="button" value="确定">
                                    </form>
                                </div>
							</div>
						</div>
					</div>
                </div>
			</div>
		</div>
		<!--开始 本页面JS-->
		<script type="text/javascript">
			$('nav a:eq(1)').addClass('active');
		
			//班级类型切换
			$('.itemH .a1 .b2 .c1 a').on('click',function(e){
				// 样式控制
				e.preventDefault();
				$('.itemH .a1 .b2 .c1 a').removeClass('active');
				$(this).addClass('active');
				$(this).closest('.c1').addClass('active').siblings().removeClass('active');
				
				// 获取后台班级数据-typeid
				var result,clazzList=[],typeid = $(this).attr('typeid');
				$.ajax({
					type: 'GET',
					url: '${ufbDomain}/school/class_list.ajax',
					data:'typeid='+(typeid=='0'?'':typeid),
					async:false,
					success: function(data){
						var json = $.parseJSON(data);
						if(json.errCode=='0000'){
							clazzList = json.clazzList;
							result = '0000';
						}else{
							$.alert({title:json.errMsg});
						}
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) {
						$.alert({title:'系统出现异常！'});
					}
				});
				
				// 数据交互处理
				if(result != '0000'){
					return false;
				}
				var c,html = '';
				if(typeid == '0'){
					html = '<span>全部&nbsp;&nbsp;</span>';
				}else{
					for(var i=0; i < clazzList.length; i++){
						c = clazzList[i];
						html += '<span>'+c.name+'&nbsp;&nbsp;</span>';
					}
				}
				$('#clazzList').html(html);
				$('#type_id').val(typeid);
				$('#type_name').val($(this).html());
			})
			
			// 下载档案模板
			$('#downTemplate').on('click', function(){
				var typeid = $('#type_id').val();
				var type_name = $('#type_name').val();
				$.confirm({
					title:'您将下载【'+type_name+'】类型的班级模板',
					complete:function(){
						var url = '${ufbDomain}/school/student_downTemplate.htm?typeid='+typeid;
						window.open(url, '_blank', '');
					}
				});
			});
			
			// 上传档案模板
			$('#uploadBtn').on('click',function(){
				var filename = $('#uploadFile').val();
				if(filename == ''){
					$.alert({title:'请选择要上传的文件！'});
					return false;
				}else{
					$.alert({title:'正在导入，请稍等...'});
				}
				$('#uploadForm').ajaxSubmit({
					url:'${ufbDomain}/school/student_upload.ajax',
					type:'POST',
					resetForm:true,
					clearForm:true,
					success: function(data){
						var json = $.parseJSON(data);
						if(json.errCode=='0000'){
							$.alert({title:'导入成功！'});
						}else{
							$.alert({title:json.errMsg,time:5});
						}
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) {
						$.alert({title:'系统出现异常！'});
					}
				});
			})
			
		</script>
		<!--结束 本页面JS-->
	</section>
	<!--结束 body内容替换区域-->
</div>