<div class="body">
	<!--开始 body内容替换区域-->
	<section class="loadbody">
		<div class="container">
			<div class="boxC">
				<div class="itemD">
                	<div class="a1">学生档案管理</div>
                </div>
			</div>
			<div class="boxB mb60">
            	<form action="#">
				<div class="itemL">
                	<div class="a1"><a href="javascript:;" class="hoverW">信息档案</a><a href="payHistory.html">缴费历史记录</a><label class="a1Edit">编辑</label><label class="a1Edit fRed">保存</label></div>
                    <div class="a2">学生基本资料</div>
                    <div class="a3">
                    	<table class="tableB">
                        	<tr>
                            	<th>班级</th>
                                <td width="165">大一班</td>
                                <th>学号</th>
                                <td colspan="3"><label class="inputText"><input type="text" value="105"></label></td>
                            </tr>
                            <tr>
                            	<th><span class="cRed">*</span>学生姓名</th>
                                <td><label class="inputText"><input type="text" value="张大宝"></label></td>
                                <th>身份证号</th>
                                <td colspan="3"><label class="inputText"><input type="text" value="310110200905202011"></label></td>
                            </tr>
                            <tr>
                            	<th><span class="cRed">*</span>性别</th>
                                <td width="165">
                                	<select class="select">
                                    	<option>男</option>
                                        <option>女</option>
                                    </select>
                                </td>
                                <th><span class="cRed">*</span>出生日期</th>
                                <td><label class="datepicker"><input type="text" value="2015-08-14"></label></td>
                                <th><span class="cRed">*</span>状态</th>
                                <td>
                                	<select class="select">
                                    	<option>就读</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <table class="tableB b1 parents">
                        	<tr>
                            	<th><span class="cRed">*</span>家长1</th>
                                <td width="165"><label class="inputText"><input type="text" value="张大宝"></label></td>
                                <th>关系</th>
                                <td>
                                	<select class="select">
                                    	<option>父母</option>
                                        <option>爷爷</option>
                                    </select>
                                </td>
                                <th>工作单位</th>
                                <td><label class="inputText"><input type="text" value="XX公司"></label></td>
                            </tr>
                            <tr>
                            	<th><span class="cRed">*</span>手机</th>
                                <td><label class="inputText"><input type="text" value="1360123323"></label></td>
                                <th><span class="cRed">*</span>邮箱</th>
                                <td colspan="3">
                                	<label class="inputText" style="margin-right:20px;"><input type="text"></label>
                                    <label class="checkbox" style="margin-right:20px;"><input type="checkbox" checked>缴费人</label>
                                    <label class="checkbox"><input type="checkbox" checked>日常联系人</label>
                                </td>
                            </tr>
                        </table>
                        <table class="tableB b1 parents">
                        	<tr>
                            	<th><span class="cRed">*</span>家长2</th>
                                <td width="165"><label class="inputText"><input type="text" value="张大宝"></label></td>
                                <th>关系</th>
                                <td>
                                	<select class="select">
                                    	<option>父母</option>
                                        <option>爷爷</option>
                                    </select>
                                </td>
                                <th>工作单位</th>
                                <td><label class="inputText"><input type="text" value="XX公司"></label></td>
                            </tr>
                            <tr>
                            	<th><span class="cRed">*</span>手机</th>
                                <td><label class="inputText"><input type="text" value="1360123323"></label></td>
                                <th><span class="cRed">*</span>邮箱</th>
                                <td colspan="3">
                                	<label class="inputText" style="margin-right:20px;"><input type="text"></label>
                                    <label class="checkbox" style="margin-right:20px;"><input type="checkbox">缴费人</label>
                                    <label class="checkbox"><input type="checkbox">日常联系人</label>
                                </td>
                            </tr>
                        </table>
                        <div class="b2" id="addParents"><a href="javascript:;"></a></div>
                        <table class="tableB ">
                        	<tr>
                            	<th>家庭住址</th>
                                <td><label class="inputText"><input type="text" value="上海市徐汇区肇家浜路555号" style="width:350px;"></label></td>
                            </tr>
                            <tr>
                            	<th><span class="cRed">*</span>家庭类型</th>
                                <td>
                                	<select class="select">
                                    	<option>本小区</option>
                                        <option>其它</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="a4 cl">
                        <div class="b1">更多补充信息</div>
                        <div class="b2"></div>
                    </div>
                    <div class="a3 disNone">
                    	<table class="tableB ">
                        	<tr>
                            	<th>入园时间</th>
                                <td width="350"><label class="datepicker"><input type="text" value="2015-08-14"></label></td>
                                <th>离园时间</th>
                                <td><label class="datepicker"><input type="text" value="2015-08-14"></label></td>
                            </tr>
                            <tr>
                            	<th>户籍类型</th>
                                <td>
                                	<select class="select">
                                    	<option>本地户籍</option>
                                        <option>外地户籍</option>
                                    </select>
                                </td>
                                <th>民族</th>
                                <td>
                                	<select class="select">
                                    	<option>汉族</option>
                                        <option>苗族</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                            	<th>户籍所在地</th>
                                <td colspan="3">
                                	<label class="inputText"><input type="text" value="上海市徐汇区肇家浜路555号" style="width:350px;"></label>
                                    <label class="checkbox" style="margin-left:20px;"><input type="checkbox">与家庭住址相同</label>
                               	</td>
                            </tr>
                            <tr>
                            	<th>已缴险种</th>
                                <td><label class="inputText"><input type="text"></label></td>
                                <th>既往病史</th>
                                <td><label class="inputText"><input type="text"></label></td>
                            </tr>
                            <tr>
                            	<th>健康状况</th>
                                <td><label class="inputText"><input type="text"></label></td>
                                <th>害怕的事情</th>
                                <td><label class="inputText"><input type="text"></label></td>
                            </tr>
                            <tr>
                            	<th>忌食</th>
                                <td><label class="inputText"><input type="text"></label></td>
                                <th>过敏药物</th>
                                <td><label class="inputText"><input type="text"></label></td>
                            </tr>
                            <tr>
                            	<th>兴趣爱好</th>
                                <td><label class="inputText"><input type="text"></label></td>
                                <th>特殊照顾</th>
                                <td><label class="inputText"><input type="text"></label></td>
                            </tr>
                            <tr>
                            	<th>保护费标准</th>
                                <td>
                                	<select class="select">
                                    	<option>月</option>
                                    </select>
                                </td>
                                <th>膳食费标准</th>
                                <td>
                                	<select class="select">
                                    	<option>学期</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="ctrl"><a href="javascript:;" class="btnA" id="save">保 存</a></div>
                </div>
                </form>
			</div>
		</div>
		<!--开始 本页面JS-->
		<script type="text/javascript">
        $(function(){
            $(".itemL .a4").click(function(){
                $(this).find(".b2").toggleClass("active");
                $(".itemL .a3.disNone").fadeToggle();
            });
        });    
		$('nav a:eq(1)').addClass('active');
		$(".datepicker input").datepicker({
			showOn: "button",
			buttonImage: "./public/images/calendar.png",
			buttonImageOnly: true
		});
		$('.select').selectMenu();
		$('.checkbox').checkbox();
		$('#save').on('click',function(){//点击下一步按钮
			$(this).closest('form').submit();
		})
		//新增家长
		var parentsNum = $('.parents').length+1;
		$('#addParents a').text('+ 家长'+parentsNum);
		$('#addParents a').on('click',function(){
			$('#addParents').before('\
				<table class="tableB b1 parents">\
					<tr>\
						<th><span class="cRed">*</span>家长'+parentsNum+'</th>\
						<td width="165"><label class="inputText"><input type="text"></label></td>\
						<th>关系</th>\
						<td>\
							<select class="select">\
								<option>父母</option>\
								<option>爷爷</option>\
							</select>\
						</td>\
						<th>工作单位</th>\
						<td><label class="inputText"><input type="text"></label></td>\
					</tr>\
					<tr>\
						<th><span class="cRed">*</span>手机</th>\
						<td><label class="inputText"><input type="text"></label></td>\
						<th><span class="cRed">*</span>邮箱</th>\
						<td colspan="3">\
							<label class="inputText" style="margin-right:20px;"><input type="text"></label>\
							<label class="checkbox" style="margin-right:20px;"><input type="checkbox">缴费人</label>\
							<label class="checkbox"><input type="checkbox">日常联系人</label>\
						</td>\
					</tr>\
				</table>\
			');
			$('.select').selectMenu();
			$('.checkbox').checkbox();
			parentsNum++;
			$(this).text('+ 家长'+parentsNum);
		})
		</script>
		<!--结束 本页面JS-->
	</section>
	<!--结束 body内容替换区域-->
</div>
