<div class="body">
	<!--开始 body内容替换区域-->
	<section class="loadbody">
		<div class="container">
			<div class="boxC">
				<div class="itemD">
                	<div class="a1">学生档案管理</div>
                </div>
			</div>
			<input id="typeid_0" type="hidden" value="0">
			<div class="boxB">
				<div class="itemH">
                	<div class="a1 cl">
                    	<div class="b1">班级选择</div>
                        <div class="b2">
                        	<div class="c1 active"><a typeid="0" href="javascript:void(0)" class="active">全部</a></div>
                            #foreach($ct in $allTypes)
                            <div class="c1">
                            	<a typeid="${ct.id}" href="javascript:void(0)">${ct.name}</a>
                            </div>
                            #end
                        </div>
                        <div class="b3"><a href="${ufbDomain}/school/class_setting.htm">年级/班级设置</a></div>
                    </div>
                    <div class="a2">
                    	<div class="b1">已选班级&nbsp;&nbsp;</div>
                    	<div class="b2" id="clazzList">
                    		#foreach($c in $clazzList)
                    		<span>${c.name}&nbsp;&nbsp;</span>
                    		#end
                    	</div>
                    </div>
					<div class="a3">
						<div class="b1 cl">
							<a href="javascript:;" class="c3">+新档案</a>
							<a href="javascript:;" class="c1 active">批量导入</a>
							<a href="javascript:;" class="c1">调班</a>
						</div>
						<div class="b2">
							<div class="c1 tabCon active">
                            	<div class="d1">下载：<a href="模版.xlsx" target="_blank">档案模版</a></div>
                                <div class="d2">
                                	<form action="action/template.html" enctype="multipart/form-data" id="formTemplate">
                                        <span>仅支持学费通模板文件导入</span>
                                        <label class="inputFile"><input type="file" accept="application/msexcel" name="templateFile" id="templateUpload"><b>选择文件（Excel）</b></label>
                                    </form>
                                </div>
							</div>
						</div>
					</div>
                   
                </div>
			</div>
		</div>
		<!--开始 本页面JS-->
		<script type="text/javascript">
			$('nav a:eq(1)').addClass('active');
		
			//班级类型切换
			$('.itemH .a1 .b2 .c1 a').on('click',function(e){
				// 样式控制
				e.preventDefault();
				$('.itemH .a1 .b2 .c1 a').removeClass('active');
				$(this).addClass('active');
				$(this).closest('.c1').addClass('active').siblings().removeClass('active');
				
				// 获取后台班级数据-typeid
				var result,clazzList=[],typeid = $(this).attr('typeid');
				$.ajax({
					type: 'GET',
					url: '${ufbDomain}/school/class_list.ajax',
					data:'typeid='+(typeid=='0'?'':typeid),
					async:false,
					success: function(data){
						var json = $.parseJSON(data);
						if(json.errCode=='0000'){
							clazzList = json.clazzList;
							result = '0000';
						}else{
							$.alert({title:json.errMsg});
						}
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) {
						$.alert({title:'系统出现异常！'});
					}
				});
				
				// 数据交互处理
				if(result != '0000'){
					return false;
				}
				var c,html = '';
				for(var i=0; i < clazzList.length; i++){
					c = clazzList[i];
					html += '<span>'+c.name+'&nbsp;&nbsp;</span>';
				}
				$('#clazzList').html(html);
				$('#typeid_0').val(typeid);
			})
			
			
			$('#templateUpload').on('change',function(){//导入模版
				$.alert({title:'正在导入，请稍等...'});
				$('#formTemplate').ajaxSubmit({
					success: function(data){
						var json = $.parseJSON(data);
						if(json.state=='success'){
							$.alert({title:'导入成功！'});
						}else if(json.state=='error'){
							$.alert({title:'导入失败，请重试！'});
						}
					}
				});
			})
		</script>
		<!--结束 本页面JS-->
	</section>
	<!--结束 body内容替换区域-->
</div>