<div class="body">
	<!--开始 body内容替换区域-->
	<section class="loadbody">
		<div class="container">
			<div class="boxC">
				<div class="itemD">
                	<div class="a1">学生档案管理</div>
                </div>
			</div>
			<div class="boxB">
				<div class="itemH">
                	<div class="a1 cl">
                    	<div class="b1">班级选择</div>
                        <div class="b2">
                        	<div class='c1 #if("${typeid}" == "0")active#end'><a typeid="0" href="javascript:;">全部</a></div>
                            #foreach($ct in $allTypes)
                            <div class='c1 #if("${typeid}" == "${ct.id}")active#end'>
                            	<a typeid="${ct.id}" href="javascript:;">${ct.name}</a>
                            </div>
                            #end
                        </div>
                        <div class="b3"><a href="${ufbDomain}/school/class_setting.htm">年级/班级设置</a></div>
                    </div>
                    <div class="groupStep">
                        <div class="control-group group01" id="specific-big" style="display:block">
                            <label class="form-lbl">&nbsp;</label>
                            <p class="inline-block name" style="display:none">
                            	#set($i = 0)
                            	#set($n = ${clazzList.size()})
                            	#foreach($c in $clazzList)
                            		#set($i = $i+1)
	                                <span typeid="${c.typeid}" cid="${c.cid}">${c.name}</span>
	                                <i typeid="${c.typeid}" class="middel-wire">|</i>
                                #end
                            </p>
                        </div>
                    </div>
                    <div class="a2">
                    	<label class="inputText"><input id="queryText" type="text"><b>搜索学生姓名</b></label><a href="javascript:;" class="btnA">查 询</a>
                    </div>
					<div class="a3">
						<div class="b1 cl">
							<a href="javascript:;" class="c3">+新档案</a>
							<a href="${ufbDomain}/school/student_manager.htm" class="c1">批量导入</a>
							<a href="javascript:;" class="c1 active">调班</a>
						</div>
						<div class="b2">
							<div class="cl c2 tabCon active">
								<div class="d1"><label class="checkbox"><input type="checkbox" id="classSelAll">全选</label></div>
								<div class="d2">
									<div class="e1">已选择<span id="studentNum">0</span>个学生，进入</div>
									<select class="select" id="toClass">
										<option value="" selected="selected">选择班级</option>
										#foreach($ct in $allTypes)
											<option disabled>${ct.name}</option>
											#foreach($c in $clazzList)
												#if(${c.typeid} == ${ct.id})<option value="${c.cid}">${c.name}</option>#end
											#end
										#end
									</select>
									<a href="javascript:;" class="btnB" id="classChange">确认调班</a>
								</div>
							</div>
						</div>
					</div>
					<div class="listStu">
						#foreach($c in $clazzList)
						<div class="a4" typeid="${c.typeid}" cid="${c.cid}" #if(${typeid} != "0" && ${c.typeid} != ${typeid})style="display:none"#end>
                        	<div class="b1 cl">
                            	<div class="c1">
	                            	<label class="checkbox"><input type="checkbox" name="classTop[]" value="${c.cid}">${c.name}</label>
	                            	<span class="d1">${c.size}</span><span>人</span>
                            	</div>
                                <div class="c2" data-href="${ufbDomain}/school/student_list.htm?cid=${c.cid}&module=adjust"></div>
                            </div>
                            <div class="b2"></div>
						</div>
						#end
					</div>
					<!-- listStu end  -->
                </div>
			</div>
		</div>
		<!--开始 本页面JS-->
		<script type="text/javascript">
			$('nav a:eq(1)').addClass('active');
			
			// 搜索框
			$('.inputText').inputText();
			$('.select').selectMenu();
			$('.checkbox').checkbox();
			
			// 班级类型一级筛选
			$('.itemH .a1 .b2 .c1 a').on('click', function(){
				
				if($(this).closest('.c1').hasClass('active'))return false;
				toOriginPage();
				$(this).closest('.c1').addClass('active').siblings().removeClass('active');
				
				var typeid = $(this).attr('typeid');
				if(typeid == '0'){
					// 全部
					$('.groupStep p').find('span').hide();
					$('.groupStep p').find('i').hide();
					
					$('.listStu .a4').show();
					$('.listStu tr').show();
				}else{
					// 选定的班级类型 --- 页面上部横向班级列表处理
					$('.groupStep p').show();
					$('.groupStep p').find('span').hide();
					$('.groupStep p').find('i').hide();
					
					$('.groupStep p').find('span[typeid="'+ typeid +'"]').show();
					$('.groupStep p').find('i[typeid="'+ typeid +'"]').show();
					$('.groupStep p').find('span[typeid="'+ typeid +'"]').last().next().hide();
					
					// 页面下部纵向班级列表处理
					$('.listStu .a4').hide();
					$('.listStu .a4[typeid="'+ typeid +'"]').show();
				}
				
			})
			
			// 班级二级菜单筛选
			$('.groupStep p span').on('click', function(){
				
				if($(this).hasClass('selected'))return false;
				toOriginPage();
				$(this).addClass('selected').siblings().removeClass('selected');
				
				// 底部纵向班级列表处理
				var cid = $(this).attr('cid')
				$('.listStu .a4').hide();
				$('.listStu .a4[cid="'+ cid +'"]').show();
				
			})
			
			// 查询按钮
			$('.itemH .a2 .btnA').on('click',function(){
				
				var queryStr = $('#queryText').val();
				if(queryStr == ''){
					$.alert({title:'请输入学生姓名！'});
					return false;
				}
				toOriginPage();
				
				var stuList = search_student(queryStr);
				
				// 班级列表处理
				$('.listStu .a4').hide();
				$('.listStu .a4').each(function(){
				
					var cid = $(this).attr('cid');
					if(inClazz(cid, stuList)){
						// 展示班级
						$(this).addClass('q');
						$(this).show();
						// 加载学生列表
						var c2 = $(this).find('.b1 .c2');
						if(!c2.hasClass('active')){
							c2.addClass('active');
							c2.closest('.b1').next().show();
							if(c2.closest('.b1').next().children().length==0){
								JH.load.syncAdd(c2.attr('data-href'), c2.closest('.b1').next());
							}
						}
						// 学生列表处理
						$(this).find('tr').hide();
						$(this).find('tr').each(function(){
							var sid = $(this).attr('sid');
							if(sid == undefined){     // 学生表头
								$(this).show();
							}else if(inStudent(sid, stuList)){   // 学生结果
								$(this).addClass('q');
								$(this).show();
							}
						});
						// 记录数量
						var num = $(this).find('tr.q').length;
						$(this).find('.b1 .c1 .d1').text(num);
					}
				});
			})
		
			// 查看班级详情
			$('.listStu').on('click','.a4 .b1 .c2',function(){
				if($(this).hasClass('active')){
					$(this).removeClass('active');
					$(this).closest('.b1').next().hide();
				}else{
					$(this).addClass('active');
					$(this).closest('.b1').next().show();
					if($(this).closest('.b1').next().children().length==0){
						JH.load.add($(this).attr('data-href'), $(this).closest('.b1').next(), selectWholeClazz);
					}
				}
			});
			
			// 加载时，判断整班级选定状态
			function selectWholeClazz(b2){
				var checked = $(b2).prev().find('.c1 .checkbox input').attr('checked');
				if(checked){
					$(b2).find('.checkbox').checkbox({checked:true});
				}else{
					$(b2).find('.checkbox').checkbox({checked:false});
				}
			}
			
			// 班级全选
			$('.itemH').on('click', '#classSelAll', function(){
				if($(this).attr('checked')){
					$('.listStu .a4:visible .checkbox').checkbox({checked:true});
					var num = 0;
					$('.listStu .a4:visible .b1 .c1 .d1').each(function(i,d){
						num += parseInt($(this).text());
					})
					$('#studentNum').text(num);
				}else{
					$('.listStu .a4:visible .checkbox').checkbox({checked:false});
					$('#studentNum').text(0);
				}
			})
			
			// 学生全选
			$('.listStu').on('click','.a4 .b1 .c1 .checkbox input',function(){
				if($(this).attr('checked')){
					$(this).closest('.a4').find('tr:visible .checkbox').checkbox({checked:true});
				}else{
					$(this).closest('.a4').find('tr:visible .checkbox').checkbox({checked:false});
				}
				var num = 0, allchecked = true;
				$('.listStu .a4:visible').each(function(){
					var length = $(this).find('.b2').next().children().length;
					var checked = $(this).find('.b1 .c1 .checkbox input').attr('checked');
					if(length==0 && checked){
						num += parseInt($(this).find('.b1 .c1 .d1').text());
					}else{
						num += $(this).find('.b2 .checkbox.active').length;
					}
					if(!checked)allchecked = false;
				})
				$('#studentNum').text(num);
				if(allchecked){
					$('#classSelAll').closest('.checkbox').checkbox({checked:true});
				}else{
					$('#classSelAll').closest('.checkbox').checkbox({checked:false});
				}
			})
			
			// 学生单个选择
			$('.listStu').on('click','.a4 .b2 .checkbox input',function(){
				var num = parseInt($('#studentNum').text());
				if($(this).attr('checked')){
					num += 1;
				}else{
					num -= 1;
				}
				$('#studentNum').text(num);
				
				var b1_num = parseInt($(this).closest('.a4').find('.b1 .c1 .d1').text());
				var b2_num = $(this).closest('.a4').find('tr:visible .checkbox.active').length;
				if(b2_num < b1_num){
					$(this).closest('.a4').find('.b1 .c1 .checkbox').checkbox({checked:false});
				}else{
					$(this).closest('.a4').find('.b1 .c1 .checkbox').checkbox({checked:true});
				}
				var allchecked = true;
				$('.listStu .a4:visible').each(function(){
					var checked = $(this).find('.b1 .c1 .checkbox input').attr('checked');
					if(!checked)allchecked = false;
				});
				if(allchecked){
					$('#classSelAll').closest('.checkbox').checkbox({checked:true});
				}else{
					$('#classSelAll').closest('.checkbox').checkbox({checked:false});
				}
			})
			
			// 调班
			$('#classChange').on('click',function(){  
				
				var classId = $('#toClass').val();
				if(classId == ''){
					$.alert({title:'请选择班级！'});
					return false;
				}
				if($('.listStu .a4 .checkbox input:checked').length == 0){
					$.alert({title:'您还未选择学生！'});
					return false;
				}
				
				var cidStr = '', sidStr = '';
				$('.listStu .a4:visible').each(function(){
					if(!$(this).hasClass('q') && 
						$(this).find('.b1 .checkbox input').attr('checked')){
						cidStr += $(this).attr('cid') + ',';
					}else{
						$(this).find('.b2 tr:visible').each(function(){
							if($(this).find('.checkbox input').attr('checked')){
								sidStr += $(this).attr('sid') + ',';
							}
						});
					}
				})
				if(cidStr != '')cidStr = cidStr.substr(0, cidStr.length-1);
				if(sidStr != '')sidStr = sidStr.substr(0, sidStr.length-1);
				
				// 上送后台请求
				$.ajax({
					type: "POST",
					url: '${ufbDomain}/school/student_adjustAction.ajax',
					data:'toCid='+classId+'&cidStr='+cidStr+'&sidStr='+sidStr,
					async:false,
					success: function(data){
						var json = $.parseJSON(data);
						if(json.errCode=='0000'){
							$.alert({title:'调班成功！'});
							location.reload();
						}else{
							$.alert({title:json.errMsg});
						}
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) {
						$.alert({title:'系统出现异常！'});
					}
				});
			})
			
			function inClazz(cid, stuList){
				for(var i = 0; i < stuList.length; i++){
					if(stuList[i].cid == cid){
						return true;
					}
				}
				return false;
			}
			
			function inStudent(sid, stuList){
				for(var i = 0; i < stuList.length; i++){
					if(stuList[i].sid == sid){
						return true;
					}
				}
				return false;
			}
			
			function search_student(queryStr){
				var result = [];
				$.ajax({
					type: "POST",
					url: '${ufbDomain}/school/student_search.ajax',
					data:'name='+queryStr,
					async:false,
					success: function(data){
						var json = $.parseJSON(data);
						if(json.errCode=='0000'){
							result = json.students;
						}else{
							$.alert({title:json.errMsg});
						}
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) {
						$.alert({title:'系统出现异常！'});
					}
				});
				return result;
			}
			
			// 数据重置和样式还原
			function toOriginPage(){
				// 头部班级列表
				$('.groupStep p span').removeClass('selected');
			
				// 复选框
				$('#studentNum').text(0);
				$('.checkbox').checkbox({active:false});
				
				// 底部班级列表  --- 应对搜索后的处理
				$('.listStu .a4.q').each(function(){
					var num = $(this).find('.b2 tr').length -1;
					$(this).find('.b1 .c1 .d1').text(num);
				});
				$('.listStu .a4.q').removeClass('q');
				$('.listStu tr.q').removeClass('q');
				// 隐藏部分展示
				$('.listStu .a4:hidden').show();
				$('.listStu tr:hidden').show();
				$('.listStu .a4 .b1 .c2').each(function(){
					if($(this).hasClass('active')){
						$(this).removeClass('active');
						$(this).closest('.b1').next().hide();
					}
				});
			}
		</script>
		<!--结束 本页面JS-->
	</section>
	<!--结束 body内容替换区域-->
</div>