<!doctype html>
<html>
<head>
</head>
<body style="">
<div id="page">
    <div id="header">
		<div class="topNav">
			<div class="container">
				<div class="b1">
					#if(${S_CUSTINFO.invtp} == "0")
					<a href="#">机构版</a>
					<a href="#" class="active">家庭版</a>
					#end
					#if(${S_CUSTINFO.invtp} == "1")
					<a href="#" class="active">机构版</a>
					<a href="#">家庭版</a>
					#end
				</div>
				<div class="b2">
					#if(${S_CUSTINFO})
						<span>
						#if (${S_CUSTINFO.invnm})
                			${S_CUSTINFO.invnm}
                        #elseif ($S_CUSTINFO.mobileno)
                			#set($tailStr=$S_CUSTINFO.mobileno)
                			#set($start=$tailStr.substring(0,3))
                			#set($end=$tailStr.substring(7,11))
                			$start****$end
                		#else
						#end
						</span><a href="${staticDomain}/setting/settingAccount.htm"></a>
					#end
					
					#if(!${S_CUSTINFO})
						<a href="javascript:;" class="c1" id="login">登录</a>
					#end
				</div>
			</div>
		</div>
        <div class="container">
            <a href="#" class="logo"></a>
			<div class="nav">
				<a href="#" class="active">我的幼富通</a>
				<a href="#">学费通</a>
				<a href="#">幼富宝</a>
				<a href="#">短期理财</a>
				<a href="#">幼富贷</a>
			</div>
        </div>
    </div>
    
    <div id="body">
		<form id="form" method="post" action="${staticDomain}/cust/index.htm">
        <div class="container">
			<div class="a1">幼富宝</div>
			<div class="a2">
				<div class="b1">
					#if(${S_CUSTINFO.invtp} == "1")
					#if(${hft_organization_trade_size} != 0)
					<div class="c1">
						机构对公账户<span>账号：**0000</span>
						<div class="trip"><div>解释文字内容解释文字内容解释文字内容解释文字内容<b></b></div></div>
					</div>
					<div class="c2">
						<table>
							<tr>
								<th>资产总额（元）</th>
								<th>昨日收益</th>
								<th>累计收益（元）</th>
							</tr>
							<tr>
								<td>${org_hftTotalBalanceDisplay}</td>
								<td>${org_hftFunddayincome}</td>
								<td>${org_hftTotalincome}</td>
							</tr>
						</table>
					</div>
					<div class="c3">
						<div class="d1">
							<a href="${staticDomain}/trade/orgPayIndex.htm" class="btnA mr20">充值</a>
    						<a href="${staticDomain}/trade/orgCashIndex.htm" class="btnB">取现</a>
						</div>
						<div class="d2"><a href="" class="a_m1 mr20">资产明细</a><a href="#">自动理财设置</a><div class="trip"><div>解释文字内容解释文字内容解释文字内容解释文字内容<b></b></div></div></div>
					</div>
					#else
					<div style="height:200px;background-color:#fff;margin-top:10px">
						<div style="padding-top:100px;padding-left:180px">
						<a id="btn-openAccount4org" href="#" >注册机构账户</a>
						</div>
					</div>
					#end	
					#end
				</div>
				<div class="b2">
					#if(${S_CUSTINFO.invtp} == "1")
    					#if(${hft_operator_trade_size} != 0)
    					<div class="c1">
    						理财银行卡账号<div class="trip"><div>解释文字内容解释文字内容解释文字内容解释文字内容<b></b></div></div>
    						<div class="d1">
    							银行卡已添加<span class="cBlue">${hft_operator_trade_size}</span>张
    							<a href="${staticDomain}/setting/settingCard.htm">查看全部</a>
    							<a href="${staticDomain}/bankcard/addBankCard1.htm">+新卡</a>
    						</div>
    					</div>
    					<div class="c2">
    						<table>
    							<tr>
    								<th>资产总额（元）</th>
    								<th>昨日收益</th>
    								<th>累计收益（元）</th>
    							</tr>
    							<tr>
    								<td>${hftTotalBalanceDisplay}</td>
    								<td>${hftFunddayincome}</td>
    								<td>${hftTotalincome}</td>
    							</tr>
    						</table>
    					</div>
    					<div class="c3">
    						<div class="d1">
    							<a href="${staticDomain}/trade/pay_index.htm" class="btnA mr20">充值</a>
    							<a href="${staticDomain}/trade/cash_index.htm" class="btnB">取现</a>
    						</div>
    						<div class="d2"><a href="#" class="btn-query a_m1 mr20">资产明细</a><a href="${staticDomain}/trade/pay_index.htm">自动理财设置</a>
    						<div class="trip"><div>解释文字内容解释文字内容解释文字内容解释文字内容<b></b></div></div></div>
    					</div>
						#else
							<div style="height:200px;background-color:#fff;margin-top:10px">
        						<div style="padding-top:100px;padding-left:180px">
									<a id="btn-openAccount4opr" href="#" >开办经办人理财账户</a>
        						</div>
        					</div>
						#end
					#end
					#if(${S_CUSTINFO.invtp} == "0")
    					#if(${hft_family_trade_size} != 0)
    					<div class="c1">
    						理财银行卡账号<div class="trip"><div>解释文字内容解释文字内容解释文字内容解释文字内容<b></b></div></div>
    						<div class="d1">
    							银行卡已添加<span class="cBlue">${hft_family_trade_size}</span>张
    							<a href="${staticDomain}/setting/settingCard.htm">查看全部</a>
    							<a href="${staticDomain}/bankcard/addBankCard1.htm">+新卡</a>
    						</div>
    					</div>
    					<div class="c2">
    						<table>
    							<tr>
    								<th>资产总额（元）</th>
    								<th>昨日收益</th>
    								<th>累计收益（元）</th>
    							</tr>
    							<tr>
    								<td>${hftTotalBalanceDisplay}</td>
    								<td>${hftFunddayincome}</td>
    								<td>${hftTotalincome}</td>
    							</tr>
    						</table>
    					</div>
    					<div class="c3">
    						<div class="d1">
    							<a href="${staticDomain}/trade/pay_index.htm" class="btnA mr20">充值</a>
    							<a href="${staticDomain}/trade/cash_index.htm" class="btnB">取现</a>
    						</div>
    						<div class="d2"><a href="#" class="btn-query a_m1 mr20">资产明细</a><a href="${staticDomain}/trade/pay_index.htm">自动理财设置</a>
    						<div class="trip"><div>解释文字内容解释文字内容解释文字内容解释文字内容<b></b></div></div></div>
    					</div>
						#else
							<div style="height:200px;background-color:#fff;margin-top:10px">
        						<div style="padding-top:100px;padding-left:180px">
									<a id="btn-openAccount4family" href="#" >开办家庭理财账户</a>
        						</div>
        					</div>
						#end
					#end
				</div>
			</div>
			
			<div class="a1">学费通</div>
			<div class="u1 mt15">
				<div class="v1">
				    <div class="x1"><p>当月累计收费（元）</p><span>--.--</span></div>
				    <div class="x2"><p>当季累计收费（元）</p><span>--.--</span></div>
				</div>
				<div class="v2">
				    <div class="x1"><p>当月自动收费（元）</p><span>--.--</span></div>
				    <div class="x2"><p>当季自动收费（元）</p><span>--.--</span></div>
				</div>
				<div class="v3">
				    <div class="x1"><p>当月POS收费（元）</p><span>--.--</span></div>
				    <div class="x2"><p>当季POS收费（元）</p><span>--.--</span></div>
				</div>
				<div class="v4">
				    <div class="y1"><name>机构对公账户</name><name>账号：**0000</name></div>
				    <div class="y2">
						<a href="#" onclick="alert('未开学费通')" class="btnC">收 费</a>
					</div>
				    <div class="y3"><a href="#">查看明细</a><a href="#">自动理财设置</a></div>
				</div>
			</div>
        </div>
		</form>
    </div>
</div>
<div class="login">
	<div class="close"></div>
	<div class="bg"></div>
    <div class="content tabs">
    	<div class="tabsNav"><a href="javascript:;">家庭登录<b></b></a><a href="javascript:;">幼教机构登录<b></b></a></div>
    	<div class="tabsCon">
            <table>
                <tr>
                    <th>登录账号</th>
                    <th><a href="#">免费注册</a></th>
                </tr>
                <tr>
                    <td colspan="2"><label class="inputUser"><input type="text"><b>手机号码</b></label></td>
                </tr>
                <tr>
                    <th>登录密码</th>
                    <th><a href="#">忘记密码</a></th>
                </tr>
                <tr>
                    <td colspan="2"><label class="inputPass"><input type="password"></label></td>
                </tr>
                <tr>
                    <th colspan="2">验证码</th>
                </tr>
                <tr>
                    <td><label class="inputText"><input type="text" style="width:218px"></label></td>
                    <td><img src="public/images/12.png"></td>
                </tr>
                <tr><td colspan="2"><label class="btnD mt20"><input type="submit">立即登陆</label></td></tr>
            </table>
        </div>
        <div class="tabsCon">
            <table>
                <tr>
                    <th>登录账号</th>
                    <th><a href="#">免费注册</a></th>
                </tr>
                <tr>
                    <td colspan="2"><label class="inputUser"><input type="text"><b>手机号码</b></label></td>
                </tr>
                <tr>
                    <th>登录密码</th>
                    <th><a href="#">忘记密码</a></th>
                </tr>
                <tr>
                    <td colspan="2"><label class="inputPass"><input type="password"></label></td>
                </tr>
                <tr>
                    <th colspan="2">验证码</th>
                </tr>
                <tr>
                    <td><label class="inputText"><input type="text" style="width:218px"></label></td>
                    <td><img src="public/images/12.png"></td>
                </tr>
                <tr><td colspan="2"><label class="btnD mt20"><input type="submit">立即登陆</label></td></tr>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
$(function(){
	$('.tabs').tabs();
	$('.inputUser').inputText();
	
	$("#btn-openAccount4opr").on("click",function(){
		$("#form").attr("action", "../bankcard/addBankCard1.htm");
		$("#form").submit();
	});
	$("#btn-openAccount4family").on("click",function(){
		$("#form").attr("action", "../bankcard/addBankCard1.htm");
		$("#form").submit();
	});
	$("#btn-openAccount4org").on("click",function(){
		$("#form").attr("action", "../org/openAccoStep1.htm");
		$("#form").submit();
	});
	$(".btn-query").on("click",function(){
		$("#form").attr("action", "../trade/query_index.htm");
		$("#form").submit();
	});
})
</script>
</body>
</html>