<!DOCTYPE html>
<html>
<head>
<!--
<title>幼富通 - 资产总览</title>
-->
<script>
$(function(){
	$("#btn-openAccount").on("click",function(){
		//check #register-org #mobileno
		$("#form-index").attr("action", "../bankcard/addBankCard.htm");
		$("#form-index").submit();
	});
	
	$("#btn-logout").on("click",function(){
		$("#form-index").attr("action", "../cust/logout.htm");
		$("#form-index").submit();
	});
});
</script>
</head>
<body>
<div class="container center">
<div class="header">
    <div class="inner clearfix rel">
        <div class="logo"><a href="javascript:;">幼教金融，一站通</a></div>
		<div class="nav"><a 
			href="index.html">首页</a>|<a class="current" 
			href="centerClose.html">资产总览</a>|<a 
			href="settingAccount.html">账户管理</a>|<a 
			href="helpNotice.html">帮助中心</a><span class="member" 
			href="javascript:;"><i class="trans icon"></i>1500047781<a 
			href="javascript:;" class="trans out">安全退出</a></span></div>
			
        <div class="nav"><a id="btn-logout"
			href="${staticDomain}/cust/logout.htm">登出</a>|<a
			href="${staticDomain}/session/login.htm">我的幼富通</a>|<a class="last" 
			href="javascript:;">帮助</a></div>
    </div>
</div>
<form id="form-index" method="post" action="${staticDomain}/cust/index.htm">
<input id="openaccount" type="hidden" name="openaccount" value="${CustinfoVo.openaccount}"/>
<div class="body">
    <div class="inner clearfix">
        <div class="title clearfix">
            <h2 class="title-main fl">资产总览</h2>
            <h2 class="title-side fr">账户</h2>
        </div>
        <div class="main fl">
            <ul class="project-list">
                <li class="project-item item-main shadow-normal trans">
                    <i class="tag"><img src="${staticDomain}/images/tag2.png"></i>
                    <div class="item-base clearfix">
                        <table class="base-table fl">
                            <thead>
                            <tr>
                                <td width="33%">昨日收益</td>
                                <td width="33%">资产总额（元）</td>
                                <td>累计收益（元）</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>0.00&nbsp;</td>
                                <td>$!{totalBalanceDisplay}&nbsp;</td>
                                <td>0.00&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="base-btn fr">
							#if($CustinfoVo.openaccount!="Y")
                            <div class="clearfix">
								<a class="fl btn off" href="#">充值</a><span class="tips fl">自动充值</span>
							</div>
                            <div class="clearfix">
								<a class="fl btn off" href="#">取现</a><span class="tips fl">自动取现</span>
							</div>
							#else
                            <div class="clearfix">
								<a class="fl btn" href="${staticDomain}/trade/pay_index.htm">充值</a><span class="tips fl">自动充值</span>
							</div>
                            <div class="clearfix">
								<a class="fl btn" href="${staticDomain}/trade/cash_index.htm">取现</a><span class="tips fl">自动取现</span>
							</div>
							#end
                        </div>
                    </div>
                    <div class="item-detail clearfix">
                        <div class="detail-chart fl">
                            <div class="tabs chart-tabs clearfix">
                                <a class="tab on" href="javascript:;">7日年化收益率(%)  4.8270</a>
                                <a class="tab" href="javascript:;">万份收益(元)  1.2440</a>
                            </div>
                            <div class="panels chart-panels">
                                <div id="chart-syl" class="panel slide-in">表一</div>
                                <div id="chart-sy" class="panel slide-out">表二</div>
                            </div>
                        </div>
                        <div class="detail-list fr">
                            <div class="list-title">资金明细</div>
							#if ($CustinfoVo.openaccount == "Y")
                            <div class="tabs list-tabs clearfix">
                                <a class="tab on" href="javascript:;">充值</a>
                                <a class="tab" href="javascript:;">取现</a>
                            </div>
                            <div class="panels list-panels">
                                <div class="panel slide-in">
                                    <table width="100%">
										#foreach($tradeRequest in $list022)
										<tr>
                                            <td class="tl" width="30%">${tradeRequest.banknm}</td>
                                            <td class="tl" width="">${tradeRequest.appamt}
											#if(${tradeRequest.state}=="I")
												处理中
											#else	
												成功
											#end
											</td>
                                            <td class="tr">${tradeRequest.appdate}</td>
                                        </tr>
										#end
                                    </table>
                                </div>
                                <div class="panel slide-out">
                                    <table width="100%">
                                        #foreach($tradeRequest in $list023)
										<tr>
                                            <td class="tl" width="30%">${tradeRequest.banknm}</td>
                                            <td class="tl" width="">-${tradeRequest.appvol}
											#if(${tradeRequest.state}=="I")
												处理中
											#else	
												成功
											#end
											</td>
                                            <td class="tr">${tradeRequest.appdate}</td>
                                        </tr>
    									#end
                                    </table>
                                </div>
                            </div>
							#end
							
                        </div>
                    </div>
                </li>
                <li class="project-item item-sub shadow-normal trans">
                    <i class="tag"><img src="${staticDomain}/images/tag1.png"></i>
                    <div class="item-base clearfix">
                        <table class="base-table fl">
                            <thead>
                            <tr>
                                <td width="33%">昨日收益</td>
                                <td width="33%">资产总额（元）</td>
                                <td>累计收益（元）</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="base-btn fr">
                            <div class="clearfix"><a class="fl btn off" href="javascript:;">购买</a></div>
                            <div class="clearfix"><a class="fl btn off" href="javascript:;">取现</a></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="side fr">
            <div class="info-account">
                <div class="account-header">
                    <a href="${staticDomain}/setting/settingAccount.htm" class="header-avatar"><img src="${staticDomain}/images/avatar.png" width="100%"></a>
                    <div class="header-name">
					#if ($CustinfoVo.invnm)
                	    $!{CustinfoVo.invnm}
                	#else
                	    $!{CustinfoVo.mobileno}
                	#end
					</div>
                    <a href="${staticDomain}/setting/settingAccount.htm" class="header-setting"></a>
                </div>
                <ul class="account-list">
                    <li class="account-item">
                        <div class="name">资产总金额（元）</div>
                        <div class="value">$!{totalBalanceDisplay}</div>
                    </li>
                    <li class="account-item">
                        <div class="name">可用金额（元）</div>
                        <div class="value">$!{availableBalanceDisplay}</div>
                    </li>
					 <li class="account-item">
                        <div class="name">冻结金额（元）</div>
                        <div class="value">$!{frozenBalanceDisplay}</div>
                    </li>
                </ul>
				#if($CustinfoVo.openaccount!="Y")
                <div class="account-btn">
                    <a id="btn-openAccount" class="btn" href="#">开办理财账户</a>
                </div>
				#end
            </div>
            <div class="info-yield">
                <div class="yield-title">幼富宝</div>
                <div class="yield-data">
                    <div class="data-value">4.9510</div>
                    <div class="data-name">七日年化收益率（%）</div>
                    <div class="data-source">数据来源：海富通基金</div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
<div class="footer">
    <div class="inner clearfix">
        <div class="info fl">
            <p>微信服务号：UFUfund</p>
            <p>服务邮箱：<a href="mailto:service@ufufund.com">service@ufufund.com</a></p>
            <p>海富通产品：400-8840-099</p>
        </div>
        <div class="copyright fr">
            <p>上海泛投信息科技有限公司版权所有 ©2015</p>
            <p><a target="_blank" href="http://www.miitbeian.gov.cn/">沪ICP备14054347号</a></p>
        </div>
    </div>
</div>
</div>
<div class="alert-box box-openGuide"><img class="img-openGuide" src="${staticDomain}/images/img-open.png"></div>
<script src="${staticDomain}/js/scripts/load.js"></script>
<script>
    $(function () {
        alertBox(".box-openGuide");
    });
</script>
</body>
</html>