<form action="../cust/register_person.htm">
<div>
<ul class="clearfix">
  <li>
    <div class="form_item">
      <label>手机号：</label>
      <!--请输入手机号码-->
      <input type="text" class="ipt ipt_phone" value="18616502181" id="phone" 
        onkeyup="showoff('phone_desc')" onfocus="hideOtherTips('phone')">
    </div>
    <div class="tips_box regist_tips" id="phone_tip">
	  <u></u>请填写正确的手机号码，以便 接收订单通知，找回密码等。
	  
    </div>
    <div class="tips_box regist_tips_error" id="phone_error"></div>
    <div class="tips_box username_ok" id="phone_desc"></div>
  </li>
  
  <li>
    <div class="form_item">
      <label>设置密码：</label>
      <!--6-20个大小写英文字母、符号或数字-->
      <input type="password" class="ipt password none" 
        id="password_mobile" name="user.password" 
        oncopy="return false;" oncut="return false;" onpaste="return false;">
    </div>
    <div class="tips_box regist_tips_error" id="password_mobile_error"></div>
    <div class="tips_box paswd_strength" id="password_mobile_Level">
   	  <i id="arrow_mobile" style="-webkit-transform: rotate(0deg);"></i>
    </div>
  </li>
  <li>
    <div class="form_item">
      <label>确认密码：</label>
      <!--请再次输入密码-->
      <input type="text" class="ipt gay_text" name="pwd" value="">
      <input type="password" class="ipt password none" 
        id="password_mobile2" name="password2" 
        readonly="readonly" 
        style="background-color: rgb(192, 193, 196);">
      <div class="tips_box regist_tips_error" id="password_mobile2_error"></div>
	  <div class="tips_box username_ok" id="password_mobile2_desc"></div>
    </div>
  </li>
  
  <li class="regist_btn">
  	<!--javascript:document.forms[0].submit();return false;-->
    <button type="button" onclick="checkPhoneOnBlur()">注册</button>
  </li>
   
</ul>
</div>
</form>
<script>
	//alert($("#phone").val());
	
	function showErrorInfo(b, a) {
		//a is a message
	    jQuery("#" + b + "").html("<u></u>" + a + "").show();
	    jQuery("#" + b + "").parents("li").addClass("cur_error");
	    var c = b.split("_");
	    jQuery("#" + c[0] + "_desc").hide()
	}
	
	function showPhoneError(a) {
	    jQuery("#phone_tip").hide();
	    showErrorInfo("phone_error", a)
	}
	
	function check_phone() {
	    var a = jQuery("#phone").val();
	    if (a == "" || a == "请输入手机号码") {
	        return 1
	    }
	    var b = /^1\d{10}$/;
	    if (!b.test(a)) {
	        return 2
	    }
	    return 0
	}
	
	function checkPhoneOnBlur() {
	    var a = check_phone();
	    if (a == 1) {
	        showPhoneError("不能为空")
	    } else {
	        if (a == 2) {
	            showPhoneError("格式错误，请输入正确的手机号码")
	        } else {
	            $.ajax({type: "GET",url: "../ajaxcust/is_mobile_register.htm",
	            		data: {mobileno: $("#phone").val()},
	            		success: function(b) {
		                    if (b.checkResult == 0) {
		                        jQuery("#phone_tip").hide();
		                        $("#phone_desc").css("display", "block");
		                        jQuery("#phone").parents("li").removeClass("cur_error")
		                    } else {
		                        if (b.checkResult == 1) {
		                            showPhoneError("该手机号已存在，<a href='/passport/login_input.do'>登录</a>")
		                        }
		                    }
	                	}
	                	})
	        }
	    }
	}

   	function showoff(b) {
		var a = b.split("_");
	    if (a[0] != "password") {
	        jQuery("#" + a[0] + "_error").hide();
	        jQuery("#" + a[0] + "_tip").show()
	    }
	    jQuery("#" + b + "").hide()
	}
	
	function hideOtherTips(a) {
	    if (jQuery("#" + a + "").val() == "") {
	        jQuery("#" + a + "_error").hide();
	        jQuery("#" + a + "_tip").show()
	    }
	    jQuery("#" + a + "").parents("li").removeClass("cur_error")
	}
    $(function () {
		
    });
</script>
