<!doctype html>
<html>
<head>
<title>我的账户</title>
<script type="text/javascript">
    $(function(){
        var lys = {
            timeId: "delayTime",
            delayedHide: function(elem){
                lys.timeId = setTimeout(function(){
                    $(elem).css("display", "none");
                }, 100);
            },
            styleShow: function(elem){
                $(elem).css("display", "block");
            },
            showMessage: function(source, target){
                $(source).mouseover(function(){
                    clearTimeout(lys.timeId);
                    lys.styleShow($(target));
                }).mouseout(function(){
                    lys.delayedHide($(target));
                    $(target).mouseenter(function(){
                        clearTimeout(lys.timeId);
                    }).mouseleave(function() {
                        clearTimeout(lys.timeId);
                        lys.delayedHide($(target));
                    });
                });
            }
        };
        lys.showMessage($(".question"), $(".question-content"));   
        
		// 幼儿园切换信息
        $(".organization .fl a").click(function(){
            var ex = $(this).index()+1;
            $(this).addClass("on").siblings().removeClass("on");
            $(this).find("i").addClass("showNow").parents().siblings().find("i").removeClass("showNow");
            $(".every-account").find("#change0"+ex).addClass("showNow").siblings().removeClass("showNow");
        });

		$("#addBankCard").on("click",function(){
		    var isufbCard=$(this).attr("isufbCard");
		   
			var cardcount=$(".num-blue").html();
			if(cardcount>=2){
				alert("对不起，您最多只能添加两张银行卡");
				return false;
			}
			 else{
			  	if(isufbCard=="Y"){
					alert("对不起，您只能添加一张幼富通银行卡");
					return false;
				} 
			 }
			window.location.href="${staticDomain}/family/addBankCard.htm";
			//$("#addBankCard").attr("href","${staticDomain}/family/addBankCard.htm").click();
		});	
    });
</script>
</head>
<body>
<div id="body">
    <div class="container familyMyAccount">
		<!--幼富宝-->
		<div class="myaccount-top">
            <p class="fr">
                                                        银行卡已添加 <strong class="num-blue">$!{hft_family_trade_size}</strong>张
                <a href="${ufbDomain}/family/setting/card_index.htm" class="addMargin">查看全部</a>
                <a id="addBankCard" href="#" isufbCard="$!{isufbCard}">+新卡</a>
            </p>
        </div>
		<div class="myaccount">
            <div class="myleft fl">
                  <p class="magtb">本月共<strong class="num-red">3</strong>个缴费通知，总计（元）</p>
                  <p class="magtb">
                  	  <strong class="num-red" style="font-size: 45px;">$totalplanmonthamt</strong>
                      <a href="${ufbDomain}/family/uft/pay_notice.htm" class="btn btn-red btn-pay">缴费</a>
                  </p>
                  <p><a href="${ufbDomain}/setting/familyPayHistory.html" class="hoverLine">历史明细</a></p>
            </div>
            <div class="myright fl">
                <div class="myright-top">
                    <h3 class="fl">幼富宝（海富通货币）</h3>
                    <a href="${ufbDomain}/family/ufb_index.htm"><p class="fr num-red"><i class="bothno-icon"></i> 理财缴费两不误</p></a>
                </div>
                <div class="myright-down">
                    <ul>
                        <li >
                            <p class="magb">资产总额（元）</p>
                            <p class="font"><strong>#if($hftTotalBalanceDisplay)$!{hftTotalBalanceDisplay}#else 0.00#end</strong></p>
                        </li>

                        <li class="mli2">
                            <p class="magb">累计收益（元）</p>
                            <p class="font font-red">#if($hftTotalincome) $!{hftTotalincome} #else 0.00 #end</p>
                        </li>
                        <li class="mli3">
                            <p class="magb"><a href="${ufbDomain}/family/ufb/pay_index.htm" class="btn btn-white" id="recharge">充 值</a></p>
                            <p> <a href="${ufbDomain}/family/query_index.htm" class="assets">资产明细</a></p>
                        </li>
                        <li class="" style="position: relative;">
                                <p class="magb"><a href="${ufbDomain}/family/ufb/cash_index.htm" class="btn btn-white" id="enchash">取 现</a></p>
                                <p><a href="${ufbDomain}/family/setting/autotrade_index.htm" class="hoverLine">自动理财设置<i class="question"></i></a></p>
                                <p class="question-content" style="display: none">可绑定工资卡，设<br/>置固定期限或固定<br/>金额的自动充值</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="every-account">
              <div class="organization">
                  <p class="fl">
					#foreach($org in $orglist)
						#if($!{velocityCount}==1)
						<a href="javascript:;" class="on">$org.orgnm<i class="up-arrow showNow"></i></a>
						#else
						<a href="javascript:;" class="on">$org.orgnm<i class="up-arrow"></i></a>	
						#end
					#end
				  </p>
                  <a href="#" class="fr add-organiz hoverLine">+新收费机构</a>
              </div>
              <div><!--切换-->
                   <!--第一个幼儿园-->
                   <div class="exchange showNow" id="change01"> 
                      <div class="student">
                          <ul>
                              <li class="sli1"><p>学生：
									#foreach($student in $studentlist1)
									$student.studentnm
									#end
							  </p></li>
                              <li class="sli2"><p class="sli2-p1">本月共<strong class="num-red">1</strong>个缴费通知，总计（元）</p><p class="sli2-p2">2600</p></li>
                              <li class="sli3"><p class="sli3-p1">退费（元）</p><p class="sli3-p2">+156</p></li>
                              <li class="sli4"><a href="${ufbDomain}/family/pay_notice.htm" class="btn btn-white">缴费</a></li>
                          </ul>
					  </div>
                      <div class="pay-detail">
                      <h3>缴费通知明细</h3>
                      <table>
                          <tr>
                              <th>缴费交易号</th>
                              <th>缴费学生</th>
                              <th>收费机构</th>
                              <th>费用类型</th>
                              <th>应收金额（元）</th>
                              <th>截止日期</th>
							  <th>缴费日期</th>
                              <th>缴费状态</th>
                          </tr>						  
						  #foreach($plan1 in $planlist1)
                          <tr>
                              <td>$plan1.planid</td>
                              <td>$plan1.studentnm</td>
                              <td>$plan1.orgnm</td>
                              <td>2015年6月话剧<span class="tip">月代扣</span></td>
                              <td class="num-green">$plan1.payappamount</td>
                              <td>$!{plan1.paydate}</td>
							  <td>$!{plan1.plandate}</td>
                              <td>$!{plan1.ispay}</td>
                          </tr>
						  #end		  
                      </table>
                  </div>
                  </div>
                   <!--第二个幼儿园-->
                   <div class="exchange" id="change02"> 
                      <div class="student">
                          <ul>
                              <li class="sli1">
								<p>学生：
									#foreach($student in $studentlist2)
									$student.studentnm
									#end
								</p></li>
                              <li class="sli2"><p class="sli2-p1">本月共<strong class="num-red">1</strong>个缴费通知，总计（元）</p><p class="sli2-p2">2600</p></li>
                              <li class="sli3"><p class="sli3-p1">退费（元）</p><p class="sli3-p2">+156</p></li>
                              <li class="sli4"><a href="" class="btn btn-white">缴费</a></li>
                          </ul>
					  </div>
                      <div class="pay-detail">
                      <h3>缴费通知明细</h3>
                      <table>
                          <tr>
                              <th>缴费交易号</th>
                              <th>缴费学生</th>
                              <th>收费机构</th>
                              <th>费用类型</th>
                              <th>应收金额（元）</th>
                              <th>截止日期</th>
							  <th>缴费日期</th>
                              <th>缴费状态</th>
                          </tr>
                          #foreach($plan2 in $planlist2)
                          <tr>
                              <td>$plan2.planid</td>
                              <td>$plan2.studentnm</td>
                              <td>$plan2.orgnm</td>
                              <td>2015年6月话剧<span class="tip">月代扣</span></td>
                              <td class="num-green">$plan2.payappamount</td>
                              <td>$!{plan2.paydate}</td>
							  <td>$!{plan2.plandate}</td>
                              <td>$!{plan2.ispay}</td>
                          </tr>
						  #end
                      </table>
                  </div>
                  </div>
              </div>
        </div>        
    </div><!--end of container-->
</div>
</body>
</html>
