<div id="body">
    <div class="container familyMyAccount">  <!--注意在此添加本页面名称的class名-->
		<!--幼富宝-->
		<div class="myaccount-top">
            <p class="fr">
                <a href="javascript:;" class="noneC addMargin">我的银行卡</a>
            </p>
        </div>
		<div class="myaccount">
                <div class="myleft fl">
                      <p class="magtb">本月共<strong>3</strong>个缴费通知，总计（元）</p>
                      <p class="magtb"><strong style="font-size: 45px;">--</strong>
                          <a href="javascript:;" class="btn btn-red btn-pay btn-grey">缴费</a></p>
                      <p><a href="javascript:;" class="noneC">历史明细</a></p>
                </div>
                <div class="myright fl">
                    <div class="myright-top">
                        <h3 class="fl">幼富宝（海富通货币）</h3>
                        <p class="fr"><i class="bothno-icon bothno-grey"></i> 理财缴费两不误</p>
                    </div>
                    <div class="myright-down">
                        <ul>
                            <li>
                                <p class="magb">资产总额（元）</p>
                                <p class="font"><strong>--</strong></p>
                            </li>

                            <li class="mli2">
                                <p class="magb">累计收益（元）</p>
                                <p class="font font-red">--</p>
                            </li>
                            <li class="mli3">
                                <p class="magb"><a href="javascript:;" class="btn btn-white btn btn-white btn-grey2" id="recharge">充 值</a></p>
                                <p> <a href="javascript:;" class="assets noneC">资产明细</a></p>
                            </li>
                            <li class="" style="position: relative;">
                                    <p class="magb"><a href="javascript:;" class="btn btn-white btn btn-white btn-grey2" id="enchash">取 现</a></p>
                                    <p><a href="javascript:;" class="noneC">自动理财设置<i class="question questionGrey"></i></a></p>
                                    <p class="question-content" style="display: none">可设置固定期限或<br>固定金额的自动充<br>值或取现</p>
                            </li>
                        </ul>
                    </div>
                </div>
        </div>

        <div class="every-account">
              <div class="organization">
                  <p class="fl"><a href="javascript:;" class="noneC">收费机构名称<i class="up-arrow up-arrow-grey showNow"></i></a></p>
                  <a href="javascript:;" class="fr add-organiz noneC">+新收费机构</a>
              </div>
              <div class="student">
                  <ul>
                      <li class="sli1"><p>学生姓名：--</p></li>
                      <li class="sli2"><p class="sli2-p1">本月共<strong>1</strong>个缴费通知，总计（元）</p><p class="sli2-p2 noneC">--</p></li>
                      <li class="sli3"><p class="sli3-p1">退费（元）</p><p class="sli3-p2 noneC">--</p></li>
                      <li class="sli4"><a href="javascript:;" class="btn btn-white btn-grey2">缴费</a></li>
                  </ul>
              </div>
              <div class="pay-detail">
                  <h3>缴费通知明细</h3>
                  <table>
                      <tbody><tr>
                          <th>缴费交易号</th>
                          <th>缴费学生</th>
                          <th>收费机构</th>
                          <th>费用类型</th>
                          <th>应收金额（元）</th>
                          <th>确认时间</th>
                      </tr>
                      <tr>
                          <td>--</td>
                          <td>--</td>
                          <td>--</td>
                          <td>--</td>
                          <td>--</td>
                          <td>--</td>
                      </tr>
                      <tr> 
                          <td>--</td>
                          <td>--</td>
                          <td>--</td>
                          <td>--</td>
                          <td>--</td>
                          <td>--</td>
                      </tr>
                      <tr>
                          <td>--</td>
                          <td>--</td>
                          <td>--</td>
                          <td>--</td>
                          <td>--</td>
                          <td>--</td>
                      </tr>
                      <tr>
                          <td>--</td>
                          <td>--</td>
                          <td>--</td>
                          <td>--</td>
                          <td>--</td>
                          <td>--</td>
                      </tr>
                  </tbody></table>
              </div>
        </div>         
    </div><!--end of container-->
</div>