<html>
<head>
<title>我的账户</title>
<script type="text/javascript">
    $(function(){
    	$('.nav a:eq(0)').addClass('active');
    	
        var lys = {
            timeId: "delayTime",
            delayedHide: function(elem){
                lys.timeId = setTimeout(function(){
                    $(elem).css("display", "none");
                }, 100);
            },
            styleShow: function(elem){
                $(elem).css("display", "block");
            },
            showMessage: function(source, target){
                $(source).mouseover(function(){
                    clearTimeout(lys.timeId);
                    lys.styleShow($(target));
                }).mouseout(function(){
                    lys.delayedHide($(target));
                    $(target).mouseenter(function(){
                        clearTimeout(lys.timeId);
                    }).mouseleave(function() {
                        clearTimeout(lys.timeId);
                        lys.delayedHide($(target));
                    });
                });
            }
        };
        lys.showMessage($(".question"), $(".question-content"));   
        
		// 幼儿园切换信息
        $(".organization .fl a").click(function(){
            var ex = $(this).index()+1;
            $(this).addClass("on").siblings().removeClass("on");
            $(this).find("i").addClass("showNow").parents().siblings().find("i").removeClass("showNow");
            $(".every-account").find("#change0"+ex).addClass("showNow").siblings().removeClass("showNow");
        });

        // 缴费    1.总的缴费记录  2.每个机构的缴费记录
        var orgid="";
        $(".btn-red").on("click",function(){
        	$(".organization .fl a").each(function(){
        		orgid=orgid+$(this).attr("id")+",";
        		$("#orgids").val(orgid);
        		$("#sub-form").submit();
        	}) 
        });
        
        $(".orgcharge").each(function(){
        	$(this).on("click",function(){
        		orgid=$(".organization .fl").find(".on").attr("id");
        		$("#orgids").val(orgid);
        		$("#sub-form").submit();
        	});
        })

    });
</script>
</head>
<body>
<div id="body">
    <div class="container familyMyAccount">
			<div class="myaccount-top">
	            <p class="fr">
	                <a href="${ufbDomain}/family/setting/card_index.htm" class="addMargin">我的银行卡</a>
	            </p>
	        </div>
			<div class="myaccount">
			<form id="sub-form" name="sub-form" method="post" action="${ufbDomain}/family/uft/pay_notice.htm">
				<input type="hidden" name="orgids" id="orgids" value="" />
	        </form>
            <div class="myleft fl">
                  <p class="magtb">本月共<strong class="num-red">$allcount</strong>个缴费通知，总计（元）</p>
                  <p class="magtb">
                  	  <strong class="num-red" style="font-size: 45px;">$totalplanmonthamt</strong>
                      <a href="javascript:;" class="btn btn-red btn-pay">缴费</a>
                  </p>
                  <p><a href="${ufbDomain}/setting/familyPayHistory.html" class="hoverLine">历史明细</a></p>
            </div>
            <div class="myright fl">
                <div class="myright-top">
                    <h3 class="fl">幼富宝（海富通货币）</h3>
                    <a href="${ufbDomain}/family/ufb/ufb_index.htm"><p class="fr num-red"><i class="bothno-icon"></i> 理财缴费两不误</p></a>
                </div>
                <div class="myright-down">
                    <ul>
                        <li>
                            <p class="magb">资产总额（元）</p>
                            <p class="font"><strong>#if($hftTotalBalanceDisplay)$hftTotalBalanceDisplay #else 0.00 #end</strong></p>
                        </li>

                        <li class="mli2">
                            <p class="magb">累计收益（元）</p>
                            <p class="font font-red">#if($hftTotalincome) $hftTotalincome #else 0.00 #end</p>
                        </li>
                        <li class="mli3">
                            <p class="magb"><a href="${ufbDomain}/family/ufb/pay_index.htm" class="btn btn-white" id="recharge">充 值</a></p>
                            <p> <a href="${ufbDomain}/family/ufb/query_index.htm" class="assets">资产明细</a></p>
                        </li>
                        <li style="position: relative;">
                            <p class="magb"><a href="${ufbDomain}/family/ufb/cash_index.htm" class="btn btn-white" id="enchash">取 现</a></p>
                            <p><a href="${ufbDomain}/family/ufb/autotrade_index.htm" class="hoverLine">自动理财设置<i class="question"></i></a></p>
                            <p class="question-content" style="display: none">可绑定工资卡，设<br/>置固定期限或固定<br/>金额的自动充值</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="every-account">
              <div class="organization">
                  <p class="fl">
					#foreach($org in $orglist)
						#if($!{velocityCount}==1)
						<a href="javascript:;" class="on" id="$org.orgid">$org.orgnm<i class="up-arrow showNow"></i></a>
						#else
						<a href="javascript:;" id="$org.orgid">$org.orgnm<i class="up-arrow"></i></a>	
						#end
					#end
				  </p>
                  <a href="${ufbDomain}/family/uft/code_index.htm" class="fr add-organiz hoverLine">+添加缴费学生</a>
              </div>
              <div>
              #set($i = 1)
			  #foreach($pay in $paylist)
                   <div class="exchange #if($i==1) showNow #end" id="change0$i"> 
                      <div class="student">
                          <ul>
                              <li class="sli1"><p>学生：
								 #foreach($student in ${pay.studentList})
								 $student.studentnm
								 #end
							  </p></li>
                              <li class="sli2"><p class="sli2-p1">本月共<strong class="num-red">#if($pay.plancount) $pay.plancount #else 0 #end</strong>个缴费通知，总计（元）</p><p class="sli2-p2">  #if($pay.monthtotalamt)$pay.monthtotalamt #else 0.00 #end</p></li>
                              <li class="sli3"><p class="sli3-p1">退费（元）</p><p class="sli3-p2">#if($pay.monthbackamt)+$pay.monthbackamt #else 0.00 #end</p></li>
                              <li class="sli4"><a href="javascript:;" class="btn btn-white orgcharge">缴费</a></li>
                          </ul>
					  </div>
                      <div class="pay-detail">
                      <h3>缴费通知明细</h3>
                      <table>
                          <tr>
                              <th>缴费交易号</th>
                              <th>缴费学生</th>
                              <th>收费机构</th>
                              <th>费用类型</th>
                              <th>应收金额（元）</th>
                              <th>截止日期</th>
							  <th>缴费日期</th>
                              <th>缴费状态</th>
                          </tr>						  
						  #foreach($plan in ${pay.planList})
                          <tr>
                              <td>$plan.planid</td>
                              <td>$plan.studentnm</td>
                              <td>$plan.orgnm</td>
                              <td>$plan.planname<span class="tip">#if(${plan.type}=="AT")月代扣  #else 年代扣  #end</span></td>
                              <td class="num-red">$plan.payappamount</td>
                              <td>$plan.paydate</td>
							  <td>$plan.plandate</td>
                              <td>#if(${plan.ispay}=='Y') 已缴费 #elseif(${plan.ispay}=='F') 等待缴费 #else 等待扣款  #end</td>
                          </tr>
						  #end		  
                      </table>
                  </div>
                  </div>
                  #set($i = $i+1)
			  #end
              </div>
        </div>        
    </div> 
</div>
</body>
</html>
