<div id="body">
    <div class="container">
		<div class="a1">机构账户安全认证</div>
		<div class="u2">
			<ul class="v1">
				<li class="v1_hover">1 基本资料</li>
				<li>2 提交材料</li>
				<li>3 银行账户</li>
				<li>4 开户完成 </li>
			</ul>
			<div class="v2">
			    <i class="v2_1"></i>
				<p>你正在访问幼富通安全网址，请放心操作。幼富通致力于为全国幼教机构打造安全、稳定、便捷的互联网金融服务平台。为了保障你的机构和广大幼儿家庭用户的合法权益，请认真填写以下机构登记信息，我们会严格保密相关隐私信息。</p>
			</div>
		</div>
		<div class="a4 mt20 mb60">
			<div class="b1">
				<table>
					<tbody><tr>
						<td>机构名称</td>
						<td><label class="inputText"><input type="text"></label></td>
						<td>须与营业执照、银行对公账户的开户名称一致，信息审核成功后，名称不可修改。</td>
					</tr>
					<tr class="tr03">
						<td>机构类型</td>
						<td>
							<div class="selectmenu" tabindex="-1" style="z-index: 99; width: 220px; margin-right: 0px; margin-left: 0px; outline: none;">					<select class="select">
                                <option>民办幼儿园</option>
                                <option>公办幼儿园</option>
                                <option>早教机构（0-3岁）</option>
                                <option>幼教培训机构（3-6岁）</option>
                                <option>厂商</option>
                                <option>通路服务／经销商</option>
                                <option>其他</option>
                            </select>					<div class="title">						<div class="text">民办幼儿园</div>						<div class="ico"></div>					</div>					<ul class="list" style="width: 218px;"><li>民办幼儿园</li><li>公办幼儿园</li><li>早教机构（0-3岁）</li><li>幼教培训机构（3-6岁）</li><li>厂商</li><li>通路服务／经销商</li><li>其他</li></ul>				</div>
						</td>
						<td>信息审核成功后，类型不可修改</td>
					</tr>
					<tr class="tr04">
						<td>登记证／营业执照号</td>
						<td><label class="cardFormat" id="card1"><input type="text"><div class="num" style="top: -31px; width: 198px;">&nbsp;</div></label></td>
						<td>请输入登记证／15位营业执照注册号</td>
					</tr>
					<tr>
						<td>实际办学/经营地址</td>
						<td>
							<div class="selectmenu" tabindex="-1" style="z-index: 99; width: 220px; margin-right: 0px; margin-left: 0px; outline: none;">					<select class="select">
                                <option>省份</option>
                                <option>浙江省</option>
                                <option>福建省</option>
                                <option>安徽省</option>
                            </select>					<div class="title">						<div class="text">省份</div>						<div class="ico"></div>					</div>					<ul class="list" style="width: 218px;"><li>省份</li><li>浙江省</li><li>福建省</li><li>安徽省</li></ul>				</div>
						</td>
						<td>
							<div class="selectmenu" tabindex="-1" style="z-index: 99; width: 220px; margin-right: 0px; margin-left: 0px; outline: none;">					<select class="select">
                                <option>城市</option>
                                <option>北京市</option>
                                <option>上海市</option>
                            </select>					<div class="title">						<div class="text">城市</div>						<div class="ico"></div>					</div>					<ul class="list" style="width: 218px;"><li>城市</li><li>北京市</li><li>上海市</li></ul>				</div>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<label class="inputText"><input type="text"></label>
						</td>
						<td>
							必须为真实办公或经营地址、办学地址
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<label class="checkbox checkG"><input type="checkbox">与登记证／营业执照中注册地址相同</label>
						</td>
						<td></td>
					</tr>
				</tbody></table>
			</div>
			<div class="b1 pt10 pb10">
				<table>
					<tbody><tr>
						<td>授权经办人姓名</td>
						<td><label class="inputText"><input type="text"></label></td>
						<td><label class="checkbox"><input type="checkbox">与举办人/法人代表为同一人</label></td>
					</tr>
					<tr>
						<td>身份证号</td>
						<td><label class="cardFormat" id="card2"><input type="text"><div class="num" style="top: -31px; width: 198px;">&nbsp;</div></label></td>
						<td>若为临时身份证，请输入临时身份证号</td>
					</tr>
					<tr>
						<td>手机</td>
						<td>
							<label class="inputText"><input type="text"></label>
						</td>
						<td>
							开户审核过程中将与经办人联系
						</td>
					</tr>
					<tr>
						<td>固定电话</td>
						<td>
							<label class="inputText"><input type="text"></label>
						</td>
						<td>
							包括区号、号码、分机号，请用“-”隔开
						</td>
					</tr>
					<tr>
						<td>邮箱</td>
						<td>
							<label class="inputText"><input type="text"></label>
						</td>
						<td><div class="formErr">错误提示</div></td>
					</tr>
				</tbody></table>
			</div>
			<div class="b1 bordernone pt10 pb10">
				<table>
					<tbody><tr>
						<td>法定代表人姓名</td>
						<td><label class="inputText"><input type="text"></label></td>
						<td>须与登记证/营业执照一致</td>
					</tr>
					<tr>
						<td>身份证号</td>
						<td><label class="cardFormat" id="card3"><input type="text"><div class="num" style="top: -31px; width: 198px;">&nbsp;</div></label></td>
						<td>若为临时身份证，请输入临时身份证号</td>
					</tr>
				</tbody></table>
			</div>
			<div class="b2">
                <!--<p>点击下一步表示同意<a href="#" id="AccountWt">《幼富通服务协议》</a></p>-->
			    <a href="authentStep_2.html" class="btnA">下一步</a>
			</div>
		</div>
    </div>
</div>