<html>
<title>幼富通，幼富未来 - 机构认证</title>
<head>
script type="text/javascript">
$(function(){
	$('.nav a:eq(0)').addClass('active');
});
</script>
</head>
<body>
<div class="body">
        <div class="addAdv">
           <div class="advTitle inner">
               <h1>幼教机构账户安全认证</h1>
               <p>适用于幼儿园、早教、幼教培训、厂商、<br>
                通路服务商等各类幼教企业/机构</p>
               <a href="${ufbDomain}/corp/account/auth_base.htm" class="Advbtn">立即认证</a>
           </div>
        </div> 
        <div class="inner container-step">
            <div class="listBox">
                <div class="listTitle">
                    <p></p><h3>为何幼教机构要进行账户安全认证</h3><p class="listpp"></p>
                </div>
                <ul>
                    <li class="li01"><span><img src="${staticDomain}/public/images/img_14.png" alt=""></span><h4>确认收费账户真实性</h4></li>
                    <li class="li02"><span><img src="${staticDomain}/public/images/img_15.png" alt=""></span><h4>保障资金账户安全</h4></li>
                    <li class="li03"><span><img src="${staticDomain}/public/images/img_16.png" alt=""></span><h4>增强信用等级</h4></li>
                    <li class="li04"><span><img src="${staticDomain}/public/images/img_17.png" alt=""></span><h4>支持更多金融交易服务</h4></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>