<div id="body">
        <div class="container">
			<div class="a1">机构账户安全认证</div>
			<div class="u2">
				<ul class="v1">
					<li>1 基本资料</li>
					<li>2 提交材料</li>
					<li class="v1_hover">3 银行账户</li>
					<li>4 开户完成 </li>
				</ul>
			<div class="a4 mt20 mb60">
            	<div class="b4">此处填写的对公银行账户，将设为默认的收款账户。</div>
				<div class="b3 mb15">
					<table>
						<tbody><tr>
							<td>*银行户名</td>
							<td><label class="inputText"><input type="text"></label></td>
							<td>跟组织机构代码证上的机构名称一致（基本户、一般户均可），<a href="javascript:;" id="AccountWt">对公账户填写指引</a> </td>
						</tr>
						<tr>
							<td>*开户银行</td>
							<td>
                            	<div class="selectmenu" tabindex="-1" style="z-index: 99; width: 220px; margin-right: 0px; margin-left: 0px; outline: none;">					<select class="select">
                                    <option>招商银行</option>
                                    <option>建设银行</option>
                                    <option>农业银行</option>
                                    <option>工商银行</option>
                                </select>					<div class="title">						<div class="text">招商银行</div>						<div class="ico"></div>					</div>					<ul class="list" style="width: 218px;"><li>招商银行</li><li>建设银行</li><li>农业银行</li><li>工商银行</li></ul>				</div>
                            </td>
<!--
                          <td>
                            	<div class="selectmenu" style="z-index: 1000; width: 220px; margin-right: 0px;">					
                                    <select class="select">
                                        <option>招商银行</option>
                                        <option>建设银行</option>
                                        <option>农业银行</option>
                                        <option>工商银行</option>
                                    <select>					
                                <div class="title">						
                                    <div class="text">招商银行</div>						
                                    <div class="ico"></div>					
                                </div>					
                                        <ul class="list"><li>招商银行</li>><li>建设银行</li>><li>农业银行</li>><li>工商银行</li>></ul>				
                                </div>
                            </td>
-->

							<td>须与<a href="javascript:;" class="proofFile">银行账户证明文件</a>一致</td>
						</tr>
						<tr>
							<td>地址</td>
							<td>
								<div class="selectmenu" tabindex="-1" style="z-index: 99; width: 220px; margin-right: 0px; margin-left: 0px; outline: none;">					<select class="select">
                                    <option>省份</option>
                                    <option>浙江省</option>
                                    <option>福建省</option>
                                    <option>安徽省</option>
                                </select>					<div class="title">						<div class="text">省份</div>						<div class="ico"></div>					</div>					<ul class="list" style="width: 218px;"><li>省份</li><li>浙江省</li><li>福建省</li><li>安徽省</li></ul>				</div>
							</td>
							<td>
								<div class="selectmenu" tabindex="-1" style="z-index: 99; width: 220px; margin-right: 0px; margin-left: 0px; outline: none;">					<select class="select">
                                    <option>城市</option>
                                    <option>北京市</option>
                                    <option>上海市</option>
                                </select>					<div class="title">						<div class="text">城市</div>						<div class="ico"></div>					</div>					<ul class="list" style="width: 218px;"><li>城市</li><li>北京市</li><li>上海市</li></ul>				</div>
							</td>
						</tr>
						<tr>
							<td>*支行网点</td>
							<td><label class="inputText"><input type="text"></label></td>
							<td>须与<a href="javascript:;" class="proofFile">银行账户证明文件</a>一致</td>
						</tr>
						<tr>
							<td>*银行账号</td>
							<td><label class="cardFormat" id="card1"><input type="text"><div class="num" style="top: -31px; width: 198px;">&nbsp;</div></label></td>
							<td>请务必正确填写，填错会造成取现打款失败</td>
						</tr>
                        <tr>
							<td>*重复银行账号</td>
							<td><label class="cardFormat" id="card2"><input type="text"><div class="num" style="top: -31px; width: 198px;">&nbsp;</div></label></td>
							<td><div class="formSuc"></div></td>
						</tr>
					</tbody></table>
				</div>
                <div class="b3">
				<div class="b4 b4Mag"><span class="form-title title-font">设置<label>交易密码</label></span>涉及资金交易或账户信息修改时输入，确保资金安全</div>
					<table>
						<tbody><tr>
							<td>设置交易密码</td>
							<td><label class="inputText"><input type="password"><b>6-20个大小写英文字母、符号或数字</b></label></td>
							<td>不可与登录密码相同！</td>
						</tr>
						<tr>
							<td>确认交易密码</td>
							<td><label class="inputText"><input type="password"><b>请再次输入密码</b></label></td>
							<td></td>
						</tr>
					</tbody></table>
				</div>
				<div class="b2">
                    <a href="authentStep_2.html" class="btnA mr10">上一步</a>
				    <a href="authentStep_4.html" class="btnA">下一步</a>
				</div>
			</div>
        </div>
    </div>
</div>