<!doctype html>
<html>
<body>
<div id="page">
    <div id="header">
		<div class="topNav">
			<div class="container">
				<div class="b1"><a href="#">机构版</a><a href="#" class="active">家庭版</a></div>
				<div class="b2"><!--<a href="javascript:;" class="c1" id="login">登录</a>--><span>柔软的大牛</span><a href="#"></a></div>
			</div>
		</div>
        <div class="container">
            <a href="#" class="logo"></a>
			<div class="nav">
				<a href="${staticDomain}/family/session.htm" class="active">我的账户</a>
				<a href="${staticDomain}/family/myufb.htm">幼富宝</a>
				<a href="#">缴费明细</a>
				<a href="${staticDomain}/family/helpAbout.htm">帮助中心</a>
			</div>
        </div>
    </div>
    
    <div id="body">
        <div class="container familyPayAffirm">
            <div class="advertise">
                   <h1>充值幼富宝，理财、缴费两不误！</h1>
                   <p>超活期10-15倍稳健收益；随存随取；安全保障；每月自动缴学费！</p>
                   <button type="button" class="advertise-close">&times;</button>
            </div>
            <div class="a1" style="margin: 16px 0;height: 22px">
                <h1 class="fl">确认缴费</h1>
                <div class="fr f14">
                    已选<span>$plancountchecked</span>条收费通知，总计： <span class="num-color">$totalplanmonthamt</span> 元
                </div>
            </div>
            <div class="select-account select-account-v2">
                <div class="select-account-top">
                    <h3 class="fl">选择付费账户</h3>
                    <a href="../UFB/settingCard.html" class="fr f14 hoverLine">管理银行卡</a>
                </div>
                <div class="select-account-body">
                    <ul>
                        <li class="li1">使用</li>
                        <li class="li2">
                            <div class="costpay"><label class="cost-type"><input type="radio" name="paybank" checked="checked" style="display: none;"/><i class="imitate-radio check"></i>幼富宝（理财、缴费两不误）</label><span>42250元</span>
                            <div class="payMoney showNow">支付<span class="num-color paymoney">$totalplanmonthamt元</span></div>
                            </div>
                            <div class="costpay"><label class="cost-type"><input type="radio" name="paybank" style="display: none;"/><i class="imitate-radio"></i>招商银行 尾号[5338]</label><span>储蓄卡</span><i class="middel-wire">|</i><span class="num-blue">快捷</span>
                            <div class="payMoney">支付<span class="num-color paymoney">$totalplanmonthamt元</span></div>
                            </div>
                            <div class="costpay"><label class="cost-type"><input type="radio" name="paybank" style="display: none;"/><i class="imitate-radio"></i>工商银行 尾号[5338]</label><span>储蓄卡</span><i class="middel-wire">|</i><span class="num-blue">快捷</span>
                            <div class="payMoney">支付<span class="num-color paymoney">$totalplanmonthamt元</span></div>
                            </div>
                        </li>
                        <li class="li3 li3-v2">
                             <!--<p><span class="num-color">余额不足，</span>请预先充值</p>-->
                        </li>
                    </ul>
                </div>
            </div>
			<!--
			model.addAttribute("orglist", orglist);
			model.addAttribute("planlistlistchecked", planlistlistchecked);
			model.addAttribute("plancountchecked", plancountchecked);
			model.addAttribute("totalplanmonthamt", totalplanmonthamt);
			-->
			#foreach($planlistchecked in $planlistlistchecked)
			<div class="affirm-organiz">
                <div class="affirm-organiz-top">
                    <h3>确认收费机构</h3>
                </div>
                <div class="affirm-organiz-body">
                       <div class="organiz-group">
                           <label>收费机构名称</label>
                           <p>海富幼儿园</p>
                       </div>
                       <div class="organiz-group">
                           <label>营业执照号</label>
                           <p>123456789</p>
                       </div>
                       <div class="organiz-group">
                           <label>地址</label>
                           <p>上海市浦东新区峨山路999弄11号</p>
                       </div>
                       <div class="organiz-group">
                           <label>开户银行</label>
                           <p>招商银行上海市分行世纪大道支行</p>
                       </div>
                       <div class="organiz-group">
                           <label>银行账号</label>
                           <p>2333344556678890</p>
                       </div>
                       <div class="organiz-group">
                           <label>咨询电话</label>
                           <p>021-32322323</p>
                       </div>

                       <div class="logoimg">
                           幼儿园LOGO图片
                           <img src="" alt=""/>
                       </div>
                        <div class="affirm-content">
                            <div class="grades-item-title">
                                <label>缴费明细</label>
                                <i class="reduce">+</i>
                            </div>
                            <table  style="display: none;">
                                <tr>
                                    <th width="20%">缴费交易号</th>
                                    <th width="30%">收费名称</th>
                                    <th width="18%">收费方式</th>
                                    <th width="18%">姓名</th>
                                    <th width="16%">应收金额(元)</th>
                                </tr>
								#foreach($planchecked in $planlistchecked)
                                <tr>
                                    <td>$planchecked.planid</td>
                                    <td>2015年09月 代扣收费01</td>
                                    <td><span class="tip">单笔</span></td>
                                    <td>$planchecked.studentnm</td>
                                    <td class="num-color">$planchecked.payappamount</td>
                                </tr>
								#end
                            </table>
                        </div>
                </div>
            </div>
			#end
            <div class="affirm-organiz-form">
                <form action="">
                    <div class="control-group" style="margin-top: 2em;margin-bottom: 1em;">
                        <label class="form-lbl" style="width:10em;">请输入交易密码</label>
                        <input type="password" class="tradepw" placeholder="6位数字密码" maxlength="6" style="width: 190px;"/>
                        <a href="javascript:;" class="forgetpw hoverLine">忘记密码？</a>
                    </div>
                    <div class="control-review">
                        <p>幼富通是专注为幼教机构提供金融服务的互联网平台。</p>
                        <p>中国银联为您的幼儿提供安全、稳定、便捷的缴费服务，请放心使用。</p>
                    </div>
                    <div class="control-review" style="margin-top: 50px">
                        <p>点击确认表示同意<a href="javascript:;" id="xftService">《学费通服务协议》</a>、<a href="javascript:;" id="ufbAuto">《幼富宝定时取现服务协议》</a></p>
                    </div>
                    <div class="control-review">
                        <a href="familyPaySuccess.html""javascript:;" class="btn btn-red">确 认</a>
                    </div>
                </form>
            </div><!--end of affirm-organiz-form-->
        </div><!--end of container-->
    </div><!--end of body-->
</div><!--end of page-->
<div class="footer footer-simple">
    <div class="inner clearfix">
        <div class="logo fl">
            <img src="${staticDomain}/static/familypay/images/logo_130x55.png">
        </div>
        <div class="info fl">
            <ul class="list">
                <li>微信服务号：UFUfund</li>
                <li>服务邮箱：<a href="mailto:service@ufufund.com">service@ufufund.com</a></li>
                <li>海富通产品：400-8840-099</li>
            </ul>
        </div>
        <div class="copyright fr">
            <ul class="list">
                <li>幼富通版权所有 ©2014</li>
                <li><a target="_blank" href="http://www.miitbeian.gov.cn/">沪ICP备14054347号</a></li>
            </ul>
        </div>
    </div>
</div>


<!--弹层-->
<div class="bgBox"></div>	
<!--《学费通服务协议》-->
<div class="layerpop" id="xft">	
    <b class="close"></b>
    <div class="layerTitle">《学费通服务协议》</div>
	<div id="content_1" class="content content_scroll">
               <h4>《学费通服务协议》</h4>
                <p>此处内容通过富文本编辑器进行编辑发布<br>
                    个体工商户无组织机构代码（仅支持个体工商户）<br>
                    目前仅支持中国大陆企业；<br>
                    注：个体工商类，若无组织机构代码，可以在选择项填写“无”，上传附件用营业执照代替即可。</p>
                <p>此处内容通过富文本编辑器进行编辑发布<br>
                个体工商户无组织机构代码（仅支持个体工商户）<br>
                目前仅支持中国大陆企业；<br>
                注：个体工商类，若无组织机构代码，可以在选择项填写“无”，上传附件用营业执照代替即可。</p>
                <h4>幼富宝服务协议</h4>
                <p>此处内容通过富文本编辑器进行编辑发布<br>
                个体工商户无组织机构代码（仅支持个体工商户）<br>
                目前仅支持中国大陆企业；<br>
                注：个体工商类，若无组织机构代码，可以在选择项填写“无”，上传附件用营业执照代替即可。</p>
                <p>对公账户填写（个体工商户）<br>
                若个体工商户无对公账户，可填写营业执照上法人的个人银行卡号。<br>
                温馨提示：仅限个体工商户，填写个人银行卡号时需与营业执照上法人保持一致。</p>
                <p>对公账户填写（政府类型）<br>
                若政府类型若没有对公账号，可以在“机构开户银行”、“机构银行账号”栏填写“无”。</p>
        <a href="javascript:;" class="btnKnow closebox">我知道了</a>
    </div>
</div> 

<!--《幼富宝定时取现协议》-->
<div class="layerpop" id="ufb">	
    <b class="close"></b>
    <div class="layerTitle">《幼富宝定时取现协议》</div>
	<div id="content_1" class="content content_scroll">
               <h4>《幼富宝定时取现协议》</h4>
                <p>此处内容通过富文本编辑器进行编辑发布<br>
                    个体工商户无组织机构代码（仅支持个体工商户）<br>
                    目前仅支持中国大陆企业；<br>
                    注：个体工商类，若无组织机构代码，可以在选择项填写“无”，上传附件用营业执照代替即可。</p>
                <p>此处内容通过富文本编辑器进行编辑发布<br>
                个体工商户无组织机构代码（仅支持个体工商户）<br>
                目前仅支持中国大陆企业；<br>
                注：个体工商类，若无组织机构代码，可以在选择项填写“无”，上传附件用营业执照代替即可。</p>
                <h4>幼富宝服务协议</h4>
                <p>此处内容通过富文本编辑器进行编辑发布<br>
                个体工商户无组织机构代码（仅支持个体工商户）<br>
                目前仅支持中国大陆企业；<br>
                注：个体工商类，若无组织机构代码，可以在选择项填写“无”，上传附件用营业执照代替即可。</p>
                <p>对公账户填写（个体工商户）<br>
                若个体工商户无对公账户，可填写营业执照上法人的个人银行卡号。<br>
                温馨提示：仅限个体工商户，填写个人银行卡号时需与营业执照上法人保持一致。</p>
                <p>对公账户填写（政府类型）<br>
                若政府类型若没有对公账号，可以在“机构开户银行”、“机构银行账号”栏填写“无”。</p>
        <a href="javascript:;" class="btnKnow closebox">我知道了</a>
    </div>
</div> 









<script type="text/javascript" src="${staticDomain}/static/public/js/jquery.js"></script>
<script type="text/javascript" src="${staticDomain}/static/familypay/libs/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="${staticDomain}/static/public/js/jquery.mCustomScrollbar.concat.min.js"></script> 
<script>!window.jQuery && document.write(unescape('%3Cscript src="js/minified/jquery-1.9.1.min.js"%3E%3C/script%3E'))</script>  <!--scroll美化-->
<script type="text/javascript">
    $(function(){
        /*关闭广告*/
        $(".advertise-close").on("click", function () {
            $(this).parent(".advertise").hide();
        });
        /* radio 模拟点击事件 */
        $(".li2 .costpay label").on("click",function(){
            $(this).parents(".li2").find("input[type='radio']").attr("checked",false);
            $(this).parents(".li2").find("i").removeClass("check");
            $(this).children("input[type='radio']").attr("checked",true);
            $(this).children("i").addClass("check");
            $(this).parent().find(".payMoney").addClass("showNow")
                .parent().siblings().find(".payMoney").removeClass("showNow");
//            alert("12");
        });
        /* 点击具体班级的头部（灰色条）收放事件 */
        $(".grades-item-title").on("click",function(){
            var thisReduce = $(this).children(".reduce");
            var nextTable = $(this).next("table");
            if(thisReduce.text() == "+"){
                nextTable.show();
                thisReduce.text("-");
            }
            else{
                nextTable.hide();
                thisReduce.text("+");
            }
        });
        
        /*点击弹层出现消失*/
        //        ①
       $("#xftService").click(function(){
           $(".bgBox , #xft").fadeIn();       
       });
       $("#xft .close , .btnKnow").click(function(){
           $(".bgBox , #xft").fadeOut();       
       });
//        ②
        $("#ufbAuto").click(function(){
           $(".bgBox , #ufb").fadeIn();       
       });
       $("#ufb .close , .btnKnow").click(function(){
           $(".bgBox , #ufb").fadeOut();       
       });
    })
</script>
<!--滚动条美化-->
<script>
    (function($){
        $(window).load(function(){
            $(".content_scroll").mCustomScrollbar({
                theme:"dark", //主题颜色
                scrollButtons:{
                    enable:true //是否使用上下滚动按钮
                },
                autoHideScrollbar: false, //是否自动隐藏滚动条
                scrollInertia :0,//滚动延迟
                horizontalScroll : false//水平滚动条

            });

        });

    })(jQuery);
</script>

</body>
</html>