<!DOCTYPE html>
<html lang="en">

<body>
   <div id="page">
        <div id="header">
            <div class="topNav">
                <div class="container">
                    <div class="b1"><a href="#" class="active">机构版</a><a href="#">家庭版</a></div>
                    <div class="b2"><span>柔软的大牛</span><a href="#"></a></div>
                </div>
            </div>
            <div class="container">
                <a href="#" class="logo"></a>
                <div class="nav">
                    <a href="#">我的账户</a>
				<a href="#" class="active">幼富宝</a>
				<a href="#">缴费明细</a>
				<a href="#">帮助中心</a>
                </div>
            </div>
        </div>

        <div id="body">
            <div class="container">
                <div class="u2 mt20">
                    <div class="a4 minHeight">
                       <ul class="v1">
                            <li class="v1_hover">创建账户</li>
                            <li>身份安全信息</li>
                            <li>设置支付方式</li>
                            <li>成功</li>
                        </ul>
                    <div class="b3 mt10 pt30">
                        <form class="common-form" method="post">
                            <div class="panel panelCenter">
                                <ul>
                                    <li>
                                        <span class="form-title">手机号</span>
                                        <input class="ipt-phoneNum input-text" type="text" value="" placeholder="输入11位手机号">
                                        <span class="tips-check"><i class="icon"></i>验证提示</span>
                                    </li>
                                    <li>
                                        <span class="form-title">验证码</span>
                                         <input class="ipt-phoneCode input-code" type="text" value="" placeholder="输入图形验证码">
                                        <input class="input-yz" type="button" value="验证码">
                                        <span class="tips-check"><i class="icon"></i>验证提示</span>
                                    </li>
                                    <li>
                                        <span class="form-title">手机验证码</span>
                                        <input class="ipt-phoneCode input-code" type="text" value="" placeholder="输入手机验证码">
                                        <input class="input-button" type="button" value="获取验证码">
                                        <span class="tips-check"><i class="icon"></i>验证提示</span>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div class="b2">
                        <p class="font12">点击下一步表示同意<a href="#" id="uftRegistered">《幼富通服务协议》</a></p>
                        <a href="createAccount_02.html" class="btnA">下一步</a>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
	<!--
<div class="LowFoot">
    <div class="inner">
        <div class="contentFoot">
            幼富通版权所有 ©2014 沪ICP备14054347号
        </div>
    </div>
</div> 
-->
<!--弹层-->    
<div class="bgBox" style="display: none;"></div>
<div class="layerpop" id="uft">	
    <b class="close"></b>
    <div class="layerTitle">《幼富通服务协议》</div>
	<div id="content_1" class="content content_scroll">
               <h4>《幼富通服务协议》</h4>
                <p>此处内容通过富文本编辑器进行编辑发布<br>
                    个体工商户无组织机构代码（仅支持个体工商户）<br>
                    目前仅支持中国大陆企业；<br>
                    注：个体工商类，若无组织机构代码，可以在选择项填写“无”，上传附件用营业执照代替即可。</p>
                <p>此处内容通过富文本编辑器进行编辑发布<br>
                个体工商户无组织机构代码（仅支持个体工商户）<br>
                目前仅支持中国大陆企业；<br>
                注：个体工商类，若无组织机构代码，可以在选择项填写“无”，上传附件用营业执照代替即可。</p>
                <h4>幼富宝服务协议</h4>
                <p>此处内容通过富文本编辑器进行编辑发布<br>
                个体工商户无组织机构代码（仅支持个体工商户）<br>
                目前仅支持中国大陆企业；<br>
                注：个体工商类，若无组织机构代码，可以在选择项填写“无”，上传附件用营业执照代替即可。</p>
                <p>对公账户填写（个体工商户）<br>
                若个体工商户无对公账户，可填写营业执照上法人的个人银行卡号。<br>
                温馨提示：仅限个体工商户，填写个人银行卡号时需与营业执照上法人保持一致。</p>
                <p>对公账户填写（政府类型）<br>
                若政府类型若没有对公账号，可以在“机构开户银行”、“机构银行账号”栏填写“无”。</p>
        <a href="javascript:;" class="btnKnow closebox">我知道了</a>
    </div>
</div> 
      
          
<script type="text/javascript" src="${staticDomain}/static/family/scripts/register.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="${staticDomain}/static/family/js/minified/jquery-1.9.1.min.js"%3E%3C/script%3E'))</script>  <!--scroll美化-->
<script type="text/javascript">
    $("#uftRegistered").click(function(){
    	$(".bgBox , #uft").fadeIn();       
    });
    $("#uft .close , .btnKnow").click(function(){
        $(".bgBox , #uft").fadeOut();       
    });
</script>  

<script>
    (function($){
        $(window).load(function(){
		
			$('.inputText').inputText();
			
            $(".content_scroll").mCustomScrollbar({
                theme:"dark", //主题颜色
                scrollButtons:{
                    enable:true //是否使用上下滚动按钮
                },
                autoHideScrollbar: false, //是否自动隐藏滚动条
                scrollInertia :0,//滚动延迟
                horizontalScroll : false//水平滚动条
            });
        });
		
    })(jQuery);
</script>	            
</body>

</html>