<html>
<head>
<title>幼富通,托富未来 - 收费价目表</title>
<script type="text/javascript">
$('.nav a:eq(0)').addClass('active');

//日期控件
$(".datepicker input").datepicker({
	showOn: "button",
	buttonImage: "./public/images/calendar.png",
	buttonImageOnly: true
});

//打印
$('.itemG').on('click','#print',function(){
	if($('.sideFixed').css('display') == 'block'){
		$('.page .header,.sideFixed').hide();
		$(this).text('显示全部');
		window.print();
	}else{
		$('.page .header,.sideFixed').show();
		$(this).text('打 印');
	}
})

//下拉控件
$('.select').selectMenu();

//计费周期修改
$('.itemE').on('click','.a2 .b1 .c1 .d3 .e1 a',function(){
	$(this).closest('.c1').find('.e1').hide();
	$(this).closest('.c1').find('.e2').show();
})

//计费周期保存。form标签中action提交过去不带ID的为新增项，带ID参数的为修改项。数据新增保存使用的是jquery.form 控件。
//修改保存成功 jfzq.html 返回内容 {"state":"success"}
//失败 jfzq.html 返回内容 {"state":"error"}
$('.itemE').on('click','.a2 .b1 .c1 .d3 .e2 a',function(){
	var normal = $(this).closest('.c1').find('.e1');
	var editor = $(this).closest('.c1').find('.e2');
	$(this).closest('form').ajaxSubmit(function(data){
		var json = $.parseJSON(data);
		if(json.state=='success'){
			$.alert({title:'已保存！'});
			var arrA = editor.find('span').eq(0).find('input').val().split('-');
			var arrB = editor.find('span').eq(2).find('input').val().split('-');
			normal.find('span').eq(0).text(arrA[0]+'年'+arrA[1]+'月'+arrA[2]+'日');
			normal.find('span').eq(2).text(arrB[0]+'年'+arrB[1]+'月'+arrB[2]+'日');
			editor.hide();
			normal.show();
		}else if(json.state=='error'){
			$.alert({title:'数据未保存，请重试！'});
		}
	});
})

//表格隔行变色
$('.itemF .a2 .b2:odd').css({'background':'#eaf4f8'});

//价目表修改
$('.itemF').on('click','.btn1',function(){
	$(this).closest('.b2').find('.d1').hide();
	$(this).closest('.b2').find('.d2').show();
})
//价目表删除
$('.itemF').on('click','.btn2',function(){
	var that = $(this);
	$.ajax({
		type: "GET",
		url: 'action/jmbDel.html?id='+that.attr('data-id'),
		success: function(data){
			var json = $.parseJSON(data);
			if(json.state=='success'){
				that.closest('.b2').remove();
				$('.itemF .a2 .b2:even').css({'background':'#fff'});
				$('.itemF .a2 .b2:odd').css({'background':'#eaf4f8'});
				$.alert({title:'已删除！'});
			}
		},
		error: function(XMLHttpRequest, textStatus, errorThrown) {
			$.alert({title:'网络不给力，请再试试！'});
		}
	})
})
//价目表修改，保存。form标签中action提交过去不带ID的为新增项，带ID参数的为修改项。数据新增保存使用的是jquery.form 控件。
//修改保存成功 jmb.html 返回内容 {"state":"success"}
//失败 jmb.html 返回内容 {"state":"error"}
//新增成功 jmb.html 返回内容 {"state":"success","id":"100"}  id为数据唯一标识
$('.itemF').on('click','.btnD',function(){
	var normal = $(this).closest('.b2').find('.d1');
	var editor = $(this).closest('.b2').find('.d2');
	var form = $(this).closest('form');
	$(this).closest('form').ajaxSubmit({
		success:function(data){
			var json = $.parseJSON(data);
			if(json.state=='success'){
				$.alert({title:'已保存！'});
				normal.eq(0).text(editor.eq(0).find('select').val());
				normal.eq(1).text(editor.eq(1).find('input').val());
				normal.eq(2).text(editor.eq(2).find('input').val()+'元');
				normal.eq(3).text(editor.eq(3).find('select').val());
				if(json.id){
					form.attr('action',form.attr('action')+'?id='+json.id);
					normal.find('.btn2').attr('data-id',json.id);
				}
				editor.hide();
				normal.show();
			}else if(json.state=='error'){
				$.alert({title:'数据未保存，请重试！'});
			}
		}
	});
});
//新增收费项目，加载新增模版jmbAdd.html
$('.itemF').on('click','.a3 a',function(){
	if($('.itemF .a2 .b2').length < 25){
		JH.load.add('load/jmbAdd.html','.itemF .a2');
	}else{
		$.alert({title:'价目表最多不超过25项！'});
	}
});
//"删除"    
 $(".d1 .btn2").click(function(){
    $(this).closest(".b2").hide();
 });    
</script>
</head>
<body>
<div class="body">
	<section class="loadbody">
		<div class="container">
			<div class="boxC">
				<div class="itemD">
                	<div class="a1">收费价目表</div>
                </div>
			</div>
			<div class="boxB">
				<div class="itemE">
					<div class="a1">当前计费周期</div>
					<div class="a2">
						<div class="b1">
							<div class="c1">
                            	<form action="action/jfzq.html">
								<div class="d1"><a href="javascript:;">&lt;</a>2015-2016学年<a href="javascript:;">&gt;</a></div>
								<div class="d2">
									<div class="e1">
										<span>&nbsp;</span>
									</div>
									<div class="e2">
										<span><label class="datepicker"><input type="text" value="2015-09-01" name="jfzq_begin"></label></span>
										<span>--</span>
										<span><label class="datepicker"><input type="text" value="2016-07-06" name="jfzq_end"></label></span>
									</div>
								</div>
								<div class="d3">
                                	<div class="e1">
                                        <div class="btnTwo">
                                         <a href="javascript:;" class="btn1 H35">修改</a>
                                         <a href="javascript:;" class="btn2 pa" data-id="0">保存</a>
                                         </div>
                                    </div>
                                </div>
                                </form>
							</div>
							<div class="c1">
                            	<form action="action/jfzq.html">
								<div class="d1">第一学期</div>
								<div class="d2">
									<div class="e1">
										<span>2015年09月01日</span>
										<span>--</span>
										<span>2016年01月15日</span>
									</div>
									<div class="e2">
										<span><label class="datepicker"><input type="text" value="2015-09-01" name="jfzq_begin"></label></span>
										<span>--</span>
										<span><label class="datepicker"><input type="text" value="2016-01-15" name="jfzq_end"></label></span>
									</div>
								</div>
								<div class="d3">
                                	<div class="btnTwo">
                                         <a href="javascript:;" class="btn1 H35">修改</a>
                                         <a href="javascript:;" class="btn2 pa" data-id="0">保存</a>
                                    </div>
                                </div>
                                </form>
							</div>
							<div class="c1">
                            	<form action="action/jfzq.html">
								<div class="d1">第一学期</div>
								<div class="d2">
									<div class="e1">
										<span>2015年02月01日</span>
										<span>--</span>
										<span>2016年06月15日</span>
									</div>
									<div class="e2">
										<span><label class="datepicker"><input type="text" value="2015-02-01" name="jfzq_begin"></label></span>
										<span>--</span>
										<span><label class="datepicker"><input type="text" value="2016-06-15" name="jfzq_end"></label></span>
									</div>
								</div>
								<div class="d3">
                                	<div class="btnTwo">
                                         <a href="javascript:;" class="btn1 H35">修改</a>
                                         <a href="javascript:;" class="btn2 pa" data-id="0">保存</a>
                                     </div>
                                </div>
                                </form>
							</div>
						</div>
						<div class="b2">
							<div class="c1">说明：</div>
							<div class="c2">
								学年、学期起始日期将影响账务结算周期，请仔细核对，具体收费计划发起后将无法修改计费结算周期。
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="boxB">
				<div class="itemF">
					<div class="a1">
						<div class="b1">2015学年 第一学期 价目表</div>
						<div class="b2">
							<span>首次创建日期：2015年7月23日</span>
							<span>最近修改日期：2015年7月23日</span>
						</div>
					</div>
					<div class="a2">
						<div class="b1 cl">
							<div>类别</div>
							<div>项目</div>
							<div>金额</div>
							<div>计费周期</div>
							<div>操作</div>
						</div>
						<div class="b2 cl">
							<form action="action/jmb.html?id=0">
							<div class="c1">
								<div class="d1">保育费</div>
								<div class="d2">
									<select class="select" name="jmb_lb">
										<option selected>保育费</option>
										<option>膳食费</option>
										<option>短期培训班费</option>
										<option>代收代缴费</option>
									</select>
								</div>
							</div>
							<div class="c1">
								<div class="d1">保育费</div>
								<div class="d2">
									<label class="inputText"><input type="text" value="保育费" name="jmb_xm"></label>
								</div>
							</div>
							<div class="c1">
								<div class="d1">600元</div>
								<div class="d2">
									<label class="inputText"><input type="text" value="600" name="jmb_je"></label><span>元</span>
								</div>
							</div>
							<div class="c1">
								<div class="d1">学年</div>
								<div class="d2">
									<select class="select" name="jmb_jfzq">
										<option selected>学年</option>
										<option>学期</option>
										<option>月</option>
									</select>
								</div>
							</div>
							<div class="c1">
								<div class="d1"><div class="btnTwo"><a href="javascript:;" class="btn1">修改</a><a href="javascript:;" class="btn2" data-id="0">删除</a></div></div>
								<div class="d2"><a href="javascript:;" class="btnD">保存</a></div>
							</div>
							</form>
						</div>
						<div class="b2 cl">
							<form action="action/jmb.html?id=1">
							<div class="c1">
								<div class="d1">膳食费</div>
								<div class="d2">
									<select class="select" name="jmb_lb">
										<option>保育费</option>
										<option selected>膳食费</option>
										<option>短期培训班费</option>
										<option>代收代缴费</option>
									</select>
								</div>
							</div>
							<div class="c1">
								<div class="d1">膳食费</div>
								<div class="d2">
									<label class="inputText"><input type="text" value="膳食费" name="jmb_xm"></label>
								</div>
							</div>
							<div class="c1">
								<div class="d1">350元</div>
								<div class="d2">
									<label class="inputText"><input type="text" value="350" name="jmb_je"></label><span>元</span>
								</div>
							</div>
							<div class="c1">
								<div class="d1">月</div>
								<div class="d2">
									<select class="select" name="jmb_jfzq">
										<option>学年</option>
										<option>学期</option>
										<option selected>月</option>
									</select>
								</div>
							</div>
							<div class="c1">
								<div class="d1"><div class="btnTwo"><a href="javascript:;" class="btn1">修改</a><a href="javascript:;" class="btn2" data-id="1">删除</a></div></div>
								<div class="d2"><a href="javascript:;" class="btnD">保存</a></div>
							</div>
							</form>
						</div>
						<div class="b2 cl">
							<form action="action/jmb.html?id=2">
							<div class="c1">
								<div class="d1">短期培训班费</div>
								<div class="d2">
									<select class="select">
										<option>保育费</option>
										<option>膳食费</option>
										<option selected>短期培训班费</option>
										<option>代收代缴费</option>
									</select>
								</div>
							</div>
							<div class="c1">
								<div class="d1">暑期钢琴班</div>
								<div class="d2">
									<label class="inputText"><input type="text" value="暑期钢琴班" name="jmb_xm"></label>
								</div>
							</div>
							<div class="c1">
								<div class="d1">350元</div>
								<div class="d2">
									<label class="inputText"><input type="text" value="350" name="jmb_je"></label><span>元</span>
								</div>
							</div>
							<div class="c1">
								<div class="d1">月</div>
								<div class="d2">
									<select class="select" name="jmb_jfzq">
										<option>学年</option>
										<option>学期</option>
										<option selected>月</option>
									</select>
								</div>
							</div>
							<div class="c1">
								<div class="d1"><div class="btnTwo"><a href="javascript:;" class="btn1">修改</a><a href="javascript:;" class="btn2" data-id="2">删除</a></div></div>
								<div class="d2"><a href="javascript:;" class="btnD">保存</a></div>
							</div>
							</form>
						</div>
						<div class="b2 cl">
							<form action="action/jmb.html?id=3">
							<div class="c1">
								<div class="d1">代收代缴费</div>
								<div class="d2">
									<select class="select">
										<option>保育费</option>
										<option>膳食费</option>
										<option>短期培训班费</option>
										<option selected>代收代缴费</option>
									</select>
								</div>
							</div>
							<div class="c1">
								<div class="d1">保险费</div>
								<div class="d2">
									<label class="inputText"><input type="text" value="保险费" name="jmb_xm"></label>
								</div>
							</div>
							<div class="c1">
								<div class="d1">350元</div>
								<div class="d2">
									<label class="inputText"><input type="text" value="350" name="jmb_je"></label><span>元</span>
								</div>
							</div>
							<div class="c1">
								<div class="d1">学期</div>
								<div class="d2">
									<select class="select" name="jmb_jfzq">
										<option>学年</option>
										<option selected>学期</option>
										<option>月</option>
									</select>
								</div>
							</div>
							<div class="c1">
								<div class="d1"><div class="btnTwo"><a href="javascript:;" class="btn1">修改</a><a href="javascript:;" class="btn2" data-id="3">删除</a></div></div>
								<div class="d2"><a href="javascript:;" class="btnD">保存</a></div>
							</div>
							</form>
						</div>
					</div>
					<div class="a3">
						<a href="javascript:;">+新增收费项目</a><span>新增的收费项目也会被保存到收费价目表中。价目表最多不超过25项。</span>
					</div>
				</div>
			</div>
			<div class="boxD">
				<div class="itemG">
					<a href="index.html" class="btnA" id="back">返回</a>
					<a href="javascript:;" class="btnB" id="print">打印</a>
				</div>
			</div>
		</div>
	</section>
   </div>
  </section>
 </div>
</div>
</body>
</html>