<!DOCTYPE html>
<html>
<head>
    <title>幼富通 - 帮助中心 - 联系我们</title>
</head>
<body>
    <div class="body">
        <div class="inner clearfix">
            <div class="title">
                <h2 class="title-main">帮助中心</h2>
            </div>
            <div class="side side-nav fl">
                <ul>
					<li><a href="${staticDomain}/help/helpNotice.htm">机构须知</a></li>
					<li><a href="${staticDomain}/help/helpQA.htm">常见问题</a></li>
					<li><a href="${staticDomain}/help/helpAbout.htm">关于幼富通</a></li>
					<li><a class="current" href="${staticDomain}/help/helpContact.htm">联系我们</a></li>
                </ul>
            </div>
            <div class="main fr">
                <div class="help-content content-contact clearfix">
                    <div class="qr fl"><img src="${staticDomain}/images/qr.png"><p class="tc">微信号：UFUfund</p></div>
                    <div class="contact fl">
                        <img src="${staticDomain}/images/logo_header.png" width="130">
                        <p>服务邮箱：<a href="mailto:service@ufufund.com">service@ufufund.com</a></p>
                        <p>海富通产品：400-8840-099</p>
                        <p>上海幼赋金融信息服务有限公司版权所有</p>
                        </p> ©2014沪ICP14054347号</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="${staticDomain}/js/scripts/load.js"></script>
</body>
</html>