
<!DOCTYPE html>
<html>
<head>
    <title>幼富通 - 帮助中心 - 常见问题</title>
</head>
<body>
<div class="body">
    <div class="inner clearfix">
        <div class="title">
            <h2 class="title-main">帮助中心</h2>
        </div>
        <div class="side side-nav fl">
            <ul>
				<li><a href="${staticDomain}/help/helpNotice.htm">机构须知</a></li>
                <li><a class="current" href="${staticDomain}/help/helpQA.htm">常见问题</a></li>
                <li><a href="${staticDomain}/help/helpAbout.htm">关于幼富通</a></li>
                <li><a href="${staticDomain}/help/helpContact.htm">联系我们</a></li>
            </ul>
        </div>
        <div class="main fr">
            <div class="help-content">
                <ul>
                    <li><a name="q1"></a>
                        <h3>什么是机构理财专户？</h3>
                        <div>专户理财是指由幼教机构客户为资产委托人，由专业的基金管理公司针对非公开形式接受资产委托进行资产投资管理，并由商业银行担任资产托管人。专户理财产品拥有几大特点：（1）产品策略定制，针对幼教机构资金的特性设计投资策略、选择特定的优质投资标的并进行管理运作，不易受到公开市场过多的因素影响，其费率及收益回报等条款也更有利于委托人。（2）特配专家管理，能够获得公司强大的研究团队的支持。（3）贴身服务，幼教机构委托人不仅可以获得来自投资顾问的专业咨询，并可以通过幼富通平台定期了解投资状态的细节。（4）信息透明，不仅可以获得定期信息披露报告，还可以通过幼富通平台拥有一个全方位服务的个性化理财账户，随时查询帐户收益情况、获得其他投资产品说明、市场观点和投研报告等增值服务。</div>
                    </li>
                    <li><a name="q2"></a>
                        <h3>什么是幼富宝？</h3>
                        <div>幼富宝是由幼富通平台与专业的基金管理公司针对幼教机构联合打造的余额理财增值服务，主要对接的是业绩优良的货币基金。货币型基金是一种开放式基金，资产主要投资于国债、央行票据、银行定期存单、同业存款等安全性高、收益稳定的有价证券。</div>
                    </li>
                    <li class="last"><a name="q3"></a>
                        <h3>购买幼富宝有什么好处？</h3>
                        <div>幼富宝具有随时快速申购赎回、资金快速到账、全程0费用，机构收益免税、红利自动再投产生复利收益、通常收益超过银行活期利率10-15倍等优势，能够很好地满足幼教机构闲置资金增效的需求。对资金量较大（如超过500万）的幼教企业而言，更可享受费率优惠升级，自动增加理财收益！</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="${staticDomain}/js/scripts/load.js"></script>
</body>
</html>