<div class="body">
    <div class="inner container-find">
       <div class="title clearfix">
            <h2 class="title-main fl">无效请求</h2>
        </div>
        <div class="find-panels">
            <div class="panel">
                <div class="form-error form-done">
                    <div class="title">很抱歉，您访问的页面不存在！</div>
                    <a class="btn" href="${ufbDomain}/family/index.htm">
                    	幼富通首页
                    </a>
                    <div class="tips">
                    	<p>温馨提示：</p>
						<p>如有任何疑问，可联系幼富通客服热线！</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
	var time=5;
	function GoTo(){
		
		if(time--==0){
			window.clearInterval(goToId);
			window.top.location.href="${ufbDomain}/corp/account/index.htm";
		}
	}
	var goToId=window.setInterval("GoTo()",1000);
</script>