<body >
<div style="text-align: center; padding-top: 100px; padding-bottom: 100px;">
    <h1>404-您请求的页面不存在！</h1>
    <p>很抱歉，您访问的页面不存在，<span id="time">5</span>秒后将自动跳转首页。</p>
</div>
<script type="text/javascript">
	var time=5;
	function GoTo(){
		$('#time').html(time);
		
		if(time--==0){
			$('#time').html("0");
			window.clearInterval(goToId);
			window.top.location.href="${ufbDomain}/trade/pay_index.htm";
		}
	}
	var goToId=window.setInterval("GoTo()",1000);
</script>
</body>