<div class="body">
    <div class="inner container-find">
       <div class="title clearfix">
            <h2 class="title-main fl">重复提交</h2>
        </div>
        <div class="find-panels">
            <div class="panel">
                <div class="form-error form-done">
                    <div class="title">你的申请已提交，请勿重复操作！</div>
                    <a class="btn" href="${ufbDomain}/family/uft/uft_index.htm">
                    	我的账户
                    </a>
                    <div class="tips">
                    	<p>温馨提示：</p>
						<p>你可以查询资产明细，确认交易申请是否已发起，避免重复提交。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>