<div style="text-align: center; padding-top: 180px; padding-bottom: 200px;">
    <h1 style="color:red;font-size:24px">$!{errorMsg}</h1>
    <!--
	<p>您的申请提交失败，请重新操作，如始终无法提交申请可联系幼富通客服热线！</p>
	-->
	<p style="blue;font-size:16px;">
		您的申请
		<span style="color:red;font-size:24px">
		“$!{actionName}”
        </span>
		提交失败，请重新操作，如始终无法提交申请可联系幼富通客服热线！
	</p>
	#if(${returnUrl})
    <input style="margin-top:4px" onclick="window.location.href='${ufbDomain}/${returnUrl}'" type="button" value="再试一次">
    #end
</div>
