<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <title>幼富通 - 绑定流程</title>
	<!--
    <link rel="stylesheet" href="css/reset.css">
    <link rel='stylesheet' href='css/camera.css'>
    <link rel="stylesheet" href="css/common.css">
	-->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="./libs/html5.js"></script>
    <![endif]-->
	<!--
    <script type='text/javascript' src='libs/jquery.min.js'></script>
    <style type="text/css">
        .title.clearfix{
            margin-top:0;
        }
    </style>
	-->

</head>
<body>
    <div class="body">
        <div class="inner container-find">
<!--
            <div class="find-tabs tabs-step3 clearfix">
                <a class="tab fl" href="javascript:;">1-验证身份</a>
                <a class="tab fl" href="javascript:;">2-银行卡绑定</a>
                <a class="tab fl on" href="javascript:;">3-开通结果</a>
            </div>
-->
           <div class="title clearfix" style="margin-top:0;">
                <h2 class="title-main fl">${message}</h2>
            </div>
            <div class="find-panels">
                <div class="panel">
                    <div class="form-done">
                        <div class="title" style="margin-top:0;background:transparent">交易密码错误！</div>
                        <a class="btn" href="javascript:;">返回</a>
                        <div class="tips">
                        	<p>温馨提示：</p>
							<p>你的交易申请提交失败，请确认密码后重新操作，或联系幼富通客服热线</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </style>
</body>
</html>