<div class="bgBox"></div>	
<!--《幼富宝定时取现服务协议》-->
<div class="layerpop" id="ufb">	
    <b class="close"></b>
    <div class="layerTitle">《幼富宝定时取现服务协议》</div>
	<div id="content_1" class="content content_scroll">
                <p>幼富宝定时取现服务协议（以下简称“本协议”）是上海幼赋金融信息服务有限公司（以下简称“本公司”或“幼富通”）与幼富通用户(以下简称“您”或“投资者”)就幼富宝定时取现服务相关事项所订立的有效合约。投资者通过网络页面点击确认或以其他方式选择接受本协议，即表示投资者与幼富通已达成协议并同意接受本协议的全部约定内容以及与本协议有关的各项规则及幼富通网站所包含的其他与本协议或本协议项下各项规则的条款和条件有关的各项规定。 </p>
                <p>在接受本协议之前，请您仔细阅读本协议的全部内容（特别是以粗体字标注的内容）。如果您不同意本协议的任意内容，或者无法准确理解幼富通对条款的解释，请不要进行后续操作。</p>

                <h4>第一条 释义</h4>
                <p>幼富宝定时取现服务：是指投资者开通幼富宝定时取现功能后，幼富通接受投资者委托，根据投资者设定或确认的定时取现计划，包括定时取现金额、取现时间、银行卡及分期取现计划等，定期或逐笔向幼富通合作的金融机构（包括但不限于保险公司、银行、基金公司、证券公司等，以下简称“幼富通合作金融机构”）的网上交易直销自助式前台发出普通取现指令，幼富通合作金融机构根据相应指令定期将投资者持有的相应金额的理财产品（包括但不限于保险、基金、股票、债券等，下同）赎回或兑付至投资者选定的银行账户（以下简称“指定账户”）。</p>

                <h4>第二条 特别约定</h4>
                <p>1、您授权幼富通根据定时取现计划向幼富通合作金融机构发出取现指令，将理财产品赎回或兑付款项划转至您的指定账户。您理解，根据您指定账户的不同，会有到账时间差异。此外，幼富通及合作金融机构可能会对转账进行风险审查，因此可能导致取现延迟。您理解并同意您最终收到款项的服务是由您指定账户所属银行提供的，您需向该银行请求查证。</p>
                <p>2、您理解并同意，若幼富通合作金融机构未成功将理财产品赎回或兑付款项划转至您的指定账户，幼富通不承担任何责任。</p>
                <p>3、您可以选择的支持幼富宝定时取现的银行卡，仅限于幼富通合作金融机构支持的快捷支付银行卡、非快捷支付银行卡等渠道。您理解并同意，幼富通及幼富通合作金融机构有权根据实际情况决定支持幼富宝定时取现的银行卡，具体以页面提示为准。</p>
                <p>4、您理解并同意，基于不同银行卡下所支持的幼富宝取现单笔/单日/单月的额度约定的不同，不同银行卡下您所能取现的金额将不同。幼富通有权根据实际情况决定幼富宝定时取现的额度，具体以页面提示为准。若超过该限额，幼富通资金划转将会失败。</p>
                <p>5、您理解并同意，对于幼富宝定时取现服务的开通、修改、关闭等操作，均需要同时遵守幼富通合作金融机构在其网上交易直销自助式前台的相关提示和规则，以及幼富通在网站上公布的与幼富宝定时取现服务相关的提示和规则。</p>
                <p>6、您理解并同意，幼富通只是被授权指令的执行方，除非幼富通没有根据您的指令进行操作，或者操作指令错误，否则幼富通不对因幼富宝定时取现服务产生的损失和责任负责。该等损失和责任应由您与幼富通合作金融机构协商解决。</p>
                <p>7、您理解并同意，幼富通仅向您提供计划建立与指令发送服务，您就通过幼富宝定时取现服务赎回理财产品所享有的权利和承担义务，以及资金收益计算等应以您与幼富通合作金融机构签订的相关协议约定为准，幼富通不参与您与幼富通合作金融机构之间的任何纠纷。</p>
                <p>8、您理解并同意，您需保证指定账户在资金划转全天的账户状态正常。若因您指定账户状态不正常、银行原因或网络故障、系统故障等不可抗力的原因导致幼富通无法划转成功或出现延误的，幼富通不承担任何责任，投资者须自行承担可能发生的任何风险及损失。</p>
                <p>9、您理解并同意，幼富通有权视情形（包括但不限于幼富宝对应的理财产品停售、发生较大投资风险等）单方中止/终止向您提供本协议约定的幼富宝定时取现服务。幼富通开展前述行动时将以本协议约定的方式通知，而无需另行单独通知您，也不就该等行动给您造成的损失（包括但不限于丧失投资机会而未能取得投资收益）承担责任。</p>
                <p>10、您理解并同意，您向幼富通发出的授权为幼富通根据本协议约定方式为您提供幼富宝定时取现服务的唯一指令。该指令视为您本人的指令，您应当对幼富通忠实执行上述指令产生的任何结果承担责任。您可以撤回或撤销该指令，但幼富通合作金融机构已根据您的指令完成的资金划转后果由您自行承担。</p>

                <h4>第三条 通知</h4>
                <p>关于本协议条款和其他协议、告示或其他有关您使用幼富宝服务的通知，幼富通将以电子形式或纸张形式通知您，包括但不限于依据您提供的电子邮件地址发送电子邮件的方式、依据投资者提供的联系地址寄送挂号信的方式、于本网站或合作伙伴网站上公布、或发送手机短信和电话通知等方式。您应当确保上述电子邮件地址、联系地址、手机、电话等联系方式始终处于有效使用状态；若发生变化，您应当按照幼富通网站指定的方式进行变更。上述通知一旦发送将视为有效送达。</p>

                <h4>第四条 协议修改</h4>
                <p>幼富通保留修改或增补本协议内容的权利。本协议的修改文本将公告于幼富通网站或以其他幼富通认为可行的方式公告。修改文本一旦公布则立即生效，且对生效前的用户同样适用。</p>

                <h4>第五条 风险</h4>
                <p>因发生不可抗力事件导致幼富宝定时取现服务无法正常提供，幼富通应及时通知其他协议当事人及相关方并积极采取措施予以解决，但是不承担赔偿责任。不可抗力包括但不限于战争、火灾、地震、水灾、罢工、网络故障、系统故障等不能合理预见、不可避免和不能克服的自然灾害、社会异常事件及技术风险等。</p>

                <h4>第六条 法律适用</h4>
                <p>1、因本协议引起的或与本协议有关的争议，均适用中华人民共和国法律。</p>
                <p>2、因本协议引起的或与本协议有关的争议，幼富通与用户协商解决。协商不成的，任何一方均有权提起诉讼，并以被告住所地法院为第一审管辖法院。</p>

                <h4>第七条 本协议作为《幼富宝服务协议》的有效补充，本协议未约定的内容，双方需按照《幼富宝服务协议》行相关约定。</h4>
   

        
        <a href="javascript:;" class="btnKnow closebox">我知道了</a>
    </div>
</div> 


