<div class="popup-box" id="notice_${planDetail.id}" style="display:none;">
<div class="close"></div>
    <div class="bg"></div>
    <div class="content tabs" id="print-content">
        <div class="content-body">
             <h1 class="print-title">收费通知书（预览样式）</h1>
             <h2 class="print-call">亲爱的<span>${planDetail.cname}</span><span> $!{planDetail.sname} </span>同学家长您好！</h2>
            <br>
            <div class="print-info">
              <table>
                  <tbody><tr>
                      <td width="12%">缴费交易号</td>
                      <td width="38%">$!{planDetail.id}</td>
                      <td width="10%">发起时间</td>
                      <td width="40%">$!{planDetail.plan_date}</td>
                  </tr>
                  <tr>
                      <td>收费名称</td>
                      <td>$!{planDetail.planname}</td>
                      <td>记账周期</td>
                      <td>$!{planDetail.bill_month}</td>
                  </tr>
                  <tr>
                      <td>费用类型</td>
                      <td>#if(${planDetail.type}=="01")固定周期费用 #elseif(${planDetail.type}=="02") 临时费用 #else 退费 #end</td>
                      <td>收费方式</td>
                      <td><span class="tip">#if(${planDetail.charge_type}=="01")月代扣#else单笔#end</span></td>
                  </tr>
              </tbody></table>
              </div>
              <hr>
              <div class="content-middle">
                 <div class="content-middle-left fl">
                  <div class="control-group">
                      <label class="form-lbl">标准金额</label>
                      <p class="inline-block">${planDetail.amount}元</p>
                  </div>
                  <div class="control-group">
                      <label class="form-lbl">已计折扣</label>
                      <p class="inline-block"><span style="color: #1ea939;">-${planDetail.discount}</span>元</p>
                  </div>
                  <div class="control-group">
                      <label class="form-lbl">应收金额</label>
                      <p class="inline-block"><span style="color:#cb3849;font-size: 16px">${ackamount}</span>元</p>
                  </div>
                  <div class="control-group">
                      <label class="form-lbl">每月扣款日</label>
                      <p class="inline-block">每月<span>${planDetail.payday}</span>日</p>
                  </div>
                  <div class="control-group">
                      <label class="form-lbl">确认截止日</label>
                      <p class="inline-block num-red">
                        #set($tailStr = $deadline)
                        #set($year=$tailStr.substring(0,4))
                        #set($month=$tailStr.substring(4,6))
                        $year 年 $month 月 $dead 日
                      </p>
                  </div>
                  <p>家长须知：</p>
                  <p>请及时确认缴费，将于每月固定日期自动扣款，请确保缴费账户内余额充足。以后每月收款通知书仅作为收款凭证使用，无需进行手工确认。</p>
              </div>
              <div class="content-middle-right fr">
              <h4>收费明细</h4>
              <table>
                  <tbody><tr>
                      <th>类别</th>
                      <th>项目</th>
                      <th>余额</th>
                      <th>计费单位</th>
                  </tr>
                  <tr>
                      <td>保育费</td>
                      <td>保育费</td>
                      <td>1200元</td>
                      <td>月</td>
                  </tr>
                  <tr>
                      <td>膳食费</td>
                      <td>膳食费</td>
                      <td>600元</td>
                      <td>月</td>
                  </tr>
                  <tr>
                      <td>短期培训班费</td>
                      <td>15暑期钢琴班</td>
                      <td>800元</td>
                      <td>课时</td>
                  </tr>
                  <tr>
                      <td>短期培训班费</td>
                      <td>日常美术兴趣班</td>
                      <td>300元</td>
                      <td>月</td>
                  </tr>
                  <tr>
                      <td>短期培训班费</td>
                      <td>13秋季奥数提高班</td>
                      <td>800元</td>
                      <td>学期</td>
                  </tr>
                  <tr>
                      <td>代收代缴费</td>
                      <td>保险费</td>
                      <td>15元</td>
                      <td>月</td>
                  </tr>
                  <tr>
                      <td>代收代缴费</td>
                      <td>温控费</td>
                      <td>600元</td>
                      <td>月</td>
                  </tr>
                  <tr>
                      <td>代收代缴费</td>
                      <td>服装费</td>
                      <td>600元</td>
                      <td>学期</td>
                  </tr>
                  <tr>
                      <td>代收代缴费</td>
                      <td>体检费</td>
                      <td>600元</td>
                      <td>学年</td>
                  </tr>
                  <tr>
                      <td>代收代缴费</td>
                      <td>教材费</td>
                      <td>600元</td>
                      <td>学期</td>
                  </tr>
                  <tr>
                      <td>其他</td>
                      <td>补扣</td>
                      <td>6元</td>
                      <td>月</td>
                  </tr>
                  <tr>
                      <td>其他</td>
                      <td>补扣</td>
                      <td>23元</td>
                      <td>月</td>
                  </tr>
              </tbody></table>
          </div>
          </div>
          <hr>
          #set($org = ${planDetail.orgQuery})
          <div class="content-pennlt">
              <div class="control-group">
                  <label class="form-lbl">收费机构名称</label>
                  <p class="inline-block">$!{org.orgname}</p>
              </div>
              <div class="control-group">
                  <label class="form-lbl">营业执照号</label>
                  <p class="inline-block">
                   #set($tail = ${org.license})
                   #set($start=$tail.substring(0,3))
				   #set($l_0=$tail.length() - 4)
				   #set($l_1=$tail.length())
				   #set($end=$tail.substring($l_0,$l_1))
				   $start***$end
                  </p>
              </div>
              <div class="control-group">
                  <label class="form-lbl">地址</label>
                  <p class="inline-block">$!{org.address}</p>
              </div>
              <div class="control-group">
                  <label class="form-lbl">开户银行</label>
                  <p class="inline-block">$!{org.banknm}</p>
              </div>
              <div class="control-group">
                  <label class="form-lbl">银行账号</label>
                  <p class="inline-block">
                  	#if ($org.bankacco)
					#set($tailStr=$org.bankacco)
					#set($start=$tailStr.substring(0,6))
					#set($l_0=$tailStr.length() - 4)
					#set($l_1=$tailStr.length())
					#set($end=$tailStr.substring($l_0,$l_1))
					$start************$end
					#end
                  </p>
              </div>
              <div class="control-group">
                  <label class="form-lbl">咨询电话</label>
                  <p class="inline-block">$!{org.telno}</p>
              </div>
              <div class="pennlt-right">
                  <div class="pennlt-right-img"></div>
                  <p style="text-align: center;margin-top: 10px;">识别码：<span class="num-red">$!{planDetail.code}</span></p>
              </div>
          </div>
    </div>
    <div class="content-bottom">
        <h2>请家长登录幼富通官网 www.ufufund.com确认缴费。 </h2>
        <p style="margin-top: 16px;margin-bottom: 40px;">若家庭首次使用幼富通服务：填写收费通知书所附识别码，按指引绑定收费机构后即可便捷缴费</p>
        <p>幼富通是专注为幼教机构提供金融服务的互联网平台。</p>
        <p>中国银联为您的幼儿提供安全、稳定、便捷的缴费服务，请放心使用。</p>
        <div class="weixin"></div>
    </div>
</div>
<div class="bottom-btn" style="z-index: 5;">
    <div class="btmBtn">
        <a href="javscript:;" class="btn btn-red" id="goback">返回</a>
        <a href="javscript:;" class="btn btn-red" id="printnotice">打印</a>
        <a href="javscript:;" class="btn btn-red" id="savetopc">保存到电脑</a>
    </div>
</div>
</div>
