<!DOCTYPE html>
<html>
<head>
    <title>幼富通 - 添加银行卡信息</title>
	<script src="${staticDomain}/static/family/scripts/plug.js"></script>
<script type="text/javascript">
$(function(){
	$('.inputText').inputText();
})
 //$(function(){
 //      $('#card2').cardFormat('###,###,####,####,####');//身份证
//    });
</script>
</head>
<body>
 <div class="container center">
	 <div id="header">
		<div class="topNav">
			<div class="container">
				<div class="b1"><a href="#" class="active">机构版</a><a href="#">家庭版</a></div>
				<div class="b2"><span>柔软的大牛</span><a href="${staticDomain}/family/settingAccount.htm"></a></div>
			</div>
		</div>
        <div class="container">
            <a href="#" class="logo"></a>
			<div class="nav">
				<a href="${staticDomain}/family/session.htm">我的账户</a>
				<a href="${staticDomain}/family/myufb.htm" class="active">幼富宝</a>
				<a href="#">缴费明细</a>
				<a href="${staticDomain}/family/helpAbout.htm">帮助中心</a>
			</div>
        </div>
	 </div> 
    <div class="body">
        <div class="inner clearfix">
            <div class="title clearfix">
                <h2 class="title-main fl">绑定银行卡</h2>
            </div>
            <div class="notice">
                 <i class="v2_1"></i><p>所有银行卡仅支持借记卡，需事先开通网银！<br>
通过快捷方式绑定缴费卡，通过银行卡号加手机验证码即可完成验证，幼富通将逐步支持更多银行卡。
                 </p>
            </div>
            <form id="myForm" class="common-form bgFFF" method="post" action="${staticDomain}/family/addBankCard_result.htm">
				<input id="bankno" name="bankno" type="hidden" value="$!{BankCardVo.bankno}">	
				<input id="bankprovincenm" name="bankprovincenm" type="hidden" value="$!{BankCardVo.bankprovincenm}">	
				<input id="bankcitynm" name="bankcitynm" type="hidden" value="$!{BankCardVo.bankcitynm}">	
				<input id="otherserial" name="otherserial" type="hidden" value="$!{BankCardVo.otherserial}">
				<input id="serialid" name="serialid" value="$!{serialid}" type="hidden"/>
                   <div class="panel">
                                <ul class="safeInfo">
                                    <li id="errMsg_bankAcnm"
										#if($errMsg_bankAcnm)
											class="error"
										#end
										>
                                        <span class="form-title">家长姓名</span>
                                        <input class="ipt-invnm input-text"  type="text" id="bankacnm" name="bankacnm" value="$!{ivnname}">
                                        <span class="tips-normal" style="display: none;"></span>
                                        <span class="tips-check"><i class="icon"></i>$!{errMsg_bankAcnm}</span>
                                    </li>
                                    <li id="errMsg_bankIdno"
										#if($errMsg_bankIdno)
											class="error"
										#end
										>
                                        <span class="form-title">身份证号</span>
                                        <input class="ipt-idCard input-text" type="text" id="bankidno" name="bankidno" maxlength="18" value="$!{idno}">
                                        <span class="tips-normal" style="display: none;">310109198008243410</span>
                                         <span class="tips-check"><i class="icon"></i>$!{errMsg_bankIdno}</span>
                                    </li>
                                </ul>
                                <ul class="safeInfo">
                                    <li class="anotherArea">
                                        <span class="form-title title-font">设置支付方式</span>
                                     <p>选择银行</p>
                                    </li>
									 #if($errMsg_bankNo)
                                    <li id="errMsg_bankNo" class="clearfix error" >
									#else
                                    <li id="errMsg_bankNo" class="clearfix" >
									#end
                                        <div class="input-select">
                                            <div class="bank bank-current"><img src="${staticDomain}/static/family/images/bank_${BankCardVo.bankno}.png" id="firstbankno" bankno="$!{BankCardVo.bankno}"></div>
                                            <div class="input-options">
                                                <div class="bank-list clearfix mb10">
													#foreach($card in $bankList)
                                                    <a bankno="${card.bankno}" class="bank" href="javascript:;">
														<img src="${staticDomain}/static/family/images/bank_${card.bankno}.png"></a>
													#end
                                                    <div class="banktip" #if(${hasTadeacco}!="Y") style="display:none;" #else style="display:block;" #end>
                                                        <p>其他银行<span>（可缴费，不支持幼富宝）</span><i class="down"></i></p>
                                                    </div>
                                                </div>
                                                 <div class="bank-list clearfix bgGray">
													#foreach($qcard in $qtBankList)
                                                    <a class="bank" bankno="${qcard.bankno}" href="javascript:;">
													<img src="${staticDomain}/static/family/images/bank_${qcard.bankno}.png"></a>
													#end
                                                    <div class="banktip">
                                                        <p>隐藏其他银行<i class="up"></i></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="tips-normal"></span>
                                        <span class="tips-check"><i class="icon"></i>$!{errMsg_bankNo}</span>
                                    </li>
                                </ul>
                                <ul class="safeInfo">
                                    <li class="cardNum">
                                       <span class="form-title">银行卡号</span>
                                           <div class="cardFormat" id="card2">
                                               <input class="ipt-bankCard input-text ipt-focus" id="bankacco" name="bankacco" maxlength="22"  type="text" value="$!{BankCardVo.bankacco}" >
                                           </div>
                                       <span>仅支持借记卡，<a href="">银行卡要求。
                                       <div class="trip" >
                                           <div>填写以你自己姓名开户的银行卡<br>
                                                幼富通平台快捷缴费：共支持超过25家全国及地方银行借记卡<br>
                                                充值幼富宝（理财+缴费）目前共支持9家银行，仅限借记卡，需事先开通网银<b></b>
                                            </div>
                                        </div>
                                       </a></span>
                                       <p>此卡将设为默认缴费卡</p>
                                   </li>
                                   <li class="sureAddr" #if(${BankCardVo.bankno}=="008"||${BankCardVo.bankno}=="009"||${BankCardVo.bankno}=="010") style="display:bblock;" #else style="display:none;" #end><b>请明确银行开户地点</b></li>
                                   <li class="Addr zIndex" #if(${BankCardVo.bankno}=="008"||${BankCardVo.bankno}=="009"||${BankCardVo.bankno}=="010") style="display:bblock;" #else style="display:none;" #end>
                                   <span class="form-title">地址</span>
                                   <div class="inputL">
                                      
                                       <div class="inputS provinces">省份</div>
                                       <div class="chose">
                                           <ul>
                                               <li>省份</li>
                                               <li>吉林省</li>
                                               <li>江苏省</li>
                                               <li>山东省</li>
                                               <li>江西省</li>
                                               <li>海南省</li>
                                           </ul>
                                       </div>
                                   </div>
                                   <div class="inputR">
                                       <div class="inputS city">城市</div>
                                       <div class="choseCity">
                                           <ul>
                                               <li>城市</li>
                                               <li>长春市</li>
                                               <li>吉林市</li>
                                               <li>四平市</li>
                                           </ul>
                                       </div>
                                   </div>
                                    
                                   </li>
                                    <li class="openAddr" style="display:none;">
                                   <span class="form-title">开户网点</span>
                                   <input class="ipt-text input-text inputL" type="text" id="bankadd" name="bankadd" value="$!{BankCardVo.bankadd}">
                                   <span class="tips-normal" style="display: block;">如：浦建路支行</span>
                                   <span>如果不明确开户网点，请拨打相应银行客服电话询问</span>
                                   
                                   </li>
                                    
                                </ul>
                                <ul class="safeInfo borderNone">
                                    <li id="errMsg_bankMobile">
                                        <span class="form-title">银行预留手机号码</span>
                                        <input class="ipt-phoneNum input-text" type="text" id="bankmobile" name="bankmobile" value="$!{BankCardVo.bankmobile}" maxlength="11">
									    <span class="tips-check"><i class="icon"></i>验证提示</span>
                                    </li>
                                   <li id="errMsg_msgcode">
                                        <span class="form-title">验证码</span>
                                        <input class="ipt-phoneCode input-code" type="text" id="mobileautocode" name="mobileautocode" value="$!{BankCardVo.mobileautocode}" maxlength="6">
                                        <input id="btn-addBankCardAjax" class="input-button" type="button" value="获取验证码">
                                        <span class="tips-check"><i class="icon"></i>验证提示</span>
                                    </li>
                                     <li class="anotherArea anotherTips">
                                     <p>免费开通幼富宝服务，海富通基金（海富通货币）</p>
                                     <p class="fontP">点击下一步表示同意<a href="javascript:;" id="ufbAgreement">《幼富宝服务协议》 </a><a href="javascript:;" id="hftAgreement">《海富通基金管理有限公司网上交易直销自助式前台服务协议》</a></p>
                                    </li>
                                    <li>
                                  <!--      <input class="input-button btnB" type="submit" value="返回" onclick="window.open('createAccount_04.html')"> -->
                                        <input id="btn-sub" class="input-button btnB" type="button" value="提交" > 
                                        <p class="fontP"><a href="javascript:;" id="ufbFast">《幼富宝快捷支付服务协议》</a><a href="javascript:;" id="uftName">《幼富通实名认证服务协议》</a></p>                
                                    </li>
                                </ul>
                            </div>
               </form>    
        </div>
    </div>
</div>

<!--<div class="LowFoot">
    <div class="inner">
        <div class="contentFoot">
			    幼富通版权所有 ©2014 沪ICP备14054347号
        </div>
    </div>
</div>-->

<!----------------弹层------------------------->       
<div class="bgBox"></div>	
<!--《幼富宝服务协议》-->
<div class="layerpop" id="ufb01">	
    <b class="close"></b>
    <div class="layerTitle">幼富宝服务协议</div>
	<div id="content_1" class="content content_scroll">
               <h4>幼富宝服务协议</h4>
                <p>此处内容通过富文本编辑器进行编辑发布<br>
                    个体工商户无组织机构代码（仅支持个体工商户）<br>
                    目前仅支持中国大陆企业；<br>
                    注：个体工商类，若无组织机构代码，可以在选择项填写“无”，上传附件用营业执照代替即可。</p>
                <p>此处内容通过富文本编辑器进行编辑发布<br>
                个体工商户无组织机构代码（仅支持个体工商户）<br>
                目前仅支持中国大陆企业；<br>
                注：个体工商类，若无组织机构代码，可以在选择项填写“无”，上传附件用营业执照代替即可。</p>
                <h4>幼富宝服务协议</h4>
                <p>此处内容通过富文本编辑器进行编辑发布<br>
                个体工商户无组织机构代码（仅支持个体工商户）<br>
                目前仅支持中国大陆企业；<br>
                注：个体工商类，若无组织机构代码，可以在选择项填写“无”，上传附件用营业执照代替即可。</p>
                <p>对公账户填写（个体工商户）<br>
                若个体工商户无对公账户，可填写营业执照上法人的个人银行卡号。<br>
                温馨提示：仅限个体工商户，填写个人银行卡号时需与营业执照上法人保持一致。</p>
                <p>对公账户填写（政府类型）<br>
                若政府类型若没有对公账号，可以在“机构开户银行”、“机构银行账号”栏填写“无”。</p>
        <a href="javascript:;" class="btnKnow closebox">我知道了</a>
    </div>
</div> 

<!--《海富通基金管理有限公司网上交易直销自助式前台服务协议》-->
<div class="layerpop" id="hft">	
    <b class="close"></b>
    <div class="layerTitle">海富通基金管理有限公司网上交易直销自助式前台服务协议</div>
	<div id="content_1" class="content content_scroll">
                <p>此处内容通过富文本编辑器进行编辑发布<br>
                个体工商户无组织机构代码（仅支持个体工商户）<br>
                目前仅支持中国大陆企业；<br>
                注：个体工商类，若无组织机构代码，可以在选择项填写“无”，上传附件用营业执照代替即可。</p>
                <p>对公账户填写（个体工商户）<br>
                若个体工商户无对公账户，可填写营业执照上法人的个人银行卡号。<br>
                温馨提示：仅限个体工商户，填写个人银行卡号时需与营业执照上法人保持一致。</p>
                <p>对公账户填写（政府类型）<br>
                若政府类型若没有对公账号，可以在“机构开户银行”、“机构银行账号”栏填写“无”。</p>
        <a href="javascript:;" class="btnKnow closebox">我知道了</a>
    </div>
</div>     
            
 
<!--《《幼富宝快捷支付服务协议》》-->
<div class="layerpop" id="ufb02">	
    <b class="close"></b>
    <div class="layerTitle">《幼富宝快捷支付服务协议》</div>
	<div id="content_1" class="content content_scroll">
                <p>此处内容通过富文本编辑器进行编辑发布<br>
                个体工商户无组织机构代码（仅支持个体工商户）<br>
                目前仅支持中国大陆企业；<br>
                注：个体工商类，若无组织机构代码，可以在选择项填写“无”，上传附件用营业执照代替即可。</p>

                <p>对公账户填写（个体工商户）<br>
                若个体工商户无对公账户，可填写营业执照上法人的个人银行卡号。<br>
                温馨提示：仅限个体工商户，填写个人银行卡号时需与营业执照上法人保持一致。</p>

                <p>对公账户填写（政府类型）<br>
                若政府类型若没有对公账号，可以在“机构开户银行”、“机构银行账号”栏填写“无”。</p>

        <a href="javascript:;" class="btnKnow closebox">我知道了</a>
    </div>
</div>


<!--《《幼富通实名认证服务协议》》-->
<div class="layerpop" id="uft">	
    <b class="close"></b>
    <div class="layerTitle">《幼富通实名认证服务协议》</div>
	<div id="content_1" class="content content_scroll">
                <p>此处内容通过富文本编辑器进行编辑发布<br>
                个体工商户无组织机构代码（仅支持个体工商户）<br>
                目前仅支持中国大陆企业；<br>
                注：个体工商类，若无组织机构代码，可以在选择项填写“无”，上传附件用营业执照代替即可。</p>

                <p>对公账户填写（个体工商户）<br>
                若个体工商户无对公账户，可填写营业执照上法人的个人银行卡号。<br>
                温馨提示：仅限个体工商户，填写个人银行卡号时需与营业执照上法人保持一致。</p>

                <p>对公账户填写（政府类型）<br>
                若政府类型若没有对公账号，可以在“机构开户银行”、“机构银行账号”栏填写“无”。</p>

        <a href="javascript:;" class="btnKnow closebox">我知道了</a>
    </div>
</div>   

<script src="${staticDomain}/static/family/scripts/load.js"></script>
<script src="${staticDomain}/static/family/scripts/register.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="js/minified/jquery-1.9.1.min.js"%3E%3C/script%3E'))</script>  <!--scroll美化-->
<script type="text/javascript">
    $(function(){
//        ①点击协议
       $("#ufbAgreement").click(function(){
           $(".bgBox , #ufb01").fadeIn();       
       });
       $("#ufb01 .close , .btnKnow").click(function(){
           $(".bgBox , #ufb01").fadeOut();       
       });
//        ②
        $("#hftAgreement").click(function(){
           $(".bgBox , #hft").fadeIn();       
       });
       $("#hft .close , .btnKnow").click(function(){
           $(".bgBox , #hft").fadeOut();       
       });
//        ③
        $("#ufbFast").click(function(){
           $(".bgBox , #ufb02").fadeIn();       
       });
       $("#ufb02 .close , .btnKnow").click(function(){
           $(".bgBox , #ufb02").fadeOut();       
       });
//        ④
        $("#uftName").click(function(){
           $(".bgBox , #uft").fadeIn();       
       });
       $("#uft .close , .btnKnow").click(function(){
           $(".bgBox , #uft").fadeOut();       
       });
//        点击银行hover
       $(".input-options .bank").click(function(){
            $(this).addClass("active").parents().siblings().find("a").removeClass("active");
            $(this).addClass("active").siblings().removeClass("active");
			$("#bankno").val($(this).attr("bankno"));
       });
        
//        点击叉叉关掉
        $(".center .body .notice .v2_1").click(function(){
            $(".center .body .notice").hide();
        });
    });
</script>   
<!--滚动条 -->
<script>
    (function($){
        $(window).load(function(){
            $(".content_scroll").mCustomScrollbar({
                theme:"dark", //主题颜色
                scrollButtons:{
                    enable:true //是否使用上下滚动按钮
                },
                autoHideScrollbar: false, //是否自动隐藏滚动条
                scrollInertia :0,//滚动延迟
                horizontalScroll : false//水平滚动条

            });

        });
		
	//根据银行卡判断是否需要填写开户地址信息
	var check_bankCard = function (ipt) {//验证银行卡
        var value = ipt.val();
        if (isNull(value)) {
            alert("银行卡号不能为空");
			return false;
        }
        var regex = /^\d{5,21}\d*$/;
        if (!regex.test($.trim(value))) {
             alert("银行卡格式错误"); 
			 return false;
        }
	}
	
	$(".ipt-bankCard").on("blur",function(){
	//		check_bankCard($(this));
			 
		    $.ajax({
     		type: "GET",
    		url: "../bank/cardbin_read.htm",
    		data: {
				bin: $("#bankacco").val().substring(0,6)
    		},
    		dataType: "json",
    		success: function(b) {
                if (b.errCode == "0000") {
				if(null!=b.cardbin){
					var bankno=b.cardbin.bankno;
					var banknosel=$("#bankno").val();
					if(bankno!=banknosel){
					 alert("对不起，您所填写的账号和所选银行不符");
					 return false;
					}
				}
					
                } 
        	}
        });
	
	});
$('.bank-list .bank').on('click', function(){ 
  var bankno = $(this).attr('bankno'); 
  $('.bank-current').attr('bankno', bankno); 

  if(bankno == '008' || bankno == '009' || bankno == '010'){
	$('.Addr').show();
	$('.sureAddr').show();
  }else{
	$('.sureAddr').hide();
	$('.Addr').hide();
  }
});
	// 验证码
	$("#btn-addBankCardAjax").on("click",function(){
	
		if(!check_bankAcnm($("#bankacnm"))){
			return false;
		}
		//if(!check_id($("#bankidno"))){
			//return false;
		//}
		if($("#bankacco").val()==""){
			alert("请填写银行卡号");
			return  false;
		}
		if(!check_mobile($("#bankmobile"))){
			return false;
		}
		$("#bankacco").attr("readonly","readonly");
		$("#bankmobile").attr("readonly","readonly");
		$("#bankacco").css("background-color","#ddd");
		$("#bankmobile").css("background-color","#ddd");
		$("#bankacco").unbind("blur");
		$("#bankmobile").unbind("blur");
	
		// 获取验证码按钮无效并倒计时 
		$("#btn-addBankCardAjax").attr("disabled","disabled");
		$("#btn-addBankCardAjax").addClass("off");
        $.ajax({
     		type: "GET",
    		url: "../ajaxbankcard/addBankCardAjax.ajax",
    		data: {
				bankno: $("#bankno").val(),
    			bankacnm: $("#bankacnm").val(),
				bankidno: $("#bankidno").val(),
				bankacco: $("#bankacco").val(),
				bankmobile: $("#bankmobile").val()
    		},
    		dataType: "json",
    		success: function(b) {
                if (b.errCode == "0000") {
					$("#otherserial").val(b.otherserial);
					alert("手机验证码已发送");
					
                } else {
					// 获取验证码按钮有效并取消倒计时 
            		$("#btn-addBankCardAjax").removeAttr("disabled");
            		$("#btn-addBankCardAjax").removeClass("off");
					
					$("#bankacco").removeAttr("readonly");
            		$("#bankmobile").removeAttr("readonly");
            		$("#bankacco").css("background-color","#fff");
            		$("#bankmobile").css("background-color","#fff");
            		$("#bankacco").bind("blur");
            		$("#bankmobile").bind("blur");
				
                  	var errCode = b.errCode;
					var errMsg = b.errMsg;
					//alert(errCode + ": " + errMsg);
					if(errCode=="errMsg_bankAcnm"){
						//经办人姓名
						$("#errMsg_bankAcnm").addClass("error");
						$("#errMsg_bankAcnm > .tips-check").html("<i class=icon></i>" + errMsg);
					}else if(errCode=="errMsg_bankIdno"){
						//身份证号
						$("#errMsg_bankIdno").addClass("error");
						$("#errMsg_bankIdno > .tips-check").html("<i class=icon></i>" + errMsg);
					}else if(errCode=="errMsg_bankAcco"){
						//银行卡号 
						$("#errMsg_bankAcco").addClass("error");
						$("#errMsg_bankAcco > .tips-check").html("<i class=icon></i>" + errMsg);
					}else if(errCode=="errMsg_bankMobile"){
						//银行预留手机号
						$("#errMsg_bankMobile").addClass("error");
						$("#errMsg_bankMobile > .tips-check").html("<i class=icon></i>" + errMsg);
					}else{
						$("#errMsg_msgcode").addClass("error");
						$("#errMsg_msgcode > .tips-check").html("<i class=icon></i>" + errMsg);
					}
                }
        	}
        });
	});
	 
$("#btn-sub").on("click",function(){
	var banknoval=$("#bankno").val();
	 
	if((banknoval=="008")||(banknoval=="009")||(banknoval=="010")){
	
       	var pro=$(".provinces").html();
    	var city=$(".city").html();
    	var bankadd=$("#bankadd").val();
 
		if(pro=="省份"){
		   alert("请填写省份");
		   return false;
		}else{
		   $("#bankprovincenm").val(pro);
		}
		if(city=="城市"){
			 alert("请填写城市");
			 return false;
		}else{
			$("#bankcitynm").val(city);
		}
	//	if(bankadd==""){
	//	 alert("请填写开户网点");
	//	 return false;
	//	}
	}else{
		 $("#bankprovincenm").val("");
		 $("#bankcitynm").val("");
	}
	if(!check_mobile($("#bankmobile"))){
			return false;
		}
	if(!check_phoneCode($(".ipt-phoneCode"))){
			return false;
		}
		var errLen = $("ul li.error").length;
		if(errLen>0){
			$("ul li.error:eq(0) input[type=text]").focus();
			$("ul li.error:eq(0) input[type=password]").focus();
		}else{
			$("#myForm").submit();
		}
	
})

    })(jQuery);
</script>	
</body>
</html>