<!DOCTYPE html>
<html>
<head>
<title>幼富通，托富未来 - 添加自动充值计划</title>
<script src="${staticDomain}/family/scripts/load.js"></script>
<script src="${staticDomain}/family/scripts/family-common.js"></script>
<script>
$(function(){
	$('.nav a:eq(1)').addClass('active');
	
	$("#container").removeClass("setting");

	// 点击银行卡
	$(".card-list a").on("click", function(){
		$("#frombankserialid").val($(this).attr("serialid"));
		$("#frombankno").val($(this).attr("frombankno"));
		$("#frombanktail").val($(this).attr("frombanktail"));
	});
	
	// 校验充值金额
	var check_amt=function(){
		var autoamt=$("#autoamt").val();
		if(autoamt==''){
			$("#autoamtErrMsg").addClass("error");
			$("#autoamtTips").html("充值金额不能为空！");
			return false;
		}
		autoamt = formatCurrency1(autoamt);
		if(autoamt == '0.00'){
			$("#autoamt").val('0.00');
			$("#autoamtErrMsg").addClass("error");
			$("#autoamtTips").html("请输入正确的金额，比如1000.00！");
			return false;
		}else if(autoamt<1){
			$("#autoamtErrMsg").addClass("error");
			$("#autoamtTips").html("充值金额不能小于1.00元！");
			return false;
		}
		else{
			$("#autoamtErrMsg").removeClass("error");
			$("#autoamt").val(autoamt);
		}
		return true;
	}
	
	// 校验日期
	var check_date=function(){
		var dat=$("#dat").val();
		if(dat==''){
			$("#datErrMsg").addClass("error");
			$("#datTips").html("充值日期不能为空！");
			return false;
		}
		if (dat.length > 2) {
		   $("#datErrMsg").addClass("error");
			$("#datTips").html("充值时间为2位数字");
			return false;
	    }
	    var regex2 = /^[0-9]+$/;
	    if (!regex2.test(dat)) {
	    	$("#datErrMsg").addClass("error");
			$("#datTips").html("充值时间范围为1至28日");
			return false;
	    }
	    if (dat>28 || dat<1) {
	    	$("#datErrMsg").addClass("error");
			$("#datTips").html("充值时间范围为1至28日");
			return false;
	    }
	    else{
	    	$("#datErrMsg").removeClass("error");
	    }
	    return true;
	}
	
	// 用户输入时，取消错误提示
	$("form input").on('focus', function(){
		if($(this).parent().hasClass('error')){
			$(this).parent().removeClass('error');
		}
	});
	
	// 添加响应事件
	$("#autoamt").on("blur",check_amt);
	
	// 表单提交时，验证	
	$("#submit").on("click", function(){
		if(!(check_amt()&&check_date())){
			return false;
		}
	});
});
</script>
</head>
<body>
    <div class="body">
        <div class="inner container-step">
                <div class="step-title clearfix">自动充值设置<a class="link fr hoverLine" href="${ufbDomain}/family/ufb/autotrade_index.htm">&lt;&lt;自动充值计划</a></div>
                <div class="step-tabs tabs-step1 clearfix">
                    <a class="tab fl on" href="javascript:;">自动充值</a>
                    <a class="tab fl" href="javascript:;">预览自动充值计划</a>
                    <a class="tab fl" href="javascript:;">开通结果</a>
                </div>
                <div class="step-panels">
                    <form class="common-form" action="${ufbDomain}/family/ufb/autoadd_preview.htm" method="post">
						<input id="frombankserialid" name="frombankserialid" value="${curCard.serialid}" type="hidden"/>
						#set($tailStr=$curCard.bankacco)
						#set($start=$tailStr.length() - 4)
						#set($end=$tailStr.length())
						<input id="frombankno" name="frombankno" value="${curCard.bankno}" type="hidden"/>
						<input id="frombanktail" name="frombanktail" value="$tailStr.substring($start,$end)" type="hidden"/>
                        <div class="panel">
                            <ul class="txtAuto width600">
                                <li>
                                    <span class="form-title">绑定货币基金</span>
                                    <span class="form-text">海富通货币A（代码：519505）</span>
                                </li>
                                <li class="clearfix zIndex">
                                    <span class="form-title">银行选择</span>
                                    <div class="input-select">
                                        <div class="card card-current">
                                        <img src="${staticDomain}/family/images/bank_${curCard.bankno}.png">
                                        <span class="card-lastNumber">尾号：$tailStr.substring($start,$end)</span>
                                        </div>
                                        <div class="input-options">
                                            <div class="card-list clearfix">
												#foreach($card in $cardList)
													#set($tailStr=$card.bankacco)
													#set($start=$tailStr.length() - 4)
													#set($end=$tailStr.length())
													<a class="card" href="javascript:;" 
														serialid="${card.serialid}"
														frombankno="${card.bankno}"
														frombanktail="$tailStr.substring($start,$end)"
														>
														<img src="${staticDomain}/family/images/bank_${card.bankno}.png">
														 <span class="card-lastNumber">尾号：$tailStr.substring($start,$end)</span>
                                      			  </a>
												#end
                                            </div>
                                        </div>
                                    </div>
                                    <span class="tips-normal"></span>
                                    <span class="tips-check"><i class="icon"></i>验证提示</span>
                                </li>
                                <li id="autoamtErrMsg">
                                    <span class="form-title">充值金额</span>
                                    <input class="input-text" id="autoamt" name="autoamt" maxlength="11" type="text" value="$!{AutoTradeVo.autoamt}">
                                    <span class="tips-normal">#if(${AutoTradeVo.autoamt}) #else 请填写充值金额 #end</span>元
                                    <span  class="tips-check"><i class="icon"></i><font id="autoamtTips" >验证提示</font></span>
                                </li>
                                <li id="datErrMsg">
                                    <span class="form-title">设置充值时间</span>
										每月<input class="input-short" id="dat" name="dat" maxlength="2" type="text" value="$!{AutoTradeVo.dat}">日
                                    <span class="tips-normal"></span>
                                    <span class="tips-check"><i class="icon"></i><font id="datTips">验证提示</font></span>
                                </li>
                                <li>
                                    <span class="form-title">备注</span>
                                    <input class="input-text" id="summary" name="summary"  maxlength="50" type="text" value="$!{AutoTradeVo.summary}">
                                    <span class="tips-normal">#if(${AutoTradeVo.summary}) #else 如：每月工资理财 #end</span>
                                    <span id="appamtTips"  class="tips-check"><i class="icon"></i>验证提示</span>
                                </li>
                                <li>
                                    <input id="submit" class="input-button ok" type="submit" value="下一步">
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>
</body>
</html>