<!DOCTYPE html>
<html>
<head>
<title>幼富通，托富未来 - 修改自动充值计划</title>
<script>
	$(function(){
		$('.nav a:eq(1)').addClass('active');
	});
</script>
</head>
<body>
<div class="body">
    <div class="inner container-step">
        <div class="step-title clearfix">修改自动充值计划<a class="link link-underline fr" href="${ufbDomain}/family/ufb/autotrade_index.htm">&lt;&lt;自动充值计划</a></div>
        <div class="step-tabs tabs-step3 clearfix">
            <a class="tab fl" href="javascript:;">自动充值（修改）</a>
            <a class="tab fl" href="javascript:;">预览自动充值计划（修改）</a>
            <a class="tab fl on" href="javascript:;">开通结果（修改）</a>
        </div>
        <div class="step-panels H300">
            <div class="panel">
                <div class="form-done">
                    <div class="title">你的自动充值计划已修改完成</div>
                    <div class="text">
                    </div>
                    <a class="btn" href="${ufbDomain}/family/ufb/autotrade_index.htm">查看自动充值计划</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>