<!DOCTYPE html>
<html>
<head>
<title>幼富通，托富未来 - 修改自动充值计划</title>
<script>
$(function(){
	$('.nav a:eq(1)').addClass('active');
	
	$("#container").removeClass("setting");
	
	// 用户输入时，取消错误提示
	$("form input").on('focus', function(){
		if($(this).parent().hasClass('error')){
			$(this).parent().removeClass('error');
		}
	});
		
	$("#tradepwd").on("blur",function(){
		$(".tips-normal").val("");
	})
	
	// 表单提交时，验证	
	$("#next-step").on("click", function(){
		var tradepwd=$("#tradepwd").val();
		if(tradepwd==''){
			$("#tradepwdErrMsg").addClass("error");
			$("#tradePwdTips").html("交易密码不能为空！");
			return false;
		}
	});
	
	// 上一页
	$("#btn-autoTrade-update").on("click",function(){
		$("#form-autoTrade-result").attr("action", "${ufbDomain}/family/ufb/autoupdate_index.htm");
		$("#form-autoTrade-result").submit();
	});
});
</script>
</head>
<body>
    <div class="inner container-step">
        <div class="step-title clearfix">修改自动充值计划<a class="link link-underline fr" href="${ufbDomain}/family/ufb/autotrade_index.htm">&lt;&lt;自动充值计划</a></div>
        <div class="step-tabs tabs-step2 clearfix">
            <a class="tab fl" href="javascript:;">自动充值（修改）</a>
            <a class="tab fl on" href="javascript:;">预览自动充值计划（修改）</a>
            <a class="tab fl" href="javascript:;">开通结果（修改）</a>
        </div>
        <div class="step-panels">
			<form id="form-autoTrade-result" class="common-form" action="${ufbDomain}/family/ufb/autoupdate_success.htm" method="post">
				${refreshTools.genInputHtml()}
				<input id="custno" name="custno" value="${AutoTradeVo.custno}" type="hidden"/>
				<input id="frombankserialid" name="frombankserialid" value="${AutoTradeVo.frombankserialid}" type="hidden"/>
				<input id="frombankno" name="frombankno" value="${AutoTradeVo.frombankno}" type="hidden"/>
				<input id="frombanktail" name="frombanktail" value="${AutoTradeVo.frombanktail}" type="hidden"/>
				<input id="tofundcorpno" name="tofundcorpno" value="${AutoTradeVo.tofundcorpno}" type="hidden"/>
				<input id="tofundcode" name="tofundcode" value="${AutoTradeVo.tofundcode}" type="hidden"/>
				<input id="tradetype" name="tradetype" value="${AutoTradeVo.tradetype}" type="hidden"/>
				<input id="tochargetype" name="tochargetype" value="${AutoTradeVo.tochargetype}" type="hidden"/>
				<input id="type" name="type" value="${AutoTradeVo.type}" type="hidden"/>
				<input id="cycle" name="cycle" value="${AutoTradeVo.cycle}" type="hidden"/>
				<input id="dat" name="dat" value="${AutoTradeVo.dat}" type="hidden"/>
				<input id="nextdate" name="nextdate" value="${AutoTradeVo.nextdate}" type="hidden"/>
				<input id="autoamt" name="autoamt" value="${AutoTradeVo.autoamt}" type="hidden"/>
				<input id="summary" name="summary" value="${AutoTradeVo.summary}" type="hidden"/>
				<input id="autoid" name="autoid" value="${AutoTradeVo.autoid}" type="hidden"/>
				<input id="step" name="step" value="u2" type="hidden"/>
				
				<div class="panel">
                    <ul class="txtAuto width600"> 
                        <li>
                            <span class="form-title">绑定货币基金</span>
                            <span class="form-text">海富通货币A    代码： 519505</span>
                        </li>
                        <li>
                            <span class="form-title">收费模式</span>
                            <span class="form-text">0费率</span>
                        </li>
                        <li>
                            <span class="form-title">银行选择</span>
                            <div class="input-card">
								<img src="${staticDomain}/family/images/bank_${AutoTradeVo.frombankno}.png">
									<span class="card-number">尾号：${AutoTradeVo.frombanktail}</span>
								</div>
                        </li>
                        <li>
                            <span class="form-title">充值金额</span>
                            <span class="form-text">${AutoTradeVo.autoamt}元</span>
                        </li>
                        <li>
                            <span class="form-title">充值周期</span>
                            <span class="form-text">每月${AutoTradeVo.dat}日（遇节假日顺延至下个基金工作日）</span>
                        </li>
                        <li>
                            <span class="form-title">下次充值日期</span>
                            <span class="form-text">
							$!{AutoTradeVo.nextdate}
							</span>
                        </li>
                        <li>
                            <span class="form-title" style="top: 50%;">备注</span>
                            <span class="form-text">$!{AutoTradeVo.summary}</span>
                        </li>
                        <li id="tradepwdErrMsg">
                            <span class="form-title">交易密码</span>
                            <input id="tradepwd" name="tradepwd" class="ipt-password" maxlength="20"  type="password" value="">
                            <a class="find" href="${ufbDomain}/family/setting/password_index.htm">忘记密码?</a>
							<span class="tips-normal"><!--请填写交易密码--></span>
                            <span class="tips-check"><i class="icon"></i><font  id="tradePwdTips" >验证提示</font></span>
                        </li>
                        <li>
                            <label class="tips">点击下一步表示同意<a class="link" href="javascript:;">《幼富通用户注册协议》</a></label>
                        </li>
                        <li class="clearfix">
                            <a id="btn-autoTrade-update" class="input-button fl" href="javascript:;">返回修改</a>
                            <input id="next-step" class="input-button ok fl" type="submit" value="下一步">
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>