<!DOCTYPE html>
<html>
<head>
    <title>幼富通 - 自动充值</title>
	<script>
$(function(){
	//20151005===
	$("body").on("blur", "#dat",  function() {
		check_autoDat($(this));
	});
	$("body").on("blur", "#autoamt",  function() {
		check_cash($(this));
	});
	$("#container").removeClass("setting");

	// 金额表单控制
	$("#autoamt").on("blur", function(){
		var autoamt = formatCurrency1($("#autoamt").val());
		if(autoamt == '0.00'){
			$("#autoamt").val('');
			showTips($(this), "请输入正确格式的金额，比如1000.00！");
		}else{
			$("#autoamt").val(autoamt);
		}
	});
	
	// 点击银行卡
	$(".bank").on("click", function(){
		$("#frombankserialid").val($(this).attr("serialid"));
		$("#frombankno").val($(this).attr("frombankno"));
		$("#frombanktail").val($(this).attr("frombanktail"));
		//$("#fromtradeacco").val($(this).attr("tradeacco"));
		//$("#totradeacco").val($(this).attr("tradeacco"));
	});
	
	// 表单提交时，验证	
	$("#submit").on("click", function(){
		if(!check_cash($("#autoamt"))){
			return false;
		}
		if(!check_autoDat($("#dat"))){
			return false;
		}
		$(".common-form").attr("action","../family/autoTrade_preview.htm");
	});
});
</script>
</head>
<body>
<div class="container">
    <div id="header">
		<div class="topNav">
			<div class="container">
				<div class="b1"><a href="#" class="active">机构版</a><a href="#">家庭版</a></div>
				<div class="b2"><span>柔软的大牛</span><a href="#"></a></div>
			</div>
		</div>
        <div class="container">
            <a href="#" class="logo"></a>
			<div class="nav">
				<a href="${staticDomain}/family/session.htm">我的账户</a>
				<a href="${staticDomain}/family/myufb.htm" class="active">幼富宝</a>
				<a href="#">缴费明细</a>
				<a href="${staticDomain}/family/helpAbout.htm">帮助中心</a>
			</div>
        </div>
    </div>
    <div class="body">
        <div class="inner container-step">
                <div class="step-title clearfix">自动充值设置<a class="link fr hoverLine" href="settingAutoFund.htm">&lt;&lt;自动充值计划</a></div>
                <div class="step-tabs tabs-step1 clearfix">
                    <a class="tab fl on" href="javascript:;">自动充值</a>
                    <a class="tab fl" href="javascript:;">预览自动充值计划</a>
                    <a class="tab fl" href="javascript:;">开通结果</a>
                </div>
                <div class="step-panels">
                    <form class="common-form" action="${ufbDomain}/setting/autoTrade_add.htm" method="post">
						<input id="frombankserialid" name="frombankserialid" value="${curCard.serialid}" type="hidden"/>
						#set($tailStr=$curCard.bankacco)
						#set($start=$tailStr.length() - 4)
						#set($end=$tailStr.length())
						<input id="frombankno" name="frombankno" value="${curCard.bankno}" type="hidden"/>
						<input id="frombanktail" name="frombanktail" value="$tailStr.substring($start,$end)" type="hidden"/>
                        <div class="panel">
                            <ul class="txtAuto width600">
                                <li>
                                    <span class="form-title">绑定货币基金</span>
                                    <span class="form-text">海富通货币A（代码：519505）</span>
                                </li>
                                <li class="clearfix zIndex">
                                    <span class="form-title">银行选择</span>
                                    <div class="input-select">
                                        <div class="bank bank-current"><img src="${staticDomain}/static/family/images/bank_${curCard.bankno}.png"></div>
                                        <div class="input-options">
                                            <div class="bank-list clearfix">
												#foreach($card in $cardList)
													#set($tailStr=$card.bankacco)
													#set($start=$tailStr.length() - 4)
													#set($end=$tailStr.length())
													<a class="bank" href="javascript:;" 
														serialid="${card.serialid}"
														frombankno="${card.bankno}"
														frombanktail="$tailStr.substring($start,$end)"
														>
														<img src="${staticDomain}/static/family/images/bank_${card.bankno}.png">
                                      			  </a>
												#end
                                            </div>
                                        </div>
                                    </div>
                                    <span class="tips-normal"></span>
                                    <span class="tips-check"><i class="icon"></i>验证提示</span>
                                </li>
                                <li>
                                    <span class="form-title">充值金额</span>
                                    <input class="input-text" id="autoamt" name="autoamt" maxlength="11" type="text" value="$!{AutoTradeVo.autoamt}">
                                    <span class="tips-normal">#if(${AutoTradeVo.autoamt}) #else 请填写充值金额 #end</span>元
                                    <span id="appamtTips"  class="tips-check"><i class="icon"></i>验证提示</span>
                                </li>
                                <li>
                                    <span class="form-title">设置充值时间</span>
										每月<input class="input-short" id="dat" name="dat" maxlength="2" type="text" value="$!{AutoTradeVo.dat}">日
                                    <span class="tips-normal"></span>
                                    <span class="tips-check"><i class="icon"></i>验证提示</span>
                                </li>
                                <li>
                                    <span class="form-title">备注</span>
                                    <input class="input-text" id="summary" name="summary"  maxlength="50" type="text" value="$!{AutoTradeVo.summary}">
                                    <span class="tips-normal">#if(${AutoTradeVo.summary}) #else 如：每月工资理财 #end</span>
                                    <span id="appamtTips"  class="tips-check"><i class="icon"></i>验证提示</span>
                                </li>
                                <li>
                                    <input id="submit" class="input-button ok" type="submit" value="下一步">
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
        </div>
    </div>
    <div class="footer footer-simple">
    <div class="inner clearfix">
        <div class="logo fl">
            <img src="${staticDomain}/static/family/images/logo_130x55.png">
        </div>
        <div class="info fl">
            <ul class="list">
                <li>微信服务号：UFUfund</li>
                <li>服务邮箱：<a href="mailto:service@ufufund.com">service@ufufund.com</a></li>
                <li>海富通产品：400-8840-099</li>
            </ul>
        </div>
        <div class="copyright fr">
            <ul class="list">
                <li>幼富通版权所有 ©2014</li>
                <li><a target="_blank" href="http://www.miitbeian.gov.cn/">沪ICP备14054347号</a></li>
            </ul>
        </div>
    </div>
</div>
</div>
<script src="${staticDomain}/static/family/scripts/load.js"></script>
<script src="${staticDomain}/static/family/scripts/register.js"></script>
<script src="${staticDomain}/static/family/scripts/ufuCommon.js"></script>
<script type="text/javascript">
    $(function(){
        $(".input-options .bank").click(function(){
            $(this).addClass("active").siblings().removeClass("active");
        });
    });
</script>
</body>
</html>