<!DOCTYPE html>
<html>
<head>
    <title>幼富通 - 开通结果</title>
</head>
<body>
<div class="container">
    <div id="header">
		<div class="topNav">
			<div class="container">
				<div class="b1"><a href="#" class="active">机构版</a><a href="#">家庭版</a></div>
				<div class="b2"><span>柔软的大牛</span><a href="#"></a></div>
			</div>
		</div>
        <div class="container">
            <a href="#" class="logo"></a>
			<div class="nav">
				<a href="${staticDomain}/family/session.htm">我的账户</a>
				<a href="${staticDomain}/family/myufb.htm" class="active">幼富宝</a>
				<a href="#">缴费明细</a>
				<a href="${staticDomain}/family/helpAbout.htm">帮助中心</a>
			</div>
        </div>
    </div>
    <div class="body">
        <div class="inner container-step">
            <div class="step-title clearfix">自动充值设置<a class="link hoverLine fr" href="settingAutoFund.htm">&lt;&lt;自动充值计划</a></div>
            <div class="step-tabs tabs-step3 clearfix">
                <a class="tab fl" href="javascript:;">自动充值</a>
                <a class="tab fl" href="javascript:;">预览自动充值计划</a>
                <a class="tab fl on" href="javascript:;">开通结果</a>
            </div>
            <div class="step-panels H300">
                <div class="panel">
                    <div class="form-done">
                        <div class="title">你的自动充值计划已开通</div>
                        <div class="text">
                            <table width="300">
                                <tr>
                                    <td>设置时间</td>
                                    <td>$!{today}</td>
                                </tr>
                                <tr>
                                    <td>下次充值日期</td>
                                    <td>
										 $!{nextWorkDay} 
									</td>
                                </tr>
                                <tr>
                                    <td>每期充值金额</td>
                                    <td>$!{autoamt}元</td>
                                </tr>
                                <tr>
                                    <td>备注</td>
                                    <td>$!{summary}</td>
                                </tr>
                            </table>
                        </div>
                        <a class="btn" href="${staticDomain}/family/session.htm">我的账户</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer footer-simple">
    <div class="inner clearfix">
        <div class="logo fl">
            <img src="${staticDomain}/static/family/images/logo_130x55.png">
        </div>
        <div class="info fl">
            <ul class="list">
                <li>微信服务号：UFUfund</li>
                <li>服务邮箱：<a href="mailto:service@ufufund.com">service@ufufund.com</a></li>
                <li>海富通产品：400-8840-099</li>
            </ul>
        </div>
        <div class="copyright fr">
            <ul class="list">
                <li>幼富通版权所有 ©2014</li>
                <li><a target="_blank" href="http://www.miitbeian.gov.cn/">沪ICP备14054347号</a></li>
            </ul>
        </div>
    </div>
</div>
<script src="${staticDomain}/static/family/scripts/load.js"></script>
</body>
</html>