<!DOCTYPE html>
<html>
<head>
    <title>幼富通 - 暂停自动充值计划</title>
	<script>
$(function(){
	$('.nav a:eq(1)').addClass('active');
	
	$("#container").removeClass("setting");
	// 用户输入时，取消错误提示
	$("form input").on('focus', function(){
		if($(this).parent().hasClass('error')){
			$(this).parent().removeClass('error');
		}
	});
		
	// 表单提交时，验证	
	$("#next-step").on("click", function(){
		var tradepwd=$("#tradepwd").val();
		if(tradepwd==''){
			$("#tradepwdErrMsg").addClass("error");
			$("#tradePwdTips").html("交易密码不能为空！");
			return false;
		}
		$("#tradepwd").siblings(".tips-normal").hide();
	});
	
});
</script>
</head>
<body>
    <div class="body">
        <div class="inner clearfix">
            <div class="title clearfix">
                <h2 class="title-main fl">暂停自动充值计划</h2>
            </div>
            <div class="notice">
             <i class="v2_1"></i><p>确认暂停本次自动充值计划吗？若暂停，最近一次自动充值也将暂停。
             </p>
             </div>

            <div class="form-cash">
                <form id="form-autoTrade-result" class="common-form" action="${ufbDomain}/family/ufb/autopause_result.htm" method="post" >
                  ${refreshTools.genInputHtml()}
				<input id="custno" name="custno" value="${AutoTradeVo.custno}" type="hidden"/>
				<input id="frombankserialid" name="frombankserialid" value="${AutoTradeVo.frombankserialid}" type="hidden"/>
				<input id="tofundcorpno" name="tofundcorpno" value="${AutoTradeVo.tofundcorpno}" type="hidden"/>
				<input id="tofundcode" name="tofundcode" value="${AutoTradeVo.tofundcode}" type="hidden"/>
				<input id="tradetype" name="tradetype" value="${AutoTradeVo.tradetype}" type="hidden"/>
				<input id="tochargetype" name="tochargetype" value="${AutoTradeVo.tochargetype}" type="hidden"/>
				<input id="type" name="type" value="${AutoTradeVo.type}" type="hidden"/>
				<input id="cycle" name="cycle" value="${AutoTradeVo.cycle}" type="hidden"/>
				<input id="dat" name="dat" value="${AutoTradeVo.dat}" type="hidden"/>
				<input id="nextdate" name="nextdate" value="${AutoTradeVo.nextdate}" type="hidden"/>
				<input id="autoamt" name="autoamt" value="${AutoTradeVo.autoamt}" type="hidden"/>
				<input id="summary" name="summary" value="${AutoTradeVo.summary}" type="hidden"/>
				<input id="frombankserialid" name="frombankserialid" value="${curCard.serialid}" type="hidden"/>
                #set($tailStr=$curCard.bankacco)
				#set($start=$tailStr.length() - 4)
				#set($end=$tailStr.length())
				<input id="frombankno" name="frombankno" value="${curCard.bankno}" type="hidden"/>
				<input id="frombanktail" name="frombanktail" value="$tailStr.substring($start,$end)" type="hidden"/>
				<input id="autoid" name="autoid" value="${AutoTradeVo.autoid}" type="hidden"/>
					<div class="panel">
                        <ul class="txtAuto width600">
                            <li>
                                <span class="form-title">绑定货币基金</span>
                                <span class="form-text">海富通货币A    代码： 519505</span>
                            </li>
                            <li style="height:36px;" class="zIndex">
                                <span class="form-title">银行选择</span>
                                <div class="input-card">
                                    <img src="${staticDomain}/family/images/bank_${curCard.bankno}.png">
                                    <span class="card-lastNumber">尾号：$tailStr.substring($start,$end)</span>
                                </div>
                            </li>
                            <li>
                                <span class="form-title">充值金额</span>
                                <span class="form-text">${AutoTradeVo.autoamt}元</span>
                            </li>
                            <li>
                                <span class="form-title">收费模式</span>
                                <span class="form-text">0费率</span>
                            </li>
                            <li>
                                <span class="form-title">充值周期</span>
                                <span class="form-text">每月${AutoTradeVo.dat}日（遇节假日顺延至下个基金工作日）</span>
                            </li>
                            <li>
                                <span class="form-title">下次充值日期</span>
                                <span class="form-text">$!{AutoTradeVo.nextdate}</span>
                            </li>
                            <li>
                                <span class="form-title">备注</span>
                                <span class="form-text">${AutoTradeVo.summary}</span>
                            </li>
                            <li id="tradepwdErrMsg">
                                <span class="form-title">交易密码</span>
                                <input class="ipt-password input-text" id="tradepwd" name="tradepwd" maxlength="20" type="password" value="">
                                <span class="tips-normal">请填写交易密码</span>
                                <span class="tips-check"><i class="icon"></i><font id="tradePwdTips">验证提示</font></span>
                            </li>
                            <li class="clearfix">
                                <a class="input-button fl" href="${ufbDomain}/family/ufb/autotrade_index.htm">返回列表</a>
                                <input id="next-step" class="input-button ok fl" type="submit" value="确定暂停">
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $(".center .body .notice .v2_1").click(function(){
            $(".center .body .notice").hide();
        });
        $("#tradepwd").on("focus",function(){
        	$("#tradepwd").siblings(".tips-normal").hide();
        })
        $("#tradepwd").on("blur",function(){
        	$("#tradepwd").siblings(".tips-normal").show();
        })
    });
</script>
</body>
</html>