<!DOCTYPE html>
<html>
<head>
    <title>幼富通 - 忘记密码</title>
</head>
<body>
<div class="container">
    <div id="header">
		<div class="topNav">
			<div class="container">
				<div class="b1"><a href="#" class="active">机构版</a><a href="#">家庭版</a></div>
				<div class="b2"><span>柔软的大牛</span><a href="${staticDomain}/family/settingAccount.htm"></a></div>
			</div>
		</div>
        <div class="container">
            <a href="#" class="logo"></a>
			<div class="nav">
				<a href="${staticDomain}/family/session.htm">我的账户</a>
				<a href="${staticDomain}/family/myufb.htm" class="active">幼富宝</a>
				<a href="#">缴费明细</a>
				<a href="${staticDomain}/family/helpAbout.htm">帮助中心</a>
			</div>
        </div>
    </div>
    <div class="body">
        <div class="inner container-find">
            <div class="find-tabs tabs-step3 clearfix">
                <a class="tab fl" href="javascript:;">1-验证身份</a>
                <a class="tab fl" href="javascript:;">2-设置密码</a>
                <a class="tab fl on" href="javascript:;">3-完成</a>
            </div>
            <div class="find-panels">
                <div class="panel">
                    <div class="form-done">
                        <div class="title">新密码设置成功</div>
                        <div class="tips">请牢记新密码</div>
                        <a class="btn" href="javascript:;">我的账户</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <!--    <div class="footer footer-simple">
    <div class="inner clearfix">
        <div class="logo fl">
            <img src="${staticDomain}/static/family/images/logo_130x55.png">
        </div>
        <div class="info fl">
            <ul class="list">
                <li>微信服务号：UFUfund</li>
                <li>服务邮箱：<a href="mailto:service@ufufund.com">service@ufufund.com</a></li>
                <li>海富通产品：400-8840-099</li>
            </ul>
        </div>
        <div class="copyright fr">
            <ul class="list">
                <li>幼富通版权所有 ©2014</li>
                <li><a target="_blank" href="http://www.miitbeian.gov.cn/">沪ICP备14054347号</a></li>
            </ul>
        </div>
    </div>
	</div>-->
</div>
<script src="${staticDomain}/static/family/scripts/load.js"></script>
</body>
</html>