<!DOCTYPE html>
<html>
<head>
<title>幼富通 - 资产总览 - 充值</title>
<script src="${staticDomain}/family/scripts/load.js"></script>
<script src="${staticDomain}/family/scripts/family-common.js"></script>
<script type="text/javascript">
$(function(){
    $(".body .notice .v2_1").click(function(){
        $(".body .notice").hide();
    });
    
    $(".input-options .card").click(function(){
        $(this).addClass("active").siblings().removeClass("active");
    });
 
	$('.nav a:eq(1)').addClass('active');
	// 点击银行卡
	$(".card-list a").on("click", function(){
		$("#tradeacco").val($(this).attr("tradeacco"));
	});
	
	//校验金额
	var check_amt=function(){
		var appamt=$("#appamt").val();
		if(appamt==''){
			$("#appamtErrMsg").addClass("error");
			$("#appamtTips").html("充值金额不能为空！");
			return false;
		}
		appamt=formatCurrency1(appamt);
		if( appamt== '0.00'){
			$("#appamt").val('0.00');
			$("#appamtErrMsg").addClass("error");
			$("#appamtTips").html("请输入正确的金额，比如1000.00！");
			return false;
		}else if(appamt<1){
			$("#appamtErrMsg").addClass("error");
			$("#appamtTips").html("充值金额不能小于1.00元！");
			return false;
		}else{
			$("#appamt").val(appamt);
			$("#appamtErrMsg").removeClass("error");
		}
		return true;
	}
	
	// 校验交易密码
	var check_tradepwd=function(){
		var tradepwd=$("#tradePwd").val();
		if(tradepwd==''){
			$("#tradePwdErrMsg").addClass("error");
			$("#tradeTips").html("交易密码不能为空！");
			return false;
		}
		return true;
	}
	
	// 用户输入时，取消错误提示
	$("form input").on('focus', function(){
		if($(this).parent().hasClass('error')){
			$(this).parent().removeClass('error');
		}
	});
	
	// 添加响应事件
	$("#appamt").on("blur",check_amt);
	
	// 表单提交时，验证	
	$("#submit").on("click", function(){
		if(!(check_amt()&&check_tradepwd())){
			return false;
		}
	});
	
});
</script>
</head>
<body>
 
    <div class="body">
        <div class="inner clearfix">
	      <div class="title clearfix">
	          	<h2 class="title-main fl">资产总览 | 充值</h2>
	      </div>
          <div class="notice">
                <i class="v2_1"></i>
                <p><i></i>公告：15:00前转入资金（以支付成功时间为准），第二个工作日确认份额，收益将在确认后次日发放，15:00后转入资金顺延1个工作日发放收益。双休日及国家法定假期，基金公司不进行份额确认。</p>
           </div>
            <div class="date-line">
                <div class="line-point point-left">
                    <div class="point-icon"></div>
                    <div class="point-text">
                        <div class="text-name">充值日期</div>
                        <div class="text-date">${today}</div>
                    </div>
                </div>
                <div class="line-point point-center">
                    <div class="point-icon"></div>
                    <div class="point-text">
                        <div class="text-name">计算收益</div>
                        <div class="text-date">${nextWorkDay}</div>
                    </div>
                </div>
                <div class="line-point point-right">
                    <div class="point-icon"></div>
                    <div class="point-text">
                        <div class="text-name">预计收益到账</div>
                        <div class="text-date">${profitArriveDay}</div>
                    </div>
                </div>
            </div>
            <div class="form-payInto">
                <form class="common-form" action="${ufbDomain}/family/ufb/pay_result.htm" method="post">
                ${refreshTools.genInputHtml()}    
                <input id="tradeacco" name="tradeacco" value="$!{curCard.tradeacco}" type="hidden"/>
                    <ul>
                        <li class="clearfix zIndex">
                            <span class="form-title">银行选择</span>
                            <div class="input-select">
                                <div class="card card-current">
										#set($tailStr=$curCard.bankacco)
										#set($start=$tailStr.length() - 4)
										#set($end=$tailStr.length())
                                    <img src="${staticDomain}/family/images/bank_${curCard.bankno}.png">
                                    <span class="card-lastNumber">尾号：$tailStr.substring($start,$end)</span>
                                </div>
                                <div class="input-options">
                                    <div class="card-list clearfix">
										#foreach($card in $cardList)
                                    <a class="card" href="javascript:;" 
										tradeacco="${card.tradeacco}">
										#set($tailStr=$card.bankacco)
										#set($start=$tailStr.length() - 4)
										#set($end=$tailStr.length())
										<img src="${staticDomain}/family/images/bank_${card.bankno}.png">
                                        <span class="card-lastNumber">尾号：$tailStr.substring($start,$end)</span>
                                    </a>
							    		#end
                                    </div>
                                </div>
                            </div>
                            <span class="tips-normal"></span>
                            <span class="tips-check"><i class="icon"></i>验证提示</span>
                        </li>
                        <li id="appamtErrMsg">
                            <span class="form-title">充值金额</span>
                            <input class="ipt-cash input-text" name="appamt" id="appamt"  maxlength="11" type="text" value=""><span style="margin-right: 20px;">元</span>
                            <span class="tips-normal"></span>
                            <span class="tips-check"><i class="icon"></i><font id="appamtTips">验证提示</font></span>
                        </li>
                        <li id="tradePwdErrMsg">
                            <span class="form-title">交易密码</span>
                            <input class="ipt-password1 input-text" id="tradePwd" name="tradePwd" type="password" value=""><a class="find hoverLine" href="${ufbDomain}/family/setting/password_index.htm">忘记密码?</a>
                            <span class="tips-normal"></span>
                            <span class="tips-check"><i class="icon"></i><font id="tradeTips">验证提示</font></span>
                        </li>
                        <li>
                            <input id="submit" class="input-button ok" type="submit" value="充&nbsp;值">
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>