<!DOCTYPE html>
<html>
<head>
<title>幼富通，托富未来 - 资产明细</title>
<script>
	$(function(){
		$('.nav a:eq(1)').addClass('active');
	})
</script>
</head>
<body>
    <div class="body">
        <div class="inner clearfix">
            <div class="title clearfix">
                <h2 class="title-main fl">交易详情</h2><!--<a href="javascript:;" class="e-bill fr">电子对账单</a>-->
            </div>
            <div class="bill-detail">
                <div class="clearfix">
                    <div class="detail-info fl">
                        <table width="480">
                            <tr><td width="50%"><label>流水号：</label>${TradeRequest.serialno}</td>
								<td>金额<span>
									#if(${TradeRequest.apkind}=="022")
									${TradeRequest.appamt}元
									#end
									#if(${TradeRequest.apkind}=="023")
									${TradeRequest.appvol}元
									#end
								</span></td>
							</tr>
                            <tr><td><label>交易状态：</label>
									<span class="txtLeft">
										#if(${TradeRequest.state}=="I")处理中
    									#elseif(${TradeRequest.state}=="F")失败
    									#elseif(${TradeRequest.state}=="Y")成功
    									#end
									</span></td>
								<td>类型<span>
										#if(${TradeRequest.apkind}=="022")充值
    									#elseif(${TradeRequest.apkind}=="023")普通取现
    									#end
								</span></td></tr>
                            <tr><td>&nbsp;</td><td>
									<img src="${staticDomain}/family/images/bank_${TradeRequest.bankno}.png">
										尾号：
										#set($tailStr=${TradeRequest.bankacco})
										#set($start=$tailStr.length() - 4)
										#set($end=$tailStr.length())
										$tailStr.substring($start,$end)
								</td></tr>
                        </table>
                    </div>
                    <div class="detail-process fr">
                        <div class="process-line process-fail">
                            <div class="moving-line"></div>
                            <div class="process-point point-start">
                                <div class="point-text">
								    #if(${TradeRequest.apkind}=="022")充值
    								#elseif(${TradeRequest.apkind}=="023")普通取现
    								#end
									<br>
									#set($appdate=${TradeRequest.appdate})
									$appdate.substring(0,4)-$appdate.substring(4,6)-$appdate.substring(6,8)
								</div>
                            </div>
                            <div class="process-point point-end">
                                <div class="point-text">基金公司到账<br>
								#set($workday=${TradeRequest.workday})
									$workday.substring(0,4)-$workday.substring(4,6)-$workday.substring(6,8)
								</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail-btn clearfix">
                    <a href="#" onclick="window.history.go(-1);" class="btn fl">返回</a>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>