<!DOCTYPE html>
<html>
<head>
<title>幼富通 - 取现中心</title>
</head>
<body>
<div class="body">
    <div class="inner clearfix">
        <div class="title clearfix">
            <h2 class="title-main fl">个人账户取现</h2>
        </div>
        <div class="notice">公告：15:00前转入资金（以支付成功时间为准），第二个工作日确认份额，收益将在确认后次日发放，15:00后转入资金顺延1个工作日发放收益。双休日及国家法定假期，基金公司不进行份额确认。</div>
        <div id="date-line-redeem" class="date-line">
            <div class="line-point point-left">
                <div class="point-icon"></div>
                <div class="point-text">
                    <div class="text-name">取现日期</div>
                    <div class="text-date">${today}</div>
                </div>
            </div>
            <div class="line-point point-right">
                <div class="point-icon"></div>
                <div class="point-text">
                    <div class="text-name">到账日期</div>
                    <div class="text-date">${nextWorkDay}</div>
                </div>
            </div>
        </div>
		<div id="date-line-realredeem" class="date-line" style="display:none">
			<div class="line-point point-left">
                <div class="point-icon"></div>
                <div class="point-text">
                    <div class="text-name">取现日期</div>
                    <div class="text-date">${today}</div>
                </div>
            </div>
            <div class="line-point point-right">
                <div class="point-icon"></div>
                <div class="point-text">
                    <div class="text-name">到账日期</div>
                    <div class="text-date">${today}</div>
                </div>
            </div>
		</div>
        <div class="form-cash">
            <form class="common-form" action="${ufbDomain}/trade/cash_result.htm" method="post">
				${refreshTools.genInputHtml()}
				<input id="tradeacco" name="tradeacco" value="${card.tradeacco}" type="hidden"/>
				<input id="cardAvailable" name="cardAvailable" value="${card.available}" type="hidden"/>
				<input id="cardRealAvailable" name="cardRealAvailable" value="${card.realavailable}" type="hidden"/>
				<input id="apkind" name="apkind" value="${card.apkind}" type="hidden"/>
				<ul>
                    <li>
                        <span class="form-title">总资产</span>
                        <div class="mark">${totalDisplay}元</div>
                        <i id="total" style="display:none">${total}</i>
                    </li>
                    <li class="clearfix">
                        <span class="form-title">银行选择</span>
                        <div class="input-select">
                            <div class="card card-current">
								#set($tailStr=$card.bankacco)
								#set($start=$tailStr.length() - 4)
								#set($end=$tailStr.length())
                                <img src="${staticDomain}/images/bank_${card.bankno}.png">
                                <span class="card-lastNumber">尾号：$tailStr.substring($start,$end)</span>
                            </div>
                            <div class="input-options">
                                <div class="card-list clearfix">
									#foreach($c in $cardList)
                                    <a class="card card-select" href="javascript:;"
										cardTradeacco="${c.tradeacco}" cardAvailable="${c.available}" cardRealAvailable="${c.realavailable}">
										#set($tailStr=$c.bankacco)
										#set($start=$tailStr.length() - 4)
										#set($end=$tailStr.length())
										<img src="${staticDomain}/images/bank_${c.bankno}.png">
                                        <span class="card-lastNumber">尾号：$tailStr.substring($start,$end)</span>
                                    </a>
									#end
                                </div>
                            </div>
                        </div>
                        <span class="tips-normal"></span>
                        <span class="tips-check"><i class="icon"></i>验证提示</span>
                    </li>
					<li>
                        <span class="form-title">可用金额</span>
                        <div id="mark" class="mark">
							<font id="cardAvailableDisplay" >${cardAvailableDisplay}</font>元
						</div>
						<div id="realmark" class="mark" style="display:none">
							<font id="cardRealAvailableDisplay" >${cardRealAvailableDisplay}</font>元
						</div>
                    </li>
					<li>
                        <span class="form-title">取现方式</span>
						<div class="takentype">
							<!--
							<label id="takenback" class="lbl-takenback on">&nbsp;</label>
							<label id="realtakenback" class="lbl-realtakenback">&nbsp;</label>
							-->
							<input type="radio" name="apkindchk" value="023" checked/>普通取现
							<input type="radio" name="apkindchk" value="024"/>快速取现
                        </div>                        
                    </li>
                    <li>
                        <span class="form-title">取现金额</span>
                        <input id="appvol" name="appvol" class="ipt-cash input-text" maxlength="11" type="text" value="">元
                        <span class="tips-normal"></span>
                        <span id="appvolTips" class="tips-check"><i class="icon"></i>验证提示</span>
                    </li>
                    <li>
                        <span class="form-title">交易密码</span>
                        <input id="tradePwd" name="tradePwd" class="input-text" maxlength="20" type="password" value=""><a class="find" href="${staticDomain}/setting/settingPassword.htm">忘记密码?</a>
                        <span class="tips-normal"></span>
                        <span id="tradePwdTips" class="tips-check"><i class="icon"></i>验证提示</span>
                    </li>
                    <li>
                        <input id="submit" class="input-button ok" type="submit" value="取&nbsp;现">
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
<script src="${staticDomain}/js/scripts/load.js"></script>
<script src="${staticDomain}/js/scripts/register.js"></script>
<script src="${staticDomain}/js/ufuCommon.js"></script>
<script type="text/javascript">
	$(function(){
	
		// 覆盖register.js验证
		var check_pwd1 = function (ipt) {
			var value = ipt.val();
            if (value == "") {
            	showTips(ipt, "密码不能为空");
				return false;
            }
            var regex1 = /\s+/;
            if (regex1.test(value)) {
                showTips(ipt, "密码中不允许有空格");
				return false;
            }
			
			showTips(ipt, 0);
			return true;
		}
		
		// 增加安全中心验证
		$(".ipt-cash").on("blur", function() {
			var apkind = $("input[type=radio]:checked").val();
			if(apkind == "023"){
    			if($("#appvol").val() - $("#cardAvailable").val() > 0){
    				showTips($("#appvol"), "取现金额大于本卡可取金额！");
    				return false;
    			}
			}else if(apkind == "024"){
				if($("#appvol").val() - $("#cardRealAvailable").val() > 0){
					showTips($("#appvol"), "快取取现金额大于本卡可取金额！");
					return false;
				}
			}else{
			
			}
        });
		
		$("#tradePwd").on("blur", function() {
			check_pwd1($("#tradePwd"));
        });
		
		// 金额表单控制
		$("#appvol").on("blur", function(){
			var appvol = formatCurrency1($("#appvol").val());
			if(appvol == '0.00'){
				$("#appvol").val('');
				showTips($(this), "请输入正确格式的金额，比如1000.00！");
				//$("#appvolTips").html('请输入正确格式的金额，比如1000.00！');
				//$("#appvolTips").show();
			}else{
				$("#appvol").val(appvol);
			}
		});
		
		// 点击银行卡
		$(".card.card-select").on("click", function(){
			$("#tradeacco").val($(this).attr("cardTradeacco"));
			$("#cardAvailable").val($(this).attr("cardAvailable"));
			$("#cardAvailableDisplay").html(formatCurrency2($(this).attr("cardAvailable")));
			$("#cardRealAvailable").val($(this).attr("cardRealAvailable"));
			$("#cardRealAvailableDisplay").html(formatCurrency2($(this).attr("cardRealAvailable")));
		});
		
		// 表单提交时，验证	
		$("#submit").on("click", function(){
			if(!check_cash($("#appvol"))){
				return false;
			}
			if(!check_pwd1($("#tradePwd"))){
				return false;
			}
			var apkind = $("input[type=radio]:checked").val();
			if(apkind == "023"){
    			if($("#appvol").val() - $("#cardAvailable").val() > 0){
    				showTips($("#appvol"), "取现金额大于本卡可取金额！");
    				return false;
    			}
			}else if(apkind == "024"){
				if($("#appvol").val() - $("#cardRealAvailable").val() > 0){
					showTips($("#appvol"), "快取取现金额大于本卡可取金额！");
					return false;
				}
			}else{
			
			}
			
			$("#apkind").val($("input[type=radio]:checked").val());
		});
		
		$("input[type=radio]").on("click", function(){
			var apkind = $("input[type=radio]:checked").val();
			if(apkind == "023"){
				//$(".notice").html("公告：15:00前转入资金（以支付成功时间为准），第二个工作日确认份额，收益将在确认后次日发放，15:00后转入资金顺延1个工作日发放收益。双休日及国家法定假期，基金公司不进行份额确认。");
				$("#date-line-redeem").show();
				$("#date-line-realredeem").hide();
				$("#mark").show();
				$("#realmark").hide();
				
			}else if(apkind == "024"){
				//$(".notice").html("公告：实时到账。");
				$("#date-line-redeem").hide();
				$("#date-line-realredeem").show();
				$("#realmark").show();
				$("#mark").hide();
			}else{
			
			}
			
		});
	});
</script>
</body>
</html>