<!DOCTYPE html>
<html>
<head>
<!--
<title>幼富通 - 开户流程</title>
-->
<script>
$(function(){

	// 页面初始化
	// 隐藏TIPS
	$("form input[type=text]").each(function () {
        var _this = $(this);
		if(_this.val()!="") {
            _this.siblings(".tips-normal").hide();
        }
    });
	
	#if($errMsg_msgcode)
		// 提交按钮有效
	#elseif($errMsg)
		// 提交按钮有效
	#else
		// 提交按钮无效
		$("#btn-addBankCardChk").attr("disabled","disabled");
	#end

	#if(${hftTradeAccoListSize}!=0)
		$("#bankAcnm").attr("readonly","readonly");
		$("#bankIdno").attr("readonly","readonly");
		
		$("#bankAcnm").css("background-color","#ddd");
		$("#bankIdno").css("background-color","#ddd");
		
		$("#bankAcnm").unbind("blur");
		$("#bankIdno").unbind("blur");
	#end

	// 上一页
	$("#btn-addBankCard").on("click",function(){
		//check #register-org #mobileno
		$("#form-addBankCardAuth").attr("action", "../bankcard/addBankCard.htm");
		$("#form-addBankCardAuth").submit();
	});
	
	// 验证码
	$("#btn-addBankCardAuth").on("click",function(){
	
		if(!check_bankAcnm($("#bankAcnm"))){
			return false;
		}
		if(!check_id($("#bankIdno"))){
			return false;
		}
		
		var errLen = $("ul li.error").not("#errMsg_msgcode").length;
		if(errLen>0){
			$("ul li.error:eq(0) input[type=text]").focus();
			$("ul li.error:eq(0) input[type=password]").focus();
			return false;
		}else{
			// 
		}
		
		$("#bankAcco").attr("readonly","readonly");
		$("#bankMobile").attr("readonly","readonly");
		$("#bankAcco").css("background-color","#ddd");
		$("#bankMobile").css("background-color","#ddd");
		$("#bankAcco").unbind("blur");
		$("#bankMobile").unbind("blur");
		
		$(".panel ul li").removeClass("error").removeClass("ok");
		
		// 获取验证码按钮无效并倒计时 
		$("#btn-addBankCardAuth").attr("disabled","disabled");
		$("#btn-addBankCardAuth").addClass("off");
					
        $.ajax({
     		type: "GET",
    		url: "../ajaxbankcard/addBankCardAuth.ajax",
    		data: {
				bankNo: $("#bankNo").val(),
    			bankAcnm: $("#bankAcnm").val(),
				bankIdno: $("#bankIdno").val(),
				bankAcco: $("#bankAcco").val(),
				bankMobile: $("#bankMobile").val()
    		},
    		dataType: "json",
    		success: function(b) {
                if (b.errCode == "0000") {
					$("#otherserial").val(b.otherserial);
					// 提交按钮有效 
					$("#btn-addBankCardChk").removeAttr("disabled");
					$("#btn-addBankCardChk").removeClass("off");
					alert("手机验证码已发送");
					
                } else {
					// 获取验证码按钮有效并取消倒计时 
            		$("#btn-addBankCardAuth").removeAttr("disabled");
            		$("#btn-addBankCardAuth").removeClass("off");
					
					$("#bankAcco").removeAttr("readonly");
            		$("#bankMobile").removeAttr("readonly");
            		$("#bankAcco").css("background-color","#fff");
            		$("#bankMobile").css("background-color","#fff");
            		$("#bankAcco").bind("blur");
            		$("#bankMobile").bind("blur");
				
                  	var errCode = b.errCode;
					var errMsg = b.errMsg;
					//alert(errCode + ": " + errMsg);
					if(errCode=="errMsg_bankAcnm"){
						//经办人姓名
						$("#errMsg_bankAcnm").addClass("error");
						$("#errMsg_bankAcnm > .tips-check").html("<i class=icon></i>" + errMsg);
					}else if(errCode=="errMsg_bankIdno"){
						//身份证号
						$("#errMsg_bankIdno").addClass("error");
						$("#errMsg_bankIdno > .tips-check").html("<i class=icon></i>" + errMsg);
					}else if(errCode=="errMsg_bankAcco"){
						//银行卡号 
						$("#errMsg_bankAcco").addClass("error");
						$("#errMsg_bankAcco > .tips-check").html("<i class=icon></i>" + errMsg);
					}else if(errCode=="errMsg_bankMobile"){
						//银行预留手机号
						$("#errMsg_bankMobile").addClass("error");
						$("#errMsg_bankMobile > .tips-check").html("<i class=icon></i>" + errMsg);
					}else{
						$("#errMsg_msgcode").addClass("error");
						$("#errMsg_msgcode > .tips-check").html("<i class=icon></i>" + errMsg);
					}
                	//showPhoneError(b.errMsg)
                    //showPhoneError("该手机号已存在，<a href='/passport/login_input.do'>登录</a>")
                }
        	}
        });
	});
	
	$("#btn-addBankCardChk").on("click",function(){
		if(!check_bankAcnm($("#bankAcnm"))){
			return false;
		}
		if(!check_id($("#bankIdno"))){
			return false;
		}
		if(!check_bankCard($("#bankAcco"))){
			return false;
		}
		if(!check_mobile($("#bankMobile"))){
			return false;
		}
		if(!check_phoneCode($("#msgcode"))){
			return false;
		}
		
		//check #register-org #mobileno
		var errLen = $("ul li.error").length;
		if(errLen>0){
			$("ul li.error:eq(0) input[type=text]").focus();
			$("ul li.error:eq(0) input[type=password]").focus();
		}else{
			$("#form-addBankCardAuth").attr("action", "../bankcard/addBankCardChk.htm");
			$("#form-addBankCardAuth").submit();
		}
	});
});
</script>
</head>
<body>

<div class="container">
    <div class="header">
        <div class="inner clearfix rel">
            <div class="logo"><a href="javascript:;">幼教金融，一站通</a></div>
			<div class="nav"><a 
				href="${staticDomain}/home/index.htm">首页</a>|<a class="current" 
				href="${staticDomain}/cust/session.htm">资产总览</a>|<a 
				href="${staticDomain}/setting/settingAccount.htm">账户管理</a>|<a 
				href="${staticDomain}/help/helpNotice.htm">帮助中心</a><span class="member" 
				href="javascript:;"><i class="trans icon"></i>#if ($CustinfoVo.invnm)
                	    $!{CustinfoVo.invnm}
                	#else
                	    #set($tailStr=$CustinfoVo.mobileno)
						#set($start=$tailStr.substring(0,3))
						#set($end=$tailStr.substring(7,11))
						$start****$end
                	#end<a 
				href="${staticDomain}/cust/logout.htm" class="trans out">安全退出</a></span>
			</div>
        </div>
    </div>
    <div class="body">
        <div class="inner container-find">
            <div class="find-tabs tabs-step2 clearfix">
                <a class="tab fl" href="javascript:;">1-验证身份</a>
                <a class="tab fl on" href="javascript:;">2-银行卡绑定</a>
                <a class="tab fl" href="javascript:;">3-开户结果</a>
            </div>
            <div class="find-panels">
            	<div class="tips tips-float">
                	<p>提示信息：</p>
                    <p><span class="mark">所有银行卡仅支持借记卡，需事先开通网银</span><br>
					快捷银行开户，是通过银行卡号加手机验证码即可开户<br>
					非快捷银行开户，需跳往银行网银开户<br>
                    <span class="mark">企业网银开户即将上线</span></p>
                </div>
                <form id="form-addBankCardAuth" class="common-form"  method="post" action="${staticDomain}/bankcard/addBankCardAuth.htm">
				<input id="custNo" name="custNo" type="hidden" value="$!{BankCardVo.custNo}">
				<input id="bankNo" name="bankNo" type="hidden" value="$!{BankCardVo.bankNo}">	
				<input id="tradePwd" name="tradePwd" type="hidden" value="$!{BankCardVo.tradePwd}">
				<input id="tradePwd2" name="tradePwd2" type="hidden" value="$!{BankCardVo.tradePwd2}">
				<input id="organization" name="organization" type="hidden" value="$!{BankCardVo.organization}">
				<input id="business" name="business" type="hidden" value="$!{BankCardVo.business}">
				<input id="invtp" name="invtp" type="hidden" value="$!{BankCardVo.invtp}">
				<input id="level" name="level" type="hidden" value="$!{BankCardVo.level}">
				<input id="openaccount" name="openaccount" type="hidden" value="$!{BankCardVo.openaccount}">
				<input id="otherserial" name="otherserial" type="hidden" value="$!{BankCardVo.otherserial}">
                    <div class="panel">
                        <ul>
							#if($errMsg)
							<li id="errMsg" class="error">
                                <span class="tips-check"><i class="icon"></i>$!{errMsg}</span>
                            </li>
                            #end
							
                            #if($errMsg_bankNo)
								<li id="errMsg_bankNo" class="ok clearfix error">
							#else
								<li id="errMsg_bankNo" class="ok clearfix">
                            #end
                                <span class="form-title">银行选择</span>
								<!--
								<div class="input-select">
                                    <div class="bank bank-current"><img src="${staticDomain}/images/bank_01.png"></div>
                                    <div class="input-options">
                                        <div class="bank-list clearfix">
                                            <a id="001" class="bank" href="javascript:;"><img src="${staticDomain}/images/bank_01.png"></a>
                                            <a id="002" class="bank" href="javascript:;"><img src="${staticDomain}/images/bank_02.png"></a>
                                            <a id="003" class="bank" href="javascript:;"><img src="${staticDomain}/images/bank_03.png"></a>
                                            <a id="004" class="bank active" href="javascript:;"><i class="icon"></i><img src="${staticDomain}/images/bank_04.png" ></a>
                                            <a id="005" class="bank" href="javascript:;"><img src="${staticDomain}/images/bank_05.png"></a>
                                            <a id="006" class="bank" href="javascript:;"><img src="${staticDomain}/images/bank_06.png"></a>
                                            <a id="007" class="bank" href="javascript:;"><img src="${staticDomain}/images/bank_07.png"></a>
                                            <a id="008" class="bank" href="javascript:;"><img src="${staticDomain}/images/bank_08.png"></a>
                                            <a id="009" class="bank" href="javascript:;"><img src="${staticDomain}/images/bank_09.png"></a>
                                            <a id="010" class="bank" href="javascript:;"><img src="${staticDomain}/images/bank_10.png"></a>
                                        </div>
                                    </div>
                                </div>
								-->
								<div class="input-select">
                                    <div class="bank bank-current">
                                        <img src="${staticDomain}/images/bank_${BankCardVo.bankNo}.png">
                                    </div>
                                    <div class="input-options">
                                        <div class="bank-list clearfix">
        									#foreach($bank in $bankList)
											<a bankno="${bank.bankno}" class="bank" href="javascript:;"><img src="${staticDomain}/images/bank_${bank.bankno}.png"></a>
        									#end
                                        </div>
                                    </div>
                                </div>
                                <span class="tips-normal"></span>
								<span class="tips-check"><i class="icon"></i>$!{errMsg_bankNo}</span>
                            </li>
                            <li id="errMsg_bankAcnm"
                            #if($errMsg_bankAcnm)
                            class="error"
                            #end
                            >
                                <span class="form-title">经办人姓名</span>
								<input id="bankAcnm" name="bankAcnm" class="ipt-bankAcnm input-text" maxlength="28" type="text" value="$!{BankCardVo.bankAcnm}">
                                <span class="tips-normal">经办人姓名</span>
								<span class="tips-check"><i class="icon"></i>$!{errMsg_bankAcnm}</span>
                            </li>
                            <li id="errMsg_bankIdno"
                            #if($errMsg_bankIdno)
                            class="error"
                            #end
                            >
                                <span class="form-title">身份证号</span>
                                <input id="bankIdno" name="bankIdno" class="ipt-idCard input-text" maxlength="18"  type="text" value="$!{BankCardVo.bankIdno}">
                                <span class="tips-normal">身份证号</span>
                                <span class="tips-check"><i class="icon"></i>$!{errMsg_bankIdno}</span>
                            </li>
                            <li id="errMsg_bankAcco"
                            #if($errMsg_bankAcco)
                            class="error"
                            #end
                            >
                                <span class="form-title">银行卡号</span>
                                <input id="bankAcco" name="bankAcco" class="ipt-bankCard input-text" maxlength="21" type="text" value="$!{BankCardVo.bankAcco}">
                                <span class="tips-normal">银行卡号</span>
                                <span class="tips-check"><i class="icon"></i>$!{errMsg_bankAcco}</span>
                            </li>
                            <li id="errMsg_bankMobile"
                            #if($errMsg_bankMobile)
                            class="error"
                            #end
                            >
                                <span class="form-title">银行预留手机号</span>
                                <input id="bankMobile" name="bankMobile" class="ipt-phoneNum input-text" maxlength="11" type="text" value="$!{BankCardVo.bankMobile}">
                                <span class="tips-normal">银行预留手机号</span>
                                <span class="tips-check"><i class="icon"></i>$!{errMsg_bankMobile}</span>
                            </li>
                            <li id="errMsg_msgcode"
                            #if($errMsg_msgcode)
                            class="error"
                            #end
                            >
                                <span class="form-title">手机验证码</span>
								<input style="width:95px" id="msgcode" name="msgcode" class="ipt-phoneCode input-text" maxlength="6" type="text" value="$!{BankCardVo.msgcode}">
                                <span class="tips-normal">6位验证码</span>
                                <input id="btn-addBankCardAuth" class="input-button" type="button" value="获取验证码">
                                <span class="tips-check"><i class="icon"></i>$!{errMsg_msgcode}</span>
                            </li>
                            <li>
								#if(${hftTradeAccoListSize}==0)
								<input id="btn-addBankCard" class="input-button" type="button" value="上一步">
								#end
                                <input id="btn-addBankCardChk" class="input-button 
									 #if($errMsg_msgcode)
										ok
									 #elseif($errMsg)
										ok
									 #else
										off
									 #end
									" type="button" value="提&nbsp;交">
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer footer-all">
        <div class="inner clearfix">
            <div class="qa fl">
                <h2 class="title">常见问题</h2>
                <ul class="list">
                    <li><a href="helpQA.html#q1">什么是机构理财专户？</a></li>
                    <li><a href="helpQA.html#q2">什么是幼富宝？</a></li>
                    <li><a href="helpQA.html#q3">购买幼富宝有什么好处？</a></li>
                </ul>
            </div>
            <div class="notice fl">
                <h2 class="title">理财机构须知</h2>
                <ul class="list">
                    <li><a href="helpNotice.html#n1">幼教机构如何注册幼富通？</a></li>
                    <li><a href="helpNotice.html#n2">如何购买幼富通的机构理财产品？</a></li>
                    <li><a href="helpNotice.html#n3">机构理财的交易安全有什么保障？</a></li>
                    <li><a href="helpNotice.html#n4">如何联系我们？</a></li>
                </ul>
            </div>
            <div class="about fl">
                <h2 class="title">关于幼富通</h2>
                <ul class="list">
                    <li>微信服务号：UFUfund</li>
                    <li>服务邮箱：<a href="mailto:service@ufufund.com">service@ufufund.com</a></li>
                    <li>海富通产品：400-8840-099</li>
                </ul>
            </div>
            <div class="copyright fr">
                <h2 class="title"><img src="../images/logo_78x26.png"></h2>
                <ul class="list">
                    <li>幼富通版权所有 &copy;2014</li>
                    <li><a target="_blank" href="http://www.miitbeian.gov.cn/">沪ICP备14054347号</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer footer-simple">
        <div class="inner clearfix">
            <div class="logo fl">
                <img src="../images/logo_130x55.png">
            </div>
            <div class="info fl">
                <ul class="list">
                    <li>微信服务号：UFUfund</li>
                    <li>服务邮箱：<a href="mailto:service@ufufund.com">service@ufufund.com</a></li>
                    <li>海富通产品：400-8840-099</li>
                </ul>
            </div>
            <div class="copyright fr">
                <ul class="list">
                    <li>幼富通版权所有 &copy;2014</li>
                    <li><a target="_blank" href="http://www.miitbeian.gov.cn/">沪ICP备14054347号</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>
<script src="${staticDomain}/js/scripts/load.js"></script>
<script src="${staticDomain}/js/scripts/register.js"></script>
</body>
</html>