<!DOCTYPE html>
<html>
<head>
<!--
<title>幼富通 - 开户流程</title>
-->
<script>
$(function(){

	// 页面初始化
	// 隐藏TIPS
	$("form input[type=text]").each(function () {
        var _this = $(this);
		if(_this.val()!="") {
            _this.siblings(".tips-normal").hide();
        }
    });
	
	#if($errMsg_msgcode)
		// 提交按钮有效
	#elseif($errMsg)
		// 提交按钮有效
	#else
		// 提交按钮无效
		$("#btn-addBankCardChk").attr("disabled","disabled");
	#end

	// 上一页
	$("#btn-addBankCard").on("click",function(){
		//check #register-org #mobileno
		$("#form-addBankCardAuth").attr("action", "../bankcard/addBankCard.htm");
		$("#form-addBankCardAuth").submit();
	});
	
	// 验证码
	$("#btn-addBankCardAuth").on("click",function(){
	
		var errLen = $("ul li.error").not("#errMsg_msgcode").length;
		if(errLen>0){
			$("ul li.error:eq(0) input[type=text]").focus();
			$("ul li.error:eq(0) input[type=password]").focus();
			return false;
		}else{
			
		}
		
		$(".panel ul li").removeClass("error").removeClass("ok");
		
		// 获取验证码按钮无效并倒计时 
		$("#btn-addBankCardAuth").attr("disabled","disabled");
		$("#btn-addBankCardAuth").addClass("off");
					
        $.ajax({
     		type: "GET",
    		url: "../ajaxbankcard/addBankCardAuth.htm",
    		data: {
				bankNo: $("#bankNo").val(),
    			bankAcnm: $("#bankAcnm").val(),
				bankIdno: $("#bankIdno").val(),
				bankAcco: $("#bankAcco").val(),
				bankMobile: $("#bankMobile").val()
    		},
    		dataType: "json",
    		success: function(b) {
                if (b.errCode == "0000") {
					$("#otherserial").val(b.otherserial);
					// 提交按钮有效 
					$("#btn-addBankCardChk").removeAttr("disabled");
					$("#btn-addBankCardChk").removeClass("off");
					alert("手机验证码已发送");
                } else {
					// 获取验证码按钮有效并取消倒计时 
            		$("#btn-addBankCardAuth").removeAttr("disabled");
            		$("#btn-addBankCardAuth").removeClass("off");
				
                  	var errCode = b.errCode;
					var errMsg = b.errMsg;
					//alert(errCode + ": " + errMsg);
					if(errCode=="银行开户户名"){
						//经办人姓名
						$("#errMsg_bankAcnm").addClass("error");
						$("#errMsg_bankAcnm > .tips-check").html("<i class=icon></i>" + errMsg);
					}else
					if(errCode=="银行证件号码"){
						//身份证号
						$("#errMsg_bankIdno").addClass("error");
						$("#errMsg_bankIdno > .tips-check").html("<i class=icon></i>" + errMsg);
					}else
					if(errCode=="银行卡号"){
						$("#errMsg_bankAcco").addClass("error");
						$("#errMsg_bankAcco > .tips-check").html("<i class=icon></i>" + errMsg);
					}else
					if(errCode=="银行开户手机号"){
						//银行预留手机号
						$("#errMsg_bankMobile").addClass("error");
						$("#errMsg_bankMobile > .tips-check").html("<i class=icon></i>" + errMsg);
					}else{
						$("#errMsg_msgcode").addClass("error");
						$("#errMsg_msgcode > .tips-check").html("<i class=icon></i>" + errMsg);
					}
                	//showPhoneError(b.errMsg)
                    //showPhoneError("该手机号已存在，<a href='/passport/login_input.do'>登录</a>")
                }
        	}
        });
	});
	
	$("#btn-addBankCardChk").on("click",function(){
		//check #register-org #mobileno
		var errLen = $("ul li.error").length;
		if(errLen>0){
			$("ul li.error:eq(0) input[type=text]").focus();
			$("ul li.error:eq(0) input[type=password]").focus();
		}else{
			$("#form-addBankCardAuth").attr("action", "../bankcard/addBankCardChk.htm");
		$("#form-addBankCardAuth").submit();
		}
	});
	
	$("#btn-logout").on("click",function(){
		$("#form-addBankCardAuth").attr("action", "../cust/logout.htm");
		$("#form-addBankCardAuth").submit();
	});
	
});
</script>
</head>
<body>

<div class="container">
    <div class="header">
        <div class="inner clearfix rel">
            <div class="logo"><a href="javascript:;">幼教金融，一站通</a></div>
            <div class="nav"><a id="btn-logout"
				href="javascript:;">登出</a>|<a 
				href="${staticDomain}/cust/register.htm">注册</a>|<a class="member" 
				href="javascript:;">我的幼富通</a>|<a class="last" 
				href="javascript:;">帮助</a></div>
        </div>
    </div>
    <div class="body">
        <div class="inner container-find">
            <div class="find-tabs tabs-step2 clearfix">
                <a class="tab fl" href="javascript:;">1-验证身份</a>
                <a class="tab fl on" href="javascript:;">2-银行卡绑定</a>
                <a class="tab fl" href="javascript:;">3-开户结果</a>
            </div>
            <div class="find-panels">
            	<div class="tips tips-float">
                	<p>提示信息：</p>
                    <p><span class="mark">所有银行卡仅支持借记卡，需事先开通网银</span><br>
					快捷银行开户，是通过银行卡号加手机验证码即可开户<br>
					非快捷银行开户，需跳往银行网银开户<br>
                    <span class="mark">企业网银开户即将上线</span></p>
                </div>
                <form id="form-addBankCardAuth" class="common-form"  method="post" action="${staticDomain}/bankcard/addBankCardAuth.htm">
				<input id="custNo" name="custNo" type="hidden" value="$!{BankCardVo.custNo}">
				<input id="organization" name="organization" type="hidden" value="$!{BankCardVo.organization}">
				<input id="business" name="business" type="hidden" value="$!{BankCardVo.business}">
				<input id="otherserial" name="otherserial" type="hidden" value="$!{BankCardVo.otherserial}">
				<input id="bankNo" name="bankNo" type="hidden" value="$!{BankCardVo.bankNo}">	
				<input id="tradePwd" name="tradePwd" type="hidden" value="$!{BankCardVo.tradePwd}">
				<input id="tradePwd2" name="tradePwd2" type="hidden" value="$!{BankCardVo.tradePwd2}">
                    <div class="panel">
                        <ul>
							#if($errMsg)
							<li id="errMsg" class="error">
                                <span class="tips-check"><i class="icon"></i>$!{errMsg}</span>
                            </li>
                            #end
                            <li class="ok clearfix">
                                <span class="form-title">银行选择</span>
								<div class="input-select">
                                    <div class="bank bank-current"><img src="${staticDomain}/images/bank_01.png"></div>
                                    <div class="input-options">
                                        <div class="bank-list clearfix">
                                            <a class="bank" href="javascript:;"><img src="${staticDomain}/images/bank_01.png"></a>
                                            <a class="bank" href="javascript:;"><img src="${staticDomain}/images/bank_02.png"></a>
                                            <a class="bank" href="javascript:;"><img src="${staticDomain}/images/bank_03.png"></a>
                                            <a class="bank active" href="javascript:;"><i class="icon"></i><img src="${staticDomain}/images/bank_04.png"></a>
                                            <a class="bank" href="javascript:;"><img src="${staticDomain}/images/bank_05.png"></a>
                                            <a class="bank" href="javascript:;"><img src="${staticDomain}/images/bank_06.png"></a>
                                            <a class="bank" href="javascript:;"><img src="${staticDomain}/images/bank_07.png"></a>
                                            <a class="bank" href="javascript:;"><img src="${staticDomain}/images/bank_08.png"></a>
                                            <a class="bank" href="javascript:;"><img src="${staticDomain}/images/bank_09.png"></a>
                                            <a class="bank" href="javascript:;"><img src="${staticDomain}/images/bank_10.png"></a>
                                        </div>
                                    </div>
                                </div>
                                <span class="tips-normal"></span>
								<span class="tips-check"><i class="icon"></i>$!{errMsg_organization}</span>
                            </li>
                            <li id="errMsg_bankAcnm"
                            #if($errMsg_bankAcnm)
                            class="error"
                            #end
                            >
                                <span class="form-title">经办人姓名</span>
								<input id="bankAcnm" name="bankAcnm" class="ipt-bankAcnm input-text" type="text" value="$!{BankCardVo.bankAcnm}">
                                <span class="tips-normal">经办人姓名</span>
								<span class="tips-check"><i class="icon"></i>$!{errMsg_bankAcnm}</span>
                            </li>
                            <li id="errMsg_bankIdno"
                            #if($errMsg_bankIdno)
                            class="error"
                            #end
                            >
                                <span class="form-title">身份证号</span>
                                <input id="bankIdno" name="bankIdno" class="ipt-idCard input-text" type="text" value="$!{BankCardVo.bankIdno}">
                                <span class="tips-normal">身份证号</span>
                                <span class="tips-check"><i class="icon"></i>$!{errMsg_bankIdno}</span>
                            </li>
                            <li id="errMsg_bankAcco"
                            #if($errMsg_bankAcco)
                            class="error"
                            #end
                            >
                                <span class="form-title">银行卡号</span>
                                <input id="bankAcco" name="bankAcco" class="ipt-bankCard input-text" type="text" value="$!{BankCardVo.bankAcco}">
                                <span class="tips-normal">银行卡号</span>
                                <span class="tips-check"><i class="icon"></i>$!{errMsg_bankAcco}</span>
                            </li>
                            <li id="errMsg_bankMobile"
                            #if($errMsg_bankMobile)
                            class="error"
                            #end
                            >
                                <span class="form-title">银行预留手机号</span>
                                <input id="bankMobile" name="bankMobile" class="ipt-phoneNum input-text" type="text" value="$!{BankCardVo.bankMobile}">
                                <span class="tips-normal">银行预留手机号</span>
                                <span class="tips-check"><i class="icon"></i>$!{errMsg_bankMobile}</span>
                            </li>
                            <li id="errMsg_msgcode"
                            #if($errMsg_msgcode)
                            class="error"
                            #end
                            >
                                <span class="form-title">手机验证码</span>
								<input style="width:95px" id="msgcode" name="msgcode" class="ipt-phoneCode input-text" type="text" value="$!{BankCardVo.msgcode}">
                                <span class="tips-normal">6位验证码</span>
                                <input id="btn-addBankCardAuth" class="input-button" type="button" value="获取验证码">
                                <span class="tips-check"><i class="icon"></i>$!{errMsg_msgcode}</span>
                            </li>
                            <li>
								<input id="btn-addBankCard" class="input-button" type="button" value="上一步">
                                <input id="btn-addBankCardChk" class="input-button 
									 #if($errMsg_msgcode)
										ok
									 #elseif($errMsg)
										ok
									 #else
										off
									 #end
									" type="button" value="提&nbsp;交">
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="inner clearfix">
            <div class="notice fl">
                <h2 class="title">理财机构须知</h2>
                <ul class="list">
                    <li><a href="javascript:;">幼教机构如何注册幼富通？</a></li>
                    <li><a href="javascript:;">如何购买幼富通的机构理财产品？</a></li>
                    <li><a href="javascript:;">机构理财的交易安全有什么保障？</a></li>
                    <li><a href="javascript:;">如何联系我们？</a></li>
                </ul>
            </div>
            <div class="qa fl">
                <h2 class="title">常见问题</h2>
                <ul class="list">
                    <li><a href="javascript:;">什么是机构理财专户？</a></li>
                    <li><a href="javascript:;">什么是幼富宝？</a></li>
                    <li><a href="javascript:;">购买幼富宝有什么好处？</a></li>
                </ul>
            </div>
            <div class="about fl">
                <h2 class="title"><a href="about.html">关于幼富通&nbsp;<span>|</span></a></h2>
                <div class="info">
                    <p>微信服务号：UFUfund</p>
                    <p>服务邮箱：<a href="mailto:service@ufufund.com">service@ufufund.com</a></p>
                    <p>海富通产品：400-8840-099</p>
                </div>
                <div class="copyright">
                    <p>上海泛投信息科技有限公司版权所有 ©2015</p>
                    <p><a target="_blank" href="http://www.miitbeian.gov.cn/">沪ICP备14054347号</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${staticDomain}/js/scripts/load.js"></script>
<script src="${staticDomain}/js/scripts/register.js"></script>
</body>
</html>