<!DOCTYPE html>
<html>
<head>
<title>幼富通 - 开户流程</title>

</head>
<body>
<div class="container">
	
    <div class="body">
        <div class="inner container-find">
            <div class="find-tabs tabs-step3 clearfix">
                <a class="tab fl" href="javascript:;">1-验证身份</a>
                <a class="tab fl" href="javascript:;">2-银行卡绑定</a>
                <a class="tab fl on" href="javascript:;">3-开户结果</a>
            </div>
            <div class="find-panels">
                <div class="panel">
                    <div class="form-done">
                        <div class="title">恭喜开户成功</div>
                        <a class="btn" href="${staticDomain}/trade/pay_index.htm">立即赚钱</a>
                        <div class="tips">
                        	<p>温馨提示：</p>
							<p>可以使用本账户进行理财产品的快速购买。</p>
                        </div>
                    </div>
                </div>
            </div>
			<form id="form-addBankCard3" class="common-form"  method="post" action="${staticDomain}/bankcard/addBankCard3.htm">
				<input id="custNo" name="custNo" type="hidden" value="$!{BankCardVo.custNo}">
				<input id="reqSeq" name="reqSeq" type="hidden" value="$!{BankCardVo.reqSeq}">
				<input id="invtp" name="invtp" type="hidden" value="$!{BankCardVo.invtp}">
				<input id="level" name="level" type="hidden" value="$!{BankCardVo.level}">
            </form>
        </div>
    </div>
   
</div>
<script src="${staticDomain}/js/scripts/load.js"></script>
</body>
</html>