<!DOCTYPE html>
<html>
<head>
<!--
<title>幼富通 - 开户流程</title>
-->
<script>
$(function(){
	//页面初始化
	$("form input[type=text],input[type=password]").each(function () {
        var _this = $(this);
		if(_this.val()!="") {
            _this.siblings(".tips-normal").hide();
        }
    });
	if($("#openaccount").val()=="Y"){
		$("#organization").attr("readonly","readonly");
		$("#business").attr("readonly","readonly");
		$("#bankAcnm").attr("readonly","readonly");
		$("#bankIdno").attr("readonly","readonly");
		$("#tradePwd").attr("readonly","readonly");
		$("#tradePwd2").attr("readonly","readonly");
		
		$("#organization").css("background-color","#ddd");
		$("#business").css("background-color","#ddd");
		$("#bankAcnm").css("background-color","#ddd");
		$("#bankIdno").css("background-color","#ddd");
		$("#tradePwd").css("background-color","#ddd");
		$("#tradePwd2").css("background-color","#ddd");
		
		$("#organization").unbind("blur");
		$("#business").unbind("blur");
		$("#bankAcnm").unbind("blur");
		$("#bankIdno").unbind("blur");
		$("#tradePwd").unbind("blur");
		$("#tradePwd2").unbind("blur");
	}
	
	$("#btn-addBankCardInit").on("click",function(){
		//check #register-org #mobileno
		if($("#openaccount").val()=="Y"){
			$("#form-addBankCard").attr("action", "../bankcard/addBankCardInit.htm");
			$("#form-addBankCard").submit();
			return false;
		}
		if(!check_organization($("#organization"))){
			return false;
		}
		if(!check_business($("#business"))){
			return false;
		}
		if(!check_bankAcnm($("#bankAcnm"))){
			return false;
		}
		if(!check_id($("#bankIdno"))){
			return false;
		}
		if(!check_pwd1($("#tradePwd"))){
			return false;
		}
		if(!check_pwd2($("#tradePwd2"))){
			return false;
		}
		var errLen = $("ul li.error").length;
		if(errLen>0){
			$("ul li.error:eq(0) input[type=text]").focus();
			$("ul li.error:eq(0) input[type=password]").focus();
		}else{
			$("#form-addBankCard").attr("action", "../bankcard/addBankCardInit.htm");
			$("#form-addBankCard").submit();
		}
	});
});
</script>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="inner clearfix rel">
            <div class="logo"><a href="javascript:;">幼教金融，一站通</a></div>
            <div class="nav"><a 
				href="${staticDomain}/home/index.htm">首页</a>|<a class="current" 
				href="${staticDomain}/session/login.htm">资产总览</a>|<a 
				href="${staticDomain}/setting/settingAccount.htm">账户管理</a>|<a 
				href="helpNotice.html">帮助中心</a><span class="member" 
				href="javascript:;"><i class="trans icon"></i>#if ($CustinfoVo.invnm)
                	    $!{CustinfoVo.invnm}
                	#else
                	    $!{CustinfoVo.mobileno}
                	#end<a 
				href="${staticDomain}/cust/logout.htm" class="trans out">安全退出</a></span>
			</div>
        </div>
    </div>
    <div class="body">
        <div class="inner container-find">
            <div class="find-tabs tabs-step1 clearfix">
                <a class="tab fl on" href="javascript:;">1-验证身份</a>
                <a class="tab fl" href="javascript:;">2-银行卡绑定</a>
                <a class="tab fl" href="javascript:;">3-开户结果</a>
            </div>
            <div class="find-panels">
            	<div class="tips tips-float">
                	<p>安全提示：</p>
                    <p>您正在访问幼富通安全网址，请放心操作。<br>
					为了更好的提供金融服务，您需要填写真实身份信息。<br>
					我们会严格保密您的隐私信息。</p>
                </div>
				<form id="form-addBankCard" class="common-form"  method="post" action="${staticDomain}/bankcard/addBankCardPage.htm">
					<input id="custNo" name="custNo" type="hidden" value="$!{BankCardVo.custNo}">
					<input id="bankNo" name="bankNo" type="hidden" value="$!{BankCardVo.bankNo}">
					<input id="bankAcco" name="bankAcco" type="hidden" value="$!{BankCardVo.bankAcco}">
					<input id="bankMobile" name="bankMobile" type="hidden" value="$!{BankCardVo.bankMobile}">
                    <input id="invtp" name="invtp" type="hidden" value="$!{BankCardVo.invtp}">
					<input id="level" name="level" type="hidden" value="$!{BankCardVo.level}">
					<input id="openaccount" name="openaccount" type="hidden" value="$!{BankCardVo.openaccount}">
					<div class="panel">
                        <ul>
							#if($errMsg)
							<li class="error">
                                <span class="tips-check"><i class="icon"></i>$!{errMsg}</span>
                            </li>
                            #end
                            <li
                            #if($errMsg_organization)
                            class="error"
                            #end
                            >
                                <span class="form-title">幼教机构</span>
								<input id="organization" name="organization" class="ipt-organization input-text" type="text" value="$!{BankCardVo.organization}">
                                <span class="tips-normal">请按照营业执照填写</span>
                                <span class="tips-check"><i class="icon"></i>$!{errMsg_organization}</span>
                            </li>
                            <li
                            #if($errMsg_business)
                            class="error"
                            #end
                            >
                                <span class="form-title">营业执照</span>
								<input id="business" name="business" class="ipt-business input-text" type="text" value="$!{BankCardVo.business}">
                                <span class="tips-normal">请按照营业执照填写</span>
                                <span class="tips-check"><i class="icon"></i>$!{errMsg_business}</span>
                            </li>
                            <li
                            #if($errMsg_bankAcnm)
                            class="error"
                            #end
                            >
                                <span class="form-title">经办人姓名</span>
                                <input id="bankAcnm" name="bankAcnm" class="ipt-bankAcnm input-text" type="text" value="$!{BankCardVo.bankAcnm}">
                                <span class="tips-normal">请填写真实姓名</span>
                                <span class="tips-check"><i class="icon"></i>$!{errMsg_bankAcnm}</span>
                            </li>
                            <li
                            #if($errMsg_bankIdno)
                            class="error"
                            #end
                            >
                                <span class="form-title">身份证号</span>
                                <input id="bankIdno" name="bankIdno" class="ipt-idCard input-text" type="text" value="$!{BankCardVo.bankIdno}">
                                <span class="tips-normal">请填写身份证号</span>
                                <span class="tips-check"><i class="icon"></i>$!{errMsg_bankIdno}</span>
                            </li>
                            <li
                            #if($errMsg_tradePwd)
                            class="error"
                            #end
                            >
                                <span class="form-title">交易密码</span>
                                <input id="tradePwd" name="tradePwd" class="ipt-password1 input-text" type="password" value="$!{BankCardVo.tradePwd}">
                                <span class="tips-normal">6-20个大小写英文字母、符号或数字</span>
                                <span class="tips-check"><i class="icon"></i>$!{errMsg_tradePwd}</span>
                            </li>
                            <li
                            #if($errMsg_tradePwd2)
                            class="error"
                            #end
                            >
                                <span class="form-title">交易密码确认</span>
                                <input id="tradePwd2" name="tradePwd2" class="ipt-password2 input-text" type="password" value="$!{BankCardVo.tradePwd2}">
                                <span class="tips-normal">请再次输入密码</span>
                                <span class="tips-check"><i class="icon"></i>$!{errMsg_tradePwd2}</span>
                            </li>
                            <li>
								<input id="btn-addBankCardInit" class="input-button ok" type="button" value="下一步">
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="inner clearfix">
            <div class="notice fl">
                <h2 class="title">理财机构须知</h2>
                <ul class="list">
                    <li><a href="javascript:;">幼教机构如何注册幼富通？</a></li>
                    <li><a href="javascript:;">如何购买幼富通的机构理财产品？</a></li>
                    <li><a href="javascript:;">机构理财的交易安全有什么保障？</a></li>
                    <li><a href="javascript:;">如何联系我们？</a></li>
                </ul>
            </div>
            <div class="qa fl">
                <h2 class="title">常见问题</h2>
                <ul class="list">
                    <li><a href="javascript:;">什么是机构理财专户？</a></li>
                    <li><a href="javascript:;">什么是幼富宝？</a></li>
                    <li><a href="javascript:;">购买幼富宝有什么好处？</a></li>
                </ul>
            </div>
            <div class="about fl">
                <h2 class="title"><a href="about.html">关于幼富通&nbsp;<span>|</span></a></h2>
                <div class="info">
                    <p>微信服务号：UFUfund</p>
                    <p>服务邮箱：<a href="mailto:service@ufufund.com">service@ufufund.com</a></p>
                    <p>海富通产品：400-8840-099</p>
                </div>
                <div class="copyright">
                    <p>幼富通版权所有 ©2015</p>
                    <p><a target="_blank" href="http://www.miitbeian.gov.cn/">沪ICP备14054347号</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${staticDomain}/js/scripts/load.js"></script>
<script src="${staticDomain}/js/scripts/register.js"></script>
</body>
</html>