<!DOCTYPE html>
<html>
<head>
<!--
<title>幼富通 - 开户流程</title>
-->
<script>
$(function(){
});
</script>
</head>
<body>
<div class="container">
	<div class="header">
        <div class="inner clearfix rel">
            <div class="logo"><a href="javascript:;">幼教金融，一站通</a></div>
            <div class="nav"><a 
				href="${staticDomain}/home/index.htm">首页</a>|<a class="current" 
				href="${staticDomain}/session/login.htm">资产总览</a>|<a 
				href="${staticDomain}/setting/settingAccount.htm">账户管理</a>|<a 
				href="${staticDomain}/help/helpNotice.htm">帮助中心</a><span class="member" 
				href="javascript:;"><i class="trans icon"></i>#if ($CustinfoVo.invnm)
                	    $!{CustinfoVo.invnm}
                	#else
                	    #set($tailStr=$CustinfoVo.mobileno)
						#set($start=$tailStr.substring(0,3))
						#set($end=$tailStr.substring(7,11))
						$start****$end
                	#end<a 
				href="${staticDomain}/cust/logout.htm" class="trans out">安全退出</a></span>
			</div>
        </div>
    </div>
    <div class="body">
        <div class="inner container-find">
            <div class="find-tabs tabs-step3 clearfix">
                <a class="tab fl" href="javascript:;">1-验证身份</a>
                <a class="tab fl" href="javascript:;">2-银行卡绑定</a>
                <a class="tab fl on" href="javascript:;">3-开户结果</a>
            </div>
            <div class="find-panels">
                <div class="panel">
                    <div class="form-done">
                        <div class="title">恭喜开户成功</div>
                        <a class="btn" href="${staticDomain}/trade/pay_index.htm">立即赚钱</a>
                        <div class="tips">
                        	<p>温馨提示：</p>
							<p>可以使用本账户进行理财产品的快速购买。</p>
                        </div>
                    </div>
                </div>
            </div>
			<form id="form-addBankCardSuccess" class="common-form"  method="post" action="${staticDomain}/bankcard/addBankCardSuccess.htm">
				<input id="custNo" name="custNo" type="hidden" value="$!{BankCardVo.custNo}">
				<input id="reqSeq" name="reqSeq" type="hidden" value="$!{BankCardVo.reqSeq}">
				<input id="invtp" name="invtp" type="hidden" value="$!{BankCardVo.invtp}">
				<input id="level" name="level" type="hidden" value="$!{BankCardVo.level}">
            </form>
        </div>
    </div>
    <div class="footer">
        <div class="inner clearfix">
            <div class="notice fl">
                <h2 class="title">理财机构须知</h2>
                <ul class="list">
                    <li><a href="javascript:;">幼教机构如何注册幼富通？</a></li>
                    <li><a href="javascript:;">如何购买幼富通的机构理财产品？</a></li>
                    <li><a href="javascript:;">机构理财的交易安全有什么保障？</a></li>
                    <li><a href="javascript:;">如何联系我们？</a></li>
                </ul>
            </div>
            <div class="qa fl">
                <h2 class="title">常见问题</h2>
                <ul class="list">
                    <li><a href="javascript:;">什么是机构理财专户？</a></li>
                    <li><a href="javascript:;">什么是幼富宝？</a></li>
                    <li><a href="javascript:;">购买幼富宝有什么好处？</a></li>
                </ul>
            </div>
            <div class="about fl">
                <h2 class="title"><a href="about.html">关于幼富通&nbsp;<span>|</span></a></h2>
                <div class="info">
                    <p>微信服务号：UFUfund</p>
                    <p>服务邮箱：<a href="mailto:service@ufufund.com">service@ufufund.com</a></p>
                    <p>海富通产品：400-8840-099</p>
                </div>
                <div class="copyright">
                    <p>幼富通版权所有 ©2015</p>
                    <p><a target="_blank" href="http://www.miitbeian.gov.cn/">沪ICP备14054347号</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${staticDomain}/js/scripts/load.js"></script>
</body>
</html>