<!DOCTYPE html>
<html>
<head>
<!--
<title>幼富通 - 开户流程</title>
-->
<script>
$(function(){
	//页面初始化
	$("form input[type=text],input[type=password]").each(function () {
        var _this = $(this);
		if(_this.val()!="") {
            _this.siblings(".tips-normal").hide();
        }
    });
	#if(${hftTradeAccoListSize}!=0)
		//$("#orgnm").attr("readonly","readonly");
		//$("#orgbusiness").attr("readonly","readonly");
		//$("#bankAcnm").attr("readonly","readonly");
		//$("#bankIdno").attr("readonly","readonly");
		//$("#tradepwd").attr("readonly","readonly");
		//$("#tradepwd2").attr("readonly","readonly");
		
		//$("#orgnm").css("background-color","#ddd");
		//$("#business").css("background-color","#ddd");
		//$("#bankacnm").css("background-color","#ddd");
		//$("#bankidno").css("background-color","#ddd");
		//$("#tradepwd").css("background-color","#ddd");
		//$("#tradepwd2").css("background-color","#ddd");
		
		//$("#organization").unbind("blur");
		//$("#business").unbind("blur");
		//$("#bankAcnm").unbind("blur");
		//$("#bankIdno").unbind("blur");
		//$("#tradepwd").unbind("blur");
		//$("#tradepwd2").unbind("blur");
	//}
	#end
	
	$("#btn-addBankCard2").on("click",function(){
		//check #register-org #mobileno
		#if(${hftTradeAccoListSize}!=0)
			$("#form-addBankCard").attr("action", "../bankcard/addBankCard2.htm");
			$("#form-addBankCard").submit();
			return false;
		//}
		#end
		#if(${CustinfoVo.level} != 0)
		if(!check_organization($("#orgnm"))){
			return false;
		}
		if(!check_business($("#orgbusiness"))){
			return false;
		}
		#end
		if(!check_bankAcnm($("#bankacnm"))){
			return false;
		}
		if(!check_id($("#bankidno"))){
			return false;
		}
		if(!check_pwd1($("#tradepwd"))){
			return false;
		}
		if(!check_pwd2($("#tradepwd2"))){
			return false;
		}
		var errLen = $("ul li.error").length;
		if(errLen>0){
			$("ul li.error:eq(0) input[type=text]").focus();
			$("ul li.error:eq(0) input[type=password]").focus();
		}else{
			$("#form-addBankCard").attr("action", "../bankcard/addBankCard2.htm");
			$("#form-addBankCard").submit();
		}
	});
});
</script>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="inner clearfix rel">
            <div class="logo"><a href="javascript:;">幼教金融，一站通</a></div>
            <div class="nav"><a 
				href="${staticDomain}/home/index.htm">首页</a>|<a class="current" 
				href="${staticDomain}/cust/session.htm">资产总览</a>|<a 
				href="${staticDomain}/setting/settingAccount.htm">账户管理</a>|<a 
				href="${staticDomain}/help/helpNotice.htm">帮助中心</a><span class="member" 
				href="javascript:;"><i class="trans icon"></i>#if ($CustinfoVo.invnm)
                	    $!{CustinfoVo.invnm}
                	#else
                	    #set($tailStr=$CustinfoVo.mobileno)
						#set($start=$tailStr.substring(0,3))
						#set($end=$tailStr.substring(7,11))
						$start****$end
                	#end<a 
				href="${staticDomain}/cust/logout.htm" class="trans out">安全退出</a></span>
			</div>
        </div>
    </div>
    <div class="body">
        <div class="inner container-find">
            <div class="find-tabs tabs-step1 clearfix">
                <a class="tab fl on" href="javascript:;">1-验证身份</a>
                <a class="tab fl" href="javascript:;">2-银行卡绑定</a>
                <a class="tab fl" href="javascript:;">3-开户结果</a>
            </div>
            <div class="find-panels">
            	<div class="tips tips-float">
                	<p>安全提示：</p>
                    <p>您正在访问幼富通安全网址，请放心操作。<br>
					为了更好的提供金融服务，您需要填写真实身份信息。<br>
					我们会严格保密您的隐私信息。</p>
                </div>
				<form id="form-addBankCard" class="common-form"  method="post" action="${staticDomain}/bankcard/addBankCard1.htm">
					<input id="bankno" name="bankno" type="hidden" value="$!{BankCardVo.bankno}">
					<input id="bankacco" name="bankacco" type="hidden" value="$!{BankCardVo.bankacco}">
					<input id="bankmobile" name="bankmobile" type="hidden" value="$!{BankCardVo.bankmobile}">
                    <input id="invtp" name="invtp" type="hidden" value="$!{BankCardVo.invtp}">
					<div class="panel">
                        <ul>
							#if($errMsg)
							<li class="error">
                                <span class="tips-check"><i class="icon"></i>$!{errMsg}</span>
                            </li>
							#end
							#if(${CustinfoVo.level} != 0)
                                <li
                                #if($errMsg_organization)
                                class="error"
                                #end
                                >
                                    <span class="form-title">幼教机构</span>
    								<input id="orgnm" name="orgnm" class="ipt-organization input-text" maxlength="28" type="text" value="$!{BankCardVo.orgnm}">
                                    <span class="tips-normal">请按照营业执照填写</span>
                                    <span class="tips-check"><i class="icon"></i>$!{errMsg_organization}</span>
                                </li>
                                <li
                                #if($errMsg_business)
                                class="error"
                                #end
                                >
                                    <span class="form-title">营业执照</span>
    								<input id="orgbusiness" name="orgbusiness" class="ipt-business input-text" maxlength="28" type="text" value="$!{BankCardVo.orgbusiness}">
                                    <span class="tips-normal">请按照营业执照填写</span>
                                    <span class="tips-check"><i class="icon"></i>$!{errMsg_business}</span>
                                </li>
							#end
                            <li
                            #if($errMsg_bankAcnm)
                            class="error"
                            #end
                            >
                                <span class="form-title">
									#if(${CustinfoVo.level} != 0)
									经办人姓名
									#else
									用户姓名
									#end
								</span>
                                <input id="bankacnm" name="bankacnm" class="ipt-bankAcnm input-text" maxlength="28" type="text" value="$!{BankCardVo.bankacnm}">
                                <span class="tips-normal">请填写真实姓名</span>
                                <span class="tips-check"><i class="icon"></i>$!{errMsg_bankAcnm}</span>
                            </li>
                            <li
                            #if($errMsg_bankIdno)
                            class="error"
                            #end
                            >
                                <span class="form-title">身份证号</span>
                                <input id="bankidno" name="bankidno" class="ipt-idCard input-text" maxlength="18" type="text" value="$!{BankCardVo.bankidno}">
                                <span class="tips-normal">请填写身份证号</span>
                                <span class="tips-check"><i class="icon"></i>$!{errMsg_bankIdno}</span>
                            </li>
                            <li
                            #if($errMsg_tradePwd)
                            class="error"
                            #end
                            >
                                <span class="form-title">交易密码</span>
                                <input id="tradepwd" name="tradepwd" class="ipt-password1 input-text" maxlength="20" type="password" value="$!{BankCardVo.tradepwd}">
                                <span class="tips-normal">6-20个大小写英文字母、符号或数字</span>
                                <span class="tips-check"><i class="icon"></i>$!{errMsg_tradePwd}</span>
                            </li>
                            <li
                            #if($errMsg_tradePwd2)
                            class="error"
                            #end
                            >
                                <span class="form-title">交易密码确认</span>
                                <input id="tradepwd2" name="tradepwd2" class="ipt-password2 input-text" maxlength="20" type="password" value="$!{BankCardVo.tradepwd2}">
                                <span class="tips-normal">请再次输入密码</span>
                                <span class="tips-check"><i class="icon"></i>$!{errMsg_tradePwd2}</span>
                            </li>
                            <li>
								<input id="btn-addBankCard2" class="input-button ok" type="button" value="下一步">
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer footer-all">
        <div class="inner clearfix">
            <div class="qa fl">
                <h2 class="title">常见问题</h2>
                <ul class="list">
                    <li><a href="helpQA.html#q1">什么是机构理财专户？</a></li>
                    <li><a href="helpQA.html#q2">什么是幼富宝？</a></li>
                    <li><a href="helpQA.html#q3">购买幼富宝有什么好处？</a></li>
                </ul>
            </div>
            <div class="notice fl">
                <h2 class="title">理财机构须知</h2>
                <ul class="list">
                    <li><a href="helpNotice.html#n1">幼教机构如何注册幼富通？</a></li>
                    <li><a href="helpNotice.html#n2">如何购买幼富通的机构理财产品？</a></li>
                    <li><a href="helpNotice.html#n3">机构理财的交易安全有什么保障？</a></li>
                    <li><a href="helpNotice.html#n4">如何联系我们？</a></li>
                </ul>
            </div>
            <div class="about fl">
                <h2 class="title">关于幼富通</h2>
                <ul class="list">
                    <li>微信服务号：UFUfund</li>
                    <li>服务邮箱：<a href="mailto:service@ufufund.com">service@ufufund.com</a></li>
                    <li>海富通产品：400-8840-099</li>
                </ul>
            </div>
            <div class="copyright fr">
                <h2 class="title"><img src="../images/logo_78x26.png"></h2>
                <ul class="list">
                    <li>幼富通版权所有 &copy;2014</li>
                    <li><a target="_blank" href="http://www.miitbeian.gov.cn/">沪ICP备14054347号</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer footer-simple">
        <div class="inner clearfix">
            <div class="logo fl">
                <img src="../images/logo_130x55.png">
            </div>
            <div class="info fl">
                <ul class="list">
                    <li>微信服务号：UFUfund</li>
                    <li>服务邮箱：<a href="mailto:service@ufufund.com">service@ufufund.com</a></li>
                    <li>海富通产品：400-8840-099</li>
                </ul>
            </div>
            <div class="copyright fr">
                <ul class="list">
                    <li>幼富通版权所有 &copy;2014</li>
                    <li><a target="_blank" href="http://www.miitbeian.gov.cn/">沪ICP备14054347号</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="${staticDomain}/js/scripts/load.js"></script>
<script src="${staticDomain}/js/scripts/register.js"></script>
</body>
</html>