<!DOCTYPE html>
<html>
<head>
<title>幼富通 - 首页</title>
</head>
<body>
<div class="alert-box box-login">
    <div class="login">
        <div class="login-tabs tabs clearfix">
            <a class="tab tab-family fl on" href="javascript:;"><i class="loginTri"></i>家庭登录</a>
            <a class="tab tab-org fl" href="javascript:;"><i></i>幼教机构登录</a>
        </div>
        <div class="login-panels">
            <div class="panel01 panelShow">
				<form id="form-login" class="common-form login-form" method="post" action="${staticDomain}/home/index.htm">
					<input type="hidden" id="invtp" name="invtp" value="$!{CustinfoVo.invtp}">
                    <ul>
                        <li class="clearfix">
							<label class="fl">登录账号</label>
							<a class="fr" href="${staticDomain}/register/index.htm">免费注册</a>
						</li>
                        <li
                        #if($errMsg_mobileno)
                        class="error"
                        #end
                        >
							<input type="text" id="ipt-loginUsername" name="mobileno" value="$!{CustinfoVo.mobileno}" class="ipt-loginUsername input-text">
							<span class="tips-check"><i class="icon"></i>$!{errMsg_mobileno}</span>
						</li>
                        <li class="clearfix">
							<label class="fl">登录密码</label>
							<a class="fr" href="findPasswordStep1.html">忘记密码</a>
						</li>
                        <li 
                        #if($errMsg_pswpwd)
                        class="error"
                        #end
                        >
							<input type="password" id="ipt-loginPassword" name="loginpwd" value="$!{CustinfoVo.loginpwd}" class="ipt-loginPassword input-text">
							<span class="tips-check"><i class="icon"></i>$!{errMsg_pswpwd}</span>
						</li>
                        <li class="clearfix">
							<label class="fl">验证码：[测试请填0000]</label>
						</li>
                        <li>
							<input type="text" class="ipt-code input-code" value="0000">
								<span class="tips-check"><i class="icon"></i>验证提示</span>
						</li>
                        <li>
							<input id="btn-familyLogin" type="button" class="input-button" value="立即登录">
						</li>
                    </ul>
                </form>
            </div>
            <div class="panel02">
				<form id="org-login" class="common-form login-form" method="post" action="${staticDomain}/home/index.htm">
					<input type="hidden" id="invtp" name="invtp" value="$!{CustinfoVo.invtp}">
                    <ul>
                        <li class="clearfix">
							<label class="fl">登录账号</label>
							<a class="fr" href="${staticDomain}/register/index.htm">免费注册</a>
						</li>
                        <li
                        #if($errMsg_mobileno)
                        class="error"
                        #end
                        >
							<input type="text" id="ipt-loginUsername" name="mobileno" value="$!{CustinfoVo.mobileno}" class="ipt-loginUsername input-text">
							<span class="tips-check"><i class="icon"></i>$!{errMsg_mobileno}</span>
						</li>
                        <li class="clearfix">
							<label class="fl">登录密码</label>
							<a class="fr" href="findPasswordStep1.html">忘记密码</a>
						</li>
                        <li 
                        #if($errMsg_pswpwd)
                        class="error"
                        #end
                        >
							<input type="password" id="ipt-loginPassword" name="loginpwd" value="$!{CustinfoVo.loginpwd}" class="ipt-loginPassword input-text">
							<span class="tips-check"><i class="icon"></i>$!{errMsg_pswpwd}</span>
						</li>
                        <li class="clearfix">
							<label class="fl">验证码：[测试请填0000]</label>
						</li>
                        <li>
							<input type="text" class="ipt-code input-code" value="0000">
								<span class="tips-check"><i class="icon"></i>验证提示</span>
						</li>
                        <li>
							<input onclick="" id="btn-orgLogin" type="button" class="input-button" value="立即登录">
						</li>
                    </ul>
                </form>
			</div>
        </div>
    </div>
</div>
<div class="index container" id="index">
	<div id="header">
		#if ($S_CUSTINFO)
		<div class="topNav">
			<div class="container">
    			<div class="b1">
    			#if(${S_CUSTINFO.invtp} == "0")
    			<a href="#">机构版</a>
    			<a href="#" class="active">家庭版</a>
    			#end
    			#if(${S_CUSTINFO.invtp} == "1")
    			<a href="#" class="active">机构版</a>
    			<a href="#">家庭版</a>
    			#end
    			</div>
    			<div class="b2">
    				<span>
    					#if ($S_CUSTINFO.invnm)
                			$!{S_CUSTINFO.invnm}
                        #elseif ($S_CUSTINFO.mobileno)
                			#set($tailStr=$S_CUSTINFO.mobileno)
                			#set($start=$tailStr.substring(0,3))
                			#set($end=$tailStr.substring(7,11))
                			$start****$end
                		#else
    						游客
                		#end
    				</span><a href="${staticDomain}/setting/settingAccount.htm"></a>
    			</div>
			</div>
		</div>
        <div class="container">
            <a href="#" class="logo"></a>
			<div class="nav">
				<a href="${staticDomain}/cust/session.htm">我的幼富通</a>
    			<a href="#" onclick="alert('建设中，敬请期待。。。')">学费通</a>
    			<a href="${staticDomain}/cust/session.htm">幼富宝</a>
    			<a href="#" onclick="alert('建设中，敬请期待。。。')">幼富盈</a>
    			<a href="#" onclick="alert('建设中，敬请期待。。。')">幼富贷</a>
			</div>
        </div>
		#else
		<div class="topNav">
			<div class="container">
				<div class="b1"><a href="#" class="active">机构版</a><a href="#">家庭版</a></div>
		        <div class="b3"><a href="javascript:;">登录</a>丨<a href="${staticDomain}/register/index.htm">注册</a></div>
			</div>
		</div>
        <div class="container">
            <a href="#" class="logo"></a>
			<div class="nav">
				<a href="#">我的幼富通</a>
				<a href="#">学费通</a>
				<a href="#">幼富通</a>
				<a href="#">短期理财</a>
				<a href="#">幼富贷</a>
			</div>
        </div>	
		#end	
    </div>
    <div class="body">
        <div class="kv">
            <div class="camera_wrap" id="index_kv">
                <div data-src="${staticDomain}/images/banner1.jpg" data-link="http://www.wenjuan.com/s/nuyA7v/" data-target="_blank"></div>
                <div data-src="${staticDomain}/images/banner2.jpg" data-link="http://www.wenjuan.com/s/nuyA7v/" data-target="_blank"></div>
                <div data-src="${staticDomain}/images/banner3.jpg" data-link="http://www.wenjuan.com/s/nuyA7v/" data-target="_blank"></div>
                <div data-src="${staticDomain}/images/banner4.jpg" data-link="http://www.wenjuan.com/s/nuyA7v/" data-target="_blank"></div>
            </div>
        </div>
        <div class="inner clearfix">
            <div class="main fl">
                <h2 class="title">主打产品</h2>
                <ul class="project-list">
                    <li class="project-item shadow-normal"><i class="tag"><img src="${staticDomain}/images/tag2.png"></i><img src="${staticDomain}/images/section2.png" width="100%"></li>
                    <li class="project-item shadow-normal"><i class="tag"><img src="${staticDomain}/images/tag1.png"></i><img src="${staticDomain}/images/section1.png" width="100%"></li>
                </ul>
            </div>
            <div class="side shadow-normal fr">
                <div class="intro"><a target="_blank" href="http://www.china06.org"><img src="${staticDomain}/images/side1.png" width="240" height="130"></a><a target="_blank" href="http://www.hftfund.com"><img src="${staticDomain}/images/side2.png" width="240" height="100"></a><a target="_blank" href="http://www.wenjuan.com/s/nuyA7v/"><img src="${staticDomain}/images/side3.png" width="240" height="160"></a></div>
                <div class="tabs">
                    <ul class="clearfix">
                        <li><a href="javascript:;"><img src="${staticDomain}/images/tab1.png" width="50" height="50"></a></li>
                        <li><a href="javascript:;"><img src="${staticDomain}/images/tab2.png" width="50" height="50"></a></li>
                        <li><a href="javascript:;"><img src="${staticDomain}/images/tab3.png" width="50" height="50"></a></li>
                        <li><a href="javascript:;"><img src="${staticDomain}/images/tab4.png" width="50" height="50"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="inner clearfix">
                <ul class="list">
                    <li class="item">
                        <div class="icon"><img src="${staticDomain}/images/icon1.png"></div>
                        <div class="text"><h3>机构理财收益高</h3><p>精选高收益机构理财产品<br>
                            实力基金管理人定制产品<br>
                            专注提升机构闲置资金回报</p></div>
                    </li>
                    <li class="item">
                        <div class="icon"><img src="${staticDomain}/images/icon2.png"></div>
                        <div class="text"><h3>机构理财更放心</h3><p>严选专业品牌基金管理机构<br>
                            投资全程受国家严格监管<br>
                            机构理财资金由独立第三方银行托管<br>
                            资金赎回只回到机构注册账户</p></div>
                    </li>
                    <li class="item">
                        <div class="icon"><img src="${staticDomain}/images/icon3.png"></div>
                        <div class="text"><h3>机构理财更轻松</h3><p>贴心定制产品策略<br>
                            可随时购买、快速提取<br>
                            随时查询资产与收益</p></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer footer-all">
        <div class="inner clearfix">
            <div class="qa fl">
                <h2 class="title">常见问题</h2>
                <ul class="list">
                    <li><a href="helpQA.html#q1">什么是机构理财专户？</a></li>
                    <li><a href="helpQA.html#q2">什么是幼富宝？</a></li>
                    <li><a href="helpQA.html#q3">购买幼富宝有什么好处？</a></li>
                </ul>
            </div>
            <div class="notice fl">
                <h2 class="title">理财机构须知</h2>
                <ul class="list">
                    <li><a href="helpNotice.html#n1">幼教机构如何注册幼富通？</a></li>
                    <li><a href="helpNotice.html#n2">如何购买幼富通的机构理财产品？</a></li>
                    <li><a href="helpNotice.html#n3">机构理财的交易安全有什么保障？</a></li>
                    <li><a href="helpNotice.html#n4">如何联系我们？</a></li>
                </ul>
            </div>
            <div class="about fl">
                <h2 class="title">关于幼富通</h2>
                <ul class="list">
                    <li>微信服务号：UFUfund</li>
                    <li>服务邮箱：<a href="mailto:service@ufufund.com">service@ufufund.com</a></li>
                    <li>海富通产品：400-8840-099</li>
                </ul>
            </div>
            <div class="copyright fr">
                <h2 class="title"><img src="../images/logo_78x26.png"></h2>
                <ul class="list">
                    <li>幼富通版权所有 &copy;2014</li>
                    <li><a target="_blank" href="http://www.miitbeian.gov.cn/">沪ICP备14054347号</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='${staticDomain}/js/libs/camera.min.js'></script>
<script src="${staticDomain}/js/scripts/load.js"></script>
<script src="${staticDomain}/js/scripts/register.js"></script>
<script>
	
	$(function(){
		#if ($S_CUSTINFO)
		#else
			alertBox(".box-login");
		#end

		if($("#invtp").val()=="1"){
			$(".tab-org").addClass("on").siblings().removeClass("on");
  			$(".tab-org i").addClass("loginTri");
   			$(".panel02").addClass("panelShow").siblings().removeClass("panelShow");
		}else{
			$(".tab-family").addClass("on").siblings().removeClass("on");
  			$(".tab-family i").addClass("loginTri");
   			$(".panel01").addClass("panelShow").siblings().removeClass("panelShow");
		}

		$("#btn-familyLogin,#btn-orgLogin").click(function(){
			var form = $(this).parents("form");
			var id = form.attr("id");
			if(id.indexOf("org")>-1){
				form.find("#invtp").val("1");
			}else{
				form.find("#invtp").val("0");
			}
    		if(!check_null(form.find("#ipt-loginUsername"), "登录名不能为空")){
    			return false;
    		}
    		if(!check_null(form.find("#ipt-loginPassword"), "登录密码不能为空")){
    			return false;
    		}
    		form.attr("action", "../cust/login.htm");
    		form.submit();
    	});

		$(".tab-family").click(function(){
			$(this).addClass("on").siblings().removeClass("on");
         	$(".tab-family i").addClass("loginTri");
         	$(".panel01").addClass("panelShow").siblings().removeClass("panelShow");
            });
            
        $(".tab-org").click(function(){
			$(this).addClass("on").siblings().removeClass("on");
  			$(".tab-org i").addClass("loginTri");
   			$(".panel02").addClass("panelShow").siblings().removeClass("panelShow");
		});
	});
</script>
</body>
</html>