<div class="footer">
    <div class="inner clearfix">
        <div class="info fl">
            <p>微信服务号：UFUfund</p>
            <p>服务邮箱：<a href="mailto:service@ufufund.com">service@ufufund.com</a></p>
            <p>海富通产品：400-8840-099</p>
        </div>
        <div class="copyright fr">
            <p>上海泛投信息科技有限公司版权所有 ©2015</p>
            <p><a target="_blank" href="http://www.miitbeian.gov.cn/">沪ICP备14054347号</a></p>
        </div>
    </div>
</div>
</div>