<div class="header">
	<div class="headA">
		<div class="container">
			<div class="versions">
				<a href="javascript:;" #if(${S_CUSTINFO.invtp} == "0")class="active"#end>机构版</a>
				<a href="javascript:;" #if(${S_CUSTINFO.invtp} == "1")class="active"#end>家庭版</a>
			</div>
			<div class="userTop">
				#if(!${S_CUSTINFO})
				<div class="a1">
					<a href="javascript:;">登录</a>
					<a href="${staticDomain}/register/index.htm">注册</a>
				</div>
				#elseif(${S_CUSTINFO})
					#if(${S_CUSTINFO.invnm})
					#set($display_name = $S_CUSTINFO.invnm)
					#elseif(${S_CUSTINFO.mobileno})
					#set($display_name = $S_CUSTINFO.mobileno)
						#set($start=$display_name.substring(0,3))
	                	#set($end=$display_name.substring(7,11))
	                #set($display_name = ($start+"****"+$end))
	                #end
				<div class="a2">
					<b class="b1"></b>
					<span class="b2">${display_name}</span>
					<b class="b3"></b>
				</div>
				#end
			</div>
		</div>
	</div>
	<div class="headB">
		<div class="container">
			<a href="index.html" class="logo"></a>
			<nav>
				<a href="javascript:;">我的幼富通</a>
				<a href="javascript:;">学费通</a>
				<a href="javascript:;">幼富宝</a>
				<a href="javascript:;">幼富盈</a>
				<a href="javascript:;">幼富贷</a>
				<b></b>
			</nav>
		</div>
	</div>
</div>