<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    #if("$!{title}"=="")
	    <title>幼富通</title>
	#else
	    $!{title}
	#end
    <link rel="stylesheet" href="${staticDomain}/family/css/reset.css">
    <link rel="stylesheet" href="${staticDomain}/family/css/common.css">
    
    <script type='text/javascript' src='${staticDomain}/family/libs/jquery.min.js'></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="${staticDomain}/family/libs/html5.js"></script>
    <![endif]-->
    
    <style type="text/css">
        .title.clearfix{
            margin-top:0;
        }
    </style>
</head>