<div id="header">
	<div class="topNav">
		<div class="container">
			<div class="b1">
				<a href="${ufbDomain}/organ/index.htm">机构版</a>
				<a href="javascript:;" class="active">家庭版</a>
			</div>
			<div class="b2">
				#if(${S_CUSTINFO})
			   		<span>你好，<label>${S_CUSTINFO.invnm}</label></span><a href="${ufbDomain}/family/account/logout.htm" class="quit">退出</a>
				#else
				   <div class="b2">
		               <a href="${ufbDomain}/family/index.htm" class="c1" id="login">登录</a>
		               <a href="${ufbDomain}/family/register_index.htm" class="c1">注册</a>
				   </div>
				#end
			</div>
		</div>
	</div>
    <div class="container">
        <a href="${ufbDomain}/family/index.htm" class="logo"></a>
		<div class="nav">
			<a href="${ufbDomain}/family/uft/uft_index.htm" class="active">我的账户</a>
			<a href="${ufbDomain}/family/ufb/ufb_index.htm">幼富宝</a>
			<a href="javascript:;">缴费明细</a>
			<a href="javascript:;">帮助中心</a>
		</div>
    </div>
</div>