<head>
<meta charset="utf-8">
#if("$!{title}"=="")
    <title>幼富通</title>
#else
    $!{title}
#end
<meta name="keywords" content="幼富通">
<meta name="description" content="幼富通">
<link rel="shortcut icon" href="${staticDomain}/static/favicon.ico" type="image/x-icon">
	
<link rel="stylesheet" href="${staticDomain}/static/public/css/style.css">
<link rel="stylesheet" href="${staticDomain}/static/public/css/family.css">

<style>
/*本页面的覆盖样式 payNotice.vm*/
.all-top-v2{
    margin-top: 40px;
}
.notice-content {
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: transparent;
    padding-top: 0px;
    padding-bottom: 0px;
}
/*
.notice-content:last-child {
    margin-bottom: 60px;
}
*/
.item {
    border: 1px solid #ccc;
    background-color: #fff;
}
.item:last-child{
    border-top: none;
}
.fix-content {
    height: 50px;
    background-color: transparent;
    padding: 16px 10px;
    margin-top: 0px;
}
.item-title{
    margin-left: 17px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.bottom-fix{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
}
.bottom-fix-body{
    width: 935px;
    margin: 0 auto;
    border-radius: 2px;
    background-color: #e2e2e2;
    box-shadow: 5px 5px 5px #cfcfce;
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
    opacity: 0.9;
}
.allselect{
    height: 50px;
    line-height: 50px;
    padding: 0 4px 0 21px;
}
</style>

</head>