<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
	#if("$!{title}"=="")
	    <title>幼富通</title>
	#else
	    $!{title}
	#end
	<meta name="keywords" content="幼富通">
	<meta name="description" content="幼富通">
	<link rel="shortcut icon" href="${staticDomain}/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="${staticDomain}/familypay/css/style.css">
	<link rel="stylesheet" href="${staticDomain}/familypay/css/family.css">
	<link rel="stylesheet" href="${staticDomain}/familypay/css/jquery.mCustomScrollbar.css">
	
	<script type='text/javascript' src='${staticDomain}/family/libs/jquery.min.js'></script>
	<script type="text/javascript" src="${staticDomain}/family/libs/jquery.form.js"></script>
	<script type='text/javascript' src='${staticDomain}/family/libs/jquery.easing.1.3.js'></script>
</head>

