<div class="sideFixed">
	<div class="a1">
		<a href="javascript:;" class="b1"><div>发起收费/退费<b></b></div></a>
		<a href="javascript:;" class="b2">收费<br>明细</a>
		<a href="javascript:;" class="b3">查看<br>报表</a>
		<a href="javascript:;" class="b4">档案<br>管理</a>
	</div>
	<div class="a2">
		<a href="javascript:;" class="b1" onclick="$.scrollTo(0,400);"></a>
		<a href="javascript:;" class="b2"><div><b></b></div></a>
		<a href="javascript:;" class="b3">帮助<br>中心</a>
	</div>
</div>