<html>
<title>幼富通，托富未来 - 机构认证</title>
<head>
<script type="text/javascript" src="${staticDomain}/public/js/load.js"></script>
<script type="text/javascript" src="${staticDomain}/public/js/organ-common.js"></script>
<script type="text/javascript">
$(function(){
	$('.nav a:eq(0)').addClass('active');
	
    $(".u2 .v2 .v2_1").click(function(){
        $(".u2 .v2").hide();
    });
    
    $('.checkbox').checkbox();

    $(".selectmenu .list li").click(function(){
        $(this).addClass("hover").siblings().removeClass("hover");
    });
    
    // 自定义函数
    $("#eq_address").on("click",function(){
    	if($(this).attr("checked")=="checked"){
    		$("#eqaddress").val("true");
    	}
    })
    
    $("#eqlegal").on("click",function(){
    	if($(this).attr("checked") != "checked"){
    		$("#legal_name").val("");
    		$("#legal_certno").val("");
    		$("#legal_name,#legal_certno").attr("style","");
			$("#legal_name,#legal_certno").attr("readonly","");
    	}else{
    		$("#legal_name").val($("#operator_name").val());
    		$("#legal_certno").val($("#operator_certno").val());
    		$("#legal_name,#legal_certno").attr("style","background-color:#cbcbcb");
			$("#legal_name,#legal_certno").attr("readonly","readonly");
    	}
    })

    $('#province').selectMenu({change:changeProvince});
    $('#city').selectMenu();
    $('.orgList').selectMenu();
    
    // 校验机构名称  
    var check_orgnm = function(){
    	var orgnm = $("#orgname").val();
    	if(orgnm == ''){
    		$("#orgnm_msg").hide();
    		$("#orgnm_msg").siblings(".formErr").html("机构名称不能为空！");
    		$("#orgnm_msg").siblings(".formErr").show();
    		return false;
    	}else{
    		$("#orgnm_msg").show();
    		$("#orgnm_msg").siblings(".formErr").html("&nbsp;");
    		$("#orgnm_msg").siblings(".formErr").hide();
    		return true;
    	}
    }
    
    // 校验营业执照号 
    var check_license = function(){
    	var license = $("#license").val();
    	if(license == ''){
    		$("#license_msg").hide();
    		$("#license_msg").siblings(".formErr").html("营业执照号不能为空！");
    		$("#license_msg").siblings(".formErr").show();
    		return false;
    	}else{
    		$("#license_msg").show();
    		$("#license_msg").siblings(".formErr").html("&nbsp;");
    		$("#license_msg").siblings(".formErr").hide();
    		return true;
    	}
    }
    
    // 校验开户的省市
    function check_proOrcity(){
 	 	var province = $("#province").val();
     	var city = $("#city").val();
     	if(province == ''||city == ''){
     		$("#pro_city").html("请选择办学省份或城市！");
 		    $("#pro_city").show();
 		    return false;
     	}else{
     		$("#pro_city").html("&nbsp;");
 		    $("#pro_city").hide();
 		    return true;
     	}
    }
    
    // 校验办学地址
    var check_address = function(){
    	var address = $("#address").val();
    	if(address == ''){
    		$("#address_msg").hide();
    		$("#address_msg").siblings(".formErr").html("地址不能为空！");
    		$("#address_msg").siblings(".formErr").show();
    		return false;
    	}else{
    		$("#address_msg").show();
    		$("#address_msg").siblings(".formErr").html("&nbsp;");
    		$("#address_msg").siblings(".formErr").hide();
    		return true;
    	}
    }
    
    // 校验经办人姓名  
    var check_opname = function(){
    	var operator_name = $("#operator_name").val();
    	if(operator_name == ''){
    		$("#op_name_msg").hide();
    		$("#op_name_msg").siblings(".formErr").html("姓名不能为空！");
    		$("#op_name_msg").siblings(".formErr").show();
    		return false;
    	}else{
    		$("#op_name_msg").show();
    		$("#op_name_msg").siblings(".formErr").html("&nbsp;");
    		$("#op_name_msg").siblings(".formErr").hide();
    		if($("#eqlegal").attr("checked") == "checked"){
    			$("#legal_name").val(operator_name);
    			$("#legal_name").attr("style","background-color:#cbcbcb");
    			$("#legal_name").attr("readonly","readonly");
    		}
    		return true;
    	}
    }
    
    // 校验经办人身份证号  
    var check_opcertno = function(){
    	var resultMsg = check_id($("#operator_certno").val());
    	if(resultMsg != ''){
    		$("#op_certno_msg").hide();
    		$("#op_certno_msg").siblings(".formErr").html(resultMsg);
    		$("#op_certno_msg").siblings(".formErr").show();
    		return false;
    	}else{
    		$("#op_certno_msg").show();
    		$("#op_certno_msg").siblings(".formErr").html("&nbsp;");
    		$("#op_certno_msg").siblings(".formErr").hide();
    		if($("#eqlegal").attr("checked") == "checked"){
    			$("#legal_name").val($("#operator_name").val());
    			$("#legal_certno").val($("#operator_certno").val());
    			$("#legal_name,#legal_certno").attr("style","background-color:#cbcbcb");
    			$("#legal_name,#legal_certno").attr("readonly","readonly");
    		}
    		return true;
    	}
    }
   
    // 校验固定电话 
    var check_tel = function(){
    	var regex = /^((\d{3,5}[-,－]\d{6,8})([-,－]\d{1,4})?)$/;
    	var tel = $("#operator_tel").val();
    	if(tel == ''){
    		$("#op_tel_msg").hide();
    		$("#op_tel_msg").siblings(".formErr").html("电话号码不能为空！");
    		$("#op_tel_msg").siblings(".formErr").show();
			return false;
    	}else if(tel != ''&&!tel.match(regex)){
    		$("#op_tel_msg").hide();
    		$("#op_tel_msg").siblings(".formErr").html("格式不正确！");
    		$("#op_tel_msg").siblings(".formErr").show();
			return false;
    	}else{
	 		$("#op_tel_msg").show();
    		$("#op_tel_msg").siblings(".formErr").html("&nbsp;");
    		$("#op_tel_msg").siblings(".formErr").hide();
			return true;
	 	}
    }
   
    // 校验邮箱
    var check_mail = function(){
    	var regex = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/ ;
    	var mail = $("#operator_mail").val();
    	if(mail == ''){
    		$("#op_tel_mail").hide();
    		$("#op_tel_mail").siblings(".formErr").html("邮箱不能为空！");
    		$("#op_tel_mail").siblings(".formErr").show();
			return false;
    	}else if(mail != ''&&!mail.match(regex)){
    		$("#op_tel_mail").hide();
    		$("#op_tel_mail").siblings(".formErr").html("格式不正确！");
    		$("#op_tel_mail").siblings(".formErr").show();
			return false;
    	}else{
    		$("#op_tel_mail").show();
    		$("#op_tel_mail").siblings(".formErr").html("&nbsp;");
    		$("#op_tel_mail").siblings(".formErr").hide();
			return true;
	 	}
    }
   
    // 校验法人姓名 
    var check_legalnm = function(){
    	var legalnm = $("#legal_name").val();
    	if(legalnm == ''){
    		$("#legal_name_msg").hide();
    		$("#legal_name_msg").siblings(".formErr").html("姓名不能为空！");
    		$("#legal_name_msg").siblings(".formErr").show();
			return false;
    	}else{
	 		$("#legal_name_msg").show();
    		$("#legal_name_msg").siblings(".formErr").html("&nbsp;");
    		$("#legal_name_msg").siblings(".formErr").hide();
			return true;
	 	}
    }
    
    // 校验法人身份证号
    var check_legalcertno = function(){
    	var resultMsg = check_id($("#legal_certno").val());
    	if(resultMsg != ''){
    		$("#legal_certno_msg").hide();
    		$("#legal_certno_msg").siblings(".formErr").html(resultMsg);
    		$("#legal_certno_msg").siblings(".formErr").show();
    		return false;
    	}else{
    		$("#legal_certno_msg").show();
    		$("#legal_certno_msg").siblings(".formErr").html("&nbsp;");
    		$("#legal_certno_msg").siblings(".formErr").hide();
    		return true;
    	}
    }
    
    // 添加响应事件
     $("#orgname").on("blur",check_orgnm);
     $("#license").on("blur",check_license);
     $("#address").on("blur",check_address);
     $("#operator_name").on("blur",check_opname);
     $("#operator_certno").on("blur",check_opcertno);
     $("#operator_tel").on("blur",check_tel);
     $("#operator_mail").on("blur",check_mail);
     $("#legal_name").on("blur",check_legalnm);
     $("#legal_certno").on("blur",check_legalcertno);
    
    // 用户输入时，取消错误提示
    $("form input").on('focus', function(){
			$(this).parent().parent().siblings().find(".formErr").hide();
			$(this).parent().parent().siblings().find("font").show();
			$(this).parent().parent().siblings().find("label").show();
    });
  
    // 提交表单
    $("#submit").on("click",function(){
    	if(!(check_orgnm()&&check_license()&&check_proOrcity()&&check_address()
    			&&check_opname()&&check_opcertno()&&check_tel()&&check_mail())){
    		return false;
    	}
    	if($("#eqlegal").attr("checked")!="checked"){
    		if(!(check_legalnm()&&check_legalcertno())){
    			return false;
    		}
    	}
    	$("#sub-form").submit();
    }) 
  
    
    // 省级联动
    function changeProvince(){
    	$.ajax({
		type: "post",
		url: '${ufbDomain}/corp/common/getCity.htm',
		data:'province='+$("#province").val(),
		async:false,
		success: function(data){
			var json = $.parseJSON(data);
			if(json.errCode == '0000'){
				var cityList=json.cityData;
				var cityArr = cityList.split(',');
				var htmlMsg="<option value=''>城市</option>";
				for(var i=0;i<cityArr.length-1;i++){
					htmlMsg=htmlMsg+"<option value='"+cityArr[i]+"'>"+cityArr[i]+"</option>"
				}
				$("#city").html(htmlMsg);
				$('#city').selectMenu({refresh:true,change:changeCity});
			}
		},
		error: function(XMLHttpRequest, textStatus, errorThrown) {
			console.log('系统出现异常！');
		}
      });
    }
    
    function changeCity(){
    	$('#city').selectMenu();
    }
});
</script>
<style type="text/css">
	.selectmenu .title , .selectmenu .text , .selectmenu .ico , .selectmenu .list{
	    z-index:1;
	}
	.cardFormat .num{
	    z-index:1000;
	    z-index:1000\9;
	}
	.a4 .b2 p{
	    margin:0 0 20px 0px;
	    line-height:1.5;
	}
	.a4 .bordernone{
	    border-bottom:none;
	}
</style>
</head>
<body>
<div id="body">
<div class="container">
	<div class="a1">机构账户安全认证</div>
	<div class="u2">
		<ul class="v1">
			<li class="v1_hover">1 基本资料</li>
			<li>2 提交材料</li>
			<li>3 银行账户</li>
			<li>4 开户完成 </li>
		</ul>
		<div class="v2">
		    <i class="v2_1"></i>
			<p>你正在访问幼富通安全网址，请放心操作。幼富通致力于为全国幼教机构打造安全、稳定、便捷的互联网金融服务平台。为了保障你的机构和广大幼儿家庭用户的合法权益，请认真填写以下机构登记信息，我们会严格保密相关隐私信息。</p>
		</div>
	</div>
	<form id="sub-form" method="post" action="${ufbDomain}/corp/auth/auth_certpic.htm">
		<input type="hidden" id="eqaddress" name="eqaddress" value="false">
	<div class="a4 mt20 mb60">
		<div class="b1">
			<table>
				<tr>
					<td>机构名称</td>
					<td><label class="inputText"><input type="text" name="orgname" id="orgname"></label></td>
					<td>
						<font id="orgnm_msg">须与营业执照、银行对公账户的开户名称一致，信息审核成功后，名称不可修改。</font>
						<div class="formErr" style="display:none">错误提示</div>
					</td>
				</tr>
				<tr class="tr03">
					<td>机构类型</td>
					<td>
						<select class="select orgList" name="type" id="type">
                            <option value="1">民办幼儿园</option>
                            <option value="2">公办幼儿园</option>
                            <option value="3">早教机构（0-3岁）</option>
                            <option value="4">幼教培训机构（3-6岁）</option>
                            <option value="5">厂商</option>
                            <option value="6">通路服务／经销商</option>
                            <option value="7">其他</option>
                        </select>
					</td>
					<td>信息审核成功后，类型不可修改</td>
				</tr>
				<tr class="tr04">
					<td>登记证／营业执照号</td>
					<td><label class="cardFormat" id="card1"><input type="text" name="license" id="license" maxlength="15"></label></td>
					<td>
						<font id="license_msg">请输入登记证／15位营业执照注册号</font>
						<div class="formErr" style="display:none">错误提示</div>
					</td>
				</tr>
				<tr>
					<td>实际办学/经营地址</td>
					<td>
						<select class="select" name="province" id="province">
                            <option value="">省份</option>
                            #foreach($pro in $provinceList)
                            	<option value="${pro.province}">${pro.province}</option>
                            #end
                        </select>
					</td>
					<td>
						<select class="select" name="city" id="city">
							<option value=''>城市</option>
                        </select>
					</td>
					<td><div class="formErr" id="pro_city" style="display:none;margin-left: -319px;">错误提示</div></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<label class="inputText"><input type="text" name="address" id="address"></label>
					</td>
					<td>
						<font id="address_msg">必须为真实办公或经营地址、办学地址</font>
						<div class="formErr" style="display:none">错误提示</div>
					</td>
				</tr>
				<tr>
					<td></td>
					<td><label class="checkbox checkG"><input type="checkbox" id="eq_address">与登记证／营业执照中注册地址相同</label></td>
					<td></td>
				</tr>
			</table>
		</div>
		<div class="b1 pt10 pb10">
			<table>
				<tr>
					<td>授权经办人姓名</td>
					<td><label class="inputText"><input type="text" name="operator_name" id="operator_name"></label></td>
					<td>
						<label class="checkbox" id="op_name_msg"><input type="checkbox" id="eqlegal">与举办人/法人代表为同一人</label>
						<div class="formErr" style="display:none">错误提示</div>
					</td>
				</tr>
				<tr>
					<td>身份证号</td>
					<td><label class="cardFormat" id="card2"><input type="text" name="operator_certno" id="operator_certno" maxlength="18"></label></td>
					<td>
						<font id="op_certno_msg">若为临时身份证，请输入临时身份证号</font>
						<div class="formErr" style="display:none">错误提示</div>
					</td>
				</tr>
				<tr>
					<td>手机</td>
					<td><label class="inputText"><input type="text" name="operator_mobile" id="operator_mobile" value="${mobile}" style="background-color:#cbcbcb;" readonly="readonly"></label></td>
					<td>
						<font id="op_mobile_msg">开户审核过程中将与经办人联系</font>
						<div class="formErr" style="display:none">错误提示</div>
					</td>
				</tr>
				<tr>
					<td>固定电话</td>
					<td><label class="inputText"><input type="text" name="operator_tel" id="operator_tel"></label></td>
					<td>
						<font id="op_tel_msg">包括区号、号码、分机号，请用“-”隔开</font>
						<div class="formErr" style="display:none">错误提示</div>
					</td>
				</tr>
				<tr>
					<td>邮箱</td>
					<td><label class="inputText"><input type="text" name="operator_mail" id="operator_mail"></label></td>
					<td>
						<font id="op_tel_mail">请填写你的工作邮箱</font>
						<div class="formErr" style="display:none">错误提示</div>
					</td>
				</tr>
			</table>
		</div>
		<div class="b1 bordernone pt10 pb10">
			<table>
				<tr>
					<td>法定代表人姓名</td>
					<td><label class="inputText"><input type="text" name="legal_name" id="legal_name"></label></td>
					<td>
						<font id="legal_name_msg">须与登记证/营业执照一致</font>
						<div class="formErr" style="display:none">错误提示</div>
					</td>
				</tr>
				<tr>
					<td>身份证号</td>
					<td><label class="cardFormat" id="card3"><input type="text" name="legal_certno" id="legal_certno" maxlength="18"></label></td>
					<td>
						<font id="legal_certno_msg">若为临时身份证，请输入临时身份证号</font>
						<div class="formErr" style="display:none">错误提示</div>
					</td>
				</tr>
			</table>
		</div>
		<div class="b2">
		    <a id="submit" href="javascript:;" class="btnA" >下一步</a>
		</div>
	 </div>
    </div>
   </form>
  </div>
</div>
</body>
</html>