<!doctype html>
<html>
<head>
<title>幼富通，托富未来 - 账户验证</title>
<script type="text/javascript">
$(function(){
   $('.nav a:eq(0)').addClass('active');
   
   $(".Verification .advBtn .more").click(function(){
       $(".layerpop , .bgBox").fadeIn();
   });
   $(".layerpop .close , .layerpop .btnKnow").click(function(){
       $(".layerpop , .bgBox").fadeOut();
   });
    
   $(".itemB .a2 .b1 .bubble").hover(function(){
       $(this).next().toggle();
   });    
});
</script>
</head>
<body>
<div class="body">
    <div class="addAdv Verification" id="bgBlue">
       <div class="advTitle inner">
           <h1>对公银行账户验证</h1>
           <p>为了确保机构收款准确安全，幼富通已给你注册的对公银行账户打出1元以内的随机金额，<br>
            请查看银行账户并填写所收到的实际金额进行验证，否则机构账户验证将无法通过。 </p>
           <div class="advBtn">
               <input type="text" value="" placeholder="输入实际金额"><a href="javascript:;" class="Advbtn">验 证</a>
               <a href="javascript:;" class="more">查看详情</a>
           </div>
       </div>
    </div>
	<section class="loadbody">
		<div class="container">
			<div class="boxA">
				<div class="itemA">
					<div class="a1">学费通</div>
					<div class="a2"><span class="b1">机构对公账户</span><span class="b2 Fgrey">账号：----</span></div>
				</div>
			</div>
			<div class="boxB">
				<div class="itemB itemBheight">
					<div class="a1">
						<div class="b1">资产总额（元）</div>
						<div class="b2 Fgrey">--</div>
						<div class="b3"><a href="javascript:;" class="btnA btnBg-grey">收 费</a><a href="javascript:;" class="btnB btnBod-grey">取 现</a></div>
						<div class="b4"><a href="priceList.html" id="priceList" class="Fgrey">收费价目表</a><a href="javascript:;" class="Fgrey">档案管理</a></div>
					</div>
					<div class="a2">
						<div class="b1">
							<span>月账单收费</span>
							<b class="bubble"></b>
							<div class="bubbleBox">
							    2015/09/01-2015/09/30
							    <i></i>
							</div>
						</div>
						<div class="b2">--</div>
						<div class="b3">月退费（元）</div>
						<div class="b4">--</div>
					</div>
					<div class="a2">
						<div class="b1">
							<span>月账单收费</span>
							<b class="bubble"></b>
							<div class="bubbleBox">
							    2015/09/01-2016/01/30
							    <i></i>
							</div>
						</div>
						<div class="b2">--</div>
						<div class="b3">学期退费（元）</div>
						<div class="b4">--</div>
					</div>
					<div class="a2">
						<div class="b1">
							<span>月账单收费</span>
							<b class="bubble"></b>
							<div class="bubbleBox">
							    2015/09/01-2016/06/30
							    <i></i>
							</div>
						</div>
						<div class="b2">--</div>
						<div class="b3">学年退费（元）</div>
						<div class="b4">--</div>
					</div>
				</div>
			</div>
			<div class="boxB mb60">
				<div class="itemC">
					<div class="a1">
						<div class="b1">收费计划明细</div>
						<div class="b2"><a href="javascript:;" class="Fgrey">查看更多</a></div>
					</div>
					<div class="a2">
						<table width="100%">
							<tr>
								<th>时间</th>
								<th>计划名称</th>
								<th>费用类型</th>
								<th>应收总计(元)</th>
								<th>支付成功（人）</th>
								<th>实收总计（元）</th>
							</tr>
							<tr>
								<td>--</td>
								<td class="b2">--</td>
								<td class="b3">--</td>
								<td class="minus">--</td>
								<td class="b5"><span class="c1">--</span><span class="c2">/--</span></td>
								<td class="minus">--</td>
							</tr>
							<tr>
								<td>--</td>
								<td class="b2">--</td>
								<td class="b3">--</td>
								<td class="minus">--</td>
								<td class="b5"><span class="c1">--</span><span class="c2">/--</span></td>
								<td class="minus">--</td>
							</tr>
							<tr>
								<td>--</td>
								<td class="b2">--</td>
								<td class="b3">--</td>
								<td class="minus">--</td>
								<td class="b5"><span class="c1">--</span><span class="c2">/--</span></td>
								<td class="minus">--</td>
							</tr>
							<tr>
								<td>--</td>
								<td class="b2">--</td>
								<td class="b3">--</td>
								<td class="minus">--</td>
								<td class="b5"><span class="c1">--</span><span class="c2">/--</span></td>
								<td class="minus">--</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</section>
</div>
#parse("control/organ/contract/code_contract.vm")
</body>
</html>